.odc2-service-binding {
  --edge--stroke: var(--pf-global--BackgroundColor--dark-200);
  --edge--fill: var(--pf-global--BackgroundColor--dark-200);
  --edge__link--stroke: var(--pf-global--BackgroundColor--dark-200);
  --edge__arrow--cursor: default;
}
