.odc2-base-edge.odc-traffic-link {
  --edge--stroke-width: 0;
  --edge--stroke: #bbbbbb;
  --edge--fill: #bbbbbb;
  --edge__link--stroke: #bbbbbb;
  .odc2-base-edge__link {
    stroke-dasharray: 5, 5;
  }
}

.odc-traffic-link {
  &__text {
    fill: var(--pf-global--Color--300);
    font-size: var(--pf-global--FontSize--md);
  }
}
