.odc-logs {
  padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--md);

  &__name {
    font-weight: var(--pf-global--FontWeight--bold);
    text-transform: uppercase;
  }

  &__content {
    padding-left: var(--pf-global--spacer--md);
  }
}
