$height: 18px;

.co-m-label {
  display: inline-block;
  border-radius: 10px;
  padding: 0px 8px;
  font-size: 13px;
  height: $height;
  line-height: $height;
  white-space: nowrap;
  margin: 1px;
  background-color: $color-grey-background;
  font-weight: 400;
  border: solid 1px $color-grey-border;
  vertical-align: middle;

  &.co-m-label--service {
    .co-m-label__link {
      color: $color-service-dark;
    }
  }
  &.co-m-label--replicationcontroller {
    .co-m-label__link {
      color: $color-controller-dark;
    }
  }
  &.co-m-label--pod {
    .co-m-label__link {
      color: $color-pod-dark;
    }
  }
  &.co-m-label--machine {
    .co-m-label__link {
      color: $color-machine-dark;
    }
  }
  &.co-m-label--selector {
    background-color: transparent;
    border: none;
  }
}

.co-m-label__icon {
  margin-right: 4px;
}

.co-m-label__link,
.co-m-label__link:active,
.co-m-label__link:hover,
.co-m-label__link:visited {
  display: inline-block;
  text-decoration: none;
  height: $height;
}

.co-m-label__icon,
.co-m-label__eq,
.co-m-label__key,
.co-m-label__value {
  display: inline-block;
  line-height: inherit;
  overflow: hidden;
}

.co-m-label__key,
.co-m-label__value {
  max-width: 60px;
  text-overflow: ellipsis;
}
