<div class="co-p-container">

  <tec-nav-title title="{{container.name}}" obj="container">
    <a ng-href="/ns/{{pod.metadata.namespace}}/pods/{{pod.metadata.name}}" class="co-m-primary-action">
      <co-svg class="co-img-icon co-img-icon-light" src="/coreos.svg/icon-back.svg"></co-svg>Back to Pod</a>
  </tec-nav-title>

  <div class="co-m-pane co-m-vert-nav co-m-vert-nav--sm">

    <ul co-nav-active="co-m-vert-nav-item--active" class="co-m-vert-nav__menu hidden-sm hidden-xs">
      <li class="co-m-vert-nav__menu-item">
        <a ng-href="/ns/{{pod.metadata.namespace}}/pods/{{pod.metadata.name}}/containers/{{container.name}}"
           uib-tooltip="Overview" tooltip-placement="right">
          <i class="fa fa-dashboard"></i>
        </a>
      </li>
    </ul>

    <div class="co-m-vert-nav__body">

      <div class="co-m-pane__body">
        <div class="row">

          <div class="col-sm-4">
            <h1 class="co-section-title">Container Overview</h1>
            <dl>
              <dt>State</dt>
              <dd ng-bind="containerState.label"></dd>
              <dt>ID</dt>
              <dd>
                <input co-text-copy class="co-m-invisible-input" spellcheck="false" type="text" value="{{containerStatus.containerID}}" readonly />
              </dd>
              <dt>Restart Count</dt>
              <dd ng-bind="containerStatus.restartCount"></dd>
              <dt>Resource Limits</dt>
              <dd>
                <span ng-bind="getresourcelimitvalue() | emptyPlaceholder"></span>
              </dd>
              <dt>Lifecycle Hooks</dt>
              <dd>
                <div ng-show="getLifecycleValue('postStart')">
                  PostStart: <span ng-bind="getLifecycleLabel('postStart')"></span> <code ng-bind="getLifecycleValue('postStart')"></code>
                </div>
                <div ng-show="getLifecycleValue('preStop')">
                  PreStop: <span ng-bind="getLifecycleLabel('postStart')"></span> <code ng-bind="getLifecycleValue('preStop')"></code>
                </div>
                <span ng-hide="getLifecycleValue('preStop') || getLifecycleValue('postStart')" ng-bind="CONST.placeholderText"></span>
              </dd>
              <dt>Liveness Probe</dt>
              <dd>
                <div ng-show="getLivenessValue()">
                  <span ng-bind="getLivenessLabel()"></span> <code ng-bind="getLivenessValue()"></code>
                </div>
                <span ng-hide="getLivenessValue()" ng-bind="CONST.placeholderText"></span>
              </dd>
              <dt>Started</dt>
              <dd><co-timestamp timestamp="{{containerState.startedAt}}"/></dd>
              <dt>Finished</dt>
              <dd><co-timestamp timestamp="{{containerState.finishedAt}}"/></dd>
            </dl>
          </div><!--/col-->

          <div class="col-sm-4">
            <h1 class="co-section-title">Image Details</h1>
            <dl>
              <dt>Image</dt>
              <dd>
                <input co-text-copy class="co-m-invisible-input" spellcheck="false" type="text" value="{{container.image | containerImage}}" readonly />
              </dd>
              <dt>Image Version/Tag</dt>
              <dd ng-bind="container.image | containerTag"></dd>
              <dt>Command</dt>
              <dd>
                <code ng-show="container.command" ng-bind="container.command | join:' '"></code>
                <span ng-hide="container.command" ng-bind="CONST.placeholderText"></span>
              </dd>
              <dt>Pull Policy</dt>
              <dd ng-bind="getPullPolicyLabel(container)"></dd>
            </dl>
          </div><!--/col-->

          <div class="col-sm-4">
            <h1 class="co-section-title">Network</h1>
            <dl>
              <dt>Node</dt>
              <dd>
                <a ng-href="/nodes/{{pod.spec.nodeName}}" ng-bind="pod.spec.nodeName"></a>
              </dd>
              <dt>Pod IP</dt>
              <dd><a ng-href="//{{pod.status.podIP}}" target="_blank" ng-bind="pod.status.podIP"></a></dd>
            </dl>
          </div><!--/col-->

        </div><!--/row-->

        <hr/>

        <div class="row">

          <div class="col-sm-4">
            <h1 class="co-section-title">Ports</h1>
            <div class="co-table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Container</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="p in container.ports">
                    <td ng-bind="p.name"></td>
                    <td ng-bind="p.containerPort"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-4">
            <h1 class="co-section-title">Mounted Volumes</h1>
            <div class="co-table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Access</th>
                    <th>Location</th>
                    <th>Mount Path</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="vm in container.volumeMounts">
                    <td ng-bind="volumeAccessLabel(vm.readOnly)"></td>
                    <td ng-bind="vm.name"></td>
                    <td ng-bind="vm.mountPath"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-4">
            <h1 class="co-section-title">Environment Variables</h1>
            <div class="co-table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="ev in container.env">
                    <td ng-bind="ev.name"></td>
                    <td ng-bind="ev.value"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div><!--/row-->


        <co-debug obj="container"></co-debug>
        <co-debug obj="containerStatus"></co-debug>
        <co-debug obj="containerState"></co-debug>

      </div><!--/pane-body-->

    </div><!--/ver-nav-body-->

  </div><!--/pane-->

</div>
