<div class="co-p-container">

  <co-nav-title title="{{container.spec.name}}">
    <a ng-href="/pods/{{pod.metadata.name}}" class="co-m-primary-action">
      <co-svg class="co-img-icon co-img-icon-light" src="/coreos.svg/icon-back.svg"></co-svg>Back to Pod</a>
  </co-nav-title>

  <div class="co-m-pane co-m-vert-nav co-m-vert-nav--sm">

    <ul co-nav-active="co-m-vert-nav-item--active" class="co-m-vert-nav__menu hidden-sm hidden-xs">
      <li class="co-m-vert-nav__menu-item">
        <a ng-href="/containers/{{pod.metadata.name}}/{{container.spec.name}}">
          <i class="fa fa-dashboard"></i>
        </a>
      </li>
    </ul>

    <div class="co-m-vert-nav__body">

      <div class="co-m-pane__body">
        <div class="row">

          <div class="col-sm-4">
            <h1 class="co-section-title">Container Details</h1>
            <dl>
              <dt>State</dt>
              <dd ng-bind="containerState.label"></dd>
              <dt>Id</dt>
              <dd>
                <input co-text-copy class="co-m-invisible-input" spellcheck="false" type="text" value="{{container.containerID}}" readonly />
              </dd>
              <dt>Restart Count</dt>
              <dd ng-bind="container.restartCount"></dd>
              <dt>Started</dt>
              <dd ng-bind="containerState.startedAt | customDate"></dd>
              <dt>Finished</dt>
              <dd ng-bind="containerState.finishedAt | customDate"></dd>
            </dl>
          </div><!--/col-->

          <div class="col-sm-4">
            <h1 class="co-section-title">Image Details</h1>
            <dl>
              <dt>Image</dt>
              <dd>
                <input co-text-copy class="co-m-invisible-input" spellcheck="false" type="text" value="{{container.image | containerImage}}" readonly />
              </dd>
              <dt>Image Version/Tag</dt>
              <dd ng-bind="container.image | containerTag"></dd>
              <dt>Command</dt>
              <dd>
                <code ng-show="container.spec.command" ng-bind="container.spec.command | join:' '"></code>
                <span ng-hide="container.spec.command" ng-bind="CONST.placeholderText"></span>
              </dd>
            </dl>
          </div><!--/col-->

          <div class="col-sm-4">
            <h1 class="co-section-title">Network</h1>
            <dl>
              <dt>Machine</dt>
              <dd>
                <a ng-href="/machines/{{pod.status.host}}" ng-bind="pod.status.host"></a>
              </dd>
              <dt>Pod IP</dt>
              <dd><a ng-href="//{{pod.status.podIP}}" target="_blank" ng-bind="pod.status.podIP"></a></dd>
            </dl>
          </div><!--/col-->

        </div><!--/row-->

        <hr/>

        <div class="row">

          <div class="col-sm-4">
            <h1 class="co-section-title">Ports</h1>
            <div class="co-m-table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Host</th>
                    <th>Container</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="p in container.ports">
                    <td ng-bind="p.name"></td>
                    <td ng-bind="p.hostPort"></td>
                    <td ng-bind="p.containerPort"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-4">
            <h1 class="co-section-title">Mounted Volumes</h1>
            <div class="co-m-table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Access</th>
                    <th>Location</th>
                    <th>Source</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(k, v) in container.Volumes">
                    <td></td>
                    <td ng-bind="k"></td>
                    <td ng-bind="v"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-sm-4">
            <h1 class="co-section-title">Environment Variables</h1>
            <div class="co-m-table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="e in container.Config.Env">
                    <td ng-bind="e | coSplit:'=':0"></td>
                    <td ng-bind="e | coSplit:'=':1"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div><!--/row-->

      </div><!--/pane-body-->

    </div><!--/ver-nav-body-->

  </div><!--/pane-->

</div>
