.ocs-empty-state-resource-badge {
  margin-bottom: var(--pf-global--spacer--md);
  &--badge {
    &.pf-c-badge {
      color: var(--pf-global--palette--white);
      font-size: var(--pf-global--icon--FontSize--md);
      background-color: var(--pf-global--Color--400);
    }
  }
}
