.kubevirt-create-vm-modal__virtual-hardware-tab-container {
  display: flex;
  flex-direction: column;

  .virtual-hardware-tab-cd-title {
    margin-top: var(--pf-global--spacer--md);
  }

  .virtual-hardware-tab-add-btn {
    margin-top: var(--pf-global--spacer--sm);
  }

  .virtual-hardware-tab-empty-state {
    margin-top: var(--pf-global--spacer--sm);

    .pf-c-title {
      color: var(--pf-global--Color--200);
    }
  }
}

