.opp-pipeline-builder-form {
  height: 100%;
  &__content {
    display: flex;
    flex-grow: 1;
  }
  &__short-section {
    max-width: 400px;
  }
}

.opp-pipeline-builder {
  display: flex;
  flex-direction: column;
  height: 100%;
}
