.nad-quickstart-icon {
  margin-right: var(--pf-global--spacer--sm);
}

.kv-nad-form-field--spacer {
  margin-top: var(--pf-global--spacer--sm);
}

.kv-nad-form-checkbox--alignment {
  height: 100%;
}
