.nad-quickstart-icon {
  margin-right: var(--pf-v5-global--spacer--sm);
}

.kv-nad-form-field--spacer {
  margin-top: var(--pf-v5-global--spacer--sm);
}

.kv-nad-form-checkbox--alignment {
  height: 100%;
}

.network-type-options--help-icon {
  cursor: pointer;
}
