<div class="co-p-search">

  <tec-nav-title title="Search" plural="true"></tec-nav-title>

  <div class="co-m-pane">

    <div class="co-m-pane__body--bordered">
      <form ng-controller="SearchFormCtrl" ng-submit="submit()" name="form" role="form">
        <div class="form-group">
          <co-selector-input ng-model="fields.query"></co-selector-input>
        </div>
        <label class="control-label">Filter:</label>
        <div class="co-type-selector">
          <a href="#" ng-click="changeKind(kinds.SERVICE.id)">
            <input name="selectedKindId"
                ng-checked="fields.selectedKindId == kinds.SERVICE.id"
                type="radio"/>
            {{kinds.SERVICE.labelPlural}}
          </a>
          <a href="#" ng-click="changeKind(kinds.REPLICATIONCONTROLLER.id)">
            <input name="selectedKindId"
                ng-checked="fields.selectedKindId == kinds.REPLICATIONCONTROLLER.id"
                type="radio"/>
            {{kinds.REPLICATIONCONTROLLER.labelPlural}}
          </a>
          <a href="#" ng-click="changeKind(kinds.REPLICASET.id)">
            <input name="selectedKindId"
                ng-checked="fields.selectedKindId == kinds.REPLICASET.id"
                type="radio"/>
            {{kinds.REPLICASET.labelPlural}}
          </a>
          <a href="#" ng-click="changeKind(kinds.DEPLOYMENT.id)">
            <input name="selectedKindId"
                ng-checked="fields.selectedKindId == kinds.DEPLOYMENT.id"
                type="radio"/>
            {{kinds.DEPLOYMENT.labelPlural}}
          </a>
          <a href="#" ng-click="changeKind(kinds.POD.id)">
            <input name="selectedKindId"
                ng-checked="fields.selectedKindId == kinds.POD.id"
                type="radio"/>
            {{kinds.POD.labelPlural}}
          </a>
          <a href="#" ng-click="changeKind(kinds.NODE.id)">
            <input name="selectedKindId"
                ng-checked="fields.selectedKindId == kinds.NODE.id"
                type="radio"/>
            {{kinds.NODE.labelPlural}}
          </a>
          <a href="#" ng-click="changeKind(kinds.NAMESPACE.id)">
            <input name="selectedKindId"
                ng-checked="fields.selectedKindId == kinds.NAMESPACE.id"
                type="radio"/>
            {{kinds.NAMESPACE.labelPlural}}
          </a>
        </div>
      </form>
    </div>

    <div class="co-m-pane__body">
      <co-resource-list kind="fields.selectedKindId" selector="fields.query" namespace="ns"></co-resource-list>
    </div>

  </div>

</div>
