form.kv-sysprep--main.pf-c-form {
  width: 40vw;
  grid-gap: 0;
}

.kv-sysprep--title {
  display: inline-flex;
  align-items: baseline;
  margin-top: var(--pf-global--spacer--md);
}

.kv-sysprep--error {
  color: var(--pf-global--danger-color--200);
}

.kv-sysprep-info {
  margin: 0;
}
