#account-nav {
  position: absolute;
  right: 0;
  border-left: 1px solid #ddd;

  .account-nav__email {
    vertical-align: middle;
  }
  .account-nav__dropdown-toggle {
    height: 46px;
    padding-left: 20px;
  }
  .account-nav__dropdown-toggle__auth {
    padding: 0 0 0 20px;
  }
}

.co-settings-icon {
  padding: 0 10px 0 10px;
  font-size: 20px;
  vertical-align: middle;
}

