.kv-node-checker {
  margin-top: var(--pf-global--spacer--lg);
}
.kv-node-checker__popover {
  .co-external-link {
    display: flex;
    justify-content: space-between;
    min-width: 110px;
    align-items: center;
  }
  .kv-node-checker__preferred-status{
    display: flex;
    justify-content: flex-end;
    margin-left: var(--pf-global--spacer--md);
    padding-right: var(--pf-global--spacer--md);
  }
}
