.co-m-container-input {
  padding: 20px;
  border: solid 1px $color-border;
  margin: 10px 0 10px 0;
  position: relative;
  max-width: 900px;
}

.co-m-container-input__close {
  position: absolute;
  top: -5px;
  right: -5px;

  &:hover {
    cursor: pointer;
  }
}
