<div class="co-m-container-input">
  <div class="row co-m-form-row">
    <div class="col-sm-3">
      <div class="co-m-field-head">Container Name</div>
      <input ng-model="container.name" type="text" required spellcheck="false" class="form-control" />
    </div>
    <div class="col-sm-6">
      <div class="co-m-field-head">Container Image</div>
      <input ng-model="fields.containerImage" type="text" required spellcheck="false" class="form-control" placeholder="[registry]/[user]/image" />
    </div>
    <div class="col-sm-3">
      <div class="co-m-field-head">Container Version/Tag</div>
      <input ng-model="fields.containerTag" type="text" class="form-control" required placeholder="latest" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="co-m-field-head">Ports</div>
      <a href="#" ng-click="openPortsModal()" class="co-m-modal-link"><span ng-bind="container.ports.length || 0"></span> Ports</a>
    </div>
    <div class="col-sm-3">
      <div class="co-m-field-head">Volumes</div>
      <a href="#" ng-click="openVolumeMountsModal()" class="co-m-modal-link"><span ng-bind="container.volumeMounts.length || 0"></span> Volume Mounts</a>
    </div>
    <div class="col-sm-3">
      <div class="co-m-field-head">Environment</div>
      <a href="#" ng-click="openEnvModal()" class="co-m-modal-link"><span ng-bind="container.env.length || 0"></span> Variables</a>
    </div>
  </div>

  <i ng-if="enableRemove" ng-click="remove(container)" class="co-m-container-input__close fa fa-times-circle"></i>

</div>
