.co-clusterserviceversion-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7.5px 0;
}

.co-clusterserviceversion-details__field {
  padding-bottom: 10px;
}

.co-clusterserviceversion-logo {
  display: flex;
}

.co-clusterserviceversion-logo__icon {
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.co-m-nav-title--logo .co-clusterserviceversion-logo__icon {
  border: 1px solid $color-pf-black-200;
}

.co-clusterserviceversion-logo__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}

.co-clusterserviceversion-logo__name__clusterserviceversion {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 5px;
}

.co-clusterserviceversion-logo__name__provider {
  font-size: 13px;
}

.co-crd-card-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;

  .pf-c-card {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}



.co-operand-details__compact-expand {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.co-operand-details__section--info dd {
  margin-bottom: 20px;
}

.co-catalog-install-modal .modal-header .co-clusterserviceversion-logo__icon {
  border: 1px solid #ddd;
}

.co-catalog-details {
  display: flex;
  flex-direction: column;
}

.co-catalogsource-list__section {
  margin-bottom: 40px;
}

.co-catalogsource-list__section__packages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.co-clusterserviceversion-row__status {
  display: flex;
  flex-direction: column;
}

.co-spec-descriptor--resource-requirements {
  border: 1px solid #eee;
  padding: 20px 0 5px 20px;
  margin-top: 10px;
}

.co-spec-descriptor--switch {
  display: flex;
  align-items: center;
  height: 25px;
}

.co-create-operand__header {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  @media(min-width: $screen-sm-min) {
    padding: 10px 31px; // left alignment with namespace selector text
  }
}

.co-create-operand__header-buttons {
  align-items: baseline;
  display: flex;
}

.co-create-operand__header-text {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}

.co-affinity-term {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 10px 0 5px 20px;
}

.co-affinity-term__remove {
  margin-left: auto;
}

.co-affinity-term__topology {
  display: flex;
  margin-bottom: 15px;
}

.co-affinity-term__topology-input {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  width: 50%;
}
