.kubevirt-vm-template-list {
  // Give kebab from last row enough space so it will be included in WindowScroller computation
  padding-bottom: 15em;
}

.kubevirt-vm-template-logo {
  width: 2rem;
  padding-right: var(--pf-global--spacer--sm);
}

.kubevirt-vm-template-actions {
  text-align: right;
  width: 230px !important;
  max-width: 350px !important;
}

.kubevirt-vm-template-details {
  margin: 0 var(--pf-global--spacer--md) 0 0;
}

.kubevirt-vm-template-popover {
  display: flex;
  justify-content: space-between;
}

.kv-vm-template__support {
  font-size: var(--pf-global--FontSize--sm);
}

.kv-vm-template__row > td{
  vertical-align: baseline !important;
}
