.log-area {
  box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.75);
  font-size: 11px;
  background-color: #333;
  position: relative;
}

.log-scroll-pane {
  overflow: auto;
  padding-top: 10px;
}

.log-contents__block {
  padding: 0px 10px;
  white-space: pre;
  width: 0;
}

.log-contents__block--divider {
  border-bottom: 1px solid $color-border-brown;
}

.log-paused-pane {
  min-height: 30px;
}

.log-paused-pane__contents {
  text-align: center;
  background-color: #555;
  padding: 4px 10px 4px 10px;
  font-size: 13px;
  cursor: pointer;
}
