<div class="tec-log-window">
  <div class="log-area">
    <div class="log-scroll-pane">
      <div class="log-contents">
        <div class="log-contents__block log-contents__block--divider"
             ng-if="oldContents"
             ng-bind="oldContents"
             ></div>
        <div class="log-contents__block"
             ng-bind="newContents"
             ></div>
      </div>
    </div>
  </div>
  <div class="log-paused-pane">
    <div ng-if="state !== 'streaming'"
         class="log-paused-pane__contents"
         ng-click="unpause()">
      <div ng-if="!linesBehind"
           ><span class="fa fa-play-circle-o"></span>
           Restart stream</div>
      <div ng-if="linesBehind && linesBehind < buffer.maxSize()"
           ><span class="fa fa-play-circle-o"></span>
           Restart stream and show <span ng-bind="linesBehind"></span> new lines</div>
      <div ng-if="linesBehind && linesBehind >= buffer.maxSize()"
           ><span class="fa fa-play-circle-o"></span>
           Restart stream and show last <span ng-bind="buffer.maxSize()"></span> new lines</div>
    </div>
  </div>
</div>
