$catalog-item-icon-size-lg: 40px;
$catalog-item-icon-size-sm: 24px;

// reset font size back to 13px since console h5 font size is 15px
.catalog-item-header-pf-subtitle {
  font-size: 13px;
}

// reset font size back to 24px since console h1 font size is 26px
.catalog-item-header-pf-title {
  font-size: 24px;
}

.catalog-tile-pf-body .catalog-tile-pf-subtitle {
  font-size: ($font-size-base - 1);
}

.co-catalog {
  background: $color-pf-black-150;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 465px; // in order to accommodate filters and tiles at mobile
  padding: 0 0 ($grid-gutter-width / 2);
}

.co-catalog-connect {
  display: flex;
  flex: 1;
  flex-direction: column;

  .loading-box {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}

.co-catalog-item-details {
  display: flex;
  margin: 0 0 10px;

  &__description {
    white-space: pre-wrap;
  }

  &__kind-label {
    font-weight: 600;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__provider,
  &__tags {
    margin-bottom: 5px;
  }

  &__tag {
    color: $color-pf-black-600;
    font-size: ($font-size-base - 1);
    margin-right: 5px;
    text-transform: uppercase;
  }
}

.co-catalog-item-icon {
  padding-right: 10px;

  &__icon {
    font-size: $catalog-item-icon-size-sm;

    &--large {
      font-size: $catalog-item-icon-size-lg;
    }
  }

  &__img {
    max-height: $catalog-item-icon-size-sm;
    max-width: $catalog-item-icon-size-sm;

    &[src$=".svg"] {
      height: $catalog-item-icon-size-sm;
    }

    &--large {
      max-height: $catalog-item-icon-size-lg;
      max-width: $catalog-item-icon-size-lg;

      &[src$=".svg"] {
        height: $catalog-item-icon-size-lg;
      }
    }
  }
}

.co-catalog-page {
  background: $color-pf-white;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(3,3,3,.2);
  display: flex;
  flex:1;
  margin: 0 ($grid-gutter-width / 2);
  padding: ($grid-gutter-width / 2) 0 0;

  &__content {
    flex: 1 1 auto;
  }

  &__heading {
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px;
  }

  &__num-items {
    border-bottom: 1px solid $color-pf-black-200;
    font-weight: 700;
    margin: 0 0 $grid-gutter-width 0;
    padding: 0 0 20px;
  }

  // Enable scrolling on the modal
  &__overlay {
    .modal-body {
      flex: 1 1 auto;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    .modal-content {
      display: flex;
      flex-direction: column;
    }
    .properties-side-panel-pf {
      flex: 0 0 auto;
    }
  }

  &__overlay-body {
    margin: 15px 0 0;
    @media(min-width: $screen-sm-min) {
      display: flex;
    }
  }

  &__overlay-create {
    margin-bottom: 20px;
    width: 100%;
  }

  &__overlay-description {
    margin: 20px 0 0;
    white-space: pre-wrap;
    // TODO: find fix for urls that don't wrap
    // fix below causes undesirable wrapping on non-urls
    // word-break: break-all;

    @media(min-width: $screen-sm-min) {
        flex: 1 1 auto;
        margin-left: 20px;
        margin-top: 0;
      }
  }

  &__tabs {
    flex: 0 0 170px;
    margin: 0 ($grid-gutter-width / 2) 0 0;
  }

  &__no-filter-results {
    padding: 0;
    &-title {
      color: $color-pf-black-800;
      font-size: 18px;
    }
  }
}

.co-catalog-tab__empty {
  font-weight: lighter;
  color: $color-pf-black-600;
}

.properties-side-panel-pf-property-label {
  font-size: ($font-size-base - 1);
}

// set font size to 14px
.vertical-tabs-pf-tab > a {
  font-size: $font-size-base;
}
