@mixin firefox-only {
  @at-root {
    @-moz-document url-prefix() {
      & {
        @content;
      }
    }
  }
}
.odc-topology-graph-view {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  @include firefox-only {
    position: relative;
    width: 100%;
    height: 100%;
  }

  // Some `g` elements such as layers are accepting focus.
  // Suppress the outline style on these elements until we can determine
  // what causes them to accept focus.
  g:focus {
    outline: none;
  }
}
