.topology-default-create-connector {
  .topology-connector-arrow {
    stroke: var(--pf-global--active-color--400);
    fill: var(--pf-global--active-color--400);
  }
  &__line {
    stroke: var(--pf-global--active-color--400);
    stroke-width: 2px;
    stroke-dasharray: 5px, 5px;
  }

  &__create > * {
    stroke: var(--pf-global--active-color--400);
    fill: #fff;
    stroke-width: 2px;
  }
}
