$filtered-stroke-color: var(--pf-t--global--border--color--nonstatus--orange--clicked);

$selected-fill-color: #a5c4e2;
$selected-stroke-color: var(--pf-t--global--border--color--clicked);

$interactive-fill-color: #a5c4e2;
$interactive-stroke-color: var(--pf-t--global--border--color--nonstatus--blue--default);

$group-node-stroke-color: var(--pf-t--global--border--color--on-secondary);
$group-node-fill-color: var(--pf-t--global--border--color--default);
$group-node-fill-opacity: 0.5;
$group-node-stroke-width: 2.5px;
$group-node-stroke-dasharray: 5 6;
$group-node-filtered-stroke-width: 3px;
$group-node-selected-stroke-width: 3px;

$de-emphasize-opacity: 0.4;

$default-edge-stroke-color: #bbbbbb;
