@import '~@patternfly/patternfly/sass-utilities/colors';
@import '../../../topology-utils';

.odc-application-group {
  &.is-filtered .pf-topology__group__background {
    stroke: $filtered-stroke-color;
  }
  &.pf-m-highlight .pf-topology__group__background {
    fill: $pf-color-black-150;
    stroke: $interactive-stroke-color;
  }
}
.odc-m-drag-active,
.odc-m-filter-active {
  .odc-application-group {
    opacity: $de-emphasize-opacity;

    &.pf-m-highlight,
    &.pf-m-dragging {
      opacity: 1;
    }
  }
}

.odc-m-filter-active:not(.odc-m-drag-active) {
  .odc-application-group {
    &.is-filtered {
      opacity: 1;
    }
  }
}
