@import '~@patternfly/patternfly/sass-utilities/all';
@import '~@console/internal/style/vars';

$sidebar-toggle-button-background-color: var(--pf-global--BackgroundColor--dark-200);
$sidebar-toggle-button-background-color--dark: var(--pf-global--BackgroundColor--dark-300);

.co-cluster-menu.pf-c-menu {
  // Default to match perspective switcher menu
  // --pf-c-page__sidebar--Width - left and right padding.
  min-width: 258px;
}

.oc-nav-header {
  border-bottom: 1px solid var(--pf-global--BackgroundColor--dark-200);
  padding: 0.6rem var(--pf-global--spacer--sm);

  :where(.pf-theme-dark) & {
    // Match --pf-c-nav__item--before--BorderColor
    border-bottom-color: var(--pf-global--BorderColor--100);
  }

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    padding-left: var(--pf-global--spacer--md);
    padding-right: var(--pf-global--spacer--md);
  }

  &__icon {
    margin-right: var(--pf-global--spacer--sm);
  }

  &__dropdown-toggle--is-empty {
    cursor: default !important;
  }

  // Style menu toggle component to match sidebar navigation list
  .co-cluster-selector.pf-m-expanded {
    background-color: $sidebar-toggle-button-background-color;
    :where(.pf-theme-dark) & {
      background-color: $sidebar-toggle-button-background-color--dark;
    }
  }

  .pf-c-dropdown {
    --pf-c-dropdown__menu-item--PaddingLeft: 7px;
    width: 100%;
    cursor: pointer;

    &.pf-m-expanded {
      .pf-c-dropdown__toggle {
        background-color: $sidebar-toggle-button-background-color;
        :where(.pf-theme-dark) & {
          background-color: $sidebar-toggle-button-background-color--dark;
        }
      }
    }
  }

  .pf-c-dropdown__toggle {
    :where(.pf-theme-dark) & {
      background-color: var(--pf-c-page__sidebar--BackgroundColor);
    }
  }

  .pf-c-dropdown__menu-item,
  // For Edge
  .pf-c-dropdown__toggle {
    h1 {
      font-size: $co-side-nav-font-size;
    }
  }

  .pf-c-dropdown__toggle {
    font-size: $co-side-nav-font-size;
    justify-content: space-between;
    width: 100%;

    .pf-c-dropdown__toggle-icon {
      color: var(--pf-global--Color--light-100);
      font-size: $co-side-nav-section-font-size;
    }

    .pf-c-title {
      color: var(--pf-global--Color--light-100);
      &.pf-m-md {
        font-size: $co-side-nav-section-font-size;
        font-family: var(
          --pf-global--FontFamily--sans-serif
        ); // Use RedHatText to match side nav links because buttons by default use RedHatDisplay
      }
    }

    // Needed until https://github.com/patternfly/patternfly-design/issues/1068 is resolved
    &:before {
      border: none;
    }
  }

  .pf-c-menu-toggle {
    color: var(--pf-global--Color--light-100);
    font-size: $co-side-nav-section-font-size;

    .pf-c-menu-toggle__toggle-icon {
      color: var(--pf-global--Color--light-100);
      font-size: $co-side-nav-section-font-size;
    }
  }
}
