.oc-perspective-nav {
  &__divider {
    margin: var(--pf-v6-c-nav__subnav--RowGap) 0;
  }
  .pf-v6-c-nav__section:first-child {
    .pf-v6-c-nav__section-title {
      --pf-v6-c-nav__section-title--PaddingTop: 0;

      border: none;
    }
  }
  .pf-v6-c-nav__section.no-title {
    border-bottom: var(--pf-t--global--border--width--divider--default) solid
      var(--pf-t--global--border--color--default);
    padding: var(--pf-t--global--spacer--sm) 0;
    &:first-child {
      padding-top: 0;
    }
    .pf-v6-c-nav__section-title {
      --pf-v6-c-nav__section-title--PaddingBottom: 0;
    }
    &:last-child {
      border: none;
    }
  }
  &--dragging {
    .oc-pinned-resource__unpin-button,
    .oc-pinned-resource__drag-button {
      opacity: 0;
    }
  }
}
