.oc-pinned-resource.pf-v6-c-nav__item {
  .pf-v6-c-nav__link {
    display: block;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      --pf-v6-c-nav__section-title--PaddingRight: 30px;
      .oc-pinned-resource__unpin-button,
      .oc-pinned-resource__drag-button {
        .oc-pinned-resource__delete-icon,
        .oc-pinned-resource__drag-icon {
          opacity: 1;
        }
      }
    }
  }

  .oc-pinned-resource__unpin-button {
    background-color: transparent !important;
    padding: 0;
    position: absolute;
    right: 0;

    .oc-pinned-resource__delete-icon {
      opacity: 0;
    }
  }

  .oc-pinned-resource__drag-button {
    background-color: transparent !important;
    cursor: move;
    left: -10px;
    padding: 0;
    position: absolute;

    .oc-pinned-resource__drag-icon {
      opacity: 0;
    }
  }
}

.oc-pinned-resource--dragging {
  outline: 1px dashed var(--pf-t--global--border--color--on-secondary);
  overflow: hidden;
  div {
    opacity: 0.5;
  }
}
