.overview-toolbar {
  margin: 0 0 ($grid-gutter-width / 2) 0;
  min-width: 0;
  padding: 0;
  @media (max-width: $screen-sm-max) {
    // maintain single row alignment
    .toolbar-pf-action-right {
      align-items: flex-end;
      display: flex;
      float: none;
      justify-content: space-between;
    }
  }
}

.overview-toolbar__dropdown {
  display: inline-block;
  max-width: 100%; // enable text-overflow: ellipsis
  @media (max-width: $screen-sm-max) {
    min-width: 100%;
  }
  .btn-dropdown {
    max-width: 250px; // same at default .text-filter
    width: 100%;

    @media (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
      max-width: 100%;
    }
  }
}

.overview-toolbar__form-group {
  flex: 1 1 50%;
  min-width: 0; // enable truncation
  padding-right: 8px;
  @media (min-width: $screen-xs-min) {
    padding-right: 15px;
  }

  &:first-child {
    border-right: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  + .overview-toolbar__form-group {
    border-left: 1px solid $color-pf-black-300;
    padding-left: 8px;
    @media (min-width: $screen-xs-min) {
      padding-left: 15px;
    }
  }
}

.co-m-pane__heading--overview {
  justify-content: flex-start;
  margin: 0 20px ($grid-gutter-width / 2) 0;
}

.co-m-pane__name--overview {
  flex: 0 1 auto;
}

.overview-toolbar__label {
  margin: 0 10px 0 0;
  vertical-align: middle;
  @media (max-width: $screen-sm-max) {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

@media (max-width: $screen-sm-max) {
  .overview-toolbar__text-filter .text-filter {
    min-width: 100%;
    width: 100%;
  }
}

.overview {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  .overview__main-column {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .overview__sidebar {
    background: #fff;
    bottom: 0;
    box-shadow: -5px 0 3px 2px rgba(0,0,0,0.05), -1px 0px 3px 2px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 15px);
    @media(min-width: $screen-sm-min) {
      width: 550px;
    }
    z-index: 5;
  }

    .overview__sidebar-appear {
      opacity: 0;
      transform: translateX(10%);
    }

    .overview__sidebar-appear-active {
      opacity: 1;
      transform: translateX(0);
      transition:
        opacity 175ms ease-out,
        transform 225ms ease-out;
    }

  &.overview--sidebar-shown {
    .overview__sidebar {
      display: flex;
      flex-direction: column;
    }

    @media(min-width: $screen-lg-min) {
      .overview__main-column {
        width: calc(100% - 535px);
        .co-m-pane__body {
          padding-right: 0;
        }
      }

      .overview__sidebar {
        min-height: 0;
        overflow: hidden;
      }
    }
  }

  .overview__sidebar-dismiss {
    background: $color-pf-black-150;
    box-shadow: 0px 1px 0px 0px $color-grey-background-border;
    padding: 0 5px;

    .close {
      // adjustments to increase click target and default color contrast because it's on a grey background
      opacity: .3;
      padding: 10px 15px;
      &:hover, &:focus {
        opacity: .6;
      }
    }

    .pficon-close {
      font-size: 16px;
    }
  }
}

.overview__sidebar-pane-body {
  margin: $grid-gutter-width 0 0;
  padding: 0 20px;
}

.overview__sidebar-pane-head {
  background-color: $color-pf-black-150;
  border-bottom: 1px solid $color-grey-background-border;
  padding-top: 5px;

  .co-m-pane__heading {
    margin: 0 20px 25px;
  }

  .co-actions-menu {
    margin-top: -3px;
  }
}

.resource-overview {
  height: 100%;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.resource-overview__body {
  display: flex;
  flex-wrap: wrap;
}

.resource-overview__details {
  width: 50%;
}

.resource-overview__pod-counts {
  width: 100%;
}

.resource-overview__summary {
  padding-right: 10px;
  width: 50%;
}

.sidebar__section-heading {
  font-size: 18px;
  margin-top: 30px;
}
