// Nesting increases specificity so that pf list styles are always overridden
.project-overview {
  .project-overview__additional-info {
    align-items: baseline;
    display: grid;
    grid-column-gap: 3%;
    grid-row-gap: 10px;
    grid-template-columns: auto minmax(min-content, 1fr) 85px;
    width: 100%;
    @media (min-width: $screen-xs-min) {
      grid-template-columns: auto minmax(min-content, 1fr) 135px;
    }
    @media (min-width: $screen-md-min) {
      grid-template-areas: "alert memory cpu status";
      grid-template-columns: 27% 18% 18% 28%;
    }
  }

  .project-overview__detail--alert {
    min-width: 0; // To enable text-overflow: ellipsis within a css-grid area
    @media (max-width: $screen-sm-max) {
      grid-row: 2;
    }
    @media (min-width: $screen-md-min) {
      grid-area: alert;
    }
  }

  .project-overview__detail--cpu {
    min-width: 0; // To enable text-overflow: ellipsis within a css-grid area
    @media (min-width: $screen-md-min) {
      grid-area: cpu;
    }
  }

  .project-overview__detail--memory {
    min-width: 0; // To enable text-overflow: ellipsis within a css-grid area
    @media (min-width: $screen-md-min) {
      grid-area: memory;
    }
  }

  .project-overview__detail--status {
    @media (min-width: $screen-md-min) {
      grid-area: status;
    }
  }

  .project-overview__item {
    min-height: 71px;
  }

  .project-overview__item--selected,
  .project-overview__item.project-overview__item--selected:hover, {
    background-color: $color-pf-blue-100;
  }

  .project-overview__item .project-overview__item-chevron {
    visibility: hidden;
  }

  .project-overview__item:hover .project-overview__item-chevron,
  .project-overview__item.project-overview__item--selected .project-overview__item-chevron {
    visibility: visible;
  }

  .project-overview__item-heading {
    font-size: 16px;
    margin: 0;
    @media(max-width: $screen-sm-max) {
      margin-bottom: 10px;
    }
  }

  .project-overview__group {
    margin-bottom: 40px;
  }

  .project-overview__group-heading {
    font-size: 18px;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    padding: 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .project-overview__item {
    cursor: pointer;
    border-left: 0;
    border-right: 0;
    position: relative;
    &::after {
      align-self: center;
      content: $fa-var-chevron-right;
      display: none;
      font-family: 'FontAwesome';
      position: absolute;
      right: 30px;
    }

    &--selected::after,
    &:hover::after {
      display: block;
    }

    &--selected,
    &--selected:hover {
      background-color: $color-pf-blue-100;
      border-color: $color-pf-blue-100;
    }
  }

  .project-overview__list {
    margin-top: 0;
  }

  .project-overview__metric-value {
    font-size: 18px;
  }

  .project-overview__metric-tooltip {
    display: flex;
  }

  .project-overview__metric-tooltip-name {
    flex: 2;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .project-overview__metric-tooltip-value {
    flex: 1;
    text-align: right;
  }

  .project-overview__metric-unit {
    color: $color-text-muted;
    font-size: 10px;
    margin-left: 3px;
  }

  @media (min-width: $screen-md-min) {
    // Override Patternfly list view styles so that the additional info has a
    // little more space for alerts, metrics, and pod status.
    .list-view-pf-additional-info {
      width: 60%;
    }

    .list-view-pf-description {
      flex-basis: 40%;
      width: 40%;
    }

    .project-overview__detail--cpu,
    .project-overview__detail--memory {
      text-align: right;
    }

    .project-overview__detail--status {
      // Give enough margin for the chevron.
      margin-right: 40px;
      text-align: right;
    }
  }
}

@media (min-width: $screen-md-min) {
  // Metrics are hidden when the sidebar is open. Adjust list row styles.
  .overview--sidebar-shown .project-overview {
    .list-view-pf-additional-info {
      width: 50%;
    }

    .list-view-pf-description {
      flex-basis: 50%;
      width: 50%;
    }

    .project-overview__additional-info {
      grid-column-gap: 5%;
      grid-template-columns: 35% 55%;
    }
    .project-overview__detail--status {
      grid-column: 2;
    }
  }
}
