{
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "camelcase": 2,
    "consistent-return": 0,
    "curly": [2, "all"],
    "eol-last": [2, "unix"],
    "eqeqeq": 2,
    "guard-for-in": 2,
    "indent": [2, 2, {"SwitchCase": 1, "VariableDeclarator": 2}],
    "max-len": [1, 120],
    "no-alert": 1,
    "no-comma-dangle": 0,
    "no-console": 1,
    "no-debugger": 1,
    "no-eq-null": 2,
    "no-global-strict": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-use-before-define": 0,
    "quotes": [2, "single"],
    "wrap-iife": [2, "outside"]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "globals": {
    "afterEach": true,
    "angular": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "inject": true,
    "it": true,
    "module": true,
    "spyOn": true
  }
}
