{
  "tabWidth": 2,
  "printWidth": 500,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "jsxSingleQuote": false
}
