.graph-empty-state {
  background: #f5f5f5;
}

.graph-wrapper {
  margin-bottom: 16px;
  margin-top: 0;
  overflow: visible; // Tooltips may overflow
  padding-top: 15px; // So graph title doesn't abut border
  width: 100%;
}

.graph-wrapper svg {
  overflow: visible !important; // Tooltips may overflow
}

.graph-title {
  color: black;
  line-height: 1.4; // so descenders don't clip
  margin: 0 0 10px 0;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.graph-title--left {
  text-align: left;
}

.query-browser__wrapper {
  border: 1px solid $color-grey-background-border;
  margin: 0 0 20px 0;
  overflow: visible;
  padding: 20px;
  width: 100%;
}

.query-browser__header {
  align-items: center;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-bottom: 15px;
  width: 100%;
}

.query-browser__span-text {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  width: 80px;
}

.query-browser__span-dropdown {
  border-bottom-left-radius: 0;
  border-left: none;
  border-top-left-radius: 0;
  width: 30px;
  .caret {
    margin-left: 0;
    margin-right: 1px;
  }
}

.query-browser__span-dropdown-menu {
  min-width: 110px;
}

.query-browser__span-dropdown, .query-browser__span-dropdown-menu, .query-browser__span-reset {
  margin-right: 20px;
}

.query-browser__loading {
  width: 20px;
}

.query-browser__external-link {
  margin-left: auto;
}
