.graph-wrapper {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding-top: 15px; // So graph title doesn't abut border
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: hidden;
}

.graph-title {
  margin: 0;
  text-align: center;
  color: #444;
}
