@import '../../../../../public/style/vars';

.co-synced-editor__editor-toggle {
  border-bottom: var(--pf-t--global--border--width--100) solid
    var(--pf-t--global--border--color--default);
  border-top: var(--pf-t--global--border--width--100) solid
    var(--pf-t--global--border--color--default);
  padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--lg);
  @media (min-width: $pf-v6-global--breakpoint--xl) {
    padding-left: $pf-v6-global-gutter--md;
    padding-right: $pf-v6-global-gutter--md;
  }
}

.co-synced-editor__editor-toggle-label {
  font-size: $font-size-base - 1; // match --pf-v6-c-form__label--FontSize that's used for the osc-yaml-editor
  margin-bottom: 0;
}

.co-synced-editor__yaml-warning {
  margin: $pf-v6-global-gutter--md $pf-v6-global-gutter--md 0;
}
