@import '../../../../../public/style/vars';

.co-synced-editor__editor-toggle {
  border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
  padding: 8px $pf-global-gutter;
  @media (min-width: $pf-global--breakpoint--xl) {
    padding-left: $pf-global-gutter--md;
    padding-right: $pf-global-gutter--md;
  }
}

.co-synced-editor__editor-toggle-label {
  margin-bottom: 0;
}

.co-synced-editor__yaml-warning {
  margin: $pf-global-gutter--md $pf-global-gutter--md 0;
}
