@import '../../../../../public/style/vars';

.co-synced-editor__editor-toggle {
  padding: 8px 30px;
  border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
  & label {
    margin: 0;
  }
}

.co-synced-editor__yaml-warning {
  margin: $pf-global-gutter--md $pf-global-gutter--md 0;
}
