@import '~@patternfly/patternfly/sass-utilities/colors';

.co-health-card__alerts-body {
  max-height: 10em;
  overflow-x: hidden;
  overflow-y: auto;
}

.co-health-card__alerts-border {
  border-top: 1px solid $pf-color-black-300;
}

.co-health-card__alerts-item {
  align-items: center;
  display: flex;
  padding-bottom: 0.5em;
  padding-left: var(--pf-c-card--child--PaddingLeft);
  padding-right: var(--pf-c-card--child--PaddingRight);
}

.co-health-card__alerts-item:first-of-type {
  padding-top: var(--pf-c-card--first-child--PaddingTop);
}

.co-health-card__alerts-item:last-of-type {
  padding-bottom: var(--pf-c-card--child--PaddingBottom);
}

.co-health-card__body {
  min-height: 2.3em;
}

.co-health-card__item {
  align-items: center;
  display: flex;
}

.co-health-card__separator {
  border-bottom: 1px solid $pf-color-black-200;
  margin: 10px -14px;
}

.co-health-card__subtitle {
  color: $pf-color-black-500;
  font-size: 0.7rem;
}

.co-health-card__text {
  display: block;
  margin-left: 1rem;
}

.co-health-card__title {
  padding-left: 0.6rem;
}
