.odc-base-edge.odc-connects-to {
  --edge--stroke: var(--pf-global--Color--400);
  --edge--fill: var(--pf-global--BackgroundColor--light-300);

  &.odc-m-editable {
    --edge__arrow--cursor: pointer;
  }
}
