.odc-graph-toolbar {
  position: absolute;
  bottom: calc(var(--pf-global--spacer--md) - var(--pf-global--spacer--xs));
  left: var(--pf-global--spacer--md);
  max-width: calc(100% - var(--pf-global--spacer--md) * 2);

  & > * {
    margin: 0 var(--pf-global--spacer--xs) var(--pf-global--spacer--xs) 0;
  }
}
