.odc-topology-sidebar {
  &__dismiss {
    padding: 0 5px;

    .close {
      // adjustments to increase click target and default color contrast because it's on a grey background
      opacity: 0.3;
      padding: 10px 15px;
    }

    .pficon-close {
      font-size: 16px;
    }
  }

  &__overlay {
    top: 0 !important;
    position: absolute;
    max-width: 100%;

    .modal-dialog {
      max-width: 100%;
    }
  }
}
