.odc-heath-check-probe {
  &__formTitle {
    margin: 0;
    font-weight: var(--pf-global--FontWeight--bold);
  }
  &__successText {
    color: var(--pf-global--palette--green-500);
    font-weight: var(--pf-global--FontWeight--bold);
  }

  &__successButton {
    padding: 0;
  }
}
