.odc-heath-check-probe {
  &__formTitle {
    margin: 0;
    font-weight: var(--pf-t--global--font--weight--body--bold);
  }
  &__successText {
    color: var(--pf-t--color--green--60);
    font-weight: var(--pf-t--global--font--weight--body--bold);
  }

  &__successButton {
    padding: 0;
  }
}
