.env
.idea
.vscode
.protractor-fail-fast
.DS_Store
cypress-a11y-report.json
/bin
/gopath
/Godeps/_workspace/src/github.com/openshift/console
/frontend/.cache-loader
/frontend/.webpack-cycles
/frontend/__coverage__
/frontend/__chrome_browser__
/frontend/**/node_modules
/frontend/**/npm-debug.log
/frontend/**/yarn-error.log
/frontend/**/dist
/frontend/@types/console/generated
/frontend/gui_test_screenshots
/frontend/package-lock.json
/frontend/po-files