.env
.idea
.vscode
.protractor-fail-fast
.DS_Store
/bin
/gopath
/Godeps/_workspace/src/github.com/openshift/console
/frontend/.cache-loader
/frontend/.webpack-cycles
/frontend/__coverage__
/frontend/__chrome_browser__
/frontend/**/node_modules
/frontend/public/bower_components
/frontend/public/dist
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/gui_test_screenshots
