language: node_js
node_js:
  - '10'
cache: yarn
before_install:
  - cd frontend
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
  - yarn install
script:
- yarn run lint
- CI=true yarn test --maxWorkers=2
- MAX_WORKERS=1 yarn run build
- cd .. && docker build -q --rm=true -f Dockerfile -t kubevirt-web-ui-travis:test-build-only .
