.nb-data-resiliency__dashboard-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5em;
  text-align: center;
}

.nb-data-resiliency__eta {
  align-self: flex-start;
}

.nb-data-resiliency__icon--error {
  font-size: 60px;
}

.nb-data-resiliency__icon--ok {
  font-size: 60px;
}

.nb-data-resiliency__progress-bar {
  text-align: left;
  grid-gap: 0rem;
}

.nb-data-resiliency__status-title--error {
  margin-top: 1.5625em;
}

.nb-data-resiliency__title {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 3em;
}
