<div class="audit-report">

  <tec-nav-title title="Audit Report"></tec-nav-title>
  <div class="co-m-pane">
    <div class="co-m-pane__body">

      <div class="row">
        <div class="col-xs-12">
          <h1 class="co-m-pane__title co-m-pane__body__top-controls">Nodes Trust Summary</h1>
        </div>
      </div>

      <div class="co-m-table-grid co-m-table-grid--bordered"">
        <div class="row co-m-table-grid__head">
          <div class="col-xs-4">
            Name
          </div>
          <div class="col-xs-2">
            Trust Status
          </div>
          <div class="col-xs-3 pad-left">
            PCR
          </div>
          <div class="col-xs-3 pad-left">
            Profile
          </div>
        </div>
        <div class="co-m-table-grid__body">
          <div ng-repeat="node in nodes">
            <div class="row co-m-table-grid">
              <div class="col-xs-4">
                <co-node-cog node="n"></co-node-cog>
                <co-resource-icon kind="node"></co-resource-icon>
                <a ng-href="nodes/{{node.metadata.name}}" ng-bind="node.metadata.name"></a>
              </div>
              <div class="col-xs-2">
                <div class="pad-line">
                  <span ng-if="isTrusted(node)" class="tpm-trusted"><i class="fa fa-shield"></i> Trusted</span>
                  <span ng-if="!isTrusted(node)" class="tpm-untrusted"><i class="fa fa-times"></i> Untrusted</span>
                </div>
              </div>
              <div class="col-xs-6" ng-init="audit=auditNode(node)">
                <div ng-repeat="(pcr, policies) in audit">
                  <div class="middler row policy-row {{policies.invalid ? 'policy-row--invalid' : 'policy-row--valid'}}">
                    <div class="col-xs-6">
                      <span ng-bind="pcrToHuman(pcr)"></span>
                    </div>
                    <div class="col-xs-6">
                      <div ng-repeat="p in policies.policies">
                        <div class="audit-policy">
                          <a ng-if="p===INVALID_POLICY" href="{{'nodes/' + node.metadata.name + '/tpm-event-log#pcr-anchor-' + pcr}}" ng-bind="p" class="{{p===INVALID_POLICY && 'unknown-config'}}"></a>
                          <a ng-if="p!==INVALID_POLICY" href="{{'trusted-compute-policies/'+p}}" ng-bind="p"></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
