<div class="co-p-pods">
  <tec-nav-title title="Trusted Compute Policies" plural='true'></tec-nav-title>

  <div class="co-m-pane" ng-if="canAdmission">
    <div class="co-m-pane__heading">
      <div class="row">
        <div class="col-xs-6">
          <h1 class="co-m-pane__title">Admission Settings</h1>
        </div>
        <div class="col-xs-6">
          <p class="pull-right">
            <a href="/audit-report">View Audit Report</a>
          </p>
        </div>
      </div>
      <div class="row co-m-pane__sub__heading">
        <div class="col-xs-12">
          <p class="text-muted small">ADMISSION POLICY</p>
          <p ng-if="!$root.FEATURE_FLAGS.tpm">
            Open Admission
          </p>
          <p ng-if="$root.FEATURE_FLAGS.tpm">
            <span ng-if="dtcError">
              Unknown state: configmaps could not be loaded.
            </span>
            <a ng-click="dtcModal()" ng-if="!dtcError" class="co-m-modal-link" href="#">
              <span ng-if="tpmManager.allowunknown === 'true'">Trusted Computing</span>
              <span ng-if="tpmManager.allowunknown !== 'true'">Strict Trusted Computing</span>
            </a>
          </p>
        </div>

        <div class="col-xs-12" ng-if="!dtcError">
          <p class="text-muted small" ng-if="!$root.FEATURE_FLAGS.tpm">
            <span>TPM support is disabled.  All nodes will be scheduled for work.</span>
          </p>
          <p class="text-muted small" ng-if="$root.FEATURE_FLAGS.tpm">
            <span ng-if="tpmManager.allowunknown === 'true'">All nodes will be scheduled for work.</span>
            <span ng-if="tpmManager.allowunknown !== 'true'">Only nodes with previously seen TPMs will be scheduled for work.</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="co-m-pane">
    <div class="co-m-pane__heading">
      <div class="row">
        <div class="col-xs-12 pull-right">
          <co-dropdown title="'PCR Layer'" selected="layerfilter" items="layers" class="pull-right" ng-init="layerfilter='Early Boot'">
          </co-dropdown>
        </div>
      </div>
    </div>
    <div class="co-m-pane__body">
      <div class="row">
        <div class="col-xs-12">
          <co-policy-list layerfilter="layerfilter" layers="layers" />
          <co-debug obj="layers"></co-debug>
        </div>
      </div>
    </div>
  </div>
</div>
