.pf-topology__edge {
  &.odc-connects-to {
    --edge--stroke: var(--pf-v5-global--Color--400);
    --edge--fill: var(--pf-v5-global--BackgroundColor--light-300);

    &.odc-m-editable {
      --edge__arrow--cursor: pointer;
    }
    cursor: pointer;
    &.pf-m-dragging {
      pointer-events: none;
    }
  }
}
