.kn-event-subscriber-list {
  &-item {
    padding-bottom: 0;
  }
  &__relationship {
    align-items: center;
    min-height: var(--pf-t--global--spacer--xl);
    margin: 0 var(--pf-t--global--border--width--md) var(--pf-t--global--border--width--300)
      var(--pf-t--global--spacer--2xl);
  }

  &__relationship-table {
    position: relative;
    left: calc(var(--pf-t--global--spacer--md) * -1);
    width: calc(100% + var(--pf-t--global--spacer--xl));
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
