.revision-overview-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.odc-revision-deployment-list {
  padding: 15px 15px 0px 20px;
  &__pod {
    width: 25px;
    cursor: default;
  }
}
