.ocs-catalog-type-selector__error-type {
  color: var(--vertical-tab-pf-color);
  display: inline-block;
  font-size: 13px;
  padding: 3px 6px 3px 15px;
  vertical-align: top;
  width: 100%;
  word-break: break-word;
}
