.odc-pod-tooltip {
  fill: var(--pf-global--BackgroundColor--dark-100);

  &__label {
    pointer-events: none;

    & rect {
      fill: var(--pf-global--BackgroundColor--dark-100);
    }

    & text {
      fill: var(--pf-global--Color--light-100);
      font-size: var(--pf-global--FontSize--sm);
    }
  }
}
