.kubevirt-add-source-field {
  padding-top: var(--pf-global--spacer--md);
}

.kubevirt-set-size-field {
  max-width: none !important;
}

.kubevirt-modal-desc {
  padding-bottom: var(--pf-global--spacer--md);
}
