<div class="co-p-pods">

  <tec-nav-title title="Namespaces"></tec-nav-title>

  <div class="co-m-pane">
    <div class="co-m-pane__body">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <div class="co-facet-container--left">
            <h1 class="co-m-pane__title co-m-pane__body__top-controls">
              All Namespaces
              <button type="button"
                      class="btn btn-default co-m-pane__title__btn"
                      ng-click="newNamespaceModal()"
                      >Create Namespace</button>
              <div style="clear: both"></div>
            </h1>
            <div class="co-m-pane__body__top-controls"
                 ><input ng-model="nameSearch.metadata.name"
                         type="text" class="form-control"
                         placeholder="Filter namespaces by name..." /></div>
            <co-namespace-list-menu search="nameSearch" chosen="chosen"></co-namespace-list-menu>
          </div>
        </div><!-- left column -->
        <div class="col-sm-8 col-xs-12">
          <div ng-if="!chosen" class="empty-page">
            <h1 class="empty-page__header">No namespace selected</h1>
            <p class="empty-page__explanation">
              Namespaces organize and isolate your cluster resources
              from other things running on the cluster.
            </p>
          </div>
          <div ng-if="chosen">
            <h1 class="co-m-pane__title co-m-pane__body__top-controls"
                ng-bind="'Namespace ' + chosen.metadata.name"></h1>
            <dl>
              <dt>Status</dt>
              <dd ng-bind="chosen.status.phase"></dd>
              <dt>Namespace Labels</dt>
              <dd><co-label-list kind="namespace" labels="chosen.metadata.labels"></co-label-list></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div><!-- pane -->

</div>
