.odc-monitoring-overview {
  &__metric-accordion {
    padding: 0;
  }
  &__event-warning-toggle {
    .pf-c-accordion__toggle-text {
        width: 100%
    }
  }
  &__event-warning-body {
    .pf-c-accordion__expanded-content-body {
      padding: var(--pf-global--spacer--sm) 0;
    }
  }
  h5 {
    margin: 0;
  }
  .pf-c-accordion__expanded-content.pf-m-expanded {
    --pf-c-accordion__expanded-content--BorderLeftColor: transparent;
  }
  .pf-c-accordion__toggle.pf-m-expanded {
    --pf-c-accordion__toggle--BorderLeftColor: transparent;
  }
}
