.odc-monitoring-overview {
  &__metric-accordion {
    padding: 0;
  }
  &__event-warning-toggle {
    .pf-c-accordion__toggle-text {
      width: 100%;
    }
  }
  &__event-warning-body {
    .pf-c-accordion__expanded-content-body {
      padding: var(--pf-global--spacer--sm) 0;
    }
  }
  &__view-monitoring-dashboard {
    margin: var(--pf-global--spacer--sm) 0;
    text-align: right;
  }
  .pf-c-accordion__expanded-content.pf-m-expanded {
    --pf-c-accordion__expanded-content-body--before--BackgroundColor: transparent;
  }
  .pf-c-accordion__toggle.pf-m-expanded {
    --pf-c-accordion__toggle--before--BackgroundColor: transparent;
  }
  &__empty-state {
    &-icon {
      color: var(--pf-global--icon--Color--light);
      font-size: var(--pf-global--FontSize--4xl);
    }
  }
}
