.odc-monitoring-events {
  &__event-item {
    margin-bottom: var(--pf-t--global--spacer--md);
  }
  &__warning-icon {
    font-size: var(--pf-t--global--font--size--xl);
  }
  &__event-message {
    font-size: var(--pf-t--global--font--size--sm);
    color: var(--pf-t--global--text--color--regular);
    margin-top: var(--pf-t--global--spacer--sm);
    word-wrap: break-word;
  }
}
