.kv-create-vm-modal__wizard-errors {
  width: 100%;
  margin-bottom: var(--pf-global--spacer--md);
}


.kv-create-vm-modal__wizard-errors-errors-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.kv-create-vm-modal__wizard-errors-errors-list-item {
  padding: 0;
}
