<div>
  <div class="co-m-table-grid--bordered">
    <div class="row co-m-table-grid__head">
      <div class="col-lg-2">Pod ID</div>
      <div class="col-lg-2">Pod Labels</div>
      <div class="col-lg-2">Status</div>
      <div class="col-lg-2">Controller</div>
      <div class="col-lg-2">Containers</div>
      <div class="col-lg-2">Machine</div>
    </div>
    <div class="row" ng-repeat="p in pods">
      <div class="col-lg-2"><a ng-href="/pods/{{p.id}}" ng-bind="p.id"></a></div>
      <div class="col-lg-2">
        <co-label-list type="pod" labels="p.labels"></co-label-list>
      </div>
      <div class="col-lg-2">-</div>
      <div class="col-lg-2">
        <a ng-if="p.labels.replicationController" ng-href="/controllers/{{p.labels.replicationController}}" ng-bind="p.labels.replicationController"></a>
      </div>
      <div class="col-lg-2" ng-bind="p.desiredState.manifest.containers.length"></div>
      <div class="col-lg-2" ng-bind="p.currentState.host"></div>
    </div>
  </div>
</div>
