$height: 18px;

.co-m-resource-icon {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  height: $height;
  min-width: $height;
  padding: 0 4px;
  line-height: $height + 2px;
  color: #fff;
  font-size: 12px;
  margin: 0 4px;
}

.co-m-resource-icon-wrapper {
  display: inline-block;
}

.co-m-resource-icon--service {
  background-color: $color-service-dark;
}

.co-m-resource-icon--replicationcontroller {
  background-color: $color-controller-dark;
}

.co-m-resource-icon--replicaset {
  background-color: $color-replicaset-dark;
}

.co-m-resource-icon--job {
  background-color: $color-job-dark;
}

.co-m-resource-icon--daemonset {
  background-color: $color-replicaset-dark;
}

.co-m-resource-icon--configmap {
  background-color: $color-pod-dark;
}

.co-m-resource-icon--secret {
  background-color: $color-replicaset-dark;
}

.co-m-resource-icon--deployment {
  background-color: $color-deployment-dark;
  padding: 0 4px 0 5px; // padding from .co-m-resource-icon isn't enough to center D letter
}

.co-m-resource-icon--pod {
  background-color: $color-pod-dark;
}

.co-m-resource-icon--container {
  background-color: $color-container-dark;
}

.co-m-resource-icon--node, .co-m-resource-icon--policy, .co-m-resource-icon--tpm {
  background-color: $color-node-dark;
}

.co-m-resource-icon--namespace {
  background-color: $color-namespace-dark;
}
