@import '../../../../../../public/style/vars';

.ocs-synced-editor-field {
  &__editor-toggle {
    padding-top: var(--pf-global--spacer--sm);
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;

    &.margin {
      margin: var(--pf-global--spacer--md) 0;
    }
  }

  &__yaml-warning {
    margin: $grid-gutter-width $grid-gutter-width 0;
  }
}
