.kv-hardware__remove-button .kv-hardware__device {
  margin-left: var(--pf-v5-global--spacer--md);
}

.kv-hardware__name {
  margin-right: var(--pf-v5-global--spacer--md);
}

.kv-hardware__row {
  margin-bottom: var(--pf-v5-global--spacer--sm);
}

.kv-hardware__form {
  max-width: 70vh;
}
