.co-spec-descriptor--resource-requirements {
  border: var(--pf-t--global--border--width--regular) solid
    var(--pf-t--global--border--color--default);
  padding: 20px 0 20px 20px;
  margin-top: 5px;
}

.co-spec-descriptor--switch {
  align-items: center;
  display: flex;
  height: 25px;
}
