.odc-tour-item-header {
  &__status {
    margin: var(--pf-global--spacer--sm) 0;
  }
  &__icon {
    width: var(--pf-global--spacer--lg);
    height: var(--pf-global--spacer--lg);
    margin: 0 var(--pf-global--spacer--sm) 0 0;
  }
}
