.lso-lvd-body__all-nodes-radio--padding {
  padding-bottom: var(--pf-global--spacer--sm);
}

.lso-lvd-body__select-nodes {
// overrides extra space added by `co-m-nav-title`
  .co-m-nav-title {
    padding: 0;
    margin: 0;
  }
 }
 