.kubevirt-cpu-pinning__checkbox {
  margin-top: var(--pf-global--spacer--md);
  margin-bottom: var(--pf-global--spacer--md);
}

.kubevirt-cpu-pinning__helper-text {
  color: var(--pf-global--Color--200);
}
