.hc-members__header {
  padding: 30px 30px 10px 30px;
  display: flex;
  flex-direction: row;

  .hc-members__search {
    max-width: 400px;
    margin-right: auto;
  }
}

.hc-members__body {
  padding: 0px 30px 30px 30px;

  .hc-members__users {
    margin-bottom: 30px;
  }

  table {
    thead {
      td {
        width: 44px !important;
      }
    }
  }
}

.hc-invite-modal__input-members {
  display: flex;
  flex-direction: column;

  .hc-invite-modal__members {
    margin: 16px 0;

    .hc-invite-modal__search-list {
      background-color: gray;
      z-index: 200;
  
      .pf-c-select__toggle-wrapper {
        max-width: 100%;
      }
  
      .pf-c-select__toggle-button {
        display: none;
      }
  
      .pf-c-select__menu-item {
        height: 60px;
  
        .hc-invite-modal__member-item {
          display: flex;
          flex-direction: column;
        }
      }
    }
  
    .hc-invite-modal__selectedMember {
      display: flex;
      flex-direction: column;
      height: 60px;
      background-color: var(--pf-global--disabled-color--300);
      padding: 8px 16px;
  
      &__name {
        margin-top: auto;
        display: flex;
        align-items: center;
      }

      &__email {
        margin-bottom: auto;
      }

      .hc-member__close-icon {
        cursor: pointer;
        margin-left: auto;
      }
    }
  }
}

.hc-invite-modal__dropdown__toggle {
  display: flex;
  align-items: center;
}

.hc-member__group-icon {
  margin-right: 10px;
}
