.hc-members__body {
  padding: 0px 30px 30px 30px;

  .hc-members__users {
    margin-bottom: 30px;
  }

  table {
    thead {
      td {
        width: 44px !important;
      }
    }
  }
}

.hc-invite-modal__input-members {
  display: flex;
  flex-direction: column;
}