<div class="co-p-controllers">

  <co-nav-title title="Controllers">
    <a href="#" class="co-m-primary-action" ng-click="openCreateControllerModal()">
      <co-svg class="co-img-icon co-img-icon-light" src="/coreos.svg/icon-add.svg"></co-svg>Create a New Controller</a>
  </co-nav-title>

  <div class="co-m-pane">
    <div class="co-m-pane__body">

      <input type="text" class="form-control" placeholder="Filter controllers by label query..." />

      <div class="co-m-table-grid--bordered">
        <div class="row co-m-table-grid__head">
          <div class="col-lg-1"></div>
          <div class="col-lg-2">Controller ID</div>
          <div class="col-lg-2">Controller Labels</div>
          <div class="col-lg-2">Status</div>
          <div class="col-lg-2">Pod Selector</div>
          <div class="col-lg-1">Desired Count</div>
        </div>
        <div class="row" ng-repeat-start="c in controllers" ng-click="open = !open; getPods(c.id)">
          <div class="col-lg-1">COG</div>
          <div class="col-lg-2">
            <co-entity-icon type="controller"></co-entity-icon>
            <a ng-href="/controllers/{{c.id}}" ng-bind="c.id"></a>
          </div>
          <div class="col-lg-2">
            <co-label-list type="controller" labels="c.labels"></co-label-list>
          </div>
          <div class="col-lg-2">-</div>
          <div class="col-lg-2">
            <co-label-list type="pod" selector="true" labels="c.desiredState.replicaSelector"></co-label-list>
          </div>
          <div class="col-lg-2" ng-bind="c.desiredState.replicas"></div>
        </div>
        <div ng-show="open" ng-repeat-end>
          <co-pod-list pods="c.pods"></co-pod-list>
        </div>

      </div>

    </div><!-- pane body -->
  </div><!-- pane -->

</div>
