@import '../../topology-utils';

.odc-helm-release {
  outline: none;
  cursor: pointer;

  .odc-m-drag-active & {
    cursor: grab;
  }

  &__bg {
    fill: #d1d1d1;
    fill-opacity: 0.5;
    stroke: #bbbbbb;
    stroke-width: 4px;
    stroke-dasharray: 9;
  }

  &.is-filtered &__bg {
    stroke: $filtered-color;
  }

  &.is-selected &__bg {
    stroke: var(--pf-global--active-color--400);
    fill: var(--pf-global--active-color--200);
  }
}

.odc-m-drag-active,
.odc-m-filter-active {
  .odc-helm-release {
    opacity: 0.4;
    &.is-dragging,
    &.is-filtered {
      opacity: 1;
    }
  }
}
