.kv-warning--pf-v5-c-list {
  --pf-v5-c-list--li--MarginTop: 0;
  --pf-v5-c-list--nested--MarginLeft: 0;
}

.kv-warning--pf-v5-c-breadcrumb {
  padding-bottom: 0;
  padding-top: 0;
}

.kv-warning--comma-margin {
  margin-right: 8px;
  padding-top: 4px;
}

.kv-warning-changed-attrs {
  display: flex;
  flex-direction: row;
}
