.taskrun-details-page {
  display: flex;
  &__results-indicator {
    margin-left: var(--pf-v5-global--spacer--xs);
    color: var(--pf-v5-global--Color--400);
    font-size: var(--pf-v5-global--FontSize--lg);
    align-self: center;
  }
}
