@import '../../../../../public/style/vars';

.odc-quick-start-catalog-card {
  &__card {
    height: $co-m-catalog-tile-height;
  }

  &__remove-help-text {
    font-size: var(--pf-global--FontSize--xs);
  }

  &__tour {
    margin-bottom: var(--pf-global--spacer--sm);
  }

  &__tour-name {
    font-size: var(--pf-global--FontSize--sm) !important;
  }

  &__tour-status {
    font-size: var(--pf-global--FontSize--xs) !important;
  }

  &__arrow {
    margin-left: var(--pf-global--spacer--xs);
  }

  &__footer {
    border-top: 1px solid var(--pf-global--BorderColor--100);
    padding-top: var(--pf-global--spacer--sm);
    padding-bottom: var(--pf-global--spacer--sm);
  }
}
