.co-dashboard-getting-started-section {
  // Similar padding to dashboard card grid gap (.co-dashboard-grid)
  // See also packages/console-shared/src/components/dashboard/dashboard.scss
  padding-bottom: 1rem;
}
