.dps-icons {
  &__green-check-icon {
    fill: var(--pf-t--global--icon--color--status--success--default) !important;
  }
  &__red-exclamation-icon {
    fill: var(--pf-t--global--icon--color--status--danger--default) !important;
  }
  &__yellow-exclamation-icon {
    fill: var(--pf-t--global--icon--color--status--warning--default) !important;
  }
  &__blue-info-icon {
    fill: var(--pf-t--global--icon--color--status--info--default) !important;
  }
}
