.odc-multi-stream-logs {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  &--fullscreen {
    background-color: var(--pf-t--global--background--color--primary--default);
    padding: var(--pf-t--global--spacer--sm);
  }

  &__icon {
    margin-right: var(--pf-t--global--spacer--xs);
  }

  &__divider {
    color: var(--pf-t--color--gray--50);
    margin: 0 var(--pf-t--global--spacer--sm);
  }

  &__button {
    margin-right: 0;
  }

  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--pf-t--color--black);
    color: var(--pf-t--global--text--color--300);
    font-family: Menlo, Monaco, 'Courier New', monospace;
    overflow-y: scroll;
    position: relative;
    &__logs {
      position: absolute;
      width: 100%;
    }
  }
  &__taskName {
    background-color: var(--pf-t--color--gray--70);
    padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--md);
    color: var(--pf-t--global--text--color--300);
  }
  &__taskName__loading-indicator {
    margin-left: var(--pf-t--global--spacer--sm);
  }
}
