.odc-multi-stream-logs {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  &--fullscreen {
    background-color: var(--pf-v5-global--BackgroundColor--100);
    padding: var(--pf-v5-global--spacer--sm);
  }

  &__icon {
    margin-right: var(--pf-v5-global--spacer--xs);
  }

  &__divider {
    color: var(--pf-v5-global--palette--black-600);
    margin: 0 var(--pf-v5-global--spacer--sm);
  }

  &__button {
    margin-right: 0;
  }

  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--pf-v5-global--palette--black-1000);
    color: var(--pf-v5-global--Color--light-100);
    font-family: Menlo, Monaco, 'Courier New', monospace;
    overflow-y: scroll;
    position: relative;
    &__logs {
      position: absolute;
      width: 100%;
    }
  }
  &__taskName {
    background-color: var(--pf-v5-global--BackgroundColor--dark-300);
    padding: var(--pf-v5-global--spacer--sm) var(--pf-v5-global--spacer--md);
    color: var(--pf-v5-global--Color--light-100);
  }
  &__taskName__loading-indicator {
    margin-left: var(--pf-v5-global--spacer--sm);
  }
}
