.odc-empty-state {
  // work around status-box injecting intermediate node preventing pages from controling the height of their content
  &__hint-block {
    padding-bottom: 20px;
  }

  &__title {
    background-color: var(--pf-global--BackgroundColor--light-100);
    display: flex;
    flex-direction: column;
  }

  &__content {
    padding: var(--pf-global--spacer--lg);
  }

  &__tile {
    height: 230px;
  }
}
