@import '../../../../public/style/vars';

.odc-empty-state {
  // work around status-box injecting intermediate node preventing pages from controling the height of their content
  &__hint-block {
    padding-bottom: 20px;
  }

  &__title {
    background-color: var(--pf-global--BackgroundColor--light-100);
  }

  &__content {
    padding: var(--pf-global--spacer--lg);
    flex: 1;
  }

  &__tile {
    height: $co-m-catalog-tile-height;
    width: $co-m-catalog-tile-width;
  }
}
