.odc-empty-state {
  // work around status-box injecting intermediate node preventing pages from controling the height of their content
  &__title {
    background-color: var(--pf-global--BackgroundColor--light-100);
    display: flex;
    flex-direction: column;
  }

  &__content {
    padding: var(--pf-global--spacer--lg);
    flex: 1;
  }

  &__card {
    height: 100%;
    text-align: center;
  }
}
