@import '../../../../public/style/vars';

.odc-guidedtour-tile {
  &__card {
    height: $co-m-catalog-tile-height;
    width: $co-m-catalog-tile-width;
  }
  &__tour {
    margin-bottom: var(--pf-global--spacer--sm);
  }
  &__arrowbtn {
    margin-right: var(--pf-global--spacer--sm);
  }
  &__footer {
    border-top: 1px solid var(--pf-global--BorderColor--100);
    padding-top: var(--pf-global--spacer--sm);
    padding-bottom: var(--pf-global--spacer--sm);
  }
}
