.odc-guidedtour-tile {
  &__card {
    height: 100%;
  }
  &__header {
    padding: 0px var(--pf-global--spacer--md);
    margin: 0px;
  }
  &__body {
    padding: var(--pf-global--spacer--sm);
  }
  &__tour {
    padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--md);
    text-align: left;
  }
  &__arrowbtn {
    margin-right: var(--pf-global--spacer--md);
  }
  &__footer {
    border-top: 1px solid var(--pf-global--BorderColor--100);
    padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--lg);
  }
  &__title {
    font-weight: var(--pf-global--FontWeight--bold);
    font-size: var(--pf-global--FontSize--lg);
  }
}
