.odc-namespaced-page {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    flex-grow: 1;
    position: relative;
    overflow: auto;
    background-color: var(--pf-global--Color--light-200);

    &.is-light {
      background-color: var(--pf-global--Color--light-100);
    }
  }

  &__toolbar {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  // Override styles of namespace bar to support the addition of the application selector on mobile
  & .co-namespace {
    &-selector {
      max-width: 100%;
    }
    &-bar__items {
      flex-wrap: wrap;
    }
  }
}
