.odc-namespaced-page {
  display: flex;
  flex: 1;
  flex-direction: column;

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--pf-global--Color--light-200);
    overflow-y: auto;
    position: relative;

    &.is-light {
      background-color: var(--pf-global--Color--light-100);
    }
  }

  &__toolbar {
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  // Override styles of namespace bar to support the addition of the application selector on mobile
  & .co-namespace {
    &-selector {
      max-width: 100%;
    }
    &-bar__items {
      flex-wrap: wrap;
    }
  }
}
