@import '../../../../public/style/vars';

.odc-quick-start-tile {
  &__card {
    height: $co-m-catalog-tile-height;
    width: $co-m-catalog-tile-width;
  }

  &__tour {
    margin-bottom: var(--pf-global--spacer--sm);
  }

  &__arrow {
    margin-left: var(--pf-global--spacer--xs);
  }

  &__footer {
    border-top: 1px solid var(--pf-global--BorderColor--100);
    padding-top: var(--pf-global--spacer--sm);
    padding-bottom: var(--pf-global--spacer--sm);
  }
}
