.odc-multi-column-field {
  &__row {
    position: relative;
    margin-right: var(--pf-global--spacer--lg);
    margin-bottom: var(--pf-global--spacer--lg);
    max-height: var(--pf-global--spacer--xl);
  }

  &__col {
    margin-right: var(--pf-global--spacer--md);
  }

  &__col--button {
    line-height: var(--pf-global--spacer--xl);
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__empty-message {
    margin-bottom: var(--pf-global--spacer--sm);
  }
  &__header--required-label {
    margin-left: var(--pf-global--spacer--xs);
    font-size: var(--pf-global--FontSize--sm);
    color: var(--pf-global--danger-color--100);
  }
}
