.kv-affinity-expression-row {
  &__key-input {
    min-height: 42px;
  }
  &__operator-input {
    min-height: 42px;
  }
  &__values-input {
    .pf-m-typeahead {
      min-height: 42px;
      .pf-c-select__toggle-button {
        display: none;
      }
    }
  }
}
