@import '~patternfly/dist/sass/patternfly/color-variables';

.kubevirt-create-vm-modal__review-tab-review-list {
  dt {
    color:  $color-pf-black-600;
    text-transform: capitalize;
  }
}

.kubevirt-create-vm-modal__review-tab-review-list-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
