.kubevirt-create-vm-modal__review-tab-storage-class-alert {
  margin-bottom: var(--pf-global--spacer--sm);
  margin-top: var(--pf-global--spacer--sm);
}

.kubevirt-create-vm-modal__review-tab-storage-class-alert-p {
  white-space:pre-wrap;
}

