.odf-create-storage-system-footer__alert {
  margin: 0 var(--pf-global--spacer--md);
}

.odf-create-storage-system-wizard-body {
  margin: var(--pf-global--spacer--4xl);
  &__error {
    color: var(--pf-global--danger-color--200);
  }
}
