.pf-v6-c-menu-toggle.co-user-preference__namespace-menu-toggle {
  background-color: var(--pf-v6-c-menu-toggle--BackgroundColor) !important;
  font-size: var(--pf-v6-c-menu-toggle--FontSize) !important;
  padding-block-start: var(--pf-v6-c-menu-toggle--PaddingBlockStart) !important;
  padding-block-end: var(--pf-v6-c-menu-toggle--PaddingBlockEnd) !important;
  padding-inline-start: var(--pf-v6-c-menu-toggle--PaddingInlineStart) !important;
  padding-inline-end: var(--pf-v6-c-menu-toggle--PaddingInlineEnd) !important;
  &::before,
  &::after {
    border-width: var(--pf-t--global--border--width--100) !important;
  }
  .pf-v6-c-menu-toggle__text {
    font-size: var(--pf-v6-c-menu-toggle--FontSize) !important;
  }
}

.co-user-preference__namespace-menu__last-viewed {
  padding-top: 0 !important;
  margin-bottom: 0 !important;
}
