.odc-quick-search-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__list {
    border-top: var(--pf-c-data-list--sm--BorderTopWidth) solid
      var(--pf-c-data-list--sm--BorderTopColor) !important;
    border-bottom: var(--pf-c-data-list--sm--BorderTopWidth) solid
      var(--pf-c-data-list--sm--BorderTopColor) !important;
    flex: 1;
    overflow-y: auto;
  }
  &__item {
    border-bottom: var(--pf-c-data-list__item--sm--BorderBottomWidth) solid
      var(--pf-c-data-list__item--sm--BorderBottomColor) !important;
    &:last-of-type {
      .odc-quick-search-content__list--overflow & {
        border-bottom: 0 !important;
      }
    }
    &--highlight {
      background: var(--pf-global--active-color--200);
    }
    &:hover {
      background: var(--pf-global--active-color--200);
    }
  }
  &__item-row {
    padding: 0 var(--pf-global--spacer--sm);
  }
  &__item-content {
    align-items: center;
  }
  &__item-icon {
    width: 30px;
  }
  &__item-name {
    font-size: var(--pf-global--FontSize--md);
    font-weight: 400;
    font-family: var(--pf-global--FontFamily--heading--sans-serif);
  }
  &__all-items {
    border-bottom: var(--pf-c-data-list__item--sm--BorderBottomWidth) solid
      var(--pf-c-data-list__item--sm--BorderBottomColor) !important;
  }
  &__all-items-link {
    padding: var(--pf-global--spacer--sm) 0 var(--pf-global--spacer--md);
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
