.odc-quick-search-content {
  flex: 1;
  overflow-y: hidden;
  &__list {
    width: 40%;
    height: 100%;
  }
  &__details {
    background: var(--pf-global--palette--white);
    width: 60%;
    overflow-y: auto;
    height: 100%;
    padding-right: var(--pf-global--spacer--md);
  }
}
