.odc-quick-search-details {
  display: flex;
  flex-direction: column;
  padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--md) 0px
    var(--pf-global--spacer--md);
  overflow-y: auto;
  overflow-wrap: break-word;
  scrollbar-width: 12px;
  scrollbar-color: var(--pf-global--BackgroundColor--light-300) var(--pf-global--palette--white);

  &__form-button {
    margin: var(--pf-global--spacer--md) 0px;
    width: max-content;
  }

  &__provider {
    color: var(--pf-global--Color--200);
  }

  &__description {
    font-size: 15px !important;
  }
}

.odc-quick-search-details::-webkit-scrollbar {
  width: 12px;
}
.odc-quick-search-details::-webkit-scrollbar-thumb {
  background: var(--pf-global--BackgroundColor--light-300);
  border-radius: 10px;
}
.odc-quick-search-details::-webkit-scrollbar-track {
  background: var(--pf-global--palette--white);
}
