.odc-base-edge {
  stroke: var(--pf-global--BackgroundColor--dark-200);
  stroke-width: 2px;

  &.is-hover, &.is-highlight {
    stroke: var(--pf-global--active-color--400);
  }
}

.odc-m-drag-active {
  .odc-base-edge {
    opacity: 0.3;

    &.is-hover {
      stroke: var(--pf-global--BackgroundColor--dark-200);
    }

    &.is-highlight {
      opacity: 0.5;
    }
  }
}
