.odc-base-node {
  cursor: pointer;
  &__bg {
    fill: var(--pf-global--BackgroundColor--light-100);
  }

  &__selection {
    fill: none;
    stroke: var(--pf-global--active-color--300);
  }

  &__label {
    cursor: default;
    fill: var(--pf-global--Color--light-100);
    font-size: var(--pf-global--FontSize--md);
    text {
      fill: var(--pf-global--Color--300);
    }
  }
}
