.odc-default-group {
  fill: var(--pf-global--Color--light-100);
  fill-opacity: 0.5;
  stroke: var(--pf-global--Color--light-100);
  stroke-width: 5px;

  &.is-hover {
    cursor: pointer;
    //    stroke-width: 7px;
  }

  &.is-highlight,
  &.is-selected {
    fill: var(--pf-global--active-color--200);
    stroke: var(--pf-global--active-color--100);
  }

  &__label {
    & rect {
      fill: var(--pf-global--Color--300);
    }

    & text {
      fill: #fff;
      pointer-events: none;
      font-size: var(--pf-global--FontSize--sm);
    }
  }
}
.odc-m-drag-active .odc-default-group {
  &.is-hover {
    stroke-width: 5px;
  }
  &.is-selected {
    fill: var(--pf-global--BackgroundColor--200);
    stroke: var(--pf-global--Color--light-100);
    &.is-highlight {
      fill: var(--pf-global--active-color--200);
      stroke: var(--pf-global--active-color--100);
    }
  }
}
