.odc-default-group {
  fill: var(--pf-global--BackgroundColor--200);
  &.odc-m-is-highlight {
    fill: var(--pf-global--active-color--200);
  }

  &__label {
    pointer-events: none;

    & rect {
      fill: var(--pf-global--Color--300);
    }

    & text {
      fill: #fff;
      font-size: var(--pf-global--FontSize--sm);
    }
  }
}
