.odc-dragging-create-connector {
  stroke: var(--pf-global--active-color--400);
  stroke-dasharray: 5px, 5px;
  stroke-width: 2px;

  &__hover-box {
    cursor: pointer;
  }

  &__marker {
    fill: var(--pf-global--active-color--400);
  }
}
