.odc-resource-icon {
  font-size: 80%;
  fill: #00b9e4;
  text {
    fill: #fff !important;
  }
}

.odc-resource-icon-deployment,
.odc-resource-icon-daemonset,
.odc-resource-icon-deploymentconfig {
  cursor: auto;
  fill: var(--pf-global--info-color--200);
}
