.odc-git-type-selector {
  --pf-v5-c-tile--TranslateY: 0 !important;
  --pf-v5-c-tile--PaddingBottom: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-tile--PaddingTop: var(--pf-v5-global--spacer--sm);
  --pf-v5-c-tile--PaddingRight: var(--pf-v5-global--spacer--md);
  --pf-v5-c-tile--PaddingLeft: var(--pf-v5-global--spacer--md);
}
