@import '~@patternfly/patternfly/sass-utilities/colors';

.add-capacity-modal__hide {
  display: none;
}

.add-capacity-modal--padding {
  .co-storage-class-dropdown {
    .dropdown {
      width: 21.5rem;
        button {
          width: 100%;
        }
    }
  }
  .form-group input {
    max-width: 17rem;
    margin-right: 5px;
  }
  .toolTip_dropdown {
    button {
      position: absolute;
      left: 6.6rem;
      top: 8.5rem;
    }
  }
  padding-top: 2em;
}

.add-capacity-modal__span {
  margin-left: 3em;
  color: $pf-color-black-500;
}
