@import '~@patternfly/patternfly/sass-utilities/colors';

.add-capacity-modal__hide {
  display: none;
}

.add-capacity-modal__input--width {
  max-width: 250px !important;
}

.add-capacity-modal__input .dropdown {
  margin-left: var(--pf-global--spacer--md);
}

.add-capacity-modal__help-text-error {
  color: $pf-color-red-100;  
}

.add-capacity-modal__help-text {
  margin-top: -15px;
}

.add-capacity-modal--padding {
  .co-storage-class-dropdown {
    .dropdown {
      width: 340px;
        button {
          width: 100%;
        }
    }
  }
  padding-top: 2em;
}

.add-capacity-modal__span {
  margin-left: 3.5rem;
}
