@import '~@patternfly/patternfly/sass-utilities/colors';

.ceph-add-capacity__current-capacity {
  display: flex;
}

.ceph-add-capacity__current-capacity--loading {
  width: 9rem;
  margin-top: 0.2rem;
}

.ceph-add-capacity__current-capacity--text {
  margin-right: 0.5rem;
}

.ceph-add-capacity__form {
  display: flex;
  align-items: center;
}

.ceph-add-capacity__input {
  max-width: 16rem !important;
}

.ceph-add-capacity__input--info-text {
  margin-left: 0.5rem;
}

.ceph-add-capacity__modal {
  padding-top: 2em;
}

.ceph-add-capacity__sc-dropdown {
  width: 16rem;
  &--margin {
    margin-bottom: 1rem;
  }
}

.ceph-add-capacity__sc-dropdown--hide {
  display: none;
}
