@import '~@patternfly/patternfly/sass-utilities/colors';
@import '../../../../../console-shared/src/styles/skeleton-screen.scss';


.kv-inventory-card__body {
  padding: 0;
}

.kv-inventory-card__item-text {
  color: var(--pf-global--Color--200);
  font-size: var(--pf-global--FontSize--sm);
}

.kv-inventory-card__item {
  display: flex;
  justify-content: space-between;
}

.kv-inventory-card__item-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.kv-inventory-card__item >*:nth-child(even) {
  align-items: center;
  padding: 0 var(--pf-global--spacer--lg) 0 var(--pf-global--spacer--md);
}

.kv-inventory-card__item >*:nth-child(odd) {
  align-items: flex-start;
  padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--lg);
}

.kv-inventory-card__item--border-right {
  border-right: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
}

.kv-inventory-card__section-header {
  border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
}

// --- Resources section ---

.kv-inventory-card__resources--container {
  padding: var(--pf-global--spacer--md) 0;
}

// --- VM status item ---

.kv-inventory-card__status-text {
  margin-right: 0.35rem;
}

.kv-inventory-card__status-icon {
  margin-right: 0.35em;
}

// --- Status section ---

.kv-inventory-card__statuses-grid {
  height: 100%;
  padding-top: var(--pf-c-card--first-child--PaddingTop);
  padding-bottom: var(--pf-c-card--child--PaddingBottom);
}

.kv-inventory-card__statuses-grid--left-col {
  border-right: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
}

.kv-inventory-card__statuses-grid--empty-state {
  height: 100%;
}

.skeleton-box {
  width: 100%;
}

div.skeleton-status {
  animation: $skeleton-animation;
  background: $skeleton-color;
  height: 20px;
  width: 200px;
  opacity: 0;
  margin-right: 0.5rem;
  margin-left: 1.8rem;
  margin-bottom: var(--pf-global--spacer--md);
  &::after {
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
  }
}
