.odc-import-strategy-selector {
  &__tile {
    width: 100%;
  }
  &__recommended {
    position: absolute;
    color: var(--pf-v6-global--primary-color--100);
    font-size: var(--pf-t--global--font--size--md);
    top: 3px;
    right: 6px;
  }
}
