.odc-import-strategy-section {
  &__edit-strategy-button {
    width: fit-content;
    padding-right: 0px;
  }
  &__strategy-selector {
    margin-top: -3.2rem;
  }
}

.odc-progressive-list-section {
  margin-bottom: var(--pf-global--spacer--md);
}
