.co-cloudshell-exec {
  &__container-error {
    background-color: var(--pf-t--global--background--color--primary--default);
    height: 100%;
  }

  &__error-msg {
    color: var(--pf-t--global--text--color--status--danger--default) !important;
  }
}
