.nb-object-data-reduction-card__row-status {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  :last-child {
    margin-right: 0;
  }
}
.nb-object-data-reduction-card__row-status-item {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin-right: 0.5em;
}

.nb-object-data-reduction-card__row-status-item-text {
  margin-left: 0.25em;
}

.nb-object-data-reduction-card__row-title {
  margin-right: 0.5em;
}

.nb-object-data-reduction__item-body--loading {
  width: 9rem;
}
