.group__body--query-browser {
  padding-top: 20px;
}

.query-browser__dropdown--subtitle {
  padding: 1px 10px;
}

.query-browser__expand-button {
  padding: 0;
  width: 38px;
}

.query-browser__expand-icon {
  color: $color-pf-black-600;
  font-size: 30px;
  font-weight: 600;
}

.query-browser__controls {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.query-browser__controls--left {
  display: flex;
}

.query-browser__controls--right {
  display: flex;
  margin-left: auto;
}

.query-browser__inline-control {
  margin-left: 10px;
  margin-right: 10px;
}

.query-browser__loading {
  margin: auto 0;
  min-width: 20px;
}

.query-browser__metrics-dropdown-menu {
  max-height: 25vh;
  overflow: scroll;
  width: 100%;

  &--insert {
    @media (min-width: $screen-sm-min) {
      max-width: 55vw;
    }
    max-width: 85vw;
    width: 550px;
  }
}

.query-browser-metric__labels {
  word-break: break-word;
}

.query-browser-metric__wrapper {
  display: flex;
}

.query-browser__query {
  width: 100%;
}

.query-browser__query-input {
  resize: vertical;
}

.query-browser__query-switch {
  margin-right: 15px;
}

.query-browser__series-btn {
  border: none;
  height: 20px;
  margin: 2px 12px 2px 5px;
  min-width: 20px;
  width: 20px;
  &--disabled {
    border: 1px solid #888;
  }
}

.query-browser__span-dropdown-button {
  margin-left: -1px;
  width: 44px;
}

.query-browser__span-dropdown-menu {
  right: 0;
  width: 130px;
}

.query-browser__span-text {
  max-width: 87px;
}

.query-browser__wrapper {
  border: 1px solid $color-grey-background-border;
  margin: 0 0 20px 0;
  overflow: visible;
  padding: 10px;
  width: 100%;
}
