.query-browser__clear-icon {
  color: $color-pf-black-600;
  font-size: 18px;
  padding: 0;
  position: absolute;
  right: 4px;
  top: 2px;
}

.query-browser__dropdown--subtitle {
  padding: 1px 10px;
}

.query-browser__expand-button {
  border: none;
  height: 30px;
  margin-left: 18px;
  padding: 0;
  width: 30px;
}

.query-browser__expand-icon {
  color: $color-pf-black-600;
  font-size: 30px;
  font-weight: 600;
  vertical-align: middle;
}

.query-browser__controls {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.query-browser__controls--left {
  display: flex;
}

.query-browser__controls--right {
  display: flex;
  margin-left: auto;
}

.query-browser__inline-control {
  margin-left: 10px;
  margin-right: 10px;
}

.query-browser__loading {
  margin: auto 0;
  min-width: 20px;
}

.query-browser__metrics-dropdown-menu {
  max-height: 25vh;
  overflow: scroll;
  width: 100%;

  &--insert {
    @media (min-width: $screen-sm-min) {
      max-width: 55vw;
    }
    max-width: 85vw;
    width: 550px;
  }
}

.query-browser__query {
  line-height: 1;
  margin: 0 15px;
  width: 100%;
}

.query-browser__query-controls {
  align-items: center;
  border: solid $color-grey-background-border;
  border-width: 1px 0;
  display: flex;
  padding: 10px 0;
}

.query-browser__query-input {
  resize: vertical;
}

.query-browser__series-btn-wrap {
  border: 1px solid transparent;
  height: 26px;
  padding: 2px;
  width: 26px;
  &:hover {
    background-color: var(--pf-global--active-color--200);
    border-color: var(--pf-global--active-color--100);
  }
}

.query-browser__series-btn {
  border: 1px solid transparent;
  height: 20px;
  width: 20px;
  &--disabled {
    border-color: #888;
  }
}

.query-browser__span-dropdown-button {
  margin-left: -1px;
  width: 44px;
}

.query-browser__span-dropdown-menu {
  right: 0;
  width: 130px;
}

.query-browser__span-text {
  max-width: 87px;
}

.query-browser__table {
  border-left: 3px solid transparent;
  margin-bottom: 25px;

  &--expanded {
    border-left-color: var(--pf-global--active-color--100);
  }

  tr > :first-child {
    width: 40px;
  }
}

.query-browser__table-cell {
  padding-right: 0;
}

.query-browser__wrapper {
  border: 1px solid $color-grey-background-border;
  margin: 0 0 20px 0;
  min-height: 310px;
  overflow: visible;
  padding: 10px;
  width: 100%;
}

.co-alert-manager-yaml__explanation {
  margin-bottom: 0;
}

.co-alert-manager-yaml__form-entry-wrapper {
  position: relative;
}

.co-alert-manager-yaml__form co-file-dropzone__textarea {
  min-height: 400px;
}
