$height: 18px;

.co-m-label {
  display: inline-block;
  border-radius: 10px;
  padding: 0px 8px 0px 0px;
  font-size: 90%;
  height: $height;
  line-height: $height;
  white-space: nowrap;
  margin: 1px;

  &.co-m-label--service {
    background-color: $color-service-medium;
    .co-m-label__circle {
      background-color: $color-service-dark;
    }
    .co-m-label__key,
    .co-m-label__eq {
      color: $color-service-light;
    }
  }

  &.co-m-label--controller {
    background-color: $color-controller-medium;
    .co-m-label__circle {
      background-color: $color-controller-dark;
    }
    .co-m-label__key,
    .co-m-label__eq {
      color: $color-controller-light;
    }
  }

  &.co-m-label--pod {
    background-color: $color-pod-medium;
    .co-m-label__circle {
      background-color: $color-pod-dark;
    }
    .co-m-label__key,
    .co-m-label__eq {
      color: $color-pod-light;
    }
  }

  &.co-m-label--selector {
    background-color: $color-selector-medium;
    padding-left: 8px;
    .co-m-label__circle {
      display: none;
    }
    .co-m-label__key,
    .co-m-label__eq {
      color: $color-selector-light;
    }
  }

}

.co-m-label__link,
.co-m-label__link:active,
.co-m-label__link:hover,
.co-m-label__link:visited {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  height: $height;
  margin-left: 1px;
}

.co-m-label__eq {
  display: inline-block;
  overflow: hidden;
}

.co-m-label__key,
.co-m-label__value {
  display: inline-block;
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.co-m-label__value {
  font-weight: 300;
  color: #fff;
}

.co-m-label__circle {
  display: inline-block;
  position: relative;
  left: -1px;
  text-align: center;
  border-radius: 10px;
  height: $height;
  width: $height;
  font-size: 90%;
  // needed to remove from block-flow-context like other elems.
  overflow: hidden;
}
