.odc-pipeline-task-logs{
  &__container {
  margin-top: var(--pf-global--spacer--lg);
  background-color: #030303;
  overflow-y: scroll;
  }
  &__taskName {
    background-color: rgb(41, 46, 52);
    padding: 8px 10px 5px;
    color: var(--pf-global--BackgroundColor--100);
    position: sticky;
    z-index: 99;
    top: 0px;
  }
  &__taskName--loading {
    margin-left: var(--pf-global--spacer--sm);
  }
  &__stepname {
    background-color: #030303;
    color: var(--pf-global--BackgroundColor--100);
    font-weight: var(--pf-global--FontWeight--bold);
    text-transform: uppercase;
    margin: 0px;
    padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--md) var(--pf-global--spacer--sm)
      var(--pf-global--spacer--md);
  }
  &__step .log-window__contents {
    height: auto !important;
  }
  &__step .log-window__header {
    display: none;
  }
  &__step .co-toolbar {
    display: none;
  }
  &__step .log-window__body {
    padding: 0px var(--pf-global--spacer--lg) 0px var(--pf-global--spacer--lg);
    padding-bottom: 10px;
    line-height: 1.2em;
  }
}
