@import '~@patternfly/patternfly/sass-utilities/colors';

.ceph-data-resiliency__dashboard-body {
  display: flex;
  flex-direction: column;
  height: 18.6em;
  margin-top: 1.5em;
  text-align: center;
}

.ceph-data-resiliency__icon-error {
  color: $pf-color-black-600;
  font-size: 5rem;
  margin-top: 1.6rem;
}

.ceph-data-resiliency__icon-ok {
  font-size: 60px;
}

.ceph-data-resiliency__progress-bar {
  text-align: left;
  grid-gap: 0rem;
}

.ceph-data-resiliency__status-title-ok {
  margin-bottom: 3.5em;
}

.ceph-data-resiliency__title {
  margin-bottom: 7em;
  text-align: center;
}

.ceph-data-resiliency__dashboard-card {
  height: 100%;
}
