.odc-multiple-key-selector {
  padding-top: var(--pf-v5-global--spacer--md);

  &__item {
    position: relative;
    padding-top: var(--pf-v5-global--spacer--xs);
  }

  &__deleteButton {
    cursor: pointer;
    position: absolute;
    right: -22px;
    top: 10px;
  }
}
