.odc-helm-release__empty-list {
  &__title {
    font-size: var(--pf-v5-global--FontSize--lg);
  }
  &__image {
    height: var(--pf-v5-c-empty-state__icon--FontSize);
    max-width: 100%;
  }
}

:root:where(.pf-v5-theme-dark) .odc-helm-release__empty-list {
  &__image {
    filter: brightness(1.5) invert(1) hue-rotate(180deg) saturate(4);
  }
}
