<div ng-show="showSideMenu" id="co-side-menu">
  <div class="dismiss">
    <a class="pull-right">x</a>
  </div>

  <div class="co-sidemenu-list">
    <h4 class="sidemenu-list-title">Namespaces</h4>
    <ul ng-if="namespaceListError" class="sidemenu-list namespace-list">
      <li class="namespace-name namespace-fail sidemenu-link">
        <i class="sidemenu-namespace-name fa fa-ban" />
        <span class="sidemenu-namespace-text" ng-click="setActiveNamespace()">Failed to load namespaces</span>
      </li>
    </ul>

    <ul ng-if="!namespaceListError" class="sidemenu-list namespace-list">
      <li class="namespace-name sidemenu-link" ng-class="activeNamespaceClass(n.metadata.name)" ng-click="setActiveNamespace()">
        <i class="sidemenu-namespace-name" class="co-m-label__icon" />
        <span class="sidemenu-namespace-text" ng-click="clearNamespace(false)">all</span>
      </li>
      <li class="namespace-name sidemenu-link" ng-class="activeNamespaceClass(n.metadata.name)" ng-click="setActiveNamespace(n.metadata.name)" ng-repeat="n in namespaces">
        <i class="sidemenu-namespace-name" class="co-m-label__icon" />
        <span class="sidemenu-namespace-text" ng-bind="n.metadata.name" />
      </li>
    </ul>
  </div>

  <ul class="sidemenu-list">
    <li ><a href="/namespaces"
            class="sidemenu-link"
            >Manage Namespaces...</a></li>
    <li ng-if="usersAreManageable"
        ><a href="/settings/users"
            class="sidemenu-link"
            >Manage Users...</a></li>
    <li ng-if="userManagementError"
        ><a class="sidemenu-link disabled"
            title="{{userManagementErrorMessage}}">Manage Users...</a></li>
    <!--[><li><a href="/settings/registries" class="sidemenu-link">Configure Registries</a></li><]-->
    <li><a href="mailto:support@tectonic.com" class="sidemenu-link">Contact Support</a></li>
    <li><a class="sidemenu-link"
           ng-class="{'disabled': isAuthDisabled}"
           ng-click="logout($event)">Log out</a></li>
  </ul>
</div>
