@import '_vars';
@import '_config';

#co-side-menu {
  @include co-x-media-max($screen-sm) {
    min-width: 100%!important;
    height: 307px;

    .dismiss {
      display: block!important;
      padding-right: 20px;
      // Must be specific to override.
      a {
        color: #999;
      }
    }
  }

  background: $color-grey-dark;
  z-index: $z-plane-4;
  position: absolute;
  top: 46px;
  bottom: 0;
  right: 0px;
  width: 20%;
  padding-top: 10px;
  min-width: 200px;
  max-width: 300px;

  .dismiss {
    display: none;
  }

  .fa-exclamation-triangle {
    color: $color-red-failure;
  }

  .sidemenu-link {
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 20px;
    display: block;

    &:not(.disabled) {
      cursor: pointer;
    }

    &:hover {
      text-decoration: none;
      background-color: $color-grey-highlight;
    }

    &.disabled {
      cursor: auto;
      opacity: 0.5;
    }
  }

  .sidemenu-list-title {
    font-size: $font-size-small;
    padding: 0 20px;
    color: #999;
  }

  .sidemenu-list {
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    list-style-type: none;
    color: white;
  }

  .sidemenu__create-namespace-button {
    float: right;
    display: block;
    cursor: pointer;
  }

  .sidemenu__create-namespace-button {
    float: right;
    display: block;
    cursor: pointer;
  }

  .sidemenu__view-namespace-button {
    float: right;
    display: block;
    cursor: pointer;
    color: $color-grey-text;
  }

  .namespace-list {
    border-bottom: 1px solid #666;
  }

  .co-namespace-icon__unselected {
    color: #ddd;
    .sidemenu-namespace-text {
      color: white;
    }
  }

  .co-namespace-icon__unselected:before, .co-namespace-icon__selected:before {
    margin-right: 5px;
  }

  .sidemenu-namespace-text {
    font-family: $font-family-primary;
  }

  .namespace-fail {
    color: $color-red-error;
  }

  .namespace-name {
    font-size: 15px;
  }

  .co-namespace-icon__selected {
    color: $color-highlight-blue;
  }
}
