.opp-quick-search-details {
  padding-top: var(--pf-v5-global--spacer--md);

  &__form-button,
  &__version-dropdown {
    margin: var(--pf-v5-global--spacer--md) 0px !important;
    width: max-content;
  }

  &__version-dropdown-item {
    min-width: 7em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__provider {
    color: var(--pf-v5-global--Color--200);
  }

  &__description {
    font-size: 15px !important;
  }

  &__hublink {
    margin-left: var(--pf-v5-global--spacer--sm);
  }

  &__badges-section {
    margin: var(--pf-v5-global--spacer--md) 0;
    --pf-v5-l-stack--m-gutter--MarginBottom: var(--pf-v5-global--spacer--sm) !important;
  }
}
