.opp-quick-search-details {
  padding-top: var(--pf-global--spacer--md);

  &__form-button {
    margin: var(--pf-global--spacer--md) 0px !important;
    width: max-content;
  }

  &__provider {
    color: var(--pf-global--Color--200);
  }

  &__description {
    font-size: 15px !important;
  }

  &__badges-section {
    margin: var(--pf-global--spacer--md) 0;
    --pf-l-stack--m-gutter--MarginBottom: var(--pf-global--spacer--sm) !important;
  }
}
