.kv-labels-list__grid {
  grid-gap: var(--pf-global--spacer--md);
}

.kv-labels-list__buttons {
  align-items: center;
  margin-top: var(--pf-global--spacer--md);

  .kv-labels-list__link {
    display: flex;
    align-items: center;
  }
}
