.modal-body-border {
  border-top: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--300);
}

.modal-body-content {
  padding: var(--pf-v5-c-modal-box__header--body--PaddingTop) 0 0;
  p {
    font-size: $font-size-base;
    margin-bottom: var(--pf-v5-c-content--MarginBottom);
  }
}

#modal-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  .pf-v5-c-modal-box__body {
    margin-right: 0 !important;
    // so select/dropdown menus are not clipped when they extend beyond the bottom of the modal
    overflow: visible;
  }
}

.modal-footer {
  padding: var(--pf-v5-c-modal-box__footer--PaddingTop) 0 0;
  .pf-v5-c-button {
    font-size: $font-size-base !important;
  }
}

.modal-header {
  // make space for the close button
  padding-right: var(--pf-v5-c-modal-box__header--PaddingRight);
}

.modal__inline-resource-link {
  margin: 0;
}

.modal-paragraph {
  margin-bottom: var(--pf-v5-c-content--MarginBottom);
}

.toleration-modal__field,
.taint-modal__field {
  padding-right: 0;
}

.toleration-modal__field,
.taint-modal__input {
  margin-bottom: 5px;
  @media (max-width: $screen-sm-max) {
    margin-bottom: 10px;
  }
}

.toleration-modal__heading,
.taint-modal__heading {
  margin-bottom: 5px;
}

.toleration-modal__row,
.taint-modal__row {
  margin-bottom: 15px;
  @media (max-width: $screen-sm-max) {
    margin-bottom: 24px;
  }
}
