// Bootstrap Core variables and mixins
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// Patternfly Core variables and mixins
@import '~patternfly/dist/sass/patternfly/variables';
@import '~patternfly/dist/sass/patternfly/bootstrap-mixin-overrides';
@import '~patternfly/dist/sass/patternfly/mixins';
@import '~patternfly/dist/sass/patternfly/icons';
@import '~patternfly-react/dist/sass/patternfly-react';

// OpenShift variables
@import '../../../public/style/vars';

$co-affinity-row-margin: 15px;

.co-catalog-tile {
  height: $co-m-catalog-tile-height;
  width: $co-m-catalog-tile-width;
}

.co-clusterserviceversion-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -7.5px 0;
}

.co-clusterserviceversion-details__field {
  padding-bottom: 10px;
}

.co-clusterserviceversion-table-header__icon {
  margin-left: var(--pf-global--spacer--xs);
}

.co-clusterserviceversion-link {
  .co-clusterserviceversion-logo {
    flex-direction: column;
    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max),
      (min-width: $screen-md-min) {
      flex-direction: row;
    }
  }
}

.co-clusterserviceversion-link {
  &:focus,
  &:hover {
    text-decoration: none;

    .co-clusterserviceversion-logo__name__clusterserviceversion {
      text-decoration: underline;
    }
  }
}

.co-clusterserviceversion-logo {
  display: flex;
}

.co-clusterserviceversion-logo__icon {
  align-items: center;
  background: #fff;
  display: flex;
  flex: 0 0 auto;
  height: 40px;
  justify-content: center;
  margin: 0 15px 5px 0;
  width: 40px;
}

.co-clusterserviceversion-logo__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.co-clusterserviceversion-logo__name__clusterserviceversion {
  font-size: 15px;
  font-weight: var(--pf-global--FontWeight--normal);
  margin-bottom: 5px;
  margin-top: 0;
}
.co-m-pane__heading--logo .co-clusterserviceversion-logo__name__provider {
  font-size: var(--pf-global--FontSize--sm);
}

.co-clusterserviceversion-empty__state__namespace {
  font-style: italic;
  font-weight: var(--pf-global--FontWeight--bold);
}

.co-crd-card-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;

  .pf-c-card {
    margin-bottom: 20px;
    margin-right: 20px;
    width: 300px;
  }
}

.co-operand-details__compact-expand {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.co-operand-details__section--info dd {
  margin-bottom: 20px !important;
}

.co-catalog-install-modal .modal-header .co-clusterserviceversion-logo__icon {
  border: 1px solid #ddd;
}

.co-catalog-details {
  display: flex;
  flex-direction: column;
}

.co-catalogsource-list__section {
  margin-bottom: 40px;
}

.co-catalogsource-list__section__packages {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.co-clusterserviceversion-row__status {
  display: flex;
  flex-direction: column;
}

.co-spec-descriptor--resource-requirements {
  border: 1px solid #eee;
  padding: 20px 0 20px 20px;
  margin-top: 5px;
}

.co-spec-descriptor--switch {
  align-items: center;
  display: flex;
  height: 25px;
}

.co-create-operand__header {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  @media (min-width: $screen-sm-min) {
    padding: 0 30px 15px;
  }
}

.co-create-operand__header-buttons {
  align-items: baseline;
  display: flex;
}

.co-create-operand__header-text {
  margin: 0;
}

.co-affinity-term {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 10px 0 5px 15px;
}

.co-affinity-term__remove {
  margin-left: auto !important;
}

.co-affinity-term__topology {
  display: flex;
}

.co-affinity-term__topology-input,
.co-affinity-term__weight-input {
  margin-bottom: $co-affinity-row-margin;
}

.co-affinity-term__topology-input {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  width: 100%;
}

.co-affinity-term__weight-input {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  width: 100px;
}

.co-operand-field-group {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-left: 15px;
  padding: 10px 15px 5px;
}

.co-operand-field-group-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.catalog-source__table-row--disabled {
  background-color: var(--pf-global--palette--black-200);
  color: var(--pf-global--Color--400);
}

.key-operator-value__action {
  padding: 0;
  width: 28px;
}
@media (max-width: $screen-sm-max) {
  .key-operator-value__action--stacked,
  .key-operator-value__value-field--stacked {
    padding-top: 10px;
  }
}

.key-operator-value__delete-button {
  padding-left: 0 !important;
}

.key-operator-value__heading-button {
  height: 23px; // for vertical alignment with input field; equals $pf-global--LineHeight--md
}

.key-operator-value__name-field,
.key-operator-value__operator-field,
.key-operator-value__value-field {
  padding-right: 0 !important;
}

.key-operator-value__row {
  padding-bottom: 15px;
}

.olm-descriptors__invalid-pod-descriptor {
  display: inline-block;
  margin-bottom: 20px !important;
}
