.odc-pipeline-topology-graph {
  font-size: var(--pf-t--global--font--size--xs);
  max-width: 100%;
  overflow: hidden;

  &.builder {
    display: block;
    border-radius: 20px;
    background-color: var(--pf-t--global--background--color--secondary--default);
  }

  .pf-topology-content {
    border-radius: 20px;
  }
}
