[
    {
        "scope": "https://gitea.com:443",
        "method": "GET",
        "path": "/api/v1/repos/redhat-openshift/devconsole-git",
        "body": "",
        "status": 200,
        "response": {
            "id": 58394,
            "owner": {
                "id": 69146,
                "login": "redhat-openshift",
                "login_name": "",
                "source_id": 0,
                "full_name": "",
                "email": "",
                "avatar_url": "https://gitea.com/avatars/8779b48c638e2ad65f8b3e379cd682fe",
                "html_url": "https://gitea.com/redhat-openshift",
                "language": "",
                "is_admin": false,
                "last_login": "0001-01-01T00:00:00Z",
                "created": "2024-05-31T19:20:45Z",
                "restricted": false,
                "active": false,
                "prohibit_login": false,
                "location": "",
                "website": "",
                "description": "",
                "visibility": "public",
                "followers_count": 0,
                "following_count": 0,
                "starred_repos_count": 0,
                "username": "redhat-openshift"
            },
            "name": "devconsole-git",
            "full_name": "redhat-openshift/devconsole-git",
            "description": "",
            "empty": false,
            "private": false,
            "fork": false,
            "template": false,
            "parent": null,
            "mirror": false,
            "size": 20384,
            "language": "Go",
            "languages_url": "https://gitea.com/api/v1/repos/redhat-openshift/devconsole-git/languages",
            "html_url": "https://gitea.com/redhat-openshift/devconsole-git",
            "url": "https://gitea.com/api/v1/repos/redhat-openshift/devconsole-git",
            "link": "",
            "ssh_url": "git@gitea.com:redhat-openshift/devconsole-git.git",
            "clone_url": "https://gitea.com/redhat-openshift/devconsole-git.git",
            "original_url": "https://github.com/redhat-developer/devconsole-git",
            "website": "",
            "stars_count": 0,
            "forks_count": 0,
            "watchers_count": 1,
            "open_issues_count": 0,
            "open_pr_counter": 0,
            "release_counter": 0,
            "default_branch": "master",
            "archived": false,
            "created_at": "2024-05-31T19:23:23Z",
            "updated_at": "2024-05-31T19:23:28Z",
            "archived_at": "1970-01-01T00:00:00Z",
            "permissions": {
                "admin": false,
                "push": false,
                "pull": true
            },
            "has_issues": true,
            "internal_tracker": {
                "enable_time_tracker": true,
                "allow_only_contributors_to_track_time": true,
                "enable_issue_dependencies": true
            },
            "has_wiki": true,
            "has_pull_requests": true,
            "has_projects": true,
            "projects_mode": "all",
            "has_releases": true,
            "has_packages": false,
            "has_actions": true,
            "ignore_whitespace_conflicts": false,
            "allow_merge_commits": true,
            "allow_rebase": true,
            "allow_rebase_explicit": true,
            "allow_squash_merge": true,
            "allow_fast_forward_only_merge": true,
            "allow_rebase_update": true,
            "default_delete_branch_after_merge": false,
            "default_merge_style": "merge",
            "default_allow_maintainer_edit": false,
            "avatar_url": "https://gitea.com/",
            "internal": false,
            "mirror_interval": "",
            "object_format_name": "sha1",
            "mirror_updated": "0001-01-01T00:00:00Z",
            "repo_transfer": null,
            "topics": null
        },
        "rawHeaders": [
            "Content-Type",
            "application/json;charset=utf-8"
        ]
    }
]