.odc-base-edge.odc-event-source-link {
  --edge--stroke: #bbbbbb;
  --edge--stroke-width: 0;
  --edge--fill: #bbbbbb;
  --edge__link--stroke: #bbbbbb;
  &.odc-m-editable {
    --edge__arrow--cursor: pointer;
  }
}

