@import '../../../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables.scss';

.odc-topology-list-view__alert-cell {
  min-width: 0; // To enable text-overflow: ellipsis within a css-grid area
  @media (max-width: $screen-sm-max) {
    grid-row: 2;
  }
  @media (min-width: $screen-md-min) {
    grid-area: alert;
  }

  &--status .co-icon-and-text {
    display: inline-flex;
    margin-right: 12px;

    .odc-topology-list-view__alert-cell__builds & {
      margin-right: 4px;
    }
  }
}
