.pod-ring__center-text {
  tspan {
    font-size: 14px !important;
    fill: var(--pf-t--global--text--color--subtle) !important;
  }
  &:not(.pod-ring__long-text) {
    tspan:first-of-type {
      font-size: var(--pf-v6-chart-global--FontSize--2xl) !important;
      fill: var(--pf-t--global--icon--color--regular) !important;
    }
  }
}

.pod-ring__center-text--reversed {
  tspan {
    font-size: 14px !important;
    fill: var(--pf-t--global--text--color--subtle) !important;
  }
  tspan:first-of-type {
    fill: var(--pf-t--global--icon--color--regular) !important;
  }
}
