@import '~@patternfly/patternfly/sass-utilities/all';

.nb-data-consumption-card__dropdown {
  display: flex;
}

.nb-data-consumption-card__dropdown-item {
  margin-right: 0.4em;
  @media screen and (min-width: $pf-global--breakpoint--lg) {
    max-width: 12em;
    min-width: 12em;
  }
  &--hide-list-style {
    li {
      list-style: none;
    }
  }
}

.nb-data-consumption-card__options-menu > button {
  width: 100%;
}

.nb-data-consumption-card__chart-label {
  margin-top: var(--pf-global--spacer--md);
}

.nb-data-consumption-card__chart-skeleton {
  margin-top: var(--pf-global--spacer--md);
  margin-bottom: var(--pf-global--spacer--md);
  width: 50%;
}

.nb-data-consumption-card__chart-legend-skeleton {
  margin-top: var(--pf-global--spacer--md);
  width: 80%;
}

.nb-perf__graph {
  &--short {
    margin-left: var(--pf-global--spacer--xs);
  }
  &--long {
    margin-left: var(--pf-global--spacer--xl);
  }
}
