@import '~@patternfly/patternfly/sass-utilities/all';

.nb-data-consumption-card__dropdown {
  display: flex;
}

.nb-data-consumption-card__dropdown-item {
  max-width: 12em;
  @media screen and (min-width: $pf-global--breakpoint--lg) {
    min-width: 12em;
  }
  &--hide-list-style {
    li {
      list-style: none;
    }
  }
  &--margin {
    margin-right: var(--pf-global--spacer--xs);
  }
  /* Override Options Menu item style to make it similar to Select Menu */
  .pf-c-options-menu__menu-item {
    padding-left: 0;
  }
}

.nb-data-consumption-card__options-menu > button {
  width: 100%;
}

.nb-data-consumption-card__chart-label {
  margin-top: var(--pf-global--spacer--md);
}

.nb-data-consumption-card__chart-skeleton {
  margin-top: var(--pf-global--spacer--md);
  margin-bottom: var(--pf-global--spacer--md);
  width: 50%;
}

.nb-data-consumption-card__chart-legend-skeleton {
  margin-top: var(--pf-global--spacer--md);
  width: 80%;
}

.nb-perf__graph {
  &--short {
    margin-left: var(--pf-global--spacer--xs);
  }
  &--long {
    margin-left: var(--pf-global--spacer--xl);
  }
}
