.kubevirt-create-vm-modal__footer-error {
  width: 100%;
  margin-bottom: var(--pf-global--spacer--md);
}

footer.kv-create-vm-modal__footer {
  z-index: var(--pf-c-wizard__footer--ZIndex) - 1; // Fixing Regression for Bug https://bugzilla.redhat.com/show_bug.cgi?id=1930015
}
