.upload-component {
  cursor: grab;
  display: inline-flex;
}

.input-btn {
  cursor: grab;
  display: inline-flex;
}

.custom-input-btn {
  flex-grow: 10;
}

.upload-btn__input {
  border: none;
  cursor: grab;
  max-width: 5.5em;
  min-height: 2.5em;
  opacity: 0;
  position: absolute;
}

.upload-component__textInput {
  color: var(--pf-global--Color--dark-200);
}

#inputButton::-webkit-file-upload-button {
  cursor: grab;
}
