.tec-right-nav-action {
  text-align: right;
  line-height: 20px;
  padding: 30px 0;
}

.tec-right-nav-action__mark {
  font-size: 19px;
  font-weight: bold;
  vertical-align: middle;
  padding-right: 7px;
}

.co-m-nav-title, .co-m-nav-title__detail {
  margin: 0px;
}

.co-m-nav-title__detail {
  border-bottom: 1px solid $color-grey-background-border;
  background-color: $color-grey-background;
}

.co-m-page-title {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.co-m-page-title--detail {
  padding-bottom: 30px;
}
