.tec-right-nav-action {
    text-align: right;
}

.tec-right-nav-action__mark {
    font-size: 19px;
    font-weight: bold;
    vertical-align: middle;
    padding-right: 7px;
}

.co-m-nav-title__back {
    padding: 0px;
}
