.modal-content {

  // close icon
  .fa-times-circle:hover {
    cursor: pointer;
    color: $black;
  }

  .modal__input--with-label {
    display: inline-block;
    margin-left: 10px;
  }

  .modal__input--with-units {
    display: inline-block;
    margin-right: 10px;
  }
}

.co-modal-table {
  height: 185px;
}
