<div class="co-p-configure-tectonic-license">
  <form ng-controller="ConfigureYamlFieldFormCtrl" ng-submit="submit()" name="form" role="form">
    <div class="modal-header">
      <h4 class="modal-title" ng-bind="modalTitle"></h4>
    </div>

    <div class="modal-body">
      <p ng-bind="modalText"></p>

      <p ng-if="resourceLoading">
        <co-inline-loader></co-inline-loader>
      </p>

      <textarea ng-if="inputType == 'textarea' || inputType != 'input'" ng-model="fields.value" class="form-control" rows="18" ng-disabled="resourceLoading" />
      <input ng-if="inputType == 'input'" ng-model="fields.value" class="form-control" ng-disabled="resourceLoading" />
    </div>

    <div class="modal-footer" co-btn-bar complete-promise="requestPromise">
      <co-error-message formatter="k8sApi" promise="requestPromise"></co-error-message>
      <button type="submit" class="btn btn-primary" ng-disabled="resourceLoading">Save Setting</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>
  </form>
</div>
