<div class="co-p-configure-volumes">
  <form ng-controller="ConfigureVolumesFormCtrl" ng-submit="submit()" name="form" role="form">

    <div class="modal-header">
      <h4 class="modal-title">Configure Pod Volumes</h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <p>Named volumes in a pod that may be accessed by any containers in the pod.</p>
        </div>
      </div>

      <div class="row co-m-form-row">
        <div class="col-sm-12">

          <div class="co-modal-table row co-m-table-grid co-m-table-grid--bordered co-m-table-grid--compact co-m-table-grid--scroll">
            <div class="row co-m-table-grid__head">
              <div class="col-sm-4">Name</div>
              <div class="col-sm-3">Type</div>
              <div class="col-sm-4">Host Dir</div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row co-m-table-grid__body">
              <div class="row co-m-table-grid-row--compact" ng-repeat="v in rowMgr.items">
                <div class="col-sm-4">
                  <input ng-model="v.name" ng-focus="rowMgr.growIfLast($index)" class="form-control co-m-form-field-sm" type="text" ng-attr-autofocus="{{$first}}"/>
                </div>
                <div class="col-sm-3">
                  <select ng-model="v.type" ng-change="onTypeChange(v)" ng-focus="rowMgr.growIfLast($index)" class="form-control">
                    <option value="host">Host Directory</option>
                    <option value="container">Container Volume</option>
                  </select>
                </div>
                <div class="col-sm-4">
                  <input ng-model="v.hostPath.path" ng-disabled="v.type == 'container'" ng-focus="rowMgr.growIfLast($index)"
                      class="form-control co-m-form-field-sm" type="text"/>
                </div>
                <div class="col-sm-1">
                  <i ng-click="rowMgr.clearItem(v)" class="fa fa-times-circle co-img-icon-gray co-m-form-row-icon"></i>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save Volume Configuration</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
