<div class="co-p-configure-selector">
  <form ng-controller="ConfigureSelectorFormCtrl" ng-submit="submit()" name="form" role="form">

    <div class="modal-header">
      <h4 class="modal-title" ng-bind-template="Modify Label Selector"></h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12" ng-bind="message"></div>
      </div>
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <label class="control-label">Label Selector for</label>
          <co-resource-icon kind="{{resourceKind.id}}"></co-resource-icon>
          {{resource.metadata.name}}
          <co-label-input ng-model="fields.selector" kind="{{selectorKind.id}}" autofocus></co-label-input>
        </div>
      </div>
    </div>

    <div class="modal-footer" co-btn-bar complete-promise="requestPromise">
      <co-error-message formatter="k8sApi" promise="requestPromise"></co-error-message>
      <button type="submit" class="btn btn-primary">Save Label Selector</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
