<div class="co-p-configure-lifecycle">
  <form ng-controller="ConfigureLifecycleFormCtrl" ng-submit="submit()" name="form" role="form">

    <div class="modal-header">
      <h4 class="modal-title">Configure Lifecycle Hooks</h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <p>Lifecycle hooks are events broadcast into the container
           before, during, or after specific events take place. These
           hook handler calls may block or delay other pod management
           functions, so make your hook handlers as lightweight as
           possible.</p>
        </div>
      </div>

      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <label for="configure-lifecycle--poststart">PostStart Hook</label>
          <p>This hook is sent immediately after a container is created.  It notifies the container that it has been created.</p>
          <div class="input-group co-btn-drop-input">
            <div uib-dropdown class="input-group-btn">
              <button uib-dropdown-toggle type="button" class="btn btn-default"><span ng-bind="getActionLabelById(fields.postStart.type)"></span> <span class="caret"></span></button>
              <ul uib-dropdown-menu>
                <li ng-repeat="t in hookTypes"><a href="#" ng-click="fields.postStart.type = t.id; fields.postStart.cmd = ''" ng-bind="t.label"></a></li>
              </ul>
            </div><!-- /btn-group -->
            <input id="configure-lifecycle--poststart" autofocus ng-model="fields.postStart.cmd" type="text" class="form-control" placeholder="{{getPlaceholder(fields.postStart.type, 'start')}}" />
          </div><!-- /input-group -->
          <small class="text-muted">No parameters are passed by this hook.</small>
        </div>
      </div>

      <div class="row co-m-form-row">
        <div class="col-sm-12">

          <label for="configure-lifecycle--prestop">PreStop Hook</label>
          <p>This hook is called immediately before a container is terminated.
          Since it blocks, this is useful for saving ephemeral data or safely shutting down the application.</p>
          <div class="input-group co-btn-drop-input">
            <div uib-dropdown class="input-group-btn">
              <button uib-dropdown-toggle type="button" class="btn btn-default"><span ng-bind="getActionLabelById(fields.preStop.type)"></span> <span class="caret"></span></button>
              <ul uib-dropdown-menu>
                <li ng-repeat="t in hookTypes"><a href="#" ng-click="fields.preStop.type = t.id; fields.preStop.cmd = ''" ng-bind="t.label"></a></li>
              </ul>
            </div><!-- /btn-group -->
            <input id="configure-lifecycle--prestop" ng-model="fields.preStop.cmd" type="text" class="form-control" placeholder="{{getPlaceholder(fields.preStop.type, 'stop')}}" />
          </div><!-- /input-group -->
          <small class="text-muted">A single parameter, <code>reason</code> is passed to the handler which contains the reason for termination.</small>
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save Lifecycle Hooks</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
