<div class="co-p-configure-liveness">
  <form ng-controller="ConfigureLivenessFormCtrl" ng-submit="submit()" name="form" role="form">

    <div class="modal-header">
      <h4 class="modal-title">Configure Liveness Probe</h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <p>After a pod is created, the system will check its health to ensure it started properly. Define how to properly assess
            your container’s health:</p>
        </div>
      </div>

      <div class="row co-m-form-row">
        <div class="col-sm-12">

          <div class="row co-m-form-row">
            <div class="col-sm-12">
              <label for="configure-liveness--probe">Liveness Probe</label>
              <p>Containers without a probe will be considered healthy if successfully started.</p>
              <div class="input-group co-btn-drop-input">
                <div class="input-group-btn dropdown">
                  <button type="button" class="btn btn-default dropdown-toggle"><span ng-bind="getActionLabelById(fields.type)"></span> <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li ng-repeat="t in actionTypes"><a href="#" ng-click="fields.type = t.id; fields.cmd = ''" ng-bind="t.label"></a></li>
                  </ul>
                </div><!-- /btn-group -->
                <input id="configure-liveness--probe" autofocus ng-model="fields.cmd" type="text" class="form-control" placeholder="{{getPlaceholder(fields.type)}}" />
              </div><!-- /input-group -->
              <small class="text-muted">No parameters are passed by this hook.</small>
            </div>
          </div>

          <div class="row co-m-form-row">
            <div class="col-sm-12">
              <label for="configure-liveness--initialDelay">Initial Delay Seconds</label>
              <p>How long to wait before initial liveness probe.</p>
              <input ng-model="fields.initialDelaySeconds" min="0" class="form-control" type="number"/>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save Liveness Probe</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
