<div class="co-p-configure-restart-policy">
  <form ng-controller="ConfigureRestartPolicyFormCtrl" ng-submit="submit()" name="form">

    <div class="modal-header">
      <h4 class="modal-title">Configure Restart Policy</h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <p>What should happen when this container exits or stops unexpectedly?</p>
        </div>
      </div>

      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <div ng-repeat="(k,p) in policies | orderObjectBy:'weight'" ng-click="fields.policy = p.id" class="co-m-form-row co-click-target">
            <input ng-model="fields.policy" value="{{p.id}}" type="radio" id="configure-restart-policy--{{p.id}}"/>
            <label for="configure-restart-policy--{{p.id}}">
              <span ng-bind="p.label"></span><span ng-show="{{p.default}}" class="co-no-bold"> (default)</span>
            </label>
            <p class="co-m-radio-desc" ng-bind="p.description"></p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save Restart Policy</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
