<div class="co-p-configure-env">
  <form ng-controller="ConfigureEnvFormCtrl" ng-submit="submit()" name="form" role="form">

    <div class="modal-header">
      <h4 class="modal-title">Configure Container Environment</h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <p>Expose these environment variables within the container.</p>
        </div>
      </div>
      <div class="row co-m-form-row">
        <div class="col-sm-12">

          <div class="co-modal-table co-m-table-grid co-m-table-grid--bordered co-m-table-grid--compact co-m-table-grid--scroll">
            <div class="row co-m-table-grid__head">
              <div class="col-sm-5">Variable Name</div>
              <div class="col-sm-1"></div>
              <div class="col-sm-5">Value</div>
              <div class="col-sm-1"></div>
            </div>
            <div class="co-m-table-grid__body">
              <div class="row" ng-repeat="e in rowMgr.items">
                <div class="col-sm-5">
                  <input ng-focus="rowMgr.growIfLast($index)" ng-model="e.name" class="form-control" type="text"/>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                  <input ng-focus="rowMgr.growIfLast($index)" ng-model="e.value" class="form-control" type="text"/>
                </div>
                <div class="col-sm-1">
                  <i ng-click="rowMgr.clearItem(e)" class="fa fa-times-circle co-img-icon-gray co-m-form-row-icon"></i>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save Environment Configuration</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
