<div class="co-p-configure-revision-history-limit">
  <form ng-controller="ConfigureRevisionHistoryLimitFormCtrl" ng-submit="submit()" name="form" role="form">

    <div class="modal-header">
      <h4 class="modal-title">Revision History Limit</h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <p>History of your configuration changes is kept through a series of ReplicaSets. How many ReplicaSets do you want to retain?</p>
        </div>
      </div>

      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <input ng-model="fields.type" value="unlimited" type="radio" id="configure-revision-history-limit--unlimited" autofocus />
          <label for="configure-revision-history-limit--unlimited">Unlimited <span class="co-no-bold">(default)</span></label>
          <p class="co-m-radio-desc text-muted">Keep all ReplicaSets in order to facilitate rolling back to previous versions</p>
        </div>

        <div class="col-sm-12">
          <input ng-model="fields.type" value="custom" type="radio" id="configure-revision-history-limit--custom"/>
          <label for="configure-revision-history-limit--custom">Limit History</label>
          <div class="co-m-radio-desc">
            <p class="text-muted">Retain recent revisions but garbage-collect older ones automatically</p>
            <div class="form-inline">
              <p class="form-control-static">Keep</p>
              &nbsp;<input ng-required="fields.type === 'custom'" ng-disabled="fields.type !== 'custom'" ng-model="fields.customLimit" size="5" type="number" class="form-control" id="input-max-unavailable">&nbsp;
              <p class="form-control-static">revisions of this deployment</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save Limit</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
