<div class="co-p-configure-ports">
  <form ng-controller="ConfigurePortsFormCtrl" ng-submit="submit()" name="form" role="form">

    <div class="modal-header">
      <h4 class="modal-title">Configure Container Ports</h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <p>Network traffic will be allowed into the container over the following ports:</p>
        </div>
      </div>
      <div class="row co-m-form-row">
        <div class="col-sm-8">

          <div class="co-modal-table co-m-table-grid--bordered co-m-table-grid--compact co-m-table-grid--scroll">
            <div class="row co-m-table-grid__head">
              <div class="col-sm-6">Name</div>
              <div class="col-sm-5">Container Port</div>
              <div class="col-sm-1"></div>
            </div>
            <div class="row" ng-repeat="p in rowMgr.items">
              <div class="col-sm-6">
                <input ng-model="p.name" ng-focus="rowMgr.growIfLast($index)" class="form-control" type="text"/>
              </div>
              <div class="col-sm-5">
                <input ng-model="p.containerPort" ng-focus="rowMgr.growIfLast($index)" min="0" max="65535" class="form-control" type="number"/>
              </div>
              <div class="col-sm-1">
                <i ng-click="rowMgr.clearItem(p)" class="fa fa-times-circle co-img-icon-gray co-m-form-row-icon"></i>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save Port Configuration</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
