<div class="co-p-configure-job-parallelism">
  <form ng-submit="submit()" name="form" role="form">

    <div class="modal-header">
      <h4 class="modal-title">Modify Desired Parallelism</h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <p ng-bind-template="{{ resourceKind.labelPlural }} create one or more pods and ensure that a specified number of them successfully terminate. When the specified number of completions is successfully reached, the job is complete."</p>
        </div>
      </div>
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <input ng-model="fields.parallelism" autofocus co-number-spinner type="number" class="form-control" required autofocus />
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <co-error-message formatter="k8sApi" promise="requestPromise"></co-error-message>
      <button type="submit" class="btn btn-primary">Save Desired Paralelism</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
