<div class="co-p-configure-replica-count">
  <form ng-controller="ConfigureReplicaCountFormCtrl" ng-submit="submit()" name="form" role="form">

    <div class="modal-header">
      <h4 class="modal-title">Modify Desired Count</h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <p>Replication Controllers maintain the desired number of healthy pods.</p>
        </div>
      </div>
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <input ng-model="rc.spec.replicas" autofocus co-number-spinner type="number" class="form-control" required />
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <co-error-message formatter="k8sApi" promise="requestPromise"></co-error-message>
      <button type="submit" class="btn btn-primary">Save Desired Count</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
