<div class="co-p-configure-cluster-update-strategy">
  <form ng-controller="ConfigureClusterUpdateStrategyFormCtrl" ng-submit="submit()" name="form" role="form">

    <div class="modal-header">
      <h4 class="modal-title">Update Strategy</h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <p>Select an update method for the cluster:</p>
        </div>
      </div>

      <div class="row co-m-form-row">
        <div class="col-sm-12">
          <input ng-model="fields.strategy" value="automatic" type="radio" id="configure-cluster-update-strategy--automatic" />
          <label for="configure-cluster-update-strategy--automatic">Automatic <span class="co-no-bold">(recommended)</span></label>
          <p class="co-m-radio-desc text-muted">Stay up to date with the latest version automatically.</p>
        </div>

        <div class="col-sm-12">
          <input ng-model="fields.strategy" value="admin-approval" type="radio" id="configure-cluster-update-strategy--admin-approval"/>
          <label for="configure-cluster-update-strategy--admin-approval">Admin Approval</label>
          <p class="co-m-radio-desc text-muted">All updates must be approved by an admin. Important security patches may be missed.</p>
        </div>
      </div>

      <div class="row co-m-form-row" ng-if="model.strategy !== 'automatic' && model.updateAvailable && fields.strategy === 'automatic'">
        <div class="col-sm-12">
        <p class="text-warning">
          <span class="fa fa-exclamation-triangle co-icon-space-r"></span> Saving this setting will trigger an update, since there is a newer version available.
        </div>
      </div>
    </div>

    <div class="modal-footer" co-btn-bar complete-promise="requestPromise">
      <co-error-message formatter="k8sApi" promise="requestPromise"></co-error-message>
      <button type="submit" class="btn btn-primary">Save Strategy</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
