<div class="co-p-dtc-settings">
  <form ng-controller="ConfigureSelectorFormCtrl" ng-submit="execute()" name="form" role="form" class="form-horizontal">

    <div class="modal-header">
      <h4 class="modal-title" ng-bind-template="Admission Policy"></h4>
    </div>

    <div class="modal-body">
      <div class="row co-m-form-row">
        <div class="col-sm-12" ng-if="loadError">
          Configmaps could not be loaded. Please try again.
        </div>
        <div class="col-sm-12" ng-if="!loadError">
          <p>
            Admission policies apply when a node joins the cluster or after a reverification cycle.
            Work will not be scheduled to run on untrusted nodes.
            Existing work is uneffected.
          </p>
          <div class="radio">
            <label>
              <input type="radio" name="admission" id="open" value="open" ng-model="fields.admission">
              Open Admission
              <br/>
              All nodes will be scheduled to run pods.
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="admission" id="closed" value="closed" ng-model="fields.admission">
              Trusted Computing
              <br/>
              All nodes must be in a trusted configuration before scheduling new pods.
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="strict" id="strict" ng-checked="fields.notallowunknown" ng-model="fields.notallowunknown">
                  TPM Identity Verification
                  <br/>
                  When enabled, nodes associated with previously unseen TPMs will not schedule new pods.
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="enabledReverify" id="enabledReverify" ng-checked="fields.enabledReverify" ng-model="fields.enabledReverify">
                  Verify trust every <input type="text" name="reverify" id="reverify" ng-model="fields.reverify" class="co-p-dtc-settings__reverify"> seconds.
                </label>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer" co-btn-bar complete-promise="requestPromise">
      <co-error-message formatter="k8sApi" promise="requestPromise"></co-error-message>
      <button type="submit" class="btn btn-primary">Save Admission Policy</button>
      <button type="button" ng-click="cancel()" class="btn btn-link">Cancel</button>
    </div>

  </form>
</div>
