<div class="co-p-new-user-modal">
  <form ng-controller="NewReplicationcontrollerFormCtrl" ng-submit="submit()" name="form" role="form">
    <div class="modal-header">
      <h1 class="modal-title">New User Information</h1>
    </div>
    <div class="modal-body">
      <div>
        <label for="input-name" class="control-label">Name</label>
      </div>
      <div class="modal-body__field">
        <input type="text" ng-model="model.displayName" class="form-control" required/>
      </div>
      <div>
        <label class="control-label">Email Address</label>
      </div>
      <div class="modal-body__field">
        <input type="email" ng-model="model.email" class="form-control" required/>
      </div>
      <div class="row co-m-form-row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
          <label class="control-label">Role&nbsp;</label>
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 co-m-form-col">
          <div class="modal-body__static-control-value">Administrator</div>
        </div>
      </div>
      <div>
        At this time, all users are administrators and have full
        access to Tectonic. Roles will be added at a future date.
      </div>
    </div>
    <div class="modal-footer" co-btn-bar complete-promise="userCreated">
      <co-error-message promise="userCreated" formatter="dexApi"></co-error-message>
      <button type="submit" class="btn btn-primary" ng-click="createUser(form)">Submit Info</button>
      <button type="button" ng-click="$dismiss()" class="btn btn-link">Cancel</button>
    </div>
  </form>
</div>
