<div class="co-p-new-user-modal">
  <form ng-controller="NewReplicationcontrollerFormCtrl" ng-submit="createNamespace(form)" name="form" role="form">
    <div class="modal-header">
      <h1 class="modal-title">Create New Namespace</h1>
    </div>
    <div class="modal-body">
      <div>
        <label for="input-name" class="control-label">Name</label>
      </div>
      <div class="modal-body__field">
        <input type="text" ng-model="model.name"
               pattern="{{namePattern.source}}"
               class="form-control"
               required/>
      </div>
      <div>
        <label class="control-label">Labels</label>
      </div>
      <div class="modal-body__field">
        <co-label-input ng-model="model.labels" kind="namespace"></co-label-input>
      </div>
    </div>
    <div class="modal-footer" co-btn-bar complete-promise="namespaceCreated">
      <co-error-message promise="userCreated" formatter="dexApi"></co-error-message>
      <button type="submit" class="btn btn-primary">Create Namespace</button>
      <button type="button" ng-click="$dismiss()" class="btn btn-link">Cancel</button>
    </div>
  </form>
</div>
