<div class="co-p-toggle-disabled-user-modal">
  <div ng-if="disableIfTrue">
    <div class="co-m-pane__heading">
      <h1 class="co-m-pane__title">Disable User</h1>
    </div>
    <div class="co-m-pane__body">
      <div>Once the user is disabled they will not be able to access Tectonic.</div>
      <co-btn-bar complete-promise="disableToggled">
        <co-error-message promise="disableToggled"></co-error-message>
        <button type="submit" class="btn btn-primary" ng-click="toggleDisabled(user, disableIfTrue)"
                >Disable User</button>
        <button type="button" ng-click="$dismiss()" class="btn btn-link"
                >Keep User Enabled</button>
      </co-btn-bar>
    </div>
  </div><!-- if disableIFTrue -->

  <div ng-if="!disableIfTrue">
    <div class="co-m-pane__heading">
      <h1 class="co-m-pane__title">Enable User</h1>
    </div>
    <div class="co-m-pane__body">
      <div>Once the user is enabled they will be able to access Tectonic.</div>
      <co-btn-bar complete-promise="disableToggled">
        <co-error-message promise="disableToggled"></co-error-message>
        <button type="submit" class="btn btn-primary" ng-click="toggleDisabled(user, disableIfTrue)"
                >Enable User</button>
        <button type="button" ng-click="$dismiss()" class="btn btn-link"
                >Keep User Enabled</button>
      </co-btn-bar>
    </div>
  </div><!-- if !disableIfTrue -->
</div>
