<div class="co-p-toggle-disabled-user-modal">
  <div class="modal-header">
    <h1 class="modal-title" ng-bind="action"></h1>
  </div>
  <div class="modal-body">
    <div ng-bind="blurb"></div>
  </div>
  <div class="modal-footer" co-btn-bar complete-promise="disabledToggled">
    <co-error-message promise="disabledToggled" formatter="dexApi"></co-error-message>
    <button type="submit"
            class="btn btn-primary"
            ng-click="toggleDisabled(user, disableIfTrue)"
            ng-bind="action"
            ></button>
    <button type="button" ng-click="$dismiss()" class="btn btn-link" ng-bind="cancel"></button>
  </div>
</div>
