.odc-multiple-key-selector {
  padding-top: var(--pf-global--spacer--md);

  &__item {
    position: relative;
    padding-top: var(--pf-global--spacer--xs);
  }

  &__deleteButton {
    cursor: pointer;
    position: absolute;
    right: -22px;
    top: 25px;
    &.--disabled {
      pointer-events: none;
      color: var(--pf-global--disabled-color--200);
    }
  }
}
