.odc-pipeline-secret-section {
  margin-top: var(--pf-global--spacer--sm);
  padding-left: var(--pf-global--spacer--lg);
  &__secrets {
    padding-left: var(--pf-global--spacer--md);
  }
  &__secret-form {
    border: 1px dashed var(--pf-global--BorderColor--100);
    padding: var(--pf-global--spacer--md);
  }
  &__secret-action {
    padding-left: 0;
  }
}
.odc-pipeline-expandable-content {
  margin-top: var(--pf-global--spacer--sm);
}
