.co-node-health__popup-alert {
  margin-top: var(--pf-global--spacer--md);
}

.co-node-health__status {
  height: 100%;
  align-items: center;
  .co-icon-and-text__icon {
    margin-right: var(--pf-global--spacer--md);
    top: 0;
    font-size: 1.2rem;
  }
}
