.co-node-health__status {
  height: 100%;
  align-items: center;
  .co-icon-and-text__icon {
    margin-right: var(--pf-t--global--spacer--md);
    top: 0;
    font-size: var(--pf-t--global--font--size--500); // same as <Icon size="heading_2xl" />;
  }
}
