.kubevirt-create-vm-modal__cloud-init-base64 > input[type="checkbox"] {
  margin: -0.1em 0 0 !important;
}

.kubevirt-create-vm-modal__cloud-init-custom-script-text-area {
  height: 50vh !important;
  resize: vertical;
}

.kubevirt-create-vm-modal__cloud-init-ssh-keys-text-area {
  resize: vertical;
}

.kubevirt-create-vm-modal__cloud-init-ssh-keys-row {
  padding-bottom: 1rem;
}

.kubevirt-create-vm-modal__cloud-init-remove-button {
  color: var( --pf-global--Color--200) !important;
  &:active,
  &:focus,
  &:hover {
    color: var(--pf-global--Color--100) !important;
  }
  &:disabled {
    color: var(--pf-global--disabled-color--200) !important;
  }
}
