.ceph-clone-pvc-modal__details {
  margin-top: var(--pf-global--spacer--xl);
}

.ceph-clone-pvc-modal__details-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ceph-clone-pvc-modal__pvc-details {
  font-weight: var(--pf-global--FontWeight--bold);
}
