.ocs-storage-class__input {
  margin-bottom: var(--pf-global--spacer--md);
}

.ocs-storage-class__form {
  margin-bottom: var(--pf-global--spacer--md);
}

.ocs-storage-class-encryption {
  &__form-body {
    padding: var(--pf-global--spacer--md) !important;
  }

  &__form-body--small-padding {
    padding: var(--pf-global--spacer--md) var(--pf-global--spacer--md) var(--pf-global--spacer--md) 0 !important;
  }

  &__card {
    margin: var(--pf-global--spacer--md) !important; // To override patternfly card class
    padding: var(--pf-global--spacer--md) !important; // To override patternfly card class
  }

  &__pv-title {
    display: inline-block;

    &--padding {
      padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--sm) var(--pf-global--spacer--sm) 0;
    }
  }

  &__details {
    list-style: none !important; // To override patternfly content class
    margin: var(--pf-global--spacer--md) 0 !important; // To override patternfly content class
    padding: 0 !important; // To override patternfly content class
  }

  &__help-block {
      display: inline !important; //To override bootstrap help-block
  }
}

.ocs-storageClass-encryption__form-checkbox {
  .pf-c-check__description {
    margin-bottom: var(--pf-global--spacer--md);
  }
}
