.kubevirt-create-vm-modal__ovirt-provider-ca {
  min-height: 15em;
  resize: vertical;
}

.kubevirt-create-vm-modal__ovirt-provider-remember-password > input[type="checkbox"] {
  margin: -0.1em 0 0 !important;
}
