.co-create-secret-warning {
  color: $color-orange-warning;
  margin-bottom: 10px;
}

.co-create-image-secret__form {
  margin-bottom: 25px;
}

.co-create-image-secret__form + .co-create-image-secret__form {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
