.odc-functions__empty-list {
  &__image {
    height: var(--pf-v5-c-empty-state__icon--FontSize);
    max-width: 100%;
  }

  &__icon {
    margin-bottom: 0;
    font-size: inherit;
  }

  &__dropdown {
    padding-top: var(--pf-v5-global--spacer--md);
  }
}

.pf-v5-c-empty-state__icon {
  margin-bottom: 0;
}

.odc-functions-list-page {
  &__heading {
    display: inline-flex;
    justify-content: space-between;
  }
}
