.odc-functions-getting-started-section {
  padding-right: var(--pf-t--global--spacer--lg);
  padding-left: var(--pf-t--global--spacer--lg);
}

.pf-v6-c-expandable-section__toggle-text {
  color: var(--pf-v6-global--Color--dark-100) !important;
  &.is-dark {
    color: var(--pf-v6-global--Color--light-100) !important;
  }
  font-size: var(--pf-t--global--icon--size--md) !important;
  font-weight: var(--pf-t--global--font--weight--body--bold) !important;
}

.pf-v6-c-expandable-section__toggle {
  align-items: center;
}

.pf-v6-c-expandable-section__content {
  padding-bottom: 0;
}

.odc-functions-getting-started-grid {
  --min-column-width: 220px;
  box-shadow: none;
  // Increase css specificity to override a generic [class*="pf-v6-c-"] rule.
  &__header.pf-v6-c-card__header {
    // Use padding sm instead of lg to fix alignment of the KebabToggle action button.
    padding-right: var(--pf-t--global--spacer--sm);
  }
  &__tooltip {
    white-space: pre-line;
  }
  &__tooltip-icon {
    padding-left: var(--pf-t--global--spacer--sm);
  }
  &__title {
    margin-left: var(--pf-t--global--spacer--md);
    margin-top: var(--pf-t--global--spacer--md);
  }
  // Increase css specificity to override a generic [class*="pf-v6-c-"] rule.
  &__content.pf-v6-c-card__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-width), 1fr));

    // Keep only additional spacing at the bottom. Horizontal spacing is added to the child elements.
    padding: 0 0 calc(var(--pf-v6-c-card--child--PaddingBlockEnd) * 0.5) 0;
    // Hide the border on the right side of the content. Works together wie negative margin below.
    overflow: hidden;

    // Increase css specificity to override a generic [class*="pf-v6-c-"] rule.
    > .pf-v6-l-flex.pf-m-column {
      // Show a divider on the right side and hide them in the latest column.
      border-right: var(--pf-t--global--border--width--100) solid
        var(--pf-t--global--border--color--default);
      margin-right: calc(-1 * var(--pf-t--global--border--width--100));
      // Padding around the card. Vertical spacing is splitted on the card and the grid.
      padding-top: calc(var(--pf-v6-c-card--first-child--PaddingBlockStart) * 0.5);
      padding-bottom: calc(var(--pf-v6-c-card--child--PaddingBlockEnd) * 0.5);
      padding-left: var(--pf-t--global--spacer--md);
      padding-right: var(--pf-v6-c-card--child--PaddingInlineEnd);
    }
  }
}
