.odf-capacity-and-nodes__select-nodes {
    .co-m-pane__body {
        /* Removes padding from the list page to align the table with rest of the form fields*/
        padding: 0;
    } 
}

.odf-enable-arbiter-label {
    display: inline-block;
    &__title--padding {
      padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--sm) var(--pf-global--spacer--sm) 0;
    }
}
