.co-overview-consumers__dropdown {
  width: 100%;
}

.co-overview-consumers__dropdown--left {
  padding-left: 0.3em;
}

.co-overview-consumers__dropdown--right {
  padding-right: 0.3em;
}

.co-overview-consumers__view-more {
  text-align: left;
}

.co-overview-consumers__view-more-icon {
  padding-left: 0.3em;
}
