@import '../../../../../dev-console/src/components/topology/topology-utils';

.odc-eventing-pubsub {
  outline: none;
  cursor: pointer;

  .odc-m-drag-active & {
    pointer-events: none;
  }

  &__bg {
    fill: var(--pf-global--BackgroundColor--light-100);
  }

  &.is-filtered &__bg {
    stroke-width: 2px;
    stroke: $filtered-stroke-color;
  }
  &.is-selected &__bg {
    stroke-width: 2px;
    stroke: $selected-stroke-color;
  }
}

.odc-m-drag-active,
.odc-m-filter-active {
  .odc-event-source {
    opacity: $de-emphasize-opacity;
    &.is-dragging {
      opacity: 1;
    }
  }
}

.odc-m-filter-active:not(.odc-m-drag-active) {
  .odc-event-source {
    &.is-filtered {
      opacity: 1;
    }
  }
}
