.devops-perspective-switcher {
  &.pf-c-modal-box {
    position: fixed;
    left: 0px;
    top: 76px;
    height: calc(100vh - 76px);
    width: 290px;
  }

  .pf-c-nav__link {
    text-align: center;
  }

  &__openshift-logo {
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-bottom: 4px;
  }
}