@import '../../../styles/skeleton-screen';

.co-utilization-card-popover__dropdown, .co-utilization-card-popover__dropdown .pf-c-dropdown__toggle {
    width: 100%;
}

.co-utilization-card-popover__dropdown > div {
    width:100%;
}
.co-utilization-card-popover__consumer-list {
    margin-top: var(--pf-global--spacer--lg);
    margin-bottom: var(--pf-global--spacer--md);
    padding-left:0;
    list-style-type: none;
}

.co-utilization-card-popover__title {
    font-weight: var(--pf-global--FontWeight--bold);
    margin-bottom: var(--pf-global--spacer--sm);
}

.co-utilization-card-popover__consumer-list__item {
    margin-bottom: var(--pf-global--spacer--sm);
}

.co-utilization-card-popover__title, .co-utilization-card-popover__consumer-list__name, .co-utilization-card-popover__consumer-list__value, .co-utilization-card-popover__consumer-list__button {
    font-size: var(--pf-global--FontSize--sm);
}

.co-utilization-card-popover__consumer-list__button-icon {
    margin-left: var(--pf-global--spacer--xs);
}

.co-consumer__data-loading {
    padding: var(--pf-global--spacer--lg);
}

.co-utilization-card-popover__body {
    min-height: var(--pf-global--spacer--lg);
}

.skeleton-activity {
  animation: $skeleton-animation;
  background: $skeleton-color;
  height: var(--pf-global--spacer--md);
  opacity: 0;
  margin-top: var(--pf-global--spacer--sm);
  margin-bottom: var(--pf-global--spacer--sm);
  &::after {
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
  }
}

.co-utilization-card-popover__consumer-list__name {
    overflow: hidden;
    flex: 0 0 calc(70% - var(--pf-global--spacer--md));
    text-overflow: ellipsis;
    white-space: nowrap;
}

.co-utilization-card-popover__consumer-list__value {
    color: var(--pf-global--Color--200);
    flex: 0 0 30%;
    text-align: right;
}
