.co-utilization-card__body {
  padding: 0;
  overflow: hidden;
}

.co-utilization-card__item .co-u-hidden {
  display: none;
}

.co-utilization-card__item .co-utilization-card__item-chart.co-utilization-card__item-chart--times {
  padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--lg)
    var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--md);
  svg {
    overflow: visible;
  }
}

.co-utilization-card__item-header {
  border-bottom: var(--pf-t--global--border--width--100) solid
    var(--pf-t--global--border--color--default);
}

.co-utilization-card__item .pf-v6-c-title {
  margin-bottom: 0;
}

.co-utilization-card__item > * {
  padding: var(--pf-t--global--spacer--md);
}

.co-utilization-card__item-chart .graph-wrapper {
  margin: 0;
  padding: 0;
}

.co-utilization-card__item-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.co-utilization-card__item-section {
  width: 100%;
  overflow: hidden;
}

.co-utilization-card__item-section-multiline {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.co-utilization-card__item-text {
  color: var(--pf-t--global--text--color--subtle);
  font-size: var(--pf-t--global--font--size--sm);
}

.co-utilization-card__item-icon {
  margin-right: var(--pf-t--global--spacer--sm);
}

@media screen and (min-width: 1200px) {
  .co-utilization-card__item {
    display: flex;
    justify-content: space-between;
  }

  .co-utilization-card__item .co-u-visible-on-xl {
    display: flex;
  }

  .co-utilization-card__item
    .co-utilization-card__item-chart.co-utilization-card__item-chart--times {
    padding-bottom: 0;
  }

  .co-utilization-card__item > * {
    flex: 1 50%;
  }

  .co-utilization-card__item > *:nth-child(even) {
    align-items: center;
    padding: 0 var(--pf-t--global--spacer--lg) 0 var(--pf-t--global--spacer--md);
  }

  .co-utilization-card__item > *:nth-child(odd) {
    align-items: flex-start;
    padding: var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--lg);
  }
}
