.odc-modal-content {
  &__confirm-title {
    font-size: var(--pf-t--global--font--size--lg);
    margin-top: var(--pf-t--global--spacer--xs);
    margin-bottom: var(--pf-t--global--spacer--lg);
  }
}
