.co-clone-pvc-modal__details {
  margin-top: var(--pf-global--spacer--md);
}

.co-clone-pvc-modal__details-section {
  display: flex;
  justify-content: space-between;
}

.co-clone-pvc-modal__pvc-details {
  font-weight: var(--pf-global--FontWeight--bold);
}

.co-clone-pvc-modal__name--margin {
  margin-bottom: var(--pf-global--spacer--sm);
}

.co-clone-pvc-modal__ocs-size .form-group{
  margin-bottom: var(--pf-global--spacer--sm);
}
