.kubevirt-dedicated-resources__checkbox {
  margin-top: var(--pf-global--spacer--md);
  margin-bottom: var(--pf-global--spacer--md);
}

.kubevirt-dedicated-resources__helper-text {
  color: var(--pf-global--Color--200);
}
