@import "vars";

.co-m-nav-link {
  display: block;
  float: none;
  padding: 2px 0;
  padding-left: 40px;
  line-height: 25px;
  font-weight: 300;
  font-size: 16px;

  a {
    color: white;
    background-color: inherit;
    display: inline-block;
    width: 100%;
    text-decoration: none;
  }
  &.active {
    background-color: $color-highlight-blue-dark;
  }
  &:hover {
   background-color: #19547B;
  }
  &:focus {
   background-color: transparent;
  }
}

.navigation-container {
  background-color: #154A6D;
}

.navigation-container__list {
  padding-left: 0;
}

.navigation-container__section {
  border-bottom: 1px solid rgba(255,255,255,.1);
  padding: 10px 0;
  font-weight: 300;
  color: white;
}

.navigation-container__section__title {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  font-weight: 300;
  color: #8ABFE6;
  cursor: pointer;

  width: 100%;
  padding: 10px 0px 10px 13px;
  span {
    display: inline-block;
    margin: 0 15px 0 11px;
  }
  img {
    width: 22px;
    margin-right: 5px;
  }
}

.navigation-container__section__title__icon {
  margin-right: 10px;
  vertical-align: middle;
}

.navigation-container__section--logo {
  padding: 16px 0;
  margin-top: 0px;
}
