.co-overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-modal;
}

.tags-list {
  &__row {
    padding-bottom: 15px;
  }

  &__field {
    padding-right: 0;
  }

  &__heading {
    margin-bottom: 4px;
    text-transform: uppercase;
    color: $color-text-secondary;
  }

  &__btn {
    cursor: pointer;
  }

  &__delete-icon {
    line-height: 32px;
  }

  &__add-icon {
    margin-right: 6px;
  }
}
