.modal-content {

  // close icon
  .fa-times-circle:hover {
    cursor: pointer;
    color: $black;
  }

  .modal__input--with-label {
    display: inline-block;
    margin-left: 10px;
  }

  .modal__input--with-units {
    display: inline-block;
    margin-right: 10px;
  }
}

.modal-body .control-label {
  font-weight: 400;
}

.co-modal {
  overflow: auto;
  position: relative;
  outline: 0;
}

.co-overlay {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
}

.ReactModal__Content .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.ReactModal__Content--after-open .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.tags-list {
  &__row {
    padding-bottom: 15px;
  }

  &__field {
    padding-right: 0;
  }

  &__heading {
    color: #999;
    font-weight: 300;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  &__btn {
    cursor: pointer;
  }

  &__delete-icon {
    line-height: 32px;
  }

  &__add-icon {
    margin-right: 6px;
  }
}
