@import '../../../../public/style/vars';

.odc-topology-filter-dropdown {
  &__expand-groups-switcher {
    display: flex;
    align-items: center;

    .pf-v6-c-menu__group-title {
      flex: 1;
      padding-block-start: var(--pf-v5-global--spacer--sm);
      padding-block-end: var(--pf-v5-global--spacer--sm);
    }

    .pf-v6-c-switch {
      margin-right: var(--pf-v5-global--spacer--sm);
    }

    .pf-m-disabled {
      color: var(--pf-v5-c-check__label--disabled--Color);
    }
  }

  .pf-v6-c-select {
    --pf-v5-c-select__menu-group-title--PaddingBottom: 0;
  }

  &__expand-groups-label > .pf-v6-c-select__menu-group-title {
    padding-top: 0;
  }
}
