@import '../../../../public/style/vars';

.odc-topology-filter-bar {
  background-color: var(--pf-chart-global--Fill--Color--white);
  padding: 6px $pf-global-gutter;

  @media (min-width: $pf-global--breakpoint--xl) {
    padding-left: $pf-global-gutter--md;
    padding-right: $pf-global-gutter--md;
  }

  &__kiali-link {
    margin-left: auto;
  }
}
