.odc-regroup-hint {
  align-items: center;
  display: flex;

  &__icon {
    color: var(--pf-v5-global--palette--blue-300);
  }
  &__text {
    margin-left: var(--pf-v5-global--spacer--sm);
    .ocs-shortcut__cell {
      padding-bottom: 0;
    }
  }
}
