[
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/projects/jpratik999%2Fdevconsole-git",
    "body": "",
    "status": 200,
    "response": {
      "id": 13428840,
      "description": "",
      "name": "devconsole-git",
      "name_with_namespace": "Pratik Jagrut / devconsole-git",
      "path": "devconsole-git",
      "path_with_namespace": "jpratik999/devconsole-git",
      "created_at": "2019-07-22T10:47:44.851Z",
      "default_branch": "master",
      "tag_list": [],
      "ssh_url_to_repo": "git@gitlab.com:jpratik999/devconsole-git.git",
      "http_url_to_repo": "https://gitlab.com/jpratik999/devconsole-git.git",
      "web_url": "https://gitlab.com/jpratik999/devconsole-git",
      "readme_url": "https://gitlab.com/jpratik999/devconsole-git/blob/master/README.md",
      "avatar_url": null,
      "star_count": 0,
      "forks_count": 0,
      "last_activity_at": "2019-07-23T10:25:13.101Z",
      "namespace": {
        "id": 5673794,
        "name": "Pratik Jagrut",
        "path": "jpratik999",
        "kind": "user",
        "full_path": "jpratik999",
        "parent_id": null,
        "avatar_url": "https://secure.gravatar.com/avatar/d619d6cbae2b37be0205d4e16f99216d?s=80&d=identicon",
        "web_url": "https://gitlab.com/jpratik999"
      }
    },
    "rawHeaders": [
      "nginx",
      "Fri, 11 Oct 2019 17:58:54 GMT",
      "Content-Type",
      "application/json",
      "1857",
      "close",
      "max-age=0, private, must-revalidate",
      "Etag",
      "W/\"b981403aa42091490e07e818ca41056d\"",
      "Link",
      "<https://gitlab.com/api/v4/projects?membership=false&order_by=created_at&owned=false&page=1&per_page=20&repository_checksum_failed=false&search=devconsole-git&simple=false&sort=desc&starred=false&statistics=false&wiki_checksum_failed=fals[...]
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/projects/13428840/repository/branches",
    "body": "",
    "status": 200,
    "response": [
      {
        "name": "master",
        "commit": {
          "id": "901927aebf15c2eeeace75b2521f985726b7d3fb",
          "short_id": "901927ae",
          "created_at": "2019-04-30T16:19:23.000+00:00",
          "parent_ids": null,
          "title": "fix: use custom error properly (via interface) (#32)",
          "message": "fix: use custom error properly (via interface) (#32)",
          "author_name": "Matous Jobanek",
          "author_email": "mjobanek@redhat.com",
          "authored_date": "2019-04-30T16:19:23.000+00:00",
          "committer_name": "GitHub",
          "committer_email": "noreply@github.com",
          "committed_date": "2019-04-30T16:19:23.000+00:00"
        },
        "merged": false,
        "protected": true,
        "developers_can_push": false,
        "developers_can_merge": false,
        "can_push": false,
        "default": true
      },
      {
        "name": "temp",
        "commit": {
          "id": "901927aebf15c2eeeace75b2521f985726b7d3fb",
          "short_id": "901927ae",
          "created_at": "2019-04-30T16:19:23.000+00:00",
          "parent_ids": null,
          "title": "fix: use custom error properly (via interface) (#32)",
          "message": "fix: use custom error properly (via interface) (#32)",
          "author_name": "Matous Jobanek",
          "author_email": "mjobanek@redhat.com",
        [...]
