[
  {
    "scope": "https://version.helsinki.fi:443",
    "method": "GET",
    "path": "/api/v4/projects/random-user%2Fpublic-project",
    "body": "",
    "status": 200,
    "response": {
      "id": 123456,
      "description": "",
      "name": "public-project",
      "name_with_namespace": "random-user / public-project",
      "path": "public-project",
      "path_with_namespace": "random-user/public-project",
      "created_at": "2020-05-25T14:25:31.214Z",
      "default_branch": "master",
      "tag_list": [],
      "ssh_url_to_repo": "git@version.helsinki.fi:random-user/public-project.git",
      "http_url_to_repo": "https://version.helsinki.fi/random-user/public-project.git",
      "web_url": "https://version.helsinki.fi/random-user/public-project",
      "readme_url": "https://version.helsinki.fi/random-user/public-project/-/blob/master/README.md",
      "avatar_url": null,
      "star_count": 0,
      "forks_count": 0,
      "last_activity_at": "2020-06-02T13:09:17.863Z",
      "namespace": {
        "id": 123456,
        "name": "A Random user",
        "path": "random-user",
        "kind": "user",
        "full_path": "random-user",
        "parent_id": null
      }
    },
    "rawHeaders": [
      "max-age=0, private, must-revalidate",
      "Content-Type",
      "application/json",
      "Tue, 16 Jun 2020 21:59:55 GMT",
      "Apache/2.4.6 (Red Hat Enterprise Linux) OpenSSL/1.0.2k-fips PHP/5.4.16",
      "nosniff",
      "SAMEORIGIN",
      "PBgWs7TOO62",
      0.088692
    ]
  }
]
