[
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/projects/jpratik999%2Ftutorial-react-docker",
    "body": "",
    "status": 200,
    "response": {
      "id": 14010137,
      "description": "",
      "name": "tutorial-react-docker",
      "name_with_namespace": "Pratik Jagrut / tutorial-react-docker",
      "path": "tutorial-react-docker",
      "path_with_namespace": "jpratik999/tutorial-react-docker",
      "created_at": "2019-08-27T13:06:48.328Z",
      "default_branch": "master",
      "tag_list": [],
      "ssh_url_to_repo": "git@gitlab.com:jpratik999/tutorial-react-docker.git",
      "http_url_to_repo": "https://gitlab.com/jpratik999/tutorial-react-docker.git",
      "web_url": "https://gitlab.com/jpratik999/tutorial-react-docker",
      "readme_url": "https://gitlab.com/jpratik999/tutorial-react-docker/blob/master/README.md",
      "avatar_url": null,
      "star_count": 0,
      "forks_count": 0,
      "last_activity_at": "2019-08-27T13:06:48.328Z",
      "namespace": {
        "id": 5673794,
        "name": "Pratik Jagrut",
        "path": "jpratik999",
        "kind": "user",
        "full_path": "jpratik999",
        "parent_id": null,
        "avatar_url": "https://secure.gravatar.com/avatar/d619d6cbae2b37be0205d4e16f99216d?s=80&d=identicon",
        "web_url": "https://gitlab.com/jpratik999"
      }
    },
    "rawHeaders": [
      "nginx",
      "Fri, 11 Oct 2019 17:59:04 GMT",
      "Content-Type",
      "application/json",
      "1909",
      "close",
      "max-age=0, private, must-revalidate",
      "Etag",
      "W/\"abaf953cab78b4a802ca82c3933b5599\"",
      "Link",
      "<https://gitlab.com/api/v4/projects?membership=false&order_by=created_at&owned=false&page=1&per_page=20&repository_checksum_failed=false&search=tutorial-react-docker&simple=false&sort=desc&starred=false&statistics=false&wiki_checksum_fail[...]
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/projects/14010137/repository/files/Dockerfile/raw?ref=master",
    "body": "",
    "status": 200,
    "response": "FROM node:9.4\n\n# Create app directory\nWORKDIR /usr/src/app\n\n# Expose port for service\nEXPOSE 5000\n\n# Install and configure `serve`.\nRUN npm install -g serve\n\n# Copy source code to image\nCOPY . .\n\n# Install dependencies\nRUN npm install\n\n# Build app and start server from script\nCMD [[...]
