[
  {
    "scope": "https://gitlab.com:443",
    "method": "GET",
    "path": "/api/v4/projects/jpratik99%2Fdevconsole-git",
    "body": "",
    "status": 404,
    "response": {
      "message": "404 Project Not Found"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "RateLimit-Limit",
      "600",
      "RateLimit-Observed",
      "1",
      "RateLimit-Remaining",
      "599",
      "RateLimit-Reset",
      "1578051898",
      "RateLimit-ResetTime",
      "Fri, 03 Jan 2020 11:44:58 GMT",
      "GitLab-LB",
      "fe-10-lb-gprd",
      "GitLab-SV",
      "localhost"
    ]
  }
]
