.scheduling-modals__add-btn {
  padding: var(--pf-global--spacer--xl);
}

.scheduling-modals__desc-container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--pf-global--spacer--md);

  .scheduling-modals__desc {
    color: var(--pf-global--Color--200);
  }
}

.kubevirt-scheduling__checkbox {
  margin-top: var(--pf-global--spacer--md);
  margin-bottom: var(--pf-global--spacer--md);
}

.kubevirt-scheduling__helper-text {
  color: var(--pf-global--Color--200);
  margin-right: var(--pf-global--spacer--sm);
}
