.co-dashboard-card {
  margin: 0;
}

.co-dashboard-card__body {
  margin-top: 1.5em;
}

.co-dashboard-card__header {
  align-items: center;
  border-bottom: 1px solid $pf-color-black-300;
  display: flex;
  justify-content: space-between;
}

.co-dashboard-card__title {
  font-size: 1rem;
  margin: 0;
}

.co-dashboard-header__icon {
  font-size: 1.125rem;
  margin-right: -10px;
}
