.co-dashboard-card {
  margin: 0;
}

.co-dashboard-card__body {
  margin-top: 1.5em;
}

.co-dashboard-card__button-link {
  line-height: 1;
  padding: 0;
  padding-bottom: var(--pf-c-card__header--not-last-child--PaddingBottom);
  padding-top: var(--pf-c-card--first-child--PaddingTop);
}

.co-dashboard-card__header {
  align-items: center;
  border-bottom: 1px solid $pf-color-black-300;
  display: flex;
  justify-content: space-between;
  padding-right: var(--pf-c-card--child--PaddingRight);
  padding-left: var(--pf-c-card--child--PaddingLeft);
}

.co-dashboard-card__title {
  font-size: 1rem;
  margin: 0;
  padding-bottom: var(--pf-c-card__header--not-last-child--PaddingBottom);
  padding-top: var(--pf-c-card--first-child--PaddingTop);
}

.co-dashboard-header__icon {
  font-size: 1.125rem;
  margin-right: -10px;
}
