.ceph-restore-pvc-modal__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ceph-restore-pvc-modal__details-section {
  margin-top: var(--pf-global--spacer--xl);
}

.ceph-restore-pvc-modal__pvc-details {
  font-weight: 600;
}
