@import '~@patternfly/patternfly/sass-utilities/colors';
@import '../../../styles/skeleton-screen';

.co-inventory-card__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
  padding: 1rem 0 0 0;
  flex-wrap: wrap;
}

.co-inventory-card__item-status {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.co-inventory-card__item-title {
  display: flex;
  margin-right: 0.5rem;
}

.co-inventory-card__status {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin-left: 1.8rem;
}

.co-inventory-card__status-icon--question {
  color: $pf-color-black-300;
}

.co-inventory-card__status-icon--progress {
  color: $pf-color-black-600;
}

.co-inventory-card__status-link {
  text-decoration: none;
}

.co-inventory-card__accordion.pf-c-accordion {
  border-bottom: 1px solid $pf-color-black-300;
  box-shadow: none;
  padding: 0;

  h5 {
    font-size: var(--pf-c-card__body--FontSize);
    font-weight: var(--pf-global--FontWeight--normal);
    margin: 0;
  }

  .co-inventory-card__accordion-toggle.pf-c-accordion__toggle {
    border-left: none;
    padding: 0 var(--pf-c-card--child--PaddingRight) 0 0;

    .pf-c-accordion__toggle-text {
      width: 100%;
    }
  }

  .co-inventory-card__accordion-body.pf-c-accordion__expanded-content {
    border-left: none;

    .pf-c-accordion__expanded-content-body {
      padding: 1rem var(--pf-c-card--child--PaddingRight) 1rem var(--pf-c-card--child--PaddingLeft);
    }
  }
}

.skeleton-inventory {
  animation: $skeleton-animation;
  background: $skeleton-color;
  height: 20px;
  width: 20px;
  opacity: 0;
  margin-right: 0.5rem;
  &::after {
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
  }
}
