@mixin catalog-logo-background($padding: var(--pf-t--global--spacer--xs)) {
  padding: $padding;
  border-radius: var(--pf-t--global--border--radius--small);
  background: var(--pf-t--color--white);
}
