.pipelinerun-details-page {
  display: flex;
  &__results-indicator {
    margin-left: var(--pf-t-global--spacer--xs);
    color: var(--pf-t--global--text--color--200); // --pf-t--global--text--color--subtle may work if text color should be lighter in dark theme
    font-size: var(--pf-t--global--font--size--lg);
    align-self: center;
  }
}
