.odc-application-group {
  fill: var(--pf-global--Color--light-100);
  fill-opacity: 0.5;
  stroke: var(--pf-global--Color--light-100);
  stroke-width: 4px;
  cursor: pointer;
  .odc-m-drag-active & {
    cursor: grab;
  }

  &.is-selected {
    fill: var(--pf-global--active-color--200);
    stroke: var(--pf-global--active-color--100);
  }

  &__label {
    cursor: pointer;
    .odc-m-drag-active & {
      cursor: grab;
    }

    & rect {
      fill: var(--pf-global--Color--300);
    }

    & text {
      fill: #fff;
      pointer-events: none;
      font-size: var(--pf-global--FontSize--sm);
    }
  }
}
.odc-m-drag-active {
  .odc-application-group {
    opacity: 0.3;
    &.is-highlight {
      opacity: 1;
      stroke: var(--pf-global--active-color--100);
      &.is-hover {
        fill: var(--pf-global--active-color--200);
      }
    }
    &.is-selected {
      fill: var(--pf-global--BackgroundColor--200);
      stroke: var(--pf-global--Color--light-100);
      &.is-highlight {
        stroke: var(--pf-global--active-color--100);
        &.is-hover {
          fill: var(--pf-global--active-color--200);
        }
      }
    }
  }
}
