.odc2-base-node {
  cursor: pointer;

  .odc2-m-drag-active & {
    cursor: grab;
  }

  &__bg {
    fill: var(--pf-global--BackgroundColor--light-100);
    &.is-highlight {
      stroke: var(--pf-global--active-color--400);
      stroke-width: 4px;
    }
  }

  &__selection {
    stroke-width: 2px;
    fill: none;
    stroke: var(--pf-global--active-color--300);
  }

  &__label {
    fill: var(--pf-global--Color--light-100);
    font-size: var(--pf-global--FontSize--md);
    text {
      pointer-events: none;
      fill: var(--pf-global--Color--300);
    }
  }
}

.odc2-m-drag-active {
  .odc2-base-node__contents {
    opacity: 0.3;
    &.is-dragging, &.is-hover {
      opacity: 1;
    }
  }
}
