.opp-pipeline-run-list {
  &__signed-indicator {
    display: inline-block;
    --pf-c-table--cell--Color: var(--pf-t--color--gray--50); // previous v5 token used transparency, so this may need adjustment still
    margin-left: var(--pf-t-global--spacer--sm);
    > img {
      height: var(--pf-t--global--font--size--lg);
      position: relative;
      top: 4px;
    }
  }
  &__results-indicator {
    display: inline-block;
    margin-left: var(--pf-t-global--spacer--xs);
    > svg {
      color: var(--pf-t--global--text--color--200);
    }
  }
}
