.ocs-install-kms {
  &__heading {
    margin-left: var(--pf-global--spacer--md);
  }

  &__form-url {
    display: inline-flex;
    width: 100%;
  }

  &__form-address {
    width: 70%;
  }

  &__form-port {
    width: 30%;
  }

  &__form-token {
    align-items: center;
    display: flex;
  }

  &__save-button {
    margin-bottom: var(--pf-global--spacer--md);
    margin-left: var(--pf-global--spacer--md);
  }
}
