.odc-task-sidebar {
  &__header {
    font-size: var(--pf-global--FontSize--md);
    height: 33px; // fixed height header to avoid actions from bouncing the header
    margin: 0;
  }

  &__header, &__content {
    padding: 0 var(--pf-global--spacer--lg);
  }

  &__param, &__resource {
    margin-bottom: var(--pf-global--spacer--md);
  }
}
