.kubevirt-menu-actions__icon-spacer {
  margin-left: var(--pf-v5-global--spacer--sm);
}

.kubevirt-menu-actions__secondary-title {
  margin-right: var(--pf-v5-global--spacer--sm);
  font-size: var(--pf-v5-global--FontSize--xs);
}

.CopySSHCommand-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
