.VMStatusCard {
  padding-right: var(--pf-c-card--child--PaddingRight);
  padding-left: var(--pf-c-card--child--PaddingLeft);
  .co-status-card__health-item {
    padding-right: 0;
  }
}

.VMStatusCard-separator {
  height: 1px;
  background: var(--pf-global--disabled-color--200);
  margin-top: var(--pf-global--spacer--sm);
}

.VMStatusCard-body {
  padding-right: 0;
  padding-left: 0;
}
