.lso-create-lvs__all-nodes-radio--padding {
  padding-bottom: var(--pf-t--global--spacer--sm);
}

.lso-create-lvs__filter-volumes-text--margin {
  margin: 0;
}

.lso-create-lvs__max-disk-limit-help-text--margin {
  margin-top: 0;
}

.lso-create-lvs__node-selection-table--margin {
  margin-top: 0;
}

.lso-create-lvs__disk-mode-dropdown--margin {
  margin-bottom: var(--pf-t--global--spacer--md);
}

.lso-create-lvs__device-type-dropdown--margin {
  margin-bottom: var(--pf-t--global--spacer--md);
}

.lso-create-lvs__disk-size-form-group--margin {
  margin: var(--pf-t--global--spacer--lg) 0;
}

.lso-create-lvs__disk-size-form-group-div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 22em;
}

.lso-create-lvs__disk-size-form-group-max-min-input {
  display: flex;
  flex-direction: column;
}

.lso-create-lvs__disk-input {
  max-width: 100px;
}

.lso-create-lvs__select-nodes {
  // overrides extra space added by `co-m-nav-title`
  .co-m-nav-title {
    padding: 0;
    margin: 0;
  }
}

.lso-disk-type__alert {
  &.pf-v6-c-alert {
    --pf-v6-c-alert--BoxShadow: 0;
  }

  :where(.pf-v6-theme-dark) & {
    background-color: var(--pf-v6-c-alert--m-inline--m-plain--BackgroundColor);
  }
}
