.lso-create-lvs__all-nodes-radio--padding {
  padding-bottom: var(--pf-global--spacer--sm);
}

.lso-create-lvs__filter-volumes-text--margin {
  margin: 0;
}

.lso-create-lvs__max-volume-limit-help-text--margin {
  margin-top: 0;
}

.lso-create-lvs__node-selection-table--margin {
  margin-top: 0;
}

.lso-create-lvs__volume-mode-dropdown--margin {
  margin-bottom: var(--pf-global--spacer--md);
}
