@import '~@patternfly/patternfly/sass-utilities/colors';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../../../../../public/style/vars';

.co-dashboard-body {
  background-color: $pf-color-black-200;
  flex: 1 0 auto;
  padding: ($grid-gutter-width / 2);
  @media (min-width: $grid-float-breakpoint) {
    padding: $grid-gutter-width;
  }
}

.co-dashboard-grid {
  grid-gap: 1rem;
}
