.donut-chart {
  padding-right: 3px;
}

.secscan-col {
  display:table;
}

.secscan-cell {
  display:table-cell;
  vertical-align:middle;
  line-height: 25px;
}

.subheader-row {
  padding: 0;
}

.P0 {
  color: #D64456;
}

.P1 {
  color: #FCA657;
}

.P2 {
  color: #F8CA1C;
}

.P3 {
  color: #9B9B9B;
}
