.co-quick-start-task {
    &__radio-button-group {
        display: flex;
        align-items: flex-start;
        input[type='radio'] {
            margin-top: 0;
            margin-right: 0;
          }
    }
    &__radio-button-field {
        margin-right: var(--pf-global--spacer--xl) !important;
    }
    &__review-success {
        color: var(--pf-global--palette--green-500);
        font-size: var(--pf-global--FontSize--md);
        line-height: var(--pf-global--FontSize--xl);
    }
    &__review-failed {
        color: var(--pf-chart-global--danger--Color--100);
        font-size: var(--pf-global--FontSize--md);
        line-height: var(--pf-global--FontSize--xl);
    }
  }
  