@import '../../topology-utils';

.odc-application-group {
  outline: none;
  cursor: pointer;
  .odc-m-drag-active & {
    cursor: grab;
  }

  &__bg {
    fill: var(--pf-global--Color--light-100);
    fill-opacity: 0.5;
    stroke: var(--pf-global--Color--light-100);
    stroke-width: 5px;
  }

  &.is-filtered &__bg {
    stroke: $filtered-color;
  }
  &.is-selected &__bg {
    fill: var(--pf-global--active-color--200);
    stroke: var(--pf-global--active-color--400);
  }
  &.is-highlight &__bg {
    fill: var(--pf-global--Color--light-100);
    stroke: var(--pf-global--active-color--100);
  }
  &.is-dropTarget &__bg {
    fill: var(--pf-global--active-color--200);
  }

  &__label {
    fill: var(--pf-global--Color--300);
    & text {
      fill: #fff;
      pointer-events: none;
      font-size: var(--pf-global--FontSize--sm);
    }
  }
}

.odc-m-drag-active,
.odc-m-filter-active {
  .odc-application-group {
    opacity: 0.4;

    &.is-highlight,
    &.is-dragging {
      opacity: 1;
    }
  }
}

.odc-m-filter-active:not(.odc-m-drag-active) {
  .odc-application-group {
    &.is-filtered {
      opacity: 1;
    }
  }
}
