.odc-event-source {
  cursor: pointer;

  .odc-m-drag-active & {
    cursor: grab;
  }

  &__bg {
    fill: var(--pf-global--BackgroundColor--light-100);
  }

  &__selection {
    stroke-width: 2px;
    fill: none;
    stroke: var(--pf-global--active-color--300);
  }
}

.odc-m-drag-active {
  .odc-event-source {
    opacity: 0.3;
  }
}

.odc-m-filter-active {
  .odc-event-source {
    opacity: 0.3;
    &.is-filtered {
      opacity: 1;
    }
  }
}
