@import '../../topology-utils';

.odc-event-source {
  cursor: pointer;

  .odc-m-drag-active & {
    cursor: grab;
  }

  &__bg {
    fill: var(--pf-global--BackgroundColor--light-100);
  }

  &.is-filtered &__bg {
    stroke-width: 2px;
    stroke: $filtered-color;
  }
  &.is-selected &__bg {
    stroke-width: 2px;
    stroke: var(--pf-global--active-color--400);
  }
}

.odc-m-drag-active,
.odc-m-filter-active {
  .odc-event-source {
    opacity: 0.4;
    &.is-dragging {
      opacity: 1;
    }
  }
}

.odc-m-filter-active:not(.odc-m-drag-active) {
  .odc-event-source {
    &.is-filtered {
      opacity: 1;
    }
  }
}
