.odc-operator-group {
  fill: #e2e2e2;
  stroke: #bbbbbb;
  stroke-width: 4px;
  stroke-dasharray: 9;
}

.odc-m-filter-active {
  .odc-operator-group {
    opacity: 0.3;
    &__label {
      opacity: 0.3;
      &.is-filtered {
        opacity: 1;
      }
    }
  }
}

.odc-m-drag-active {
  .odc-operator-group {
    opacity: 0.3;
    &__label {
      opacity: 0.3;
      &.is-dragging {
        opacity: 1;
      }
    }
  }
}
