@import '../../topology-utils';

.odc-operator-backed-service {
  outline: none;
  cursor: pointer;

  .odc-m-drag-active & {
    cursor: grab;
  }

  &__bg {
    fill: #d1d1d1;
    fill-opacity: 0.5;
    stroke: #bbbbbb;
    stroke-width: 5px;
    stroke-dasharray: 9;
  }

  &.is-filtered &__bg {
    stroke: $filtered-color;
  }
}

.odc-m-drag-active,
.odc-m-filter-active {
  .odc-operator-backed-service {
    opacity: 0.4;
    &.is-dragging {
      opacity: 1;
    }
  }
}

.odc-m-filter-active:not(.odc-m-drag-active) {
  .odc-operator-backed-service {
    &.is-filtered {
      opacity: 1;
    }
  }
}
