.pipeline-metrics {
  &__legend-wrap {
    height: 48px;
    padding-top: 1px;
  }
}

.horizontal-scroll {
  overflow-x: auto;
  padding-left: var(--pf-t--global--spacer--md);
  padding-right: var(--pf-t--global--spacer--md);

  &:before,
  &:after {
    bottom: 0;
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    width: var(--pf-t--global--spacer--md);
    z-index: 1;
  }
  &:before {
    background: linear-gradient(
      to right,
      var(--pf-t--global--background--color--100),
      rgba(255, 255, 255, 0)
    );
    left: 0;
  }
  &:after {
    background: linear-gradient(
      to left,
      var(--pf-t--global--background--color--100),
      rgba(255, 255, 255, 0)
    );
    right: 0;
  }
}
