.detail-table {
  float: left;
  padding-bottom: 20px;
  width: 100%;

  .detail-table-header {
    color: #999;
    display: block;
    font-weight: 300;
    font-size: 14px;
    margin: 0 0 5px 0;
  }

  .detail-table-cell {
    padding: 20px 0;
    text-align: center;

    &:not(:last-child) {
      border-right: 1px solid #eee;
    }
  }

  .detail-table-row {
    border: 1px solid #eee;
    float: left;
    // Collapse borders when multiple consecutive rows.
    margin-top: -1px;
    width: 100%;

    .detail-table-desc {
      color: #999;
      font-size: 12px;
    }

    &:only-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
