@import '~patternfly/dist/sass/patternfly/color-variables';

.co-cloudshell-terminal {
  &__container {
    background-color: #000;
    color: var(--pf-global--Color--light-100);
    height: 100%;
  }

  &__container-error {
    background-color: #fff;
    height: 100%;

    .cloudshell-error {
      color: $color-pf-red !important;
    }
  }
}
