.co-cloud-shell-tab {
  &__body {
    background-color: #000;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__header {
    background-color: var(--pf-global--palette--black-200);
    align-items: center;
    display: flex;
    flex-shrink: 0;
    min-height: var(--pf-global--target-size--MinHeight);
    &-text {
      padding: 0 var(--pf-global--spacer--md);
    }
  }
}
