@import '~patternfly/dist/sass/patternfly/color-variables';

.co-cloudshell-exec {
  &__container-error {
    background-color: var(--pf-global--BackgroundColor--100);
    height: 100%;
  }

  &__error-msg {
    color: $color-pf-red !important;
  }
}
