.co-cloud-shell-terminal-frame {
  // match color to iframe terminal page
  background-color: #000;
  width: 100%;
  height: 100%;
  color: var(--pf-global--Color--light-100);
  overflow: hidden;

  & > iframe {
    height: 100%;
    width: 100%;
    border: 0;
  }
}
