.ocs-getting-started-expandable-grid {
  --min-column-width: 220px;

  // Increase css specificity to override a generic [class*="pf-v6-c-"] rule.
  &__content.pf-v6-c-card__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-column-width), 1fr));

    // Keep only additional spacing at the bottom. Horizontal spacing is added to the child elements.
    padding: 0 0 calc(var(--pf-v6-c-card--child--PaddingBlockEnd) / 2) 0;
    // Hide the border on the right side of the content. Works together wie negative margin below.
    overflow: hidden;
    padding-top: 0 !important;

    // Increase css specificity to override a generic [class*="pf-v6-c-"] rule.
    > .pf-v6-l-flex.pf-m-grow.pf-m-column {
      // Show a divider on the right side and hide them in the latest column.
      border-right: var(--pf-t--global--border--width--100) solid
        var(--pf-t--global--border--color--default);
      margin-right: calc(-1 * var(--pf-t--global--border--width--100));
      // Padding around the card. Vertical spacing is splitted on the card and the grid.
      padding-top: calc(var(--pf-v6-c-card--first-child--PaddingBlockStart) * 0.5);
      padding-bottom: calc(var(--pf-v6-c-card--child--PaddingBlockEnd) * 0.5);
      padding-left: var(--pf-v6-c-card--child--PaddingInlineStart);
      padding-right: var(--pf-v6-c-card--child--PaddingInlineEnd);
    }
  }
}
