.odc-add-section-skeleton-placeholder {
  &__container {
    max-width: 100%;
    padding: var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--lg)
      var(--pf-v5-global--spacer--2xl);
  }
  &__title {
    margin-top: var(--pf-v5-global--spacer--md) 0 var(--pf-v5-global--spacer--md) 0;
  }
  &__item-header {
    display: flex;
    margin-top: var(--pf-v5-global--spacer--xl);
    &__title {
      margin-left: var(--pf-v5-global--spacer--sm);
    }
  }
  &__item-desc {
    margin-top: var(--pf-v5-global--spacer--md);
    & > * {
      margin-top: var(--pf-v5-global--spacer--xs);
    }
  }
}
