.odc-add-card {
  --odc-add-card-item-margin-horizontal: calc(var(--pf-t--global--spacer--lg) - var(--pf-t--global--spacer--sm));

  margin-bottom: var(--pf-t--global--spacer--lg);
  padding: 0px var(--odc-add-card-item-margin-horizontal) var(--pf-t--global--spacer--lg) 0px;
  max-width: 100%;

  &__title {
    margin: var(--pf-t--global--spacer--lg) 0px 0px var(--pf-t--global--spacer--lg);
  }

  &__icon {
    max-width: var(--pf-t-global--spacer--lg);
    min-width: var(--pf-t-global--spacer--md);
    color: var(--pf-t--global--text--color--regular) !important;
    margin-right: var(--pf-t-global--spacer--sm);
  }

  &__img-icon {
    vertical-align: -0.3em;
  }
}

.pf-v6-c-simple-list ul {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}
