.odc-add-page-layout {
  // Fix missing white background color above the header.
  .ocs-page-layout__title {
    margin-top: 0;
    padding-top: var(--pf-global--spacer--lg);
  }

  // Drop padding below the hint to add this gap between hint and actions below.
  .ocs-page-layout__hint {
    padding-bottom: 0; /* override var(--pf-global--spacer--md) */
    padding-right: 0;
  }

  &__hint-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &__text {
      margin-right: var(--pf-global--spacer--lg);
      margin-bottom: var(--pf-global--spacer--md);
    }

    &__actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
  
      > * {
        margin-right: var(--pf-global--spacer--lg);
        margin-bottom: var(--pf-global--spacer--md);
      }
    }

    &__details-switch {
      &__text {
        margin-left: var(--pf-global--spacer--xs);
        vertical-align: middle;
      }
    }
  }

  &__additional-hint-block {
    padding-bottom: var(--pf-global--spacer--md);
  }
}
