[
    {
        "scope": "https://api.github.com:443",
        "method": "GET",
        "path": "/repos/redhat-developer/devconsole-git/languages",
        "body": "",
        "status": 200,
        "response": [
            "1f8b0800000000000003ab5672cf57b232b430b03437d551f24dcc4e4dcbcc4955b23232313236d2510ace48cdc901f2cccc4d7494824a932a816a4d0c2c75945cf293b3538b206a0d8d2c6b017d46120d48000000"
        ],
        "rawHeaders": [
            "Tue, 12 Jan 2021 12:37:25 GMT",
            "Content-Type",
            "application/json; charset=utf-8",
            "GitHub.com",
            "Status",
            "200 OK",
            "public, max-age=60, s-maxage=60",
            "ETag",
            "W/\"c17d80aa19cf39fe202b26359b48ef65e9e5f6d33e37e8419bd186e093cad8f6\"",
            "last-modified",
            "Thu, 23 Jul 2020 04:30:25 GMT",
            "X-GitHub-Media-Type",
            "github.v3; format=json",
            "ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, Deprecation, Sunset",
            "*",
            "max-age=31536000; includeSubdomains; preload",
            "deny",
            "nosniff",
            "1; mode=block",
            "origin-when-cross-origin, strict-origin-when-cross-origin",
            "default-src 'none'",
            "gzip",
            "X-RateLimit-Limit",
            "60",
            "X-RateLimit-Remaining",
            "23",
            "X-RateLimit-Reset",
            "1610457220",
            "x-ratelimit-used",
            "37",
            "bytes",
            "85",
            "F206:579E:44EDD:58221:5FFD9805",
            "close"
        ]
    }
]