[
  {
    "scope": "https://api.github.com:443",
    "method": "GET",
    "path": "/repos/redhat-developer/devconsole-git/languages",
    "body": "",
    "status": 200,
    "response": [
      "1f8b0800000000000003ab5672cf57b232b430b03437d551f24dcc4e4dcbcc4955b23232313236d2510ace48cdc901f2cccc4d7494824a932a816a4d0c2c75945cf293b3538b206a0d8d2c6b017d46120d48000000"
    ],
    "rawHeaders": [
      "Fri, 11 Oct 2019 17:57:59 GMT",
      "Content-Type",
      "application/json; charset=utf-8",
      "chunked",
      "close",
      "GitHub.com",
      "Status",
      "200 OK",
      "X-RateLimit-Limit",
      "60",
      "X-RateLimit-Remaining",
      "56",
      "X-RateLimit-Reset",
      "1570820277",
      "public, max-age=60, s-maxage=60",
      "ETag",
      "W/\"37394e952ec6a630032d3d5a674e0e0e\"",
      "Last-Modified",
      "Thu, 03 Oct 2019 22:15:20 GMT",
      "X-GitHub-Media-Type",
      "github.v3; format=json",
      "ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type",
      "*",
      "max-age=31536000; includeSubdomains; preload",
      "deny",
      "nosniff",
      "1; mode=block",
      "origin-when-cross-origin, strict-origin-when-cross-origin",
      "default-src 'none'",
      "gzip",
      "2AC5:098B:36F00B:3F2C79:5DA0C2A6"
    ]
  }
]
