.rbac-rules-list {
  margin: 30px 0;
}

.rbac-rule {
  width: 100%; // since its parent .co-resource-list__item is a flex container
  &__actions {
    align-items: baseline;
    display: flex;
  }
  &__cog {
    margin-right: 5px;
  }
}

.rbac-rule-resource  {
  min-width: 230px;
  display: inline-block;
}

.rbac-rule-row:not(:last-of-type) {
  padding-bottom: 5px;
}

.resource-separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

.edit-rule {
  .rule-row {
    margin-top: 30px;
  }
  .help-text {
    color: $color-text-secondary;
    font-weight: 400;
    position: relative;
    top: -3px;
    left: 20px;
  }
  .checkbox-label {
    margin-bottom: 5px;
    font-weight: 400;
  }

  .rbac-minor {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #ccc;
  }
  .rbac-major {
    color: #ccc;
    margin: 30px 0;
  }
  .newspaper-columns {
    columns: 3 auto;
    margin-top: 20px;
  }
  .text-input {
    max-width: 500px;
    margin-top: 20px
  }
}

.rbac-edit-binding {

  .co-m-resource-icon {
    margin-left: 0;
  }

  .alert {
    margin-top: 20px;
  }

  .btn--dropdown {
    width: 400px;
  }

  .form-control {
    max-width: 400px;
  }
  .dropdown {
    max-width: 400px;
    .form-control {
      width: 380px;
    }
  }

  .dropdown {
    .caret {
      position: absolute;
      right: 14px;
      top: 9px;
    }
    .dropdown-menu {
      width: 400px;
    }
  }

  .rbac-edit-binding__input-label {
    margin-bottom: 5px;
  }

  .radio-item {
    margin: 10px 0;
    .co-m-radio-desc {
      margin-left: 19px;
    }
  }

  .separator {
    border-top: solid 1px #eee;
    margin: 30px 0;
  }
}
