.odc-imagestream-separator {
  position: absolute;
  top: 50%;
  left: 0;
}
.odc-imagestream-alert {
  margin-top: 1em;
}
.odc-imagestream-clipboard {
  margin-top: var(--pf-v5-global--spacer--md);
}
