.odc-gitops-commit {
    padding-top: 3px;
    padding-right: 0px;

    &__item {
        font-size: 12px;
        width: 100%;
        .pf-c-label__text {
            max-width: 22ch;
            min-width: 22ch;    
        }
    }
}
