.odc-gitops-service {
  &__title {
    font-weight: bold;
    font-size: 18px;
  }
  &__details {
    font-size: 12px;
    color: var(--pf-global--palette--black-600);
    padding-top: 20px;
    padding-left: 0px;
  }
  &__pod {
    width: 80px;
  }
  &__image {
    width: 100%;
    font-size: 12px;
    .pf-c-label__text {
      max-width: 27ch;
    }
  }
  &__pr {
    padding-left: 10px;
  }
  &__url {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    padding-top: 10px;
  }
  article {
    border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
  }
}
