.gop-gitops-details {
  padding: var(--pf-t--global--spacer--xl);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  &__env-section {
    display: inline-table;
    margin-right: 35px;
    min-height: 578px;
    max-height: 578px;
    &__header {
      display: flex;
      flex-direction: column;
      font-size: 12px;
    }
    &__app-name {
      font-size: 20px;
      font-weight: bold;
      margin: var(--pf-t--global--spacer--xs) 0px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }
    &__status-label {
      margin: var(--pf-t--global--spacer--xs) 0px;
      outline: none;
    }
    &__envname-and-status {
      display: flex;
    }
    &__env {
      .pf-v6-c-label__text {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        color: inherit;
      }
    }
    &__time {
      margin: var(--pf-t--global--spacer--xs) 0px var(--pf-t--global--spacer--xs) 0px;
      display: flex;
      .co-icon-and-text__icon {
        display: none;
      }
    }
    &__time-unavailable {
      margin: var(--pf-t--global--spacer--xs) 0px var(--pf-t--global--spacer--xs) 0px;
      display: flex;
      font-style: italic;
      .co-icon-and-text__icon {
        display: none;
      }
    }
    &__deployment-history {
      margin-top: var(--pf-t--global--spacer--xs);
      justify-content: space-between;
    }
    &__argo-external-link {
      vertical-align: middle;
    }
    &__cluster-url {
      display: inline-flex;
      align-items: center;
    }
    &__cluster-url-empty-state {
      font-size: 12px;
      color: var(--pf-t--color--gray--60);
    }
    article {
      border: var(--pf-t--global--border--width--100) solid
        var(--pf-t--global--border--color--default);
      min-width: 335px;
      max-width: 335px;
    }
    a {
      font-size: 12px;
    }
  }
  &__author-sha {
    align-items: center;
    color: var(--pf-t--global--text--color--subtle);
    display: flex;
    margin-bottom: var(--pf-t--global--spacer--xs);
  }
  &__message {
    margin-bottom: var(--pf-t--global--spacer--xs);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__warning-message {
    margin-bottom: var(--pf-t--global--spacer--xs);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: italic;
  }
  &__author {
    margin-right: var(--pf-t--global--spacer--sm);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__author-unavailable {
    margin-right: var(--pf-t--global--spacer--sm);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: italic;
  }
  &__sha {
    background-color: inherit;
    color: var(--pf-t--global--text--color--link--default);
    font-size: 12px;
    width: auto;
    svg {
      vertical-align: middle;
    }
  }
  &__special-message-alert {
    margin-bottom: var(--pf-t--global--spacer--xl);
  }
}
