.gop-gitops-resources {
  &__title {
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
    padding: 1.5rem;
    align-items: center;
  }
  &__list {
    display: flex;
    max-width: 203px;
  }

  .pf-v5-l-split.pf-m-gutter {
    justify-content: space-between;

    & > *:not(:last-child) {
      margin-right: var(--pf-v5-global--spacer--sm);
    }
  }
}
