.odc-gitops-service {
  &__title {
    font-weight: bold;
    font-size: 18px;
    .pf-c-label {
      left: -6px;
      background-color: inherit; 
    }
    .pf-c-label__content::before {
      border-width: 0px;
    }
    &__label {
      .pf-c-label__text {
        font-weight: bold;
        font-size: 18px;    
        max-width: 17ch;
        min-width: 17ch;
      }
    }
    &__name {
      .pf-c-label__text {
        font-weight: bold;
        font-size: 18px;    
        max-width: 20ch;
        min-width: 20ch;            
      }
    }
  }
  &__details {
    font-size: 12px;
    color: var(--pf-global--palette--black-600);
    padding-top: 20px;
    padding-left: 0px;
  }
  &__pod {
    width: 80px;
  }
  &__image {
    width: 100%;
    font-size: 12px;
    .pf-c-label__text {
      max-width: 27ch;
    }
  }
  &__pr {
    padding-left: 10px;
  }
  &__url {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    padding-top: 10px;
    .pf-c-label {
      left: -6px;
      font-size: inherit;
      background-color: inherit; 
    }
    .pf-c-label__text {
      color: var(--pf-global--link--Color);
      max-width: 24ch;
    }
    .pf-c-label__content::before {
      border-width: 0px;
    }
  }
  article {
    border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
  }
}
