.odc-gitops-details {
  padding: var(--pf-global--spacer--xl);
  height: 100%;
  flex-wrap: nowrap;
  display: flex;
  &__env-section {
    margin-right: 35px;
    min-width: 285px;
    max-width: 285px;
    &__argocd-link {
      margin-top: var(--pf-global--spacer--md)
    }
    &__co-resource-item {
      margin-top: var(--pf-global--spacer--sm);
      .pf-c-label {
        left: -6px;
        background-color: inherit; 
      }
      .pf-c-label__text {
        max-width: 23ch;
        min-width: 23ch;
      }
      .pf-c-label__content::before {
        border-width: 0px;
      }
    }
    &__header {
      display: flex;
      flex-direction: column;
      font-size: 12px;
    }
    &__title {
      font-size: 20px;
      font-weight: bold;
      .pf-c-label {
        left: -6px;
        background-color: inherit;
      }
      .pf-c-label__content::before {
        border-width: 0px;
      }
    }
    &__env {
      .pf-c-label__text {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        color: inherit;
        max-width: 17ch;
        min-width: 17ch;
      }
    }
    &__time {
      padding-top: 8px;
    }
    &__timestamp {
      font-size: 12px;
      color: var(--pf-global--palette--black-600);
    }
    &__url {
      display: inline-flex;
      align-items: center;
      .pf-c-label {
        left: -6px;
        font-size: inherit;
        background-color: inherit; 
      }
      .pf-c-label__text {
        color: var(--pf-global--link--Color);
        max-width: 25ch;
        min-width: 25ch;
      }
      .pf-c-label__content::before {
        border-width: 0px;
      }
    }
    &__url-empty-state {
      font-size: 12px;
      color: var(--pf-global--palette--black-600);
    }
    article {
      border: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    }
    a {
      font-size: 12px;
    }
  }
}
