.gop-gitops-details-page-heading {
  border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);

  &__repo {
    align-items: center;
    font-weight: bold;
    font-size: 12px;
  }

  h1 {
    margin-bottom: var(--pf-global--spacer--sm);
  }

  .gop-gitops-details-page-title {
    margin-bottom: var(--pf-global--spacer--xl);
  }
}
