@import '../../../../../public/style/vars';

.ocs-yaml-editor {
  .monaco-editor {
    .monaco-hover-content .markdown-hover {
      // matches tooltip styling seen back in OpenShift 4.18
      max-width: 500px;
      word-wrap: break-word;

      // hide "Source: yaml" in hover tooltip
      p:last-of-type {
        display: none;
      }
    }
  }

  /* Hide CodeEditor toolbar on mobile */
  @media (max-width: $screen-sm-max) {
    .pf-v6-c-code-editor__header {
      display: none;

      + .pf-v6-c-code-editor__main {
        border-block-start-width: var(--pf-t--global--border--width--box--default);
      }
    }
  }

  /* Needed to get the CodeEditorToolbar to place buttons on the right side */
  .pf-v6-c-code-editor__controls, .ocs-yaml-editor-toolbar {
    width: 100%;
    height: 100% !important;
    align-items: center;
  }

  /* Dividers in toolbar */
  .ocs-yaml-editor-toolbar__links {
    padding-inline-start: var(--pf-t--global--spacer--xs);

    .ocs-yaml-editor-toolbar__link:not(:last-of-type) {
      border-inline-end: var(--pf-t--global--border--width--divider--default) solid var(--pf-t--global--border--color--default);
      margin-inline-end: var(--pf-t--global--spacer--sm);
      padding-inline-end: var(--pf-t--global--spacer--sm);
    }
  }

  /* Accessibility shortcuts hint styling */
  .ocs-yaml-editor-toolbar__shortcuts {
    padding: var(--pf-t--global--spacer--md) var(--pf-v6-global-gutter);

    .ocs-yaml-editor-shortcut__text {
      color: var(--pf-t--global--text--color--subtle);
      margin-inline-start: var(--pf-t--global--spacer--sm);
    }
  }
}
