@import '../../../../../public/style/vars';

.ocs-yaml-editor {
  // ensure editor stays fills the parent container while remaining in bounds
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .co-code-editor {
    flex-grow: 1;
  }

  .monaco-editor {
    position: absolute; // part of the fix for ResizeObserver issue

    // revert custom overrides
    .label-name { text-decoration: none; }
    label { font-weight: unset; }

    .monaco-hover-content .markdown-hover {
      // matches tooltip styling seen back in OpenShift 4.18
      max-width: 500px;
      word-wrap: break-word;

      // hide "Source: yaml" in hover tooltip
      p:last-of-type {
        display: none;
      }
    }
  }

  // hide CodeEditor toolbar on mobile
  @media (max-width: $screen-sm-max) {
    .pf-v6-c-code-editor__header {
      display: none;

      + .pf-v6-c-code-editor__main {
        border-block-start-width: var(--pf-t--global--border--width--box--default);
      }
    }
  }

  .pf-v6-c-code-editor__controls {
    align-items: center;
    // the height+padding of a PatternFly standard button.
    // ensures that all toolbars are of the same height regardless of content
    min-height: calc(
      var(--pf-t--global--font--size--body--default) * var(--pf-t--global--font--line-height--body) +
      var(--pf-t--global--spacer--control--vertical--default) * 2
    );
    width: 100%;
  }
}
