@import '../../../../../public/style/vars';

// match the token in theme.ts. it already matches for light theme
.pf-v6-theme-dark {
  .pf-v6-c-code-editor__main {
    --pf-v6-c-code-editor__main--BackgroundColor: var(--pf-t--color--gray--90);
  }

  .pf-v6-c-code-editor__tab {
    --pf-v6-c-code-editor__tab--BackgroundColor: var(--pf-t--color--gray--90);
  }
}

.ocs-yaml-editor {
  // makes automaticLayout work properly
  .monaco-editor {
    position: absolute !important;
  }

  .pf-v6-c-code-editor__controls, .ocs-yaml-editor-toolbar {
    // needed to get the CodeEditorToolbar to place buttons on the right side
    width: 100%;
    height: 100% !important;
  }

  .ocs-yaml-editor-toolbar {
    align-items: center;

    .ocs-yaml-editor-toolbar__link {
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }

    .ocs-yaml-editor-toolbar__shortcuts {
      padding: var(--pf-t--global--spacer--md) var(--pf-v6-global-gutter);

      .ocs-yaml-editor-shortcut__text {
        color: var(--pf-t--global--text--color--subtle);
        margin-left: var(--pf-t--global--spacer--sm);
      }
    }
  }
}
