.ocs-yaml-editor {
  &__root {
    flex: 1;
    overflow: hidden;
    position: relative;
  }

  &__wrapper {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}
