@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';

.ocs-yaml-editor-toolbar {
  &__links {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    margin: 2px;
    z-index: 1;
    @media(max-width: $screen-sm-max) {
      display: none;
    }
  }

  &__link {
    display: inline-block;
  }
}
