@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';

.ocs-yaml-editor-toolbar {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  margin: 2px;
  z-index: 1;

  @media(max-width: $screen-sm-max) {
    display: none;
  }
}

.ocs-yaml-editor-toolbar__link {
  display: inline-block;
}

.ocs-yaml-editor-shortcut__text {
  color: var(--pf-global--Color--200);
  margin-left: var(--pf-global--spacer--sm);
}
