$min-height: 200px;

.co-m-vert-nav {
  // TODO: mixin for vendor prefixes.
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;

  &.co-m-pane {
    background-color: transparent;
  }
}

.co-m-vert-nav__menu {
  -webkit-box-flex: none;
  -webkit-flex: none;
  flex: none;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 1;
  order: 1;

  min-height: $min-height;
  padding-left: 0;
  list-style: none;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

// large menu items with text & descriptions
.co-m-vert-nav--lg .co-m-vert-nav__menu {
  width: 300px;
  .co-m-vert-nav__menu-item {
    padding: 30px;
    text-align: left;
    font-size: inherit;
  }
}

// small menu items with only icons
.co-m-vert-nav--sm .co-m-vert-nav__menu {
  width: 80px;
  .co-m-vert-nav__menu-item {
    padding: 10px;
    font-size: 35px;
    text-align: center;
    &.co-m-vert-nav-item--active a,
    &.co-m-vert-nav-item--active a:hover,
    &.co-m-vert-nav-item--active a:active,
    &.co-m-vert-nav-item--active a:visited {
      color: $red;
    }
  }
}

.co-m-vert-nav__menu-item {
  margin: 0;
  border-bottom: 1px solid #ccc;
  &.co-m-vert-nav-item--active,
  &:hover {
    background-color: #fff;
    cursor: pointer;
  }
}

.co-m-vert-nav__menu-item-heading {
  font-weight: 400;
  color: $blue-link;
  margin: 0 0 20px 0;
}

.co-m-vert-nav__menu-item-desc {
  font-size: 14px;
}

.co-m-vert-nav__body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 2;
  order: 2;

  min-height: $min-height;
  background-color: #fff;
  padding: 30px;
}
