.odc-resource-section {
  &__badge-wrapper {
    margin-left: var(--pf-global--spacer--md);
    position: relative;
  }

  &__inline-badge {
    bottom: -25%;
    position: absolute;
  }

  &__radio {
    align-items: flex-start;
  }
}
