.co-m-label-input--service .tag-item {
  color: $color-service-dark;
}
.co-m-label-input--replicationcontroller .tag-item {
  color: $color-controller-dark;
}
.co-m-label-input--replicaset .tag-item {
  color: $color-replicaset-dark;
}
.co-m-label-input--deployment .tag-item {
  color: $color-deployment-dark;
}
.co-m-label-input--pod .tag-item {
  color: $color-pod-dark;
}
.co-m-label-input--node .tag-item {
  color: $color-node-dark;
}
.co-m-label-input--namespace .tag-item {
  color: $color-namespace-dark;
}
