.pf-c-about-modal-box {
  dt {
    color: var(--pf-global--color--100);
    font-size: var(--pf-c-content--FontSize);
    margin-bottom: var(--pf-global--spacer--md);
    text-transform: none;
  }
  dd {
    margin-bottom: var(--pf-global--spacer--md);
  }
  p {
    color: var(--pf-global--color--100);
    margin-bottom: var(--pf-global--spacer--xl);
  }
}

.co-about-modal__alert {
  margin-bottom: var(--pf-global--spacer--xl);
  // PatternFly does not have an `update` alert variant
  // See https://github.com/patternfly/patternfly-react/issues/4594
  .pf-c-alert__icon {
    display: none;
    &--alt {
      display: inline-flex;
      vertical-align: -0.25em !important;
    }
  }
}
