.pf-c-about-modal-box {
  h2 {
    padding: var(--pf-global--spacer--md) 0 var(--pf-global--spacer--md) 0;
  }
  dt {
    font-size: var(--pf-c-content--FontSize);
    text-transform: none;
  }
  p {
    color: var(--pf-global--Color--dark-200);
  }
  .pf-c-about-modal-box__logo-image {
    display:none;
  }
}