$catalog-item-icon-size-lg: 40px;
$catalog-item-icon-size-sm: 24px;

.co-catalog-item-details {
  display: flex;
  margin: 0 0 10px;

  &__description {
    white-space: pre-wrap;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__provider,
  &__tags {
    margin-bottom: 5px;
  }

  &__tag {
    color: $co-gray;
    font-size: ($font-size-base - 1);
    margin-right: 5px;
    text-transform: uppercase;
  }
}

.co-catalog-item-icon {
  padding-right: 10px;

  &__icon {
    font-size: $catalog-item-icon-size-sm;

    &--large {
      font-size: $catalog-item-icon-size-lg;
    }
  }

  &__img {
    max-height: $catalog-item-icon-size-sm;
    max-width: $catalog-item-icon-size-sm;

    &[src$=".svg"] {
      height: $catalog-item-icon-size-sm;
    }

    &--large {
      max-height: $catalog-item-icon-size-lg;
      max-width: $catalog-item-icon-size-lg;

      &[src$=".svg"] {
        height: $catalog-item-icon-size-lg;
      }
    }
  }
}

a.co-catalog-item-tile {
  color: inherit;
  text-decoration: none;
  :active,
  :hover,
  :visited {
    color: inherit;
    text-decoration: none;
  }
}

.co-catalog-page {
  display: flex;
}

.co-catalog-page__tabs { // temp spacer until we add content to filter panel
  width: 198px;
}

.co-catalog-page__content {
  flex: 1;
}

.co-catalog-page__heading {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 18px;
}

.co-catalog-page__num-items {
  font-weight: 700;
  padding-bottom: 32px;
}
