.cluster-picker {
  background-color: $color-os-nav-active;
  border-radius: 3px;
  color: $color-os-nav-title;
  margin: 12px 10px 0 10px;
  padding-left: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);

  .dropdown {
    .dropdown__not-btn {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-right: 20px;
      .caret {
        position: absolute;
        right: 9px;
        top: 9px;
      }
    }
    ul.dropdown-menu > li > a:hover {
      background-color: #2A2E34;
    }
  }
}

.cluster-picker:hover {
  background-color: $color-os-nav-active;
}
