
.co-create-service-instance__namespace {
  .btn--dropdown,
  .dropdown-menu {
    width: 100%;
  }
}

.co-create-service-instance__plan {
  margin-top: 0;
}

.co-cluster-service-instance-info {
  margin-bottom: 20px;
}
