.co-cluster-service-class-title__icon {
  padding-right: 10px;
  vertical-align: middle;
}

.co-cluster-service-class-row__img {
  height: 24px;
  vertical-align: middle;
}

.co-cluster-service-class-details__img {
  height: 42px;
}
