.co-cluster-service-class-title__icon {
  vertical-align: middle;
  padding-right: 10px;
}

.co-cluster-service-class-row__img {
  height: 42px;
  margin-top: -3px;
}

.co-cluster-service-class-details__img {
  height: 98px;
}
