$cluster-service-class-icon-size-lg: 40px;
$cluster-service-class-icon-size-sm: 24px;

.co-cluster-service-class-details {
  display: flex;
  margin: 0 0 10px;

  &__description {
    white-space: pre-wrap;
  }

  &__name {
    margin-bottom: 10px;
  }

  &__provider,
  &__tags {
    margin-bottom: 5px;
  }

  &__tag {
    color: $co-gray;
    font-size: ($font-size-base - 1);
    margin-right: 5px;
    text-transform: uppercase;
  }
}

.co-cluster-service-class-icon {
  padding-right: 10px;

  &__icon {
    font-size: $cluster-service-class-icon-size-sm;

    &--large {
      font-size: $cluster-service-class-icon-size-lg;
    }
  }

  &__img {
    max-height: $cluster-service-class-icon-size-sm;
    max-width: $cluster-service-class-icon-size-sm;

    &--large {
      max-height: $cluster-service-class-icon-size-lg;
      max-width: $cluster-service-class-icon-size-lg;
    }
  }
}
