.co-catalog-item-info {
  margin-bottom: 20px;
}

.co-create-service-instance__namespace {
  .btn-dropdown,
  .dropdown-menu {
    width: 100%;
  }
}

.co-create-service-instance__plan {
  margin-top: 0;
}

.co-service-catalog-parameters label[for="root"] {
  // Hide the empty root label from service catalog parameter forms to avoid unwanted top margin.
  display: none;
}

.co-service-instance-delete-bindings-warning {
  margin: 30px;
}
