.dropdown {
  &__autocomplete {
    border: none;
    line-height: 18px;
    outline: none;
    padding: 0 12px 1px 0;
    width: 100%;
  }

  &--dark {
    $dark: rgba(33, 33, 33, 0.95);
    background-color: $dark;
    border: solid 1px $dark;

    li > a {
      color: white;

      &:hover {
        background-color: $dark;
        color: white;
      }
    }
    .dropdown-menu li.dropdown__selected > a {
      color: black;
      &:hover {
        color: white;
      }
    }
  }
}

.dropdown__content {
  display: none;
  position: absolute;
}

.dropdown--active .dropdown__content {
  display: block;
}

.btn--dropdown {
  color: black;
  background-color: white;

  &__content-wrap {
    display: flex;
    align-items: center;
  }
}

.btn--actions {
  float: right;
  margin-top: -3px;

  &__title {
    display: flex;
    align-items: center;
  }

  &__cog {
    margin-right: 5px;
  }

  &__label {
    margin-bottom: -1px;
  }

  &__menu {
    left: auto;
    letter-spacing: normal;
    right: 9px;
  }

  .btn--dropdown {
    margin-right: 5px;
  }
}

.dropdown__selected {
  background-color: $color-highlight-blue;
}

.dropdown__disabled {
  color: #666;
  cursor: not-allowed;
}

.dropdown__not-btn {
  cursor: pointer;
}


.dropdown-menu {
  display: block;

  & li > a {
    cursor: pointer;
    text-shadow: none;
  }

  & li.dropdown__selected > a {
    color: white;
    &:hover {
      color: black;
    }
  }
}
