.dropdown--full-width {
  &,
  .pf-v6-c-menu-toggle {
    justify-content: space-between;
    width: 100%;
  }
}

.dropdown-button--icon-only {
  height: 34.5px !important; // default form element height
  margin-left: -1px;
  min-width: auto !important;
  .pf-v6-c-dropdown {
    --pf-c-dropdown__toggle-icon--MarginRight: 0 !important;
    --pf-c-dropdown__toggle-icon--MarginLeft: 0 !important;
  }
}

.dropdown__disabled {
  color: var(--pf-v6-global--disabled-color--100);
  cursor: not-allowed;
}

.dropdown-menu {
  position: absolute;
  z-index: 9999; // same as popper
}

.dropdown-menu__divider {
  background-color: var(--pf-t--color--gray--10);
  height: 1px;
  flex-grow: 1;
  margin: 9px 0;
  overflow: hidden;
}

.dropdown-menu__header {
  color: var(--pf-v5-global--Color--100);
  flex-grow: 1;
  font-size: ($font-size-base - 1);
  padding: 3px 10px;
  text-transform: uppercase;
}

.dropdown-menu--text-wrap {
  max-width: 100%;
  li {
    a,
    button {
      @include co-break-word;
      white-space: normal;
    }
  }
}

.favorite {
  color: gold;
}

.co-namespace-bar {
  border-bottom: var(--pf-t--global--border--width--100) solid
    var(--pf-t--global--border--color--default);
  padding: 0 $pf-v6-global-gutter;
  white-space: nowrap;

  @media (min-width: $pf-v6-global--breakpoint--xl) {
    padding-left: $pf-v6-global-gutter--md;
    padding-right: $pf-v6-global-gutter--md;
  }

  &__items {
    align-items: center;
    display: flex;

    .pf-m-plain {
      color: inherit;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.co-namespace-bar--no-project {
  padding-left: var(--pf-t--global--spacer--sm);
  @media screen and (max-width: $pf-v6-global--breakpoint--xl) {
    margin-left: -0.5rem;
  }
}

.co-namespace-selector {
  margin-right: 20px;
  max-width: 60%;

  .pf-v6-c-menu-toggle.pf-m-plain {
    font-size: ($font-size-base + 1);
    --pf-v6-c-menu-toggle--PaddingBottom: 7px;
    --pf-v6-c-menu-toggle--PaddingLeft: 0;
    --pf-v6-c-menu-toggle--PaddingRight: 0;

    @media (min-width: $pf-v6-global--breakpoint--md) {
      font-size: ($font-size-base + 2);
      --pf-v6-c-menu-toggle--PaddingBottom: 9px;
    }

    &:not(:disabled) {
      color: inherit;
    }

    &__titlePrefix {
      margin-right: 6px;
    }
  }
}

.pf-v6-c-dropdown .co-m-resource-icon {
  margin-left: 2px;
}

.pf-v6-c-dropdown__content-wrap {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  min-width: 0;
}

.pf-v6-c-dropdown__menu {
  list-style: none;
  -webkit-overflow-scrolling: touch;
  @media (min-width: $pf-v6-global--breakpoint--md) {
    &.pf-m-align-right-on-md {
      right: 0;
    }
  }
}

.pf-v6-c-menu-toggle {
  max-width: 100%;
}

.pf-v6-c-menu-toggle .pf-c-dropdown__toggle-icon {
  flex: 0 0 auto; // so arrow doesn't shrink
}

.pf-v6-c-dropdown__toggle-text {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  .co-resource-item__resource-name {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .co-resource-item__resource-namespace {
    display: none !important;
  }
}
