.yaml-editor {
  position: relative;
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  @media (min-width: $pf-global--breakpoint--md) {
    margin-left: $pf-global-gutter;
    margin-right: $pf-global-gutter;
    padding-top: $pf-global-gutter--md;
  }
  @media (min-width: $pf-global--breakpoint--xl) {
    margin-left: $pf-global-gutter--md;
    margin-right: $pf-global-gutter--md;
  }
}

.yaml-editor__buttons {
  background-color: var(--pf-global--BackgroundColor--100);
  border-top: 1px solid #ddd;
  padding: 20px $pf-global-gutter;
  margin-top: auto;
  z-index: 10;
  @media (min-width: $pf-global--breakpoint--md) {
    padding-left: 0;
    padding-right: 0;
  }
}

.yaml-editor__header {
  border-bottom: 1px solid #ddd;
  padding: 20px $pf-global-gutter;
  @media(min-width: $pf-global--breakpoint--xl) {
    padding-left: $pf-global-gutter--md;
  }
}

.yaml-editor__header-text {
  margin: 0;
}

.yaml-editor__link {
  display: inline-block;
}

.yaml-editor__links {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 1;
  @media(max-width: $screen-sm-max) {
    display: none;
  }
}

// This can't be customized in a theme, so use CSS.
.yaml-editor .monaco-editor .margin .current-line {
  background-color: var(--pf-global--BackgroundColor--dark-200);
}
