.yaml-editor__header {
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  padding: 10px 20px;
}

.yaml-editor__subheader {
  font-size: $font-size-base;
}

.yaml-editor {
  position: relative;
}

.yaml-editor__flexbox {
  display: flex;
  flex-direction: column;
}

.yaml-editor__acebox {
  flex: 1;
}

.yaml-editor__buttons {
  background: white;
  border-top: 1px solid #ddd;
  padding: 20px ($grid-gutter-width / 2);
  margin-top: auto;
  z-index: 10;
  @media (min-width: $grid-float-breakpoint) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}
