.yaml-editor {
  position: relative;
  &--readonly .yaml-editor__acebox {
    background: $input-bg-disabled !important;
    color: $color-pf-black-700 !important;
    filter: grayscale(.55);
  }
}

.yaml-editor__acebox {
  flex: 1;
}

.yaml-editor__buttons {
  background: white;
  border-top: 1px solid #ddd;
  padding: 20px ($grid-gutter-width / 2);
  margin-top: auto;
  z-index: 10;
  @media (min-width: $grid-float-breakpoint) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
}

.yaml-editor__flexbox {
  display: flex;
  flex-direction: column;
}

.yaml-editor__header {
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  @media(min-width: $screen-sm-min) {
    padding: 10px 31px; // left alignment with namespace selector text
  }
}

.yaml-editor__header-text {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}
