.yaml-editor {
  position: relative;
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: column;
  @media (min-width: $pf-v6-global--breakpoint--md) {
    margin-left: $pf-v6-global-gutter-x;
    margin-right: $pf-v6-global-gutter-x;
    padding-top: $pf-v6-global-gutter-y;
  }
}

.yaml-editor__buttons {
  padding: $pf-v6-global-gutter-y $pf-v6-global-gutter-x;
  @media (min-width: $pf-v6-global--breakpoint--md) {
    padding-left: 0;
    padding-right: 0;
  }
}

// only used in packages and will be orphaned when packages move out
.yaml-editor__header {
  border-bottom: var(--pf-t--global--border--width--divider--default) solid
    var(--pf-t--global--border--color--default);
  padding: $pf-v6-global-gutter-y $pf-v6-global-gutter-x;
}

// only used in packages and will be orphaned when packages move out
.yaml-editor__header-text {
  margin: 0;
}

.yaml-editor__link {
  display: inline-block;
}

.yaml-editor__links {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 1;
  @media (max-width: $screen-sm-max) {
    display: none;
  }
}
