.phase-error-box {
  border-width: 1px;
  border-radius: 5px;
  max-width: 600px;
}

.phase-error {
  background-color: rgba(214, 68, 86, 0.1);
  border: 1px solid $color-red-error;
  color: $color-red-error;
  padding: 5px;
}

.phase-failed-icon {
  color: $color-red-error;
}
