.co-filter-dropdown__item {
  display: inline-flex;
  pointer-events: none;
}

.co-filter-dropdown__list-item {
  list-style: none;
}

/* No way to reach this ul */
.co-filter-dropdown-group > ul {
  margin-left: 0;
  padding-left: 0;
}

.co-filter-dropdown-item {
  display: inline-flex;
  margin: var(--pf-global--spacer--xs) 0;
}

.co-filter-dropdown-item__name {
  padding: 0 var(--pf-global--spacer--xs);
}

.co-filter-search--full-width {
    flex-grow: 1;
    max-width: 90vw;
}
