$global-notification-text: var(--pf-t--color--white);

.co-global-telemetry-notification {
  background-color: var(--pf-t--color--blue--50);
  color: $global-notification-text;
  padding: 4px $pf-v6-global-gutter;
  text-align: center;
  &__content {
    display: inline-flex;
    align-items: center;
  }

  &__button {
    margin-left: var(--pf-t--global--spacer--md);
  }
}
