$global-notification-text: $color-pf-white;

.co-global-notification {
  background-color: $color-pf-blue-400;
  color: $global-notification-text;
  font-weight: 300;
  padding: 4px ($grid-gutter-width / 2);
  text-align: center;

  @media(min-width: $grid-float-breakpoint) {
    padding: 6px $grid-gutter-width;
  }

  a {
    color: $global-notification-text;
    cursor: pointer;
    text-decoration: underline;
  }

  +  .co-global-notification {
    box-shadow: inset 0 10px 10px -10px rgba(0,34,53,0.7);
  }
}

.co-global-notification__text {
  margin: 0;
  padding: 5px 10px;
}

.co-global-notification__impersonate-name {
  font-weight: 700;
}

.co-global-notification__impersonate-kind {
  font-weight: 600;
  padding-right: 20px;
}
