$global-notification-text: var(--pf-t--color--white);

.co-global-notification {
  background-color: var(--pf-t--color--blue--50);
  color: $global-notification-text;
  padding: var(--pf-t--global--spacer--xs) var(--pf-t--global--spacer--md);
  text-align: center;

  + .co-global-notification {
    margin-top: 1px;
  }

  a {
    color: $global-notification-text;
  }

  button {
    color: $global-notification-text !important;
  }
}

.co-global-notification__text {
  margin: 0;
}

.co-global-notification__impersonate-name {
  font-weight: var(--pf-t--global--font--weight--body--bold);
}

.co-global-notification__impersonate-kind {
  font-weight: var(--pf-t--global--font--weight--body--bold);
  padding-right: 20px;
}
