$co-m-horizontal-nav__menu-item-link-padding-lr-desktop: 17px;
$co-m-horizontal-nav__menu-item-link-padding-lr-mobile: 15px;

.co-m-horizontal-nav {
  display: flex;
  flex-direction: column;
}

.co-m-horizontal-nav__menu {
  border-bottom: 1px solid $color-grey-background-border;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  @media (min-width: $grid-float-breakpoint) {
    margin-left: (-$co-m-horizontal-nav__menu-item-link-padding-lr-desktop);
    padding: 0 30px;
  }
}

//pf4 specificity overrides
ul.co-m-horizontal-nav__menu {
  list-style: none;
}

.co-m-horizontal-nav__menu__primary {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.co-m-horizontal-nav__menu__secondary {
  display: flex;
  list-style: none;
  margin: 0;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
}

.co-m-horizontal-nav__menu__secondary::-webkit-scrollbar {
  display: none;
}

.co-m-horizontal-nav__menu-item {
  font-size: 18px;
  margin: 0;
  text-align: center;
  a,
  button {
    color: $color-pf-black-700;
    position: relative;
    &:hover,
    &:focus {
      color: #252525;
      &::after {
        background: $color-pf-black-400;
      }
    }
    &::after {
      bottom: -1px;
      content: "";
      display: block;
      height: 2px;
      left: $co-m-horizontal-nav__menu-item-link-padding-lr-mobile;
      position: absolute;
      right: $co-m-horizontal-nav__menu-item-link-padding-lr-mobile;
      @media (min-width: $grid-float-breakpoint) {
        left: $co-m-horizontal-nav__menu-item-link-padding-lr-desktop;
        right: $co-m-horizontal-nav__menu-item-link-padding-lr-desktop;
      }
    }
  }
  &.co-m-horizontal-nav-item--active {
    a,
    button {
      color: $color-pf-blue-400;
      &::after {
        background: $color-pf-blue-400;
      }
    }
  }
  a,
  button {
    background: none;
    border: none;
    display: block;
    padding: 6px $co-m-horizontal-nav__menu-item-link-padding-lr-mobile 8px;
    text-decoration: none;
    @media (min-width: $grid-float-breakpoint) {
      padding-left: $co-m-horizontal-nav__menu-item-link-padding-lr-desktop;
      padding-right: $co-m-horizontal-nav__menu-item-link-padding-lr-desktop;
    }
  }
  //pf4 specificity
  a, a:hover{
    text-decoration: none;
  }
}

.co-m-horizontal-nav__menu-item--divider {
  border-left: 1px solid $color-grey-background-border;
  margin: 0 10px;
}

.overview__sidebar {
  .co-m-horizontal-nav__menu {
    padding: 0 5px;
    @media (min-width: $grid-float-breakpoint) {
      padding: 0 20px;
    }
  }
  .co-m-horizontal-nav__menu-item {
    font-size: 16px;
    line-height: normal;
  }
}
