.co-m-horizontal-nav__menu {
  border-bottom: 1px solid $color-grey-background-border;
  @media (min-width: $grid-float-breakpoint) {
    padding-left: ($grid-gutter-width / 2);
    padding-right: $grid-gutter-width;
  }
  &--scrollable {
    padding: 0 ($grid-gutter-width / 2);
    @media (min-width: $grid-float-breakpoint) {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;
    }
  }
  &--within-sidebar {
    border-top: 1px solid $color-grey-background-border;
    margin-bottom: $grid-gutter-width;
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
    @media (min-width: $grid-float-breakpoint) {
      margin-left: -($grid-gutter-width);
      margin-right: -($grid-gutter-width);
      padding-right: ($grid-gutter-width / 2);
    }
    .co-m-horizontal-nav__menu-item {
      font-size: 16px;
      line-height: normal;
    }
  }
  &--within-overview-sidebar {
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
  .pf-c-nav__item {
    margin-right: $grid-gutter-width !important;
  }
  // override PF4
  .pf-c-nav__scroll-button {
    height: 30px !important;
    padding: 0 !important;
    top: 5px !important;
    width: $grid-gutter-width !important;
    &:nth-of-type(1) {
      left: -($grid-gutter-width / 2) !important;
      @media (min-width: $grid-float-breakpoint) {
        left: -($grid-gutter-width) !important;
      }
    }
    &:nth-of-type(2) {
      right: -($grid-gutter-width / 2) !important;
      @media (min-width: $grid-float-breakpoint) {
        right: -($grid-gutter-width) !important;
      }
    }
  }
}

.co-m-horizontal-nav__menu-list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.co-m-horizontal-nav__menu-item {
  font-size: 18px;
  a,
  button {
    background: transparent;
    border: 0;
    color: var(--pf-c-tabs__button--Color);
    display: block;
    padding: 6px ($grid-gutter-width / 2) 8px;
    position: relative;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none;
      &::after {
        background: $color-pf-black-400;
      }
    }
    &::after {
      bottom: -1px;
      content: "";
      display: block;
      height: 2px;
      left: ($grid-gutter-width / 2);
      position: absolute;
      right: ($grid-gutter-width / 2);
    }
  }
  &.co-m-horizontal-nav-item--active {
    a,
    button {
      color: $link-color;
      &::after {
        background: $link-color;
      }
    }
  }
  // override PF4
  .pf-c-nav__link {
    font-weight: var(--pf-global--FontWeight--normal) !important;
    padding-left: 0;
    padding-right: 0;
    padding-top: 6px !important;
    &::after {
      height: 2px !important;
    }
    &:active,
    &:focus,
    &:hover {
      color: var(--pf-c-tabs__button--Color);
      &::after {
        background-color: $color-pf-black-400 !important;
      }
    }
    &.pf-m-current {
      color: $link-color;
      &:active,
      &:focus,
      &:hover {
        color: $link-color;
        &::after {
          background-color: $link-color !important;
        }
      }
    }
  }
}
