$co-icon-and-text-icon-lg: 1.2rem;

.co-icon-and-text {
  align-items: baseline;
  display: flex;

  // fix bug where concurrent .pf-c-label are misaligned vertically
  .pf-c-label__icon & {
    display: block;
  }
}

.co-icon-and-text__icon {
  margin-right: 5px;
}

.co-icon-and-text--lg {
  display: block;

  .co-icon-and-text__icon {
    font-size: $co-icon-and-text-icon-lg;
    margin-right: 1rem;
  }
}
