.co-import-yaml-link {
  margin-left: auto;

  &:hover {
    background-color: transparent;
  }

  @media (min-width: $grid-float-breakpoint) {
    padding-top: 7px !important;
  }
}

.co-create-from-yaml__add-icon {
  margin-right: 9px;
}
