.co-resource-list__item {
  height: 100%;
  transition: all 0.25s;
  position: relative;
}

.compaction-btn {
  margin-right: 0 !important;
}

.co-resource-kebab {
  position: absolute;
  right: 0;
}
