.co-system-status-icon {
  margin-top: 3px;
  .visible-xs-block & {
    margin-top: 5px;
  }
}

.co-username {
  font-size: $pf-header-icon-fontsize; // for cases where there is no user menu
  max-width: 190px !important; // PF4 does not limit username length (upstream bug)
  overflow-x: hidden;
  padding: 0 8px; // so sizing is consistent with .pf-c-dropdown__toggle
  text-overflow: ellipsis;
  @media(min-width: 820px) {
    max-width: 225px !important;
  }
  @media(min-width: $screen-md-min) {
    max-width: 300px !important;
  }
}

.co-update-icon svg {
  color: $color-pf-blue-400;
}

.co-app-launcher {
  // PF4 app-launcher does not support the align right modifier yet: https://github.com/patternfly/patternfly-next/issues/1972
  .pf-m-align-right {
    right: 0;
  }

  ul {
    list-style: none;
  }

  .pf-c-app-launcher__menu-item-external-icon {
    opacity: 1;
    color: var(--pf-global--icon--Color--light);
  }
  .pf-c-app-launcher__menu-item {
    &:hover, &:focus {
      .pf-c-app-launcher__menu-item-external-icon {
        color: var(--pf-c-app-launcher__menu-item-external-icon--Color);
      }
    }
  }
}
