.co-masthead-icon {
  font-size: 14px;
}
.co-masthead-icon__button {
  cursor: pointer;
  padding: 0px 10px;
}
.co-masthead__timer__span {
  font-size: 13px;
  margin-left: 4px;
}
.co-masthead__extend {
  font-size: 12px;
}
.co-masthead__line {
  border-right: 1px solid #c5c7c8;
  height: 18px;
  margin: 0px 10px;
}
.co-username {
  font-size: 13px; // for cases where there is no user menu
  line-height: 24px;
  max-width: 140px !important; // PF4 does not limit username length (upstream bug)
  overflow-x: hidden;
  padding: 0 8px; // so sizing is consistent with .pf-c-dropdown__toggle
  text-overflow: ellipsis;
  color: black;
  @media (min-width: 855px) {
    max-width: 225px !important;
  }
  @media (min-width: $screen-md-min) {
    max-width: 275px !important;
  }
  @media (min-width: $screen-lg-min) {
    max-width: 300px !important;
  }
}

.co-app-launcher {
  // PF4 app-launcher does not support the align right modifier yet: https://github.com/patternfly/patternfly-next/issues/1972
  .pf-m-align-right {
    right: 0;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  .pf-c-app-launcher__menu-item-external-icon {
    opacity: 1;
    color: var(--pf-global--icon--Color--light);
  }
}
