.monitoring-heading {
  display: flex;
  justify-content: space-between;
}

.monitoring-header-link {
  font-size: $font-size-base;
  margin-left: 14px;
}

.monitoring-grid-head {
  padding-bottom: 5px;
}

$monitoring-line-height: 18px;

.monitoring-description, .monitoring-label-list, .monitoring-timestamp {
  line-height: $monitoring-line-height;
  margin-top: 4px;
}

.monitoring-description {
  // Limit to $num-lines lines of text. Truncate with an ellipsis in WebKit. Just overflow hidden for other browsers.
  $num-lines: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num-lines;
  height: $num-lines * $monitoring-line-height;
  overflow: hidden;
  text-overflow: ellipsis;
}

.monitoring-silence-reg-ex {
  padding-left: 0;
}

.monitoring-silence-remove-button {
  padding-left: 30px !important;
  padding-right: 0 !important;
}

.monitoring-timestamp {
  display: flex;
  flex-flow: row wrap;
  font-size: ($font-size-base - 1);
}

.monitoring-query {
  color: $color-pf-blue-400;
}

.monitoring-state-icon--pending {
  color: $color-pf-black-700;
}
