.co-actions {
  align-items: flex-end;
  display: flex;
  font-family: var(--pf-t--global--font--family--body);
  flex-shrink: 0;
  @media (max-width: $screen-xs) {
    align-self: flex-start;
    flex-direction: column;
  }
}

.co-action-buttons__btn {
  margin-left: 10px;
  @media (max-width: $screen-xs) {
    margin-bottom: 10px;
  }
}

.co-m-nav-title {
  gap: 0;
  // PageHeading has a use case where it outputs an empty node
  // but that empty node should not take up space
  &:empty {
    padding: 0 !important;
  }
  &--breadcrumbs {
    padding-top: 0;
  }
  &--row {
    gap: var(--pf-t--global--spacer--md);
    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
