.co-actions {
  align-items: flex-end;
  display: flex;
  @media(max-width: $screen-xs){
    flex-direction: column;
  }
}

@media(max-width: $screen-xs){
  .co-action-buttons__btn {
    margin-bottom: 10px;
  }
}

.co-action-buttons__btn, // btn along with drowdown actions
.co-actions-menu {
  margin-left: 10px;
}

.co-m-nav-title {
  margin-top: $pf-global-gutter--md;
  padding: 0 $pf-global-gutter 0;
  @media (min-width: $pf-global--breakpoint--xl) {
    padding-left: $pf-global-gutter--md;
    padding-right: $pf-global-gutter--md;
  }
  &--row {
    @media (max-width: $screen-xs-max) {
      margin-bottom: 30px;
    }
    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &--detail {
    border-bottom: 1px solid $color-grey-background-border;
    flex-shrink: 0; // do not allow to shrink
  }
  // Positioned after --detail to take precedence, since they will be a siblings
  &--breadcrumbs {
    margin-top: 0;
  }
}
