// nav stuff
$link-padding-left: 40px;
$section-padding-left: 13px;
$active-border: 3px;

@mixin active-bar {
  &::before {
    background: $color-os-nav-border-left-active;
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 3px;
  }
}

@mixin active-text {
  color: #fff;
  font-weight: 600;
}

.co-m-masthead-link,
.co-m-nav-link {
  display: block;
  float: none;
  font-size: 12px;
  line-height: 23px;
  overflow-x: hidden;
  padding-left: $link-padding-left;
  position: relative;
  white-space: nowrap;
  a {
    background-color: inherit;
    color: $color-os-nav-title;
    display: inline-block;
    padding: 2px 0;
    text-decoration: none;
    width: 100%;
  }
  &.active {
    background-color: $color-pf-black-700;
    @include active-bar;
    a {
      @include active-text;
    }
  }
}

.co-m-nav-link {
  &:hover {
    background-color: $color-os-nav-background-active;
  }
  &:focus {
    background-color: transparent;
  }
}

.co-m-nav-link__external a:after {
  color: $color-os-nav-icon;
}

.navigation-container {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.navigation-container--open {
  .navigation-container__section__title .fa-angle-right {
    display: inline-block;
  }
  .navigation-container__separator {
    border-bottom: 1px solid $color-pf-black;
  }
}

.navigation-container--active {
  background-color: $color-pf-black-800;
  .navigation-container__separator {
    border-bottom: 1px solid $color-os-nav-separator;
  }
}

.navigation-container__list {
  margin: 0;
  opacity: 0;
  overflow-y: hidden;
  padding-left: 0;
  transition:
    max-height 150ms ease-in-out,
    opacity 150ms 25ms;
  > li {
    &:first-child {
      margin-top: 5px;
    }
    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.navigation-container__list--open {
  opacity: 1;
}

.navigation-container__section {
  border-bottom: 1px solid $color-os-nav-border-bottom;
}

.navigation-container__section__title {
  align-items: center;
  color: $color-os-nav-title;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 0px 20px $section-padding-left;
  position: relative;
  width: 100%;
  &:hover {
    background-color: $color-pf-black-800;
    .fa-angle-right {
      display: inline-block;
    }
  }
  .fa-angle-right {
    display: none;
    font-size: 20px;
    margin-right: 20px;
    transform: rotate(0);
    transition: transform 100ms;
    &.navigation-container__section--open {
      transform: rotate(90deg);
    }
  }
  span {
    display: inline-block;
    margin: 0 15px 0 11px;
  }
}

.navigation-container__section__title--active {
  @include active-text;
}

.navigation-container__section__title--active-closed {
  @include active-bar;
}

.navigation-container__section__title--active-open {
  &:hover {
    background-color: $color-os-nav-background-active;
  }
}

.navigation-container__section__title--inactive-open:hover {
  background-color: $color-pf-black-800;
}

.navigation-container__section__title__link,
.navigation-container__section__title__link:hover,
.navigation-container__section__title__link:focus  {
  color: $color-os-nav-title;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
}
.navigation-container__section__title__icon {
  color: $color-os-nav-icon;
  font-size: 15px;
  left: $section-padding-left;
  position: absolute;
  &[src*="operator"] {
    width: 15px;
  }
  &[src*="routing"] {
    margin-left: -1px;
    width: 18px;
  }
  &.fa-cog {
    font-size: 17px;
  }
  &.pficon-catalog {
    font-size: 14px;
  }
}

.navigation-container__section__title__icon--active {
  color: $color-pf-blue-300;
}

.navigation-container__section__title__text {
  flex: 1;
  margin-left: ($link-padding-left - $section-padding-left);
}

.navigation-container__separator {
  margin: 8px 20px 8px 40px;
}
