// nav stuff
$link-padding-left: 40px;
$section-padding-left: 13px;
$active-border: 3px;

.co-m-masthead-link,
.co-m-nav-link {
  display: block;
  float: none;
  font-size: 12px;
  line-height: 23px;
  overflow-x: hidden;
  padding: 2px 0 2px $link-padding-left;
  white-space: nowrap;

  a {
    background-color: inherit;
    color: $color-os-nav-title;
    display: inline-block;
    text-decoration: none;
    width: 100%;
  }

  &.active {
    background-color: $color-pf-black-700;
    border-left: $active-border solid $color-os-nav-border-left-active;
    font-weight: 600;
    padding-left: $link-padding-left - $active-border;
    a {
      color: #fff;
    }
  }
}

.co-m-nav-link {
  &:hover {
    background-color: $color-os-nav-background-active;
  }

  &:focus {
    background-color: transparent;
  }
}

.co-m-nav-link__external a:after {
  color: $color-os-nav-icon;
}

.navigation-container {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.navigation-container--open .navigation-container__separator {
  border-bottom: 1px solid $color-pf-black;
}

.navigation-container--active {
  background-color: $color-pf-black-800;
  .navigation-container__separator {
    border-bottom: 1px solid $color-os-nav-separator;
  }
}

.navigation-container__list {
  margin: -10px 0 10px 0;
  overflow-y: hidden;
  padding-left: 0;
  transition: max-height 0.25s;
}

.navigation-container__list--open {
  margin: 5px 0 10px 0;
}

.navigation-container__section {
  border-bottom: 1px solid $color-os-nav-border-bottom;
}

.navigation-container__section__title {
  align-items: center;
  color: $color-os-nav-title;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 0px 20px $section-padding-left;
  width: 100%;
  img {
    margin-right: 12px;
    width: 15px;
    &[src^="/static/assets/routing"] {
      margin-left: -1px;
      margin-right: 10px;
      width: 18px;
    }
  }
  span {
    display: inline-block;
    margin: 0 15px 0 11px;
  }
  &:hover {
    background-color: $color-pf-black-800;
    .fa-angle-right {
      display: inline-block;
    }
  }
}

.navigation-container__section__title--active {
  color: #fff;
  font-weight: 600;
}

.navigation-container__section__title--active-closed {
  border-left: $active-border solid $color-os-nav-border-left-active;
  padding-left: $section-padding-left - $active-border;
}

.navigation-container__section__title--active-open {
  &:hover {
    background-color: $color-os-nav-background-active;
  }
}

.navigation-container__section__title--inactive-open:hover {
  background-color: $color-pf-black-800;
}

.navigation-container__section__title__link,
.navigation-container__section__title__link:hover,
.navigation-container__section__title__link:focus  {
  color: $color-os-nav-title;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
}

.navigation-container__section__title__icon {
  color: $color-os-nav-icon;
  margin-right: 9px;
  width: 18px;
  &.fa {
    font-size: 15px;
  }
  &.fa-angle-down {
    font-size: 20px;
    margin-left: auto;
  }
  &.fa-angle-right {
    display: none;
    font-size: 20px;
    margin-left: auto;
  }
  &.fa-cog {
    font-size: 18px;
  }
  &.fa-folder-open-o,
  &.pficon-user {
    font-size: 16px;
  }
}

.navigation-container__section__title__icon--active {
  color: $color-pf-blue-300;
}

.navigation-container__separator {
  margin: 8px 20px 8px 40px;
}
