.co-actions {
  display: flex;
  @media(max-width: $screen-xs){
    align-items: flex-end;
    flex-direction: column;
  }
}

.co-action-buttons__btn,
.co-actions-menu {
  margin-left: 3px;
}

.co-actions-menu .dropdown_not-btn {
  display:flex;
  align-items: center;
}

.co-m-nav-title {
  padding: var(--pf-global--spacer--md) var(--pf-global--spacer--md) var(--pf-global--spacer--md) var(--pf-global--spacer--xl);
  & > * {
    margin-bottom: var(--pf-global--spacer--md);
  }

  .co-m-pane__heading:only-child{
    margin: 0;
  }
  .co-m-pane__heading:not(:only-child), .co-m-pane__heading + * {
    margin: 0 0 var(--pf-global--spacer--md);
  }

  &--breadcrumbs {
    padding-top: 0;
  }
  &--detail {
    border-bottom: 1px solid $color-grey-background-border;
    background-color: $color-pf-black-150;
  }
  &--logo {
    padding-top: ($grid-gutter-width / 2);
  }
  &--overview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media (min-width: $screen-md-min) {
      flex-direction: row;
    }
    justify-content: space-between;
  }
}
