.co-actions {
  display: flex;
  @media(max-width: $screen-xs){
    align-items: flex-end;
    flex-direction: column;
  }
}

.co-action-buttons__btn,
.co-actions-menu {
  margin-left: 3px;
}

.co-m-nav-title {
  padding: $grid-gutter-width ($grid-gutter-width / 2) 0;
  @media (min-width: $grid-float-breakpoint) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
  &--breadcrumbs {
    padding-top: 0;
  }
  &--detail {
    border-bottom: 1px solid $color-grey-background-border;
  }
  &--logo {
    padding-top: ($grid-gutter-width / 2);
  }
  &--overview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media (min-width: $screen-md-min) {
      flex-direction: row;
    }
    justify-content: space-between;
  }
}
