.co-network-policy-sidebar-header {
  margin: 0;
}

.co-network-policy-sidebar-list {
  padding-left: 15px;
}

.co-network-policy-sidebar-item {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.co-network-policy-sidebar-item__header {
  font-weight: 600;
}

.co-network-policy-sidebar-item__details {
  padding: 25px 0;
  margin: 0
}
