.co-notification-drawer {
  overflow-y: hidden !important;
  z-index: 10;
  @include co-break-word;
}

.pf-c-drawer.pf-m-inline .pf-c-notification-drawer__header {
  // fix upstream bug where header overlays divider
  margin-left: 1px;
}

.pf-c-drawer__content {
  --pf-c-drawer__content--ZIndex: auto;
}

// PatternFly does not have an `update` variant
// See https://github.com/patternfly/patternfly/issues/3312
.pf-c-notification-drawer__list-item.pf-m-update {
  --pf-c-notification-drawer__list-item--before--BackgroundColor: var(--pf-global--default-color--200);
}

.pf-c-notification-drawer__group-list {
  h1 {
    // fix category caption style bug
    margin: 0;
    padding: 0;
    font-size: $font-size-base;
    font-family: $font-family-base;
  }
}

.pf-c-notification-drawer__list-item-header-title {
  // fix list item caption style bug
  font-size: $font-size-base;
}

.pf-c-notification-drawer__group {
  .pf-c-notification-drawer__list {
    // fix scroll bar bug
    overflow: visible !important;
  }
}

.pf-c-notification-drawer__group.pf-m-expanded {
  // fix display bugs when there are more than 3 items in a group
  flex: none !important;
  min-height: 0 !important;
}
