.os-masthead {
  background-color: #030303;
  color: $color-os-nav-title;
  font-size: 14px;
}

.os-header {
  align-items: center;
  display: flex;
  height: 60px;
}

.os-header__logo {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 20px;
  padding-right: 20px;
}

.os-header__console-picker {
  margin-left: 10px;
}

.os-header__user {
  margin-left: auto;
  margin-right: 10px;
}
