.os-masthead {
  background-color: #030303;
  color: $color-os-nav-title;
  font-size: 14px;
}

.os-header {
  align-items: center;
  display: flex;
  height: 60px;
}

.os-header__logo {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 20px;
  padding-right: 20px;
}

.os-header__console-picker {
  margin-left: 10px;
}

.os-header__user {
  margin-left: auto;
  margin-right: 20px;
}

.os-header__user-icon {
  margin-right: 5px;
}

.os-header__user-menu {
  left: auto;
  letter-spacing: normal;
  right: 3px;
  ul > li {
    padding: 2px 0;
    a {
      &:hover {
        background-color: #def3ff;
        border: 1px solid #bee1f4;
      }
    }
  }
}
