.overview-toolbar {
  margin: 0;
  min-width: 0;
  padding: 0;
}

.overview-toolbar__dropdown {
  display: inline-block;
  max-width: 100%; // enable text-overflow: ellipsis
  @media (max-width: $screen-xs-max) {
    min-width: 100%;
  }
  .btn-dropdown {
    max-width: 280px;
  }
}

.overview-toolbar__label {
  margin: 0 10px 0 0;
  vertical-align: middle;
}

.toolbar-pf .overview-toolbar__form-group:first-child {
  margin-bottom:  ($grid-gutter-width / 4);
  padding-left: 0;
}

.overview {
  bottom: 0;
  display: flex;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  .overview__main-column {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .overview__sidebar {
    background: #fff;
    bottom: 0;
    box-shadow: -5px 0 3px 2px rgba(0,0,0,0.05), -1px 0px 3px 2px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 5;

    .resource-overview {
      height: 100%;
      min-height: 0;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }

  &.overview--sidebar-shown {
    .overview__sidebar {
      display: flex;
      flex-direction: column;
    }

    @media(min-width: $screen-lg-min) {
      .overview__main-column {
        width: calc(100% - 505px);
      }

      .overview__sidebar {
        min-height: 0;
        overflow: hidden;
        width: 550px;
      }
    }
  }

  .overview__sidebar-dismiss {
    background: #fff;
    border-bottom: 1px solid $color-grey-background-border;
    padding: 5px 20px;
    overflow: hidden;

    .pficon-close {
      font-size: 16px;
    }
  }
}

.overview__sidebar-pane-body {
  margin: $grid-gutter-width 0 0;
  padding: 0 20px;
}

.overview__sidebar-pane-head {
  background-color: $color-grey-background;
  border-bottom: 1px solid $color-grey-background-border;
  padding-top: 20px;

  .co-m-pane__heading {
    margin: 0 20px 25px;
  }

  .co-actions-menu {
    margin-top: -3px;
  }
}
