.log-pane {
  color: #fff;
}

.log-pane__header {
  background-color: #555;
  padding: 8px 10px 5px 10px;
  font-size: 13px;
}

.log-container-selector__text {
  padding-left: 15px;
  padding-right: 15px;
}
