
// Nesting increases specificity so that pf list styles are always overridden
.project-overview {
  .project-overview__additional-info {
    align-items: center;
    display: grid;
    grid-column-gap: 10px;
    grid-template-areas: "alert status";
    grid-template-columns: 50% 50%;
    width: 100%;
  }

  .project-overview__detail--alert {
    grid-area: alert;
    min-width: 0; // To enable text-overflow: ellipsis within a css-grid area
  }

  .project-overview__detail--status {
    grid-area: status;
  }

  .project-overview__item {
    min-height: 71px;
  }

  .project-overview__item--selected,
  .project-overview__item.project-overview__item--selected:hover, {
    background-color: $color-pf-blue-100;
  }

  .project-overview__item .project-overview__item-chevron {
    visibility: hidden;
  }

  .project-overview__item:hover .project-overview__item-chevron,
  .project-overview__item.project-overview__item--selected .project-overview__item-chevron {
    visibility: visible;
  }

  .project-overview__item-heading {
    font-size: 16px;
    margin: 0;
  }

  .project-overview__group {
    margin-bottom: 40px;
  }

  .project-overview__group-heading {
    font-size: 22px;
    font-weight: 300;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    padding: 5px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .project-overview__item {
    cursor: pointer;
    border-left: 0;
    border-right: 0;
    position: relative;
    &::after {
      align-self: center;
      content: $fa-var-chevron-right;
      display: none;
      font-family: 'FontAwesome';
      position: absolute;
      right: 25px;
    }

    &--selected::after,
    &:hover::after {
      display: block;
    }

    &--selected,
    &--selected:hover {
      background-color: $color-pf-blue-100;
      border-color: $color-pf-blue-100;
    }
  }

  .project-overview__item-heading {
    font-size: 16px;
    margin: 0;
  }

  .project-overview__list {
    margin-top: 0;
  }

  @media (max-width: $screen-sm-max) {

    .project-overview__additional-info {
      grid-template-columns: auto;
      grid-template-rows: auto auto;
      grid-template-areas:
        "alert"
        "status";
    }

    .project-overview__detail {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    .project-overview__item-heading {
      margin-bottom: 20px;
    }
  }
}
