.co-resource-quota-icon {
  padding-left: 34px;
}

.co-resource-quota-empty {
  font-size: 15px;
}

.co-resource-quota-chart-row {
  display: flex;
  margin-bottom: 20px;
  .co-resource-quota-chart {
    min-width: 150px;
  }
}

.co-resource-quota-scope__label {
  font-weight: 500;
}
.co-resource-quota-scope__description {
  font-size: 12px;
  font-weight: 300;
}
