.co-resource-quota-chart-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.co-resource-quota-dashboard-scopes {
  font-size: $font-size-h5;
  font-weight: 300;
}

.co-resource-quota-gauge-chart {
  min-width: 170px;
}

.co-resource-quota-icon {
  padding-left: 34px;
}

.co-resource-quota-scope__description {
  font-size: $font-size-small;
  font-weight: 300;
}

.co-resource-quota-scope__label {
  font-weight: 500;
}
