.co-type-selector {
  .co-type-selector__icon-wrapper {
    display: inline-block;
    text-align: center;
    width: 40px;
  }

  .dropdown .btn {
    margin-right: -2px;
  }

  .dropdown-menu {
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
    a {
      padding: 4px 20px 4px 6px;
    }
  }
}
