.co-search {
  padding-bottom: 30px;
  @media(max-width: $grid-float-breakpoint-max) {
    .pf-c-input-group {
      display: block;
      .pf-c-dropdown__toggle {
        margin-bottom: 2px;
        width: 100%;
      }
    }
  }
}

.co-search-input.pf-c-form-control {
  align-items: center;
  display: flex;
  height: auto; // allow tags to wrap
  padding: 3px 0;
  width: 100%;
}

.co-type-selector {
  .pf-c-dropdown__toggle .show {
    display: inline !important;
    &::before {
      content: "- "
    }
  }
  .pf-c-dropdown__menu {
    min-width: 290px;
    @media (min-width: 480px) {
      min-width: 350px;
    }
    &:active,
    .active a,
    .active a:focus,
    .active a:hover {
      .co-resource-item__resource-api {
        color: $dropdown-link-active-color;
      }
    }
  }
}
