.co-search {
  padding-bottom: 30px;
  @media (max-width: $pf-global--breakpoint--sm-max) {
    .pf-c-input-group {
      display: block;
      .pf-c-dropdown__toggle {
        margin-bottom: 2px;
        width: 100%;
      }
    }
  }
}

.co-search-group {
  display: flex;
  flex-direction: column;
  @media (min-width: $screen-xs-min) {
    flex-direction: row;
  }
}

.co-search-group__filter {
  flex: 1 0 auto;
}

.co-search-group__accordion-label {
  display: flex;
  align-items: center;
  flex: 1;
  .small {
    font-weight: normal !important;
  }
  .text-muted {
    margin-left: 10px;
  }
}
.co-search-group__accordion-toggle {
  margin-top: 30px;
  .pf-c-accordion__toggle-text {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 480px) {
      flex-direction: row;
    }
  }

  .co-search-group__pin-toggle {
    padding-left: var(--pf-global--spacer--xs);
    padding-right: var(--pf-global--spacer--xs);
    margin-right: var(--pf-global--spacer--sm);
    text-align: left;
  }
  .co-search-group__pin-toggle__icon {
    margin-right: var(--pf-global--spacer--xs);
  }
}

.co-search-group__resource {
  margin: 0 15px 15px 0;
  width: auto !important;
}

.co-search-input.pf-c-form-control {
  --pf-c-form-control--Width: 100%;
  --pf-c-form-control--PaddingTop: 3px;
  --pf-c-form-control--PaddingRight: 9px;
  --pf-c-form-control--PaddingBottom: 3px;
  --pf-c-form-control--PaddingLeft: 9px;

  align-items: center;
  display: flex;
  height: auto; // allow tags to wrap
}

.co-type-selector {
  .pf-c-select__menu {
    min-width: 290px;
    @media (min-width: 480px) {
      min-width: 350px;
    }
    .co-resource-item__tech-dev-preview {
      color: red;
      margin-left: 10px;
    }
  }
}

.span--icon__right-margin {
  margin-right: 6px;
}
