$color-row-filter-border: $color-pf-black-300;
$color-row-filter-border--active: $color-pf-blue-300;

.co-m-row-filter__controls {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.co-m-row-filter__items {
  font-weight: bold;
  padding: 7px 10px;
  white-space: nowrap;
}

.co-m-row-filter__selector {
  border: 0;
  padding: 7px 10px;
  white-space: nowrap;
}

.row-filter {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 3px;
  outline: 1px solid $color-row-filter-border;
}

.row-filter__box {
  background: $color-pf-black-150;
  display: inline-block;
  padding: 7px 10px;
  //  relative is to trigger z-index
  position: relative;
  &,
  &:focus,
  &:hover {
    color: inherit;
    outline: 1px solid;
    outline-color: $color-row-filter-border;
    text-decoration: none;
  }
  &:focus {
    outline-offset: 0;
    outline: 1px dotted;
    outline-color: darken($color-row-filter-border, 40%);
    z-index: 2;
  }
  &:hover {
    text-decoration: none;
  }
}

.row-filter__box--active {
  background: $color-pf-blue-50;
  outline-color: $color-row-filter-border--active !important;
  // z-index is because latter blocks overlap the joining outline of former blocks
  z-index: 1;
  &:focus {
    outline-color: darken($color-row-filter-border--active, 25%) !important;
  }
}

.row-filter__box--empty {
  color: $color-pf-black-500 !important;
  .row-filter__number-bubble {
    background: inherit;
  }
}

.row-filter__number-bubble {
  background: $color-pf-white;
  border-radius: 4px;
  border: 1px solid $color-row-filter-border;
  display: inline-block;
  line-height: 16px;
  margin-right: 6px;
  padding: 2px 5px 0;
  text-align: center;
}
