@import '~@patternfly/patternfly/sass-utilities/index';

.co-row-filter {
  margin-bottom: var(--pf-t--global--spacer--xl);
  position: relative;

  // use pseudo element for border so that .pf-v6-c-toggle-group__item(s) overlap
  @media screen and (min-width: $pf-v6-global--breakpoint--md) {
    &::before {
      border: var(--pf-t--global--border--width--100) solid
        var(--pf-t--global--border--color--default);
      border-radius: var(--pf-t--global--border--radius--tiny);
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .pf-v6-c-toggle-group {
    overflow: auto;
  }

  .pf-v6-c-toggle-group__button {
    align-items: baseline;
    display: flex;
    text-decoration: none;
  }

  .pf-v6-c-toggle-group__item:first-child .pf-v6-c-toggle-group__button {
    &,
    &::before {
      border-bottom-left-radius: var(--pf-t--global--border--radius--tiny);
      border-top-left-radius: var(--pf-t--global--border--radius--tiny);
    }
  }
}

// .pf-v6-c-toggle-group has a default border-radius
// Since .co-row-filter wraps both .pf-v6-c-toggle-group and .co-row-filter__items with a boxed border at > 768px,
// we move the top-right & bottom-right radius from .pf-v6-c-toggle-group__item:list-child to the right side of the .co-row-filter box.
@media screen and (min-width: $pf-v6-global--breakpoint--md) {
  .co-row-filter .pf-v6-c-toggle-group__item:last-child .pf-v6-c-toggle-group__button,
  .co-row-filter .pf-v6-c-toggle-group__item:last-child .pf-v6-c-toggle-group__button::before {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}

.co-row-filter__items {
  font-weight: var(--pf-t--global--font--weight--body--bold);
  white-space: nowrap;

  @media screen and (min-width: $pf-v6-global--breakpoint--md) {
    padding: 0 var(--pf-t--global--spacer--md);
  }
}

.co-row-filter__number-bubble {
  border: var(--pf-t--global--border--width--100) solid var(--pf-t--global--border--color--default);
  border-radius: var(--pf-t--global--border--radius--tiny);
  margin-right: var(--pf-t--global--spacer--sm);
  padding: 0 3px;

  &.co-row-filter__number-bubble--active {
    border-color: var(--pf-t--color--blue--40);
  }
}
