$color-row-filter-border: $pf-color-black-300;
$color-row-filter-border--active: $pf-color-blue-300;

.co-m-row-filter__controls {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 1;
}

.co-m-row-filter__items {
  font-weight: var(--pf-global--FontWeight--bold);
  padding: 7px 10px;
  white-space: nowrap;
}

.co-m-row-filter__selector {
  white-space: nowrap !important;
}

.row-filter {
  background-color: var(--pf-global--BackgroundColor--100);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: $pf-global--spacer--xl;
  // use pseudo element for border so .row-filter__box-es can overlaps
  &::before {
    border: 1px solid $color-row-filter-border;
    bottom: calc(var(--pf-global--spacer--xl) - 1px);
    content: '';
    left: $pf-global-gutter;
    position: absolute;
    right: $pf-global-gutter;
    top: 0;
  }
}

.row-filter__box {
  background-color: var(--pf-global--palette--black-150);
  display: inline-block;
  margin: 0 -1px -1px 0;
  padding: 7px 10px;
  //  relative is to trigger z-index
  position: relative;
  &,
  &:focus,
  &:hover {
    border: 1px solid $color-row-filter-border;
    color: inherit;
    text-decoration: none;
  }
  &:focus {
    border-color: darken($color-row-filter-border, 40%);
    border-style: dotted;
    z-index: 2;
  }
  &:hover {
    text-decoration: none;
  }
}

.row-filter__box--active {
  background-color: var(--pf-global--palette--blue-50);
  border-color: $color-row-filter-border--active !important;
  // z-index is because latter blocks overlap the joining outline of former blocks
  z-index: 1;
  &:focus {
    border-color: darken($color-row-filter-border--active, 25%) !important;
  }
}

.row-filter__box--empty {
  color: $pf-color-black-500 !important;
  .row-filter__number-bubble {
    background: inherit;
  }
}

.row-filter__number-bubble {
  background-color: var(--pf-global--BackgroundColor--100);
  border-radius: 4px;
  border: 1px solid $color-row-filter-border;
  display: inline-block;
  line-height: 16px;
  margin-right: 6px;
  padding: 2px 5px 0;
  text-align: center;
}
