.co-search__accordion {
  padding-top: 0 !important;
  .co-m-pane__filter-bar {
    // Reduce the margin between the accordion toggle and the create button
    // so that the space is equal above and below the button.
    margin-top: ($grid-gutter-width / 2);
  }
  // There's no way to set a class name on this element with the PF4 component,
  // so use a nested selector.
  h3 {
    line-height: normal; // fix clipped descenders
    margin-bottom: 0;
  }
  // There's no way to set a class name on this element, so use the PF4 class.
  .pf-c-accordion__expanded-content-body {
    // Left align the content with the heading on the search page.
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .pf-c-accordion__expanded-content-body,
  .pf-c-accordion__toggle {
    &:before {
      // The expanded state indicator blends into the left nav. Hide it.
      display: none;
    }
  }
}

.co-search__filter-input {
  width: 100%;
}
