$sparkline-blue: #51a3d9;
$sparkline-orange: #f08e4e;
$sparkline-light-gray: #eee;
$sparkline-med-gray: #ddd;
$sparkline-dark-gray: #999;
$sparkline-red: #D7495B;
$sparkline-text: #333;

.sparkline {
  border: 1px solid $sparkline-med-gray;
  border-radius: 5px;
  font-size: 14px;
  margin: 15px;
  overflow: hidden;

  .header {
    padding: 6px 10px 4px;
    border-bottom: 1px solid $sparkline-light-gray;
  }

  .title {
    margin-right: 10px;
  }

  .timespan {
    color: $sparkline-dark-gray;
  }

  .data-toggle {
    float: right;
    color: $sparkline-dark-gray;
    padding: 3px;
    margin: 0 -3px -3px;

    &.enabled {
      color: $sparkline-blue;
      cursor: pointer;
      &:hover {
        color: darken($sparkline-blue, 15%);
      }
    }
  }

  .content {
    width: 10000px; // simulate 100% width for a table cell
    height: 60px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }

  .graph {
    height: 60px;
    background: url(/static/imgs/sparkline-grid.png);
    background-position: -1px -1px; // don't double the top or left borders
    background-size: 30px;
  }

  .limit-line {
    stroke: $sparkline-orange;
  }

  .tip {
    fill: #52a3d9;
  }

  text {
    font-size: 11px;
  }

  .tip-shadow {
    stroke: #fff;
    stroke-width: 2.5px;
    opacity: 0.7;
  }

  .limit-text {
    fill: $sparkline-orange;
  }

  p {
    text-align: center;
    color: $sparkline-dark-gray;
    margin: 0;
    padding: 0 10px;

    .fa {
      margin-right: 8px;
    }

    &.error {
      color: $sparkline-red;
    }

    a {
      cursor: pointer;
    }
  }

  .stats {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    padding-left: 1px;
    box-sizing: content-box;
    opacity: 0;
    display: none;

    &.in {
      display: flex;
      animation: sparkline-fade-in .15s ease-in forwards;
    }
  }

  dl {
    padding: 10px;
    flex-grow: 1;
  }

  dt {
    font-size: 13px;
    color: $sparkline-dark-gray;
  }

  dd {
    font-size: 16px;
    color: $sparkline-text;
  }
}

@keyframes sparkline-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
