.co-sparkline-wrapper {
  margin: -15px -15px 15px;
}

.co-sparkline {
  $sparkline-blue: #51a3d9;
  $sparkline-orange: #f08e4e;
  $sparkline-light-gray: #eee;
  $sparkline-med-gray: #ddd;
  $sparkline-dark-gray: #999;
  $sparkline-red: #D7495B;
  $sparkline-text: #333;

  border: 1px solid $sparkline-med-gray;
  border-radius: 5px;
  font-size: 14px;
  margin: 15px;
  overflow: hidden;

  .widget__header {
    padding: 6px 10px 4px;
    border-bottom: 1px solid $sparkline-light-gray;
  }

  .widget__title {
    margin-right: 10px;
  }

  .widget__timespan {
    color: $sparkline-dark-gray;
  }

  .widget__data-toggle {
    float: right;
    color: $sparkline-dark-gray;
    padding: 3px;
    margin: 0 -3px -3px;
  }

  .widget__data-toggle--enabled {
    color: $sparkline-blue;
    cursor: pointer;
    &:hover {
      color: darken($sparkline-blue, 15%);
    }
  }

  .widget__content {
    width: 10000px; // simulate 100% width for a table cell
    height: 60px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }

  .widget__text {
    text-align: center;
    color: $sparkline-dark-gray;
    margin: 0;
    padding: 0 10px;

    .fa {
      margin-right: 8px;
    }
  }

  .widget__link {
    cursor: pointer;
  }

  .widget__text--error {
    color: $sparkline-red;
  }

  // Statistical info about the data set, shows on hover

  .stats {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    padding: 4px 5px 5px;
    opacity: 0;
    display: none;
    overflow: hidden;
  }

  .stats--in {
    display: flex;
    align-items: center;
    animation: sparkline-fade-in .15s ease-in forwards;
  }

  .stats__item {
    padding: 5px;
    flex-grow: 1;
    max-height: 100%;
  }

  .stats__item-title {
    font-size: 13px;
    line-height: 1.15;
    margin-bottom: 1px;
    min-height: 18px;
    color: $sparkline-dark-gray;
  }

  .stats__item-value {
    font-size: 16px;
    line-height: 1;
    color: $sparkline-text;
  }

  // d3 chart styling

  .chart {
    height: 60px;
    background: url('../imgs/sparkline-grid.png');
    background-position: -1px -1px; // don't double the top or left borders
    background-size: 30px;
  }

  .chart__text {
    font-size: 11px;
  }

  .chart__limit-line {
    stroke: $sparkline-orange;
  }

  .chart__limit-text {
    fill: $sparkline-orange;
  }

  .chart__limit-text--shadow {
    fill: #fff;
    stroke: #fff;
    stroke-width: 3;
    opacity: 0.5;
  }

  .chart__tip, .chart__tip-text-bg {
    fill: #333;
    opacity: 0.95;
  }

  .chart__tip-data {
    fill: #fff;
  }
}

.co-namespace-sparkline {
  padding-left: 0;
  padding-right: 0;
  max-width: 400px;
}

@keyframes sparkline-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
