.co-sysevent-icon {
  background-color: var(--pf-t--global--background--color--primary--default);
  border: var(--pf-t--global--border--width--300) solid var(--pf-t--global--border--color--50);
  border-radius: var(--pf-t--global--border--radius--400);
  position: relative;
  z-index: 10;
  height: 18px;
  width: 18px;
}

.co-sysevent--warning {
  .co-sysevent-icon,
  .co-sysevent__box {
    border-color: var(--pf-t--global--border--color--status--warning--default);
  }
  .co-sysevent__icon-line {
    background-color: var(--pf-t--global--border--color--status--warning--default);
  }
}
