$color-dark-border: #ddd;

.co-sysevent-stream {
  padding: 60px 0 50px 0;
}

.slide-entering {
  left: 100%;
  opacity: 0;
}

.slide-entered {
  left: 0;
  opacity: 1;
  transition: all 0.5s;
}

.co-sysevent-stream__connection-error {
  color: $color-red-error;
}

.co-sysevent-stream__timeline {
  overflow: visible;
  position: absolute;
  top: 35px;
  bottom: 30px;
  border-style: solid;
  border-color: $color-grey-border;
  border-width: 0;
  left: 0;
}

.co-sysevent-stream__timeline--empty {
  border: none;
  .co-sysevent-stream__timeline__end-message {
    display: none;
  }
}

.co-sysevent-stream__status {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9px;
  left: 40px;
  right: 0;
  @media(min-width: $screen-xs-min) {
    flex-direction: row;
    justify-content: space-between;
  }
  @media(min-width: $screen-sm-min) {
    left: 45px;
  }
}

.co-sysevent-stream__status-box-empty {
  border-style: solid;
  border-color: $color-grey-border;
  border-width: 1px 0;
}

.co-sysevent-stream__timeline__end-message {
  position: absolute;
  bottom: 0;
  width: 400px;
  left: 0;
  transform: translateY(50%);
}

.co-sysevent-stream__timeline__btn {
  margin: 0;
  transform: translate(0%, -100%);
  margin-left: 2px;
}

.co-sysevent-stream__timeline__btn-text {
  padding-left: 25px;
}

.co-sysevent {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  height: 115px;
  .co-m-resource-icon {
    margin-left: 0;
  }
}

.co-sysevent__box {
  padding: 10px;
  background-color: #fff; // prevent overlapping text if events overlap each other
  border: solid 1px $color-dark-border;
  border-bottom-color: $color-grey-border;
  width: 100%;
  flex: none;
}

.co-sysevent__timestamp {
  display: inline-block;
}

.co-sysevent__header {
  justify-content: space-between;
  display: flex;
}

.co-sysevent__header__link {
  flex: 1 0;
}

.co-sysevent__message {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  height: 45px;
}

.co-sysevent__icon-box {
  flex: 0 0 100px;
  display: none;
  position: relative;
  .co-sysevent-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(50% - 17px), calc(-50% + 1px));
  }
}

.co-sysevent__icon-line {
  background-color: $color-grey-border;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
}

@media screen and (min-width: 768px) {
  .co-sysevent {
    flex-wrap: nowrap;
    margin-left: -40px;
  }

  .co-sysevent__box {
    padding: 20px;
    flex: 1 2 auto;
    border: solid 1px $color-grey-border;
  }

  .co-sysevent__icon-box {
    display: block;
  }

  .co-sysevent-stream {
    padding-left: 10px;
  }

  .co-sysevent-stream__timeline {
    border-bottom-width: 3px;
    border-left-width: 3px;
    left: initial;
    margin-left: 10px;
  }

  .co-sysevent-stream__timeline__btn {
    transform: translate(-50%, -100%);
    margin-left: -2px;
  }

  .co-sysevent-stream__timeline__end-message {
    left: 45px;
  }
}
