.co-sysevent-icon {
  background-color: var(--pf-global--BackgroundColor--100);
  border: solid 3px $pf-color-black-200;
  border-radius: 50%;
  color: #fff;
  position: relative;
  z-index: 10;
  height: 18px;
  width: 18px;
}


.co-sysevent--warning {
  .co-sysevent-icon,
  .co-sysevent__box {
    border-color: var(--pf-global--warning-color--100);
  }
  .co-sysevent__icon-line {
    background-color: var(--pf-global--warning-color--100);
  }
}
