.co-toggle-play.pf-v6-c-button {
  align-items: center;
  background-color: var(--pf-t--global--background--color--primary--default);
  border: var(--pf-t--global--border--width--300) solid var(--pf-t--global--border--color--default);
  border-radius: 50%;
  height: 37px;
  margin-right: 15px;
  padding: 0;
  width: 37px;

  &.co-toggle-play--active {
    border-color: var(--pf-t--color--green--40);
  }
}
