.co-toggle-play {
  background-color: #fff;
  border: 3px solid $color-grey-border;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  padding: 0;
  font-size: $co-font-size-small;

  // play icon
  &.co-toggle-play--inactive:before {
    content: "\f04b";
  }
  // pause icon
  &.co-toggle-play--active:before {
    content: "\f04c";
  }

  &.co-toggle-play--active {
    border-color: $color-tectonic-green;
  }
}
