.co-toggle-play.pf-c-button {
  border: 3px solid $pf-color-black-200;
  border-radius: 50%;
  height: 32px;
  margin-right: 15px;
  padding: 0;
  width: 32px;

  // play icon
  &.co-toggle-play--inactive:before {
    @include font-awesome-free-solid;
    content: fa-content($fa-var-play);
  }
  // pause icon
  &.co-toggle-play--active:before {
    @include font-awesome-free-solid;
    content: fa-content($fa-var-pause);
  }

  &.co-toggle-play--active {
    border-color: $pf-color-green-300;
  }
}
