$min-height: 200px;

.co-m-vert-nav {
  display: flex;
  flex-flow: column nowrap;
  &.co-m-pane {
    background-color: transparent;
  }
}

.co-m-vert-nav__menu {
  border-bottom: 1px solid $color-grey-background-border;
  flex: none;
  -webkit-box-ordinal-group: 1;
  order: 1;

  display: flex;
  padding-left: 12px;
  list-style: none;
  margin: 0;
}

.co-m-vert-nav-item--active {
  border-bottom: 2px solid $color-highlight-blue;
}

.co-m-vert-nav__menu-item {
  margin: 0;
  text-align: center;
  display: block;
  font-size: 18px;
  padding: 5px 7px;

  &.co-m-vert-nav-item--active a {
    color: $color-highlight-blue;
  }
  a {
    color: inherit;
    text-decoration: none;
    padding: 10px;
  }
}

.co-m-vert-nav__menu-item--divider {
  border-left: 1px solid $color-grey-background-border;
  padding: 0;
  margin: 0 10px;
  height: 44px;
  vertical-align: middle;
}

.co-m-vert-nav__body {
  flex: 1;
  -webkit-box-ordinal-group: 2;
  order: 2;

  min-height: $min-height;
  background-color: #fff;
}
