.cs-imagevulnerability-details {
  display: flex;
  &__donut {
    padding: var(--pf-v5-global--spacer--xl);
    width: 20%;
  }
  &__summary {
    margin-top: var(--pf-v5-global--spacer--md);
    width: 80%;
    &--h4 {
      margin-top: var(--pf-v5-global--spacer--md);
    }
  }
  &__summary-list {
    display: flex;
    flex-direction: column;
    &--title {
      margin: var(--pf-v5-global--spacer--xs);
    }
  }
  &__empty-text {
    align-items: center;
    display: flex;
    padding: var(--pf-v5-global--spacer--4xl) 0;
  }
}
