.imagemanifestvuln-details__donut {
  padding: 30px;
  width: 20%;
}

.imagemanifestvuln-details__summary {
  width: 80%;
}

.imagemanifestvuln-details__summary-list {
  display: flex;
  flex-direction: column;
}
