.kubevirt-inline-boolean-radio__first-option-radio {
  cursor: pointer;
}

.kubevirt-inline-boolean-radio__first-option-label {
  cursor: pointer;
}

.kubevirt-inline-boolean-radio__second-option-wrapper  {
  margin-left: 2em;
}

.kubevirt-inline-boolean-radio__second-option-radio {
  cursor: pointer;
}

.kubevirt-inline-boolean-radio__second-option-label {
  cursor: pointer;
}
