@import '../../../../../public/style/vars';

.kn-test-sf-modal__size {
  height: 90vh;
  width: 80vw;
}

.kn-test-sf-modal {
  @media (max-width: $pf-global--breakpoint--md) {
    &__split {
      display: none;
    }
  }
  @media (min-width: $pf-global--breakpoint--md) {
    &__tabbed {
      display: none;
    }
  }
}

.kn-test-sf-modal__title {
  padding: 0.5rem 0.5rem 1.5rem 0.5rem;

  &__icon {
    margin-right: 8px;
    color: #0468ce;
  }

  &__badge {
    vertical-align: 2px;
  }
}

.kn-test-sf-modal__body {
  padding: 0 0.5rem 0 0.5rem;

  &__description {
    margin-bottom: 1.25rem;
  }
}

.kn-test-sf-modal__footer {
  margin-right: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.kn-test-sf-modal__splitItem {
  max-width: 49%;
}

@media (max-width: $pf-global--breakpoint--md) {
  .kn-test-sf-modal__editor {
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.kn-test-sf-modal-request-pane--options__size {
  margin-top: 1rem;
  margin-left: 1.4rem;
  margin-right: 10rem;
}

.kn-test-sf-modal-request-pane--options__custom-headers {
  margin-top: 3rem;
  margin-right: -4rem;
}

.kn-test-sf-modal-response-pane--info__size {
  margin-left: 1rem;
}

.kn-test-sf-modal-response-pane--info__status {
  display: flex;
  flex-direction: row;

  &__label {
    padding-right: 0.5rem;
    padding-top: 0.2rem;
  }

  &__code {
    font-weight: bold !important;
  }
}
