.SSHFormKey-helperText {
  background-color: transparent;
}

.SSHFormKey-helperText-error {
  @extend .SSHFormKey-helperText;
  color: var(--pf-global--danger-color--100);
}

.SSHFormKey-restore-button {
  &.pf-c-button.pf-m-link.pf-m-inline {
    padding-top: var(--pf-global--spacer--sm);
  }
}

.SSHFormKey-input-field {
  .pf-c-file-upload__file-details {
    textarea#simple-text-file {
      min-height: var(--pf-global--spacer--3xl);
    }
  }
}

.SSHFormKey-flex {
  margin-bottom: var(--pf-global--spacer--md);
}
