.co-utilization-card__area-chart {
  margin: 0;
  padding: 0;
}

.co-utilization-card__axis {
  padding: 0 0.5rem;
}

.co-utilization-card__item {
  border-bottom: 1px solid $pf-color-black-300;
  font-size: 1.333em;
  margin: 0;
  padding: 0;
}

.co-utilization-card__item-chart {
  padding: 0 0.5rem;
  text-align: center;
}

.co-utilization-card__item-chart--narrow {
  text-align: center;
}

.co-utilization-card__item-chart--wide {
  border-left: 1px solid $pf-color-black-300;
}

.co-utilization-card__item-current {
  padding-right: var(--pf-c-card--child--PaddingRight);
  text-align: right;
}

.co-utilization-card__item-row--narrow {
  margin: 0;
  padding: 0;
}

.co-utilization-card__item-title-row--narrow {
  margin-top: 1em;
}

.co-utilization-card__item-title {
  padding-left: var(--pf-c-card--child--PaddingLeft);
}

.co-utilization-card__item--wide {
  align-items: center;
  display: flex;
}
