$overview-sidebar-width: 550px;

.odc-sidebar {
  background: var(--pf-global--BackgroundColor--100);
  bottom: 0;
  box-shadow: var(--pf-global--BoxShadow--md);
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  transition: opacity 175ms ease-out, transform 225ms ease-out;
  top: 0;
  width: calc(100% - 15px);
  visibility: hidden;
  z-index: 5;

  @media (min-width: 762px) {
    max-width: $overview-sidebar-width;
  }

  // CSSTransitionGroup classes
  &-appear {
    // start in
    opacity: 0;
    transform: translateX(10%);
    visibility: visible;
  }
  &-appear-active {
    // finish in
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  &-enter-done {
    visibility: visible;
  }
  &-exit {
    // start out
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
  }
  &-exit-active {
    // finish out
    opacity: 0;
    transform: translateX(10%);
    visibility: visible;
  }
}
