.opp-task-sidebar-header {
  font-size: var(--pf-global--FontSize--md);
  height: 33px; // fixed height header to avoid actions from bouncing the header
  margin: 0;
  padding: 0 var(--pf-global--spacer--lg);
}
