.opp-task-sidebar {
  &__header {
    // Hack for Popper to go under the header
    background: white;
    z-index: 10000;
  }

  &__content {
    margin-bottom: var(--pf-global--spacer--lg);
    padding: var(--pf-global--spacer--lg);
    overflow-y: auto;
  }

  &__param,
  &__resource,
  &__workspace,
  &__when-expressions {
    margin-bottom: var(--pf-global--spacer--md);
  }

  h2 {
    margin: 0 0 var(--pf-global--spacer--sm) 0;
  }
}
