$overview-sidebar-width: 550px;

.opp-task-sidebar {
  width: $overview-sidebar-width;
  max-width: 100%;
  position: absolute;
  background: var(--pf-global--BackgroundColor--100);
  right: 0;
  height: 100%;
  box-shadow: var(--pf-global--BoxShadow--md);

  &__header {
    // Hack for Popper to go under the header
    background: var(--pf-global--BackgroundColor--100);
    z-index: 10000;
  }

  &__content {
    padding: var(--pf-global--spacer--lg);
    overflow-y: auto;
  }

  &__param,
  &__resource,
  &__workspace,
  &__when-expressions {
    margin-bottom: var(--pf-global--spacer--md);
  }

  h2 {
    margin: 0 0 var(--pf-global--spacer--sm) 0;
  }
}
