@import '../../../../../../public/style/vars';


.pipeline-metrics-dashboard {
  &__body {
    background-color: var(--pf-global--BackgroundColor--200);
    margin-bottom: 0 !important;
    margin-top: 0;
  }
  &__body-content {
    margin-top: $pf-global-gutter--md;
  }
  &__toolbar {
    margin-bottom: 0 !important;
    padding: var(--pf-global--spacer--md) $pf-global-gutter--md 0;
  }
}
.pipeline-metrics-empty-state {
  background-color: var(--pf-global--BackgroundColor--200);
}

.pipeline-metrics {
  &__pipelinerun-taskrun-card-body {
    //reduce padding pipelinerun taskrun duration card to provide extra space for the legends
    padding: 10px 15px 10px 10px;
  }
}
