.pipeline-run-average {
  padding: var(--pf-v5-global--spacer--md);
  &__body {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  &__duration {
    font-size: var(--pf-v5-global--icon--FontSize--lg);
  }
  &__duration-desc {
    font-size: var(--pf-v5-global--icon--FontSize--md);
  }
}
