@import '../../../../../../public/style/vars';


.pipeline-metrics-dashboard {
  background-color: var(--pf-global--BackgroundColor--200);
  &__body {
    background-color: var(--pf-global--BackgroundColor--200);
    margin-bottom: 0 !important;
    margin-top: 0;
  }
  &__body-content {
    margin-top: $pf-global-gutter--md;
  }
  &__toolbar {
    margin-bottom: 0 !important;
    padding: var(--pf-global--spacer--md) $pf-global-gutter--md 0;
  }
}
.pipeline-metrics-empty-state {
  background-color: var(--pf-global--BackgroundColor--200);
}
