.kv-editor--main {
  height: 100%;
  width: 100%;
  min-height: 500px;
  display: flex;
  &.bottom {
    flex-direction: column;
  }
  &.top {
    flex-direction: column-reverse;
  }
  &.right {
    flex-direction: row-reverse;
  }
  &.left {
    flex-direction: row;
  }
}
