.opp-builder-finally-node {
  fill: var(--pf-t--global--background--color--primary--default);
  stroke-width: 1;
  stroke: var(--pf-t--global--border--color--disabled);

  &__task-connectors {
    stroke: var(--pf-t--global--border--color--disabled);
    fill: none;
    transform: translate(0.5, 0.5);
  }
  &__text {
    fill: var(--pf-t--global--text--color--link--default);
  }
}
