.opp-builder-finally-node {
  fill: var(--pf-v5-global--BackgroundColor--light-100);
  stroke-width: 1;
  stroke: var(--pf-v5-global--BorderColor--light-100);

  &__task-connectors {
    stroke: var(--pf-v5-global--BorderColor--light-100);
    fill: none;
    transform: translate(0.5, 0.5);
  }
  &__text {
    fill: var(--pf-v5-global--link--Color);
  }
}
