.opp-installing-node-decorator {
  display: block;
  font-size: var(--pf-v6-global--icon--FontSize--sm);
  cursor: pointer;
  &__circle {
    fill: var(--pf-v6-global--BackgroundColor--light-100);
  }
}
