.opp-installing-node-decorator {
  display: block;
  font-size: var(--pf-t--global--icon--size--sm);
  cursor: pointer;
  &__circle {
    fill: var(--pf-t--global--background--color--primary--default);
  }
}
