.opp-pipeline-vis-loading-node {
  fill: var(--pf-t--global--background--color--primary--default);
  stroke: var(--pf-t--global--border--color--disabled);
  stroke-width: 1;

  &__name {
    dominant-baseline: middle;
    text-anchor: middle;
    cursor: pointer;
    fill: var(--pf-v6-global--Color--100);
  }
}
