.odc-pipeline-topology-graph {
  display: inline-block;
  background: var(--pf-global--BackgroundColor--200);
  border-radius: 20px;
  max-width: 100%;
  overflow: hidden;

  .pf-topology-content {
    border-radius: 20px;
  }

  .pf-topology-visualization-surface {
    font-size: 1rem;
  }
}
