.odc-pipeline-topology-graph {
  font-size: var(--pf-t--global--font--size--xs);
  max-width: 100%;
  overflow: hidden;

  &.builder {
    display: block;
    border-radius: 20px;
    background: var(--pf-t--color--gray--10);
  }

  .pf-topology-content {
    border-radius: 20px;
  }
}
