.kubevirt-vm-flavor-modal__content-custom {
    height: 20em;
}

.kubevirt-vm-flavor-modal__content-generic {
    min-height: 13em;
}

.kubevirt-vm-flavor-modal__form {
    resize: vertical;  
}

.kubevirt-vm-flavor-modal__dropdown {
    .dropdown {
        width: 100%;
    }
}

.kubevirt-vm-flavor-modal__dropdown-button {
    width: 100%;
}
