.co-m-pane__body {
  border-bottom: 1px solid $color-grey-background-border;
  margin: $grid-gutter-width 0 0;
  padding: 0 ($grid-gutter-width / 2) $grid-gutter-width;
  @media (min-width: $screen-sm-min) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }
  &--alt {
    border-bottom: 0;
    padding-bottom: 0;
  }
  &--no-top-margin {
    margin-top: 0;
  }
  &:last-child {
    border-bottom: 0;
  }
}

.co-m-pane__filter-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px ($grid-gutter-width / 2);
  @media (min-width: $grid-float-breakpoint) {
    margin-left: $grid-gutter-width;
    margin-right: $grid-gutter-width;
    margin-top: $grid-gutter-width;
  }
  &--alt {
    margin-left: 0;
    margin-right: 0;
  }
  &--group__body {
    margin-top: 0;
    padding-top: $grid-gutter-width;
  }
  &--with-help-text {
    align-items: baseline;
    flex-wrap: nowrap;
    @media (max-width: $grid-float-breakpoint-max) {
      display: block;
    }
  }
  .btn-group,
  .co-m-primary-action,
  .form-control {
    margin-bottom: 10px;
  }
  .btn-group {
    margin-right: 10px;
    min-width: 0; // enables truncation of selected item, if needed
  }
}

.co-m-pane__filter-bar-group {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  min-width: 0;
}

.co-m-pane__filter-bar-group--filter {
  @media(min-width: $screen-xs-min) {
    flex: 1 1 auto;
    justify-content: flex-end;
  }
}

.co-m-pane__filter-bar-group--filters {
  flex-wrap: wrap;
  justify-content: space-between;
  .btn-group {
    display: flex;
  }
  .co-m-pane__filter-bar-group + & {
    flex-grow: 0;
  }
}

.co-m-pane__filter-bar-group--help-text {
  @media (min-width: $screen-sm-min) {
    margin-right: 20px;
    > p {
      margin-bottom: 0;
    }
  }
}

.co-m-pane__heading {
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  margin: 0 0 $grid-gutter-width;
  &--baseline {
    align-items: baseline;
  }
  &--center {
    justify-content: center;
  }
  &--logo {
    align-items: center;
    margin-bottom: ($grid-gutter-width / 2);
  }
}

.co-m-pane__heading-link {
  font-size: $font-size-base;
}

.co-m-pane__name {
  @include co-break-word;
  flex: 1;
  margin-right: 10px;
  min-width: 0; // necessary for wrapping since its a flex child
}

.co-inline-block {
  display: inline-block;
}

.co-no-bold {
  font-weight: normal;
}

.cos-error-title {
  color: $color-pf-red;
}

.co-section-heading {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.co-section-heading__title {
  font-size: 18px;
  margin: 0 0 20px 0;
}

.co-section-heading-secondary {
  font-size: 16px;
  font-weight: 600;
  margin: 30px 0;
}

.co-section-heading-tertiary {
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
}

.co-table-container {
  overflow: auto;
  margin-bottom: 30px;
  table {
    thead {
      th {
        color: $color-text-secondary;
        font-weight: 400;
      }
    }
  }
}

.co-m-pane__details {
  // TODO: refactor so <dl>s have margin-bottom by default
  margin-bottom: 20px;
  .co-detail-table__row & {
    margin-bottom: 0;
  }
  dd {
    @include co-break-word;
  }
}

.co-m-pane__explanation {
  color: $color-pf-black-600;
  margin-bottom: 30px;
}

.co-help-text {
  color: $color-pf-black-600;
}

.popover-content code,
.co-m-pane__explanation code {
  background-color: $color-pf-black-150;
  color: $color-pf-black-600;
}

.co-btn--download {
  padding: 15px;
  font-size: 18px;
  text-align: center;
}

.co-btn--download,
.co-btn--download:hover {
  border: 1px solid #DDDDDD;
  border-radius: 2px;
}

.co-pre-line {
  white-space: pre-line;
}

.co-pre-wrap {
  white-space: pre-wrap;
}

.co-search {
  padding-bottom: 30px;
  .input-group-btn {
    vertical-align: top;
    @media(max-width: $grid-float-breakpoint-max) {
      display: flex;
      min-width: 0;
      width: auto;
      .co-type-selector {
        width: 100%;
      }
    }
  }
  @media(max-width: $grid-float-breakpoint-max) {
    .input-group-select {
      display: block;
      .btn-dropdown {
        margin-bottom: 2px;
        width: 100%;
      }
    }
  }
}

.co-well {
  color: $color-pf-blue-600;
  background-color: $color-pf-blue-50;
  padding: 20px;
  margin: ($grid-gutter-width / 2);

  @media (min-width: $screen-sm-min) {
    margin: $grid-gutter-width;
  }
}

// Prevent iOS phones from zooming on form inputs
@supports (-webkit-overflow-scrolling: touch) { // Target mobile Safari
  @media (max-width: $grid-float-breakpoint-max) { // Target phones
    input,
    select,
    .tag-item,
    textarea {
      font-size: 16px !important;
    }
  }
}

.co-error {
  color: $color-pf-red;
  white-space: nowrap;
}

.co-overflow-y-fade {
  overflow: hidden;
  white-space: nowrap;
}

.error-message {
  color: #fff;
  padding: 2px 12px;
  background-color: #D64456;
}

.co-action-divider {
  color: $color-pf-black-600;
}

.co-break-word {
  @include co-break-word;
}

// append external-link icon to <a> so that it doesn't wrap without text
// there must be no white space between the text and the closing </a> tag holding the pseudo element
.co-external-link:after {
  content: "\f08e";
  display:inline-block;
  font-family: 'FontAwesome';
  font-size: 75%;
  height: 16px;
  position:relative;
  margin-left: 5px;
  margin-right: -25px; // width + margin-left
  top:0;
  width: 20px;

  .pf-c-nav__link & {
    color: $color-pf-black-500;
  }
}
.co-external-link {
  display: inline-block;
  padding-right: 25px;
}
// Enable break word within co-m-table-grid
.co-external-link--block {
  display: block;
}

.co-toolbar {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

.co-toolbar__item {
  max-width: 100%;
  padding: 5px 0;
  .btn-group {
    max-width: 100%;
  }
}

.co-toolbar__group {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 0;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
    justify-content: flex-end;
  }
}

.co-toolbar__group--left {
  justify-content: flex-start;
  .co-toolbar__item {
    padding-right: 15px;
  }
  @media (max-width: $screen-xs-max) {
    align-items: flex-start;
  }
}

.co-toolbar__group--right {
  justify-content: flex-end;
  @media (min-width: $screen-xs-min) {
    .co-toolbar__item {
      padding-left: 15px;
    }
  }
  @media (max-width: $screen-xs-max) {
    align-items: flex-end;
  }
}

.co-component-label {
  color: $color-pf-black-600;
  text-transform: uppercase;
  font-size: ($font-size-base - 1);
}

.co-legend {
  border-bottom: 0;
  font-weight: 600;
  font-size: $font-size-base;
  margin-bottom: 5px;

  + .radio {
    margin-top :0;
  }
}

.help-block {
  margin-bottom: 0;
 }

.co-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.co-nowrap {
  white-space: nowrap;
}

.co-an-fade-in-out {
  transition-duration: compact(0.2s, false, false, false, false, false, false, false, false, false);
  transition-property: compact(opacity, false, false, false, false, false, false, false, false, false);
  transition-timing-function: compact(linear, false, false, false, false, false, false, false, false, false);
}

.co-m-radio-desc {
  margin-left: 20px;
}

.co-m-form-row {
  margin-bottom: 20px;
}

.co-m-form-row:last-child {
  margin-bottom: 0;
}

.co-m-form-col {
  max-width: 600px;
}

.co-m-modal-link {
  cursor: pointer;
  outline: none;
  padding-right:  20px;
  position: relative;
  &:after {
    color: $color-pf-black-600;
    content: $pficon-var-edit;
    font-family: $icon-font-name-pf;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
  &:focus {
    outline: none;
  }
  &:hover:after {
    color: $color-pf-black-700;
  }
}

.co-m-invisible-input {
  background: none;
  border: 0;
  outline: 0;
  width: 100%;
  &:hover {
    cursor: copy;
  }
}

.co-m-pane__body-group {
  padding: 0 0 30px 0;
}

.co-m-table-grid {
  &__body {
    min-height: 50px;
    position: relative;
    width: 100%;
    .row {
      padding: 10px 20px 10px 0;  // right padding creates space for .co-resource-kebab
    }
  }
  &__head {
    color: $color-text-secondary;
    font-size: ($font-size-base - 1);
    padding: 0 20px 10px 0; // right padding to maintain alignment with __body .row
    text-transform: uppercase;
    a {
      cursor: pointer;
    }
  }
  &__sort-arrow {
    margin-left: 10px;
  }
  &__sort-link--unsorted {
    color: $color-text-secondary;
  }
  &--bordered {
    .co-m-table-grid__body .row,
    .co-m-table-grid__head {
      border-bottom: solid 1px #eee;
    }
  }
  [class*='col-'],
  .row {
    vertical-align: middle;
  }
  .co-m-table-grid {
    padding-left: 20px;
  }
  .row {
    line-height: normal;
    margin: 0;
  }
}

.co-m-row:hover {
  background-color: $color-co-m-row-hover;
}

.co-m-inline-loader,
.co-m-loader {
  min-width: 18px;
}

.co-m-inline-loader {
  display: inline-block;
  cursor: default;
  &:hover {
    text-decoration: none;
  }
}

.co-m-loader {
  display: block;
  left: 50%;
  margin: -11px 0 0 -13px;
  position: absolute;
  top: 50%;
}

.co-m-loader-dot__one,
.co-m-loader-dot__two,
.co-m-loader-dot__three {
  animation-delay: 0;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: bouncedelay;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  background: #419eda;
  border-radius: 100%;
  display: inline-block;
  height: 6px;
  width: 6px;
}

.co-m-loader-dot__one {
  animation-delay: -0.32s;
}

.co-m-loader-dot__two {
  animation-delay: -0.16s;
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0.25, 0.25);
  }
  40% {
    transform: scale(1, 1);
  }
}

.co-kebab {
  position: relative;
  &__button {
    padding: 0;
    &:active,
    &:focus,
    &:hover {
      .co-kebab__icon {
        color: $color-pf-blue-400;
      }
    }
  }
  &__dropdown {
    margin-bottom: 10px;
  }
  &__icon {
    color: $color-pf-black-700;
    &--disabled {
      color: $color-pf-black-300;
    }
  }
  &--disabled {
    pointer-events: none;
  }
}

.no-margin {
  margin: 0 !important;
}

.text-filter {
  min-width: 150px;
  width: 250px;
}
