.co-block {
  display: block;
}

.co-inline-block {
  display: inline-block;
}

.co-indent {
  margin-left: 20px;
}

.co-vert-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.co-no-bold {
  font-weight: normal;
}

.co-click-target {
  cursor: default;
}

.co-btn-drop-input {
  margin-bottom: 5px;
  .btn.dropdown-toggle {
    height: 30px;
  }

  // Override display attribute of .dropdown class to preserve correct alignment within .input-group
  .dropdown {
    display: table-cell;
  }
}

.co-m-code-box, .co-m-code-box.form-control[readonly] {
    background-color: #fff;
    color: #000;
}

.co-m-code-box--copy {
    cursor: copy;
}

.cos-error-title {
  color: $red;
}

.co-loader-wrapper {
  position: relative;
  min-height: 50px;
}

.co-section-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.co-table-container {
  overflow: auto;
  margin-bottom: 30px;
}

.co-user-avatar {
  padding: 6px 6px 6px 0;
}

.co-m-btn-bar .co-m-message {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: $color-tectonic-button-green;
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active,
    &.disabled,
    &[disabled],
    &[disabled]:active,
    &[disabled]:hover,
    &[disabled]:focus {
        background-color: darken($color-tectonic-button-green, 10%);
    }
}

label {
    margin: 0px;
}

.modal-body {
    font-size: $font-size-small;
}

.modal-body__field {
    margin: 0 0 13px 0;
    max-width: 448px;
}

.modal-body__static-control-value {
    line-height: 30px;
    font-size: $font-size-small;
}

.co-m-pane__explanation {
  color: $color-grey-text;
  font-size: 14px;
  padding-top: 14px;
  margin-bottom: 20px;
}

.co-m-pane__title__btn {
  margin-bottom: 15px;
}

.break-all {
  word-break: break-all;
}

.co-btn--download {
  padding: 15px;
  font-size: 18px;
  text-align: center;
}

.co-btn--download,
.co-btn--download:hover {
  border: 1px solid #DDDDDD;
  border-radius: 2px;
}

.co-pre-wrap {
  white-space: pre-wrap;
}

.co-tooltip {
  line-height: 1.35;
  padding: 4px 8px !important;
  text-align: center;
  max-width: 200px;
}

.co-well {
  color: $blue-darker;
  background-color: $blue-bg;
  padding: 20px;
  margin: 30px;
}

// Remove annoying default spinners browsers add to number fields.
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.co-success {
  color: $color-green-success;
  white-space: nowrap;
}

.co-error {
  color: $color-red-error;
  white-space: nowrap;
}

.co-overflow-y-fade {
  overflow: hidden;
  white-space: nowrap;
}

.error-message {
  color: #fff;
  font-size: 14px;
  padding: 2px 12px;
  background-color: #D64456;
}
