.co-m-pane__filter-bar {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 30px 20px;
  .btn-group,
  .co-m-primary-action,
  .form-control {
    margin-bottom: 10px;
  }
  .btn-group {
    margin-right: 10px;
  }
}

.co-m-pane__filter-bar-group {
  display: flex;
  flex: 1 1 auto;
}

.co-m-pane__filter-bar-group--filter {
  @media(min-width: $screen-xs-min) {
    justify-content: flex-end;
  }
}

.co-m-pane__filter-bar-group--filters {
  flex-wrap: wrap;
  justify-content: space-between;
  .btn-group {
    display: flex;
    .btn {
      // necessary since .btn is a grandchild of .btn-group and not a child
      margin-left: -1px;
    }
  }
  .co-m-pane__filter-bar-group + & {
    flex-grow: 0;
  }
}

.co-inline-block {
  display: inline-block;
}

.co-no-bold {
  font-weight: normal;
}

.cos-error-title {
  color: $red;
}

.co-section-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.co-table-container {
  overflow: auto;
  margin-bottom: 30px;
  table {
    thead {
      th {
        color: $color-text-secondary;
        font-weight: 400;
      }
    }
  }
}

.co-m-pane__details {
  // TODO: refactor so <dl>s have margin-bottom by default
  margin-bottom: 20px;
  .co-detail-table__row & {
    margin-bottom: 0;
  }
  .co-m-pane__heading + & {
    margin-bottom: 30px;
  }
  dd {
    font-size: 14px;
  }
}

.co-m-pane__explanation {
  color: $color-grey-text;
  font-size: 14px;
  padding-top: 14px;
  margin-bottom: 20px;
}

.co-btn--download {
  padding: 15px;
  font-size: 18px;
  text-align: center;
}

.co-btn--download,
.co-btn--download:hover {
  border: 1px solid #DDDDDD;
  border-radius: 2px;
}

.co-pre-wrap {
  white-space: pre-wrap;
}

.co-well {
  color: $blue-darker;
  background-color: $blue-bg;
  padding: 20px;
  margin: 30px;
}

// Remove annoying default spinners browsers add to number fields.
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.co-error {
  color: $color-red-error;
  white-space: nowrap;
}

.co-overflow-y-fade {
  overflow: hidden;
  white-space: nowrap;
}

.error-message {
  color: #fff;
  font-size: 14px;
  padding: 2px 12px;
  background-color: #D64456;
}
