// Configure static paths.
// Root path where you plan to host coreos-web.
$coreosWebDistPath: './';
$coreosWebFontPath: $coreosWebDistPath + 'fonts';
// Override fontawesome font paths.
$fa-font-path: $coreosWebFontPath;
// Override bootstrap font paths.
$icon-font-path: $coreosWebFontPath + '/';
// PatternFly font path.
$font-path: '~patternfly/dist/fonts/';
// CoreOS-web image path.
$img-path: $coreosWebDistPath + 'img';
