.btn-link--no-btn-default-values {
  border: 0;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  padding: 0;
  text-align: unset;
  white-space: normal;
}

.btn-link--truncated {
  white-space: nowrap;
}

.co-required:after {
  color: $color-pf-red-200;
  content: '*';
  padding-left: 3px;
}

.co-form-section__label {
  font-size: 14px;
  margin-bottom: ($grid-gutter-width / 2);
}

.co-form-section__separator {
  border-top: solid 1px #eee;
  margin: 30px 0;
}

.co-form-subsection {
  margin-left: 20px;
}


// Restrict form widths
.co-m-pane__form {
  @media (min-width: 769px) {
    max-width: 650px;
  }

  @media (min-width: 992px) {
    min-width: 650px;
  }

  @media (min-width: 1200px) {
    max-width: 50%;
  }
}

.co-text-filter {
  min-width: 270px;
  &:focus + .form-control-feedback--keyboard-hint {
    display: none;
  }
}

.form-control-feedback--keyboard-hint {
  top: 1px;
}

.form__storage-class-dropdown__flex-column {
  display: flex;
  flex-direction: column;
}

.form__storage-class-dropdown__flex-row {
  display: flex;
}

.form__storage-class-dropdown__icon-column {
  flex-basis: 30px;
  max-width: 30px;
}

.has-feedback .pf-c-form-control {
  padding-right: 25px;
}

.pf-c-form__actions--right {
  justify-content: flex-end;
}

.pf-c-form__group--no-top-margin {
  margin-top: 0 !important;
}
