.co-add-remove-form__entry {
  position: relative;
}

.co-add-remove-form__entry + .co-add-remove-form__entry {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.co-add-remove-form__link--remove-entry {
  display: flex;
  flex-flow: row-reverse;
}

.co-required {
  position: relative;
  &:after {
    color: $color-pf-red-200;
    content: '*';
    font-size: $font-size-base;
    padding-left: 3px;
    position: absolute;
    top: 0;
  }
}

.co-form-heading__popover-button {
  color: inherit !important;
  font-family: var(--pf-global--FontFamily--heading--sans-serif);
  @include co-popover-button();
}

.co-form-section__label {
  font-size: 14px;
  margin-bottom: ($grid-gutter-width / 2);
}

.co-form-section__separator {
  border-top: solid 1px #eee;
  margin: 30px 0;
}

.co-form-subsection {
  margin-left: 20px;
}

// Restrict form widths
.co-m-pane__form {
  @media (min-width: 769px) {
    max-width: 650px;
  }

  @media (min-width: 992px) {
    min-width: 650px;
  }

  @media (min-width: 1200px) {
    max-width: 50%;
  }
}

.co-text-filter:focus + .form-control-feedback--keyboard-hint {
  display: none;
}

.co-text-filter {
  min-width: 270px;
}

.form-control-feedback--keyboard-hint {
  top: 1px;
}

.has-feedback .pf-c-form-control {
  padding-right: 25px;
}

.pf-c-form__actions--right {
  justify-content: flex-end;
}

.pf-c-form__checkbox-row {
  display: grid;
  row-gap: ($grid-gutter-width / 2);
}

.pf-c-form__group--no-top-margin {
  margin-top: 0 !important;
}
