@import '_vars';

.co-m-form-row-icon {
  line-height: 34px;
}

.co-m-form-row-icon--clear {
  color: $color-text-muted;
}
.co-m-form-row-icon--clear:hover {
  color: inherit;
}

.co-m-form-row-icon--button {
  cursor: pointer;
}

.tpm-trusted {
  color: $color-tpm-trusted;
}

.tpm-untrusted {
  color: $color-red-error;
}
