.co-icon-space-l {
  margin-left: 0.25em;
}

.co-icon-space-r {
  margin-right: 0.25em;
}

.co-status-icon {
  padding-right: 6px;
  width: 16px;
}

.alert-firing {
  color: $color-pf-red;
}

.alert-pending {
  color: $color-pf-orange-300;
}
