.co-m-form-row-icon {
  line-height: 34px;
}

.co-m-form-row-icon--clear {
  color: $color-text-muted;
}
.co-m-form-row-icon--clear:hover {
  color: inherit;
}

.co-m-form-row-icon--button {
  cursor: pointer;
}

.node-ready {
  color: $color-green-success;
}

.node-not-ready {
  color: $color-red-error;
}

.co-icon-space-l {
  margin-left: 0.25em;
}

.co-icon-space-r {
  margin-right: 0.25em;
}
