html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 768px;
  overflow-x: auto;
  overflow-y: hidden;
}

#app {
  height: 100%;
}

.co-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1 0 auto;
  overflow: hidden;
}

#reflex {
  display: flex;
  height: 100%;
}

#sidebar {
  background-color: $color-os-nav-background;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 220px;
}

#content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.co-m-list {
  height: 100%;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.absolute-zero {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.full-width-and-height {
  width: 100%;
  height: 100%;
}
