.navbar-container {
  background-color: white;
}


// override coreos-web
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: 700px;
  }

  .modal-dialog.modal-dialog--std-width {
    width: 600px;
  }

  .co-facet-container--left {
    padding-right: 30px;
    border-right: solid 1px $color-grey-border;
  }

  .co-facet-container--right {
    padding-left: 30px;
  }
}
