@use './vars';

html,
body,
#app,
.pf-v6-c-drawer {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  height: 100%;
}

#content-scrollable {
  overflow: auto;
}

.co-page-skeleton__masthead-spacer {
  height: vars.$co-button-height;
  visibility: hidden;
}

.co-page-skeleton__auth-pending {
  display: none;
}

.co-auth-pending {
  .co-page-skeleton__auth-pending {
    display: contents;
  }

  .co-page-skeleton__authenticated {
    display: none;
  }
}

@keyframes co-page-skeleton-fade-in {
  to {
    opacity: 1;
  }
}

.co-page-skeleton__slow-msg {
  animation: var(--pf-t--global--motion--duration--fade--long) ease-in 20s forwards
    co-page-skeleton-fade-in;
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translateX(-50%);

  @media (prefers-reduced-motion: reduce) {
    animation-duration: 0s;
  }
}

.co-p-has-sidebar {
  display: flex;
  flex: 1;
  height: 100%;
  position: relative;

  &__body {
    flex: 2;
    max-width: 100%;

    @media (min-width: $screen-md-min) {
      &--sidebar-open {
        max-width: 66%;
      }
    }
  }

  &__sidebar {
    position: relative;
    @media (min-width: $screen-md-min) {
      flex: 1 0 auto;
      overflow-y: auto;
      max-width: 34%;
    }

    &--bordered {
      @media (max-width: $screen-sm-max) {
        border-top: var(--pf-t--global--border--width--divider--default) solid
          var(--pf-t--global--border--color--default);
      }
      @media (min-width: $screen-md-min) {
        border-left: var(--pf-t--global--border--width--divider--default) solid
          var(--pf-t--global--border--color--default);
      }
    }
  }

  &__sidebar-body {
    position: absolute;
    width: 100%;
    &:focus {
      outline: 0;
    }
  }
}
