// Extend PatternFly 4 widths to add missing sizes that comprise a 12 column grid like Bootstrap

$pf-u-width-extended-options: (
  w-8:       (width calc(100% / 12)),
  w-10:      (width calc(100% / 10)),
  w-16:      (width calc(100% / 12 * 2)),
  w-42:      (width calc(100% / 12 * 5)),
  w-58:      (width calc(100% / 12 * 7)),
  w-83:      (width calc(100% / 12 * 10)),
  w-92:      (width calc(100% / 12 * 11))
);

@include pf-utility-builder($pf-u-width-extended-options, $pf-global--breakpoint-list);
