.co-m-status {
  text-align: right;
}

.co-m-status__icon {
  padding-right: 5px;
}

.co-m-status--critical {
  color: $color-pf-red-200 ;
}

.co-m-status--ok {
  color: $color-pf-green;
}

.co-m-status--warning {
  color: $color-pf-orange;
}

.co-m-status--unknown {
  color: $color-pf-black-600;
}

.co-m-status--access-denied {
  color: $color-pf-black-600;
}
