$kinds: (
  node: $color-node-dark,
  pod: $color-pod-dark,
  service: $color-service-dark,
);

@each $kind, $color in $kinds {
  .co-text-#{$kind} {
    color: $color;

    &:link, &:visited, &:hover, &:active {
      color: $color;
      text-decoration: none;
    }
  }
}
