:root {
  // Co Palette
  --co-global--palette--blue-400: var(--pf-t--global--icon--color--brand--default);
  --co-global--palette--purple-600: var(--pf-t--global--icon--color--status--info--default); // minor difference
  --co-global--palette--orange-400: var(--pf-t--global--icon--color--severity--important--default); // minor difference

  // Skeleton colors are fully custom, PF skeleton's are darker in dark theme
  --co-skeleton--Color: var(--pf-t--color--gray--20);
  --co-skeleton--Color--300: var(--pf-t--color--gray--30);

  // Skeleton dark
  --co-skeleton--dark--Color: var(--pf-t--color--gray--60);
  --co-skeleton--dark--Color--300: var(--pf-t--color--gray--70);
}

:root:where(.pf-v6-theme-dark) {
  // Skeleton
  --co-skeleton--Color: var(--co-skeleton--dark--Color);
  --co-skeleton--Color--300: var(--co-skeleton--dark--Color--300);
}
