:root {
  // Co Palette
  --co-global--palette--blue-400: var(--pf-t--color--blue--40);
  --co-global--palette--purple-600: var(--pf-t--color--gray--purple-60);
  --co-global--palette--orange-400: var(--pf-t--color--gray--orange-40);
  --co-global--palette--purple-700: var(--pf-t--color--gray--purple-70);

  // Co Palette Dark
  --co-global--dark--palette--blue-400: var(--pf-t--color--gray--blue-20);
  --co-global--dark--palette--purple-600: var(--pf-t--color--gray--purple-20);
  --co-global--dark--palette--orange-400: var(--pf-t--color--gray--orange-20);
  --co-global--dark--palette--purple-700: var(--pf-t--color--gray--purple-20);

  // Skeleton
  --co-skeleton--Color: var(--pf-t--color--gray--20);
  --co-skeleton--Color--300: var(--pf-t--color--gray--30);

  // Skeleton dark
  --co-skeleton--dark--Color: var(--pf-t--color--gray--60);
  --co-skeleton--dark--Color--300: var(--pf-t--color--gray--70);
}

:root:where(.pf-v6-theme-dark) {
  // Co palette updates
  --co-global--palette--blue-400: var(--co-global--dark--palette--blue-400);
  --co-global--palette--purple-600: var(--co-global--dark--palette--purple-600);
  --co-global--palette--orange-400: var(--co-global--dark--palette--orange-400);
  --co-global--palette--purple-700: var(--co-global--dark--palette--purple-600);

  // Skeleton
  --co-skeleton--Color: var(--co-skeleton--dark--Color);
  --co-skeleton--Color--300: var(--co-skeleton--dark--Color--300);
}
