$color-service-dark: #99BA45;

$color-pod-dark: #30C2B6;

$color-namespace-dark: #128E72;

$color-node-dark: #C049BF;

$color-container-dark: #63C2E4;

$color-secret-dark: #F77454;

$color-rbac-binding-dark: #99BA45;
$color-rbac-role-dark: #C049BF;

$color-configmap-dark: #872C6C;

$color-pod-overlord: #145884;

$color-controller-dark: $color-pod-overlord;
$color-replicaset-dark: $color-controller-dark;
$color-job-dark: $color-controller-dark;
$color-deployment-dark: $color-controller-dark;
$color-deploymentconfig-dark: $color-controller-dark;
$color-petset-dark: $color-controller-dark;

$color-serviceaccount-dark: $color-configmap-dark;

$color-alertmanager-dark: #F77454;

$color-ingress-dark: #872C6C;

$color-grey-medium: #666;
$color-grey-text: #777;
$color-grey-border: #eee;
$color-grey-background: #f5f5f5;
$color-grey-background-border: #ccc;

$color-red-error: #D64456;
$color-orange-warning: #fca657;

$color-highlight-blue: #52a3d9;
$color-highlight-blue-dark: #2276AD;

$color-tectonic-green: #68C28D;

$color-border-brown: #947663;

$color-grey-when-selected: #e5e5e5;

$color-text-muted: $co-gray;
$color-text-secondary: $color-grey-medium;

$masthead-height-desktop: 60px;
$masthead-height-mobile: 40px;

//OpenShift color variables
$color-os-nav-title: #d1d1d1; // why not $color-pf-black-300
$color-os-nav-background: #2A2E34; // why not $color-pf-black-900
$color-os-nav-background-active: #383f47; // why not $color-pf-black-800
$color-os-nav-item-seperator: #050505; // why not $color-pf-black
$color-os-nav-active: #383f47; // why not $color-pf-black-800
$color-os-nav-hover: lighten($color-os-nav-active, 8%);
$color-os-nav-border-left-active: #39a5dc; // why not $color-pf-blue-300
$color-os-nav-icon: #72767b;

// Patternfly defaults to dark gray. Override with black. Body text color is lighten()ed to #333
$color-pf-black: black;
// Bootstrap/Patternfly muted text is #999. Use #777 for better contrast.
$text-muted: $color-grey-text;
// Patternfly defaults to 12px, which is too small in many cases
$font-size-base: 13px;
// Patternfly defaults to 40px, which leaves a lot more whitespace than we're used to
$grid-gutter-width: 30px;

$contextselector-pf-dropdown-toggle-padding-bottom: 20px;
$contextselector-pf-dropdown-toggle-padding-top: 20px;
$contextselector-pf-margin-left: 20px;
$contextselector-pf-bootstrap-select-width-desktop: 145px;
$contextselector-pf-bootstrap-select-width-mobile: $contextselector-pf-bootstrap-select-width-desktop;
