// == Config

// Root path where you plan to host console.
$consoleWebDistPath: './';

// PatternFly color variables -- imported here so they can be used throughout
// PF3 color variables
@import '~patternfly/dist/sass/patternfly/color-variables';
// PF4 color variables
// Note these vars have slightly different names to PF3 ones (imported above)
// i.e., $color-pf-black-100 (PF3) vs $pf-color-black-100 (PF4)
@import '~@patternfly/patternfly/sass-utilities/colors';


// == Overrides of external dependency variables

// FontAwesome font path.
$fa-font-path: $consoleWebDistPath + '/';
// Use PatternFly 4 font family in PatternFly 3.
$font-family-base: var(--pf-global--FontFamily--sans-serif);
// Patternfly 3 defaults to 12px, which is too small in many cases.
$font-size-base: 14px;
// Patternfly 3 defaults to 40px, which leaves a lot more whitespace than we're used to.
$grid-gutter-width: 30px;
$kbd-bg: transparent;
$kbd-color: $color-pf-black-600;
// Disable PatternFly 4 reset.
$pf-global--enable-reset: false;
// PatternFly 4 font path.
$pf-global--font-path: '~@patternfly/patternfly/assets/fonts';
$popover-max-width: 325px;
$table-border-color: $color-pf-black-200;

:root {
  --pf-global--FontSize--md: $font-size-base;
  --pf-global--FontSize--sm: 13px;
}


// == Custom variables

$co-m-label-line-height: 19px;
$pf-header-icon-fontsize: 16px; // Patternfly 4 default
$co-side-nav-font-size: 16px; // Side nav section (sub-section set by body)


// == Colors

$color-alertmanager-dark: $color-pf-orange-500;
$color-co-m-row-hover: #fafafa;
$color-configmap-dark: $color-pf-purple-600;
$color-container-dark: $color-pf-light-blue-400;
$color-error: $color-pf-red-100;
$color-grey-background-border: #ccc;
$color-ingress-dark: $color-pf-purple-700;
$color-namespace-dark: $color-pf-green-500;
$color-node-dark: $color-pf-purple-400;
$color-pod-dark: $color-pf-cyan-400;
$color-pod-overlord: $color-pf-blue-600;
$color-primary: $color-pf-blue-300;
$color-rbac-binding-dark: $color-pf-cyan-500;
$color-rbac-role-dark: $color-pf-orange-600;
$color-secret-dark: $color-pf-orange-400;
$color-service-dark: $color-pf-light-green-500;
$color-text-muted: $color-pf-black-600;
$color-text-secondary: $color-pf-black-600;
// -- Depend on color vars defined above
$color-alert-dark: $color-container-dark;
$color-alertrule-dark: $color-configmap-dark;
$color-controller-dark: $color-pod-overlord;
$color-deployment-dark: $color-controller-dark;
$color-deploymentconfig-dark: $color-controller-dark;
$color-job-dark: $color-controller-dark;
$color-petset-dark: $color-controller-dark;
$color-replicaset-dark: $color-controller-dark;
$color-serviceaccount-dark: $color-configmap-dark;
