$color-service-dark: #99BA45;

$color-pod-dark: #30C2B6;

$color-namespace-dark: #128E72;

$color-node-dark: #C049BF;

$color-container-dark: #63C2E4;

$color-secret-dark: #F77454;

$color-rbac-binding-dark: #99BA45;
$color-rbac-role-dark: #C049BF;

$color-configmap-dark: #872C6C;

$color-pod-overlord: #145884;

$color-controller-dark: $color-pod-overlord;
$color-replicaset-dark: $color-controller-dark;
$color-job-dark: $color-controller-dark;
$color-deployment-dark: $color-controller-dark;
$color-petset-dark: $color-controller-dark;

$color-serviceaccount-dark: $color-configmap-dark;

$color-alertmanager-dark: #F77454;

$color-ingress-dark: #872C6C;

$color-grey-lightest: #efefef;
$color-grey-medium: #666;
$color-grey-dark: #3D3D3D;
$color-grey-text: #999;
$color-grey-border: #eee;
$color-grey-highlight: #353535;
$color-grey-background: #f5f5f5;
$color-grey-background-border: #ccc;

$color-red-error: #D64456;
$color-green-success: #2fc98e;
$color-orange-warning: #fca657;

$color-link: #458AC8;
$color-highlight-blue: #52a3d9;
$color-highlight-blue-dark: #2276AD;

$color-tectonic-green: #68C28D;
$color-tectonic-button-green: $color-green-success;

$color-border-brown: #947663;

$z-plane-1: 100;
$z-plane-2: 200;
$z-plane-3: 300;
$z-plane-4: 400;

$co-font-size-small: 13px;

$color-tectonic-dark-blue: #154A6D;
$color-tectonic-dark-blue-hover: #19547B;
$color-tectonic-darkest-blue: #0A2C41;

$color-grey-when-selected: #e5e5e5;


//OpenShift color variables
$color-os-nav-title: #d1d1d1;
$color-os-nav-background: #2A2E34;
$color-os-nav-item-seperator: #050505;
$color-os-nav-active: #383f47;
