// == Config

// Root path where you plan to host console.
$consoleWebDistPath: './';
$consoleWebFontPath: $consoleWebDistPath + 'fonts';


// == Overrides of external dependency variables

// FontAwesome font path.
$fa-font-path: $consoleWebFontPath;
// Use PatternFly 4 font family in PatternFly 3.
$font-family-base: var(--pf-global--FontFamily--sans-serif);
// PatternFly 3 font path for PatternFly 3 icons.
$font-path: '~patternfly/dist/fonts/';
// Patternfly 3 defaults to 12px, which is too small in many cases.
$font-size-base: 14px;
// Patternfly 3 defaults to 40px, which leaves a lot more whitespace than we're used to.
$grid-gutter-width: 30px;
// Bootstrap font path.
$icon-font-path: $consoleWebFontPath + '/';
// Disable PatternFly 4 reset.
$pf-global--enable-reset: false;
// PatternFly 4 font path.
$pf-global--font-path: '~@patternfly/patternfly-next/assets/fonts';
$popover-max-width: 325px;
$table-border-color: $color-pf-black-200;


// == Custom variables

$co-m-label-line-height: 19px;


// == Colors

$color-error: $color-pf-red-100;
$color-primary: $color-pf-blue-300;
// TODO (jon) review color usage throughout app and consolidate common colors into this file

$color-alertmanager-dark: $color-pf-orange-500;
$color-co-m-row-hover: #fafafa;
$color-configmap-dark: $color-pf-purple-600;
$color-container-dark: $color-pf-light-blue-400;
$color-grey-background-border: #ccc;
$color-ingress-dark: $color-pf-purple-700;
$color-namespace-dark: $color-pf-green-500;
$color-node-dark: $color-pf-purple-400;
$color-pod-dark: $color-pf-cyan-400;
$color-pod-overlord: $color-pf-blue-600;
$color-rbac-binding-dark: $color-pf-cyan-500;
$color-rbac-role-dark: $color-pf-orange-600;
$color-secret-dark: $color-pf-orange-400;
$color-service-dark: $color-pf-light-green-500;
$color-text-muted: $color-pf-black-600;
$color-text-secondary: $color-pf-black-600;
// -- Depend on color vars defined above
$color-alert-dark: $color-container-dark;
$color-alertrule-dark: $color-configmap-dark;
$color-controller-dark: $color-pod-overlord;
$color-deployment-dark: $color-controller-dark;
$color-deploymentconfig-dark: $color-controller-dark;
$color-job-dark: $color-controller-dark;
$color-petset-dark: $color-controller-dark;
$color-replicaset-dark: $color-controller-dark;
$color-serviceaccount-dark: $color-configmap-dark;
