// == Config

// Root path where you plan to host console.
$consoleWebDistPath: './';

// PatternFly variables -- imported here so they can be used throughout
@import '~@patternfly/patternfly/sass-utilities';

// Enable use within shared components and packages
@import '../style/ancillary/bootstrap-variables';

// == Overrides of external dependency variables

// PatternFly font path.
$pf-v6-global--font-path: '~@patternfly/patternfly/assets/fonts';

// == Declare max breakpoints from PatternFly variables
$pf-v6-global--breakpoint--xs-max: calc(#{$pf-v6-global--breakpoint--xs} - 1);
$pf-v6-global--breakpoint--sm-max: calc(#{$pf-v6-global--breakpoint--sm} - 1);
$pf-v6-global--breakpoint--md-max: calc(#{$pf-v6-global--breakpoint--md} - 1);
$pf-v6-global--breakpoint--lg-max: calc(#{$pf-v6-global--breakpoint--lg} - 1);

$pf-v6-global-gutter-x: calc(
  var(--pf-v6-c-page__main-section--PaddingInlineStart) -
    var(--pf-v6-c-page__main-container--BorderInlineStartWidth)
); // Matches pf-v6-c-page__main-section
$pf-v6-global-gutter-y: var(--pf-t--global--spacer--md); // Matches pf-v6-c-page__main-section

// == Custom variables

// The height+padding of a PatternFly standard button.
$co-button-height: calc(
  var(--pf-t--global--font--size--body--default) * var(--pf-t--global--font--line-height--body) +
    var(--pf-t--global--spacer--control--vertical--default) * 2
);
$co-m-catalog-tile-height: 100%;
$co-m-catalog-tile-width: 260px;
$color-alertmanager-dark: #773d00;
$color-application-dark: #3e8635;
$color-configmap-dark: #40199a;
$color-container-dark: #2b9af3;
$color-ingress-dark: #40199a;
$color-namespace-dark: #1e4f18;
$color-node-dark: #8476d1;
$color-pod-dark: #009596;
$color-pod-overlord: #004080;
$color-rbac-binding-dark: #008bad;
$color-rbac-role-dark: #795600;
$color-secret-dark: #c46100;
$color-service-dark: #6ca100;
// -- Depend on color vars defined above
$color-alert-dark: $color-container-dark;
$color-alertrule-dark: $color-configmap-dark;
$color-controller-dark: $color-pod-overlord;
$color-deployment-dark: $color-controller-dark;
$color-deploymentconfig-dark: $color-controller-dark;
$color-job-dark: $color-controller-dark;
$color-petset-dark: $color-controller-dark;
$color-replicaset-dark: $color-controller-dark;
$color-serviceaccount-dark: $color-configmap-dark;
