// == Config

// Root path where you plan to host console.
$consoleWebDistPath: './';

// PatternFly variables -- imported here so they can be used throughout
@import '~@patternfly/patternfly/sass-utilities';

// Enable use within shared components and packages
@import '../style/ancillary/bootstrap-variables';

// == Overrides of external dependency variables

// PatternFly font path.
$pf-v6-global--font-path: '~@patternfly/patternfly/assets/fonts';

// == Declare max breakpoints from PatternFly variables
// TODO: PF6 upgrade -- $pf-v6-global--breakpoint--* are now rem
$pf-v6-global--breakpoint--xs-max: ($pf-v6-global--breakpoint--xs - 1);
$pf-v6-global--breakpoint--sm-max: ($pf-v6-global--breakpoint--sm - 1);
$pf-v6-global--breakpoint--md-max: ($pf-v6-global--breakpoint--md - 1);
$pf-v6-global--breakpoint--lg-max: ($pf-v6-global--breakpoint--lg - 1);

// Can not use --pf-v6-global--gutter --pf-v6-global--gutter--md because you can't get a negative value of a scss variable that is assigned a css custom property.
$pf-v6-global-gutter: 1rem; // Matches --pf-t--global--spacer--gutter--default
$pf-v6-global-gutter--md: 1.5rem;

// == Custom variables
$co-m-catalog-tile-height: 100%;
$co-m-catalog-tile-width: 260px;
$color-alertmanager-dark: #773d00;
$color-application-dark: #3e8635;
$color-configmap-dark: #40199a;
$color-container-dark: #2b9af3;
$color-error: #c9190b;
$color-ingress-dark: #40199a;
$color-namespace-dark: #1e4f18;
$color-node-dark: #8476d1;
$color-pod-dark: #009596;
$color-pod-overlord: #004080;
$color-primary: #2b9af3;
$color-rbac-binding-dark: #008bad;
$color-rbac-role-dark: #795600;
$color-secret-dark: #c46100;
$color-service-dark: #6ca100;
$color-text-muted: #6a6e73;
$color-text-secondary: #6a6e73;
// -- Depend on color vars defined above
$color-alert-dark: $color-container-dark;
$color-alertrule-dark: $color-configmap-dark;
$color-controller-dark: $color-pod-overlord;
$color-deployment-dark: $color-controller-dark;
$color-deploymentconfig-dark: $color-controller-dark;
$color-job-dark: $color-controller-dark;
$color-petset-dark: $color-controller-dark;
$color-replicaset-dark: $color-controller-dark;
$color-serviceaccount-dark: $color-configmap-dark;
