.multi-tab-list-page {
  &__heading {
    display: flex;
    align-items: flex-start;
  }
  &__actions-menu {
    right: 30px;
    position: absolute;
  }
  &__toggle-button {
    background: var(--pf-global--primary-color--100);
    color: var(--pf-global--Color--light-100);
  }
}
