<div class="co-p-new-service">

  <tec-nav-title title="Create New Service">
    <a co-namespaced-href="/services" class="co-m-primary-action">
      <co-svg class="co-img-icon co-img-icon-light" src="/coreos.svg/icon-back.svg"></co-svg>Back to Services
    </a>
  </tec-nav-title>


  <div class="co-m-pane">

    <div class="co-m-pane__heading">
      <h1 class="co-m-pane__title">Service Details</h1>
    </div>

    <div class="co-m-pane__body">
      <form ng-controller="NewServiceFormCtrl" ng-submit="submit()" name="form" role="form">
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label for="input-service-name" class="control-label">Service Name:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <input ng-model="service.metadata.name" type="text" class="form-control" required id="input-service-name"/>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label class="control-label">Service Labels:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <co-label-input ng-model="service.metadata.labels" kind="service"></co-label-input>
            <small class="text-muted">Labels used to identify this service. Use a label like app=frontend to group related services.</small>
          </div>
        </div>

        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label for="input-service-port" class="control-label">Service Port:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <input ng-model="fields.portObj.port" type="number" required class="form-control" id="input-service-port"/>
            <small class="text-muted">
              Users of this service can communicate from any node in the cluster over this port.
              It is exposed as an environment variable (SERVICE_{{(service.metadata.name | uppercase) || 'service-name'}}_{{fields.portObj.port || 'PORT'}}) in all new containers.
            </small>
          </div>
        </div>

        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label class="control-label">Routing Method:</label>
          </div>
          <div class="co-m-form-col col-sm-10">

            <div>
              <label class="control-label">
                <input ng-model="service.spec.type" required type="radio" name="serviceType" value="ClusterIP"/>
                Internal Cluster IP <span class="co-no-bold">(default)</span>
              </label>
              <div class="co-indent">
                <small class="co-block text-muted">
                  Access the service from within the cluster from a dedicated virtual IP.
                  Use any valid port you'd like, this won't conflict with any other service.
                </small>
              </div>
            </div>

            <div>
              <label class="control-label">
                <input ng-model="service.spec.type" required type="radio" name="serviceType" value="NodePort"/>
                Node Port &amp; Internal Cluster IP
              </label>
              <div class="co-indent">
                <small class="co-block text-muted">
                  Access this service via a specific port on each node in the cluster.
                  Useful for some cloud load balancers.
                </small>
                <label class="control-label co-block co-vert-margin">
                  <input type="radio"
                    ng-model="fields.nodePortAssignment"
                    name="nodePortAssignment"
                    value="auto"
                    ng-disabled="service.spec.type == 'ClusterIP'"/>
                  Assign any available port <span class="co-no-bold">(default)</span>
                </label>
                <label class="control-label co-block">
                  <input type="radio"
                    ng-model="fields.nodePortAssignment"
                    name="nodePortAssignment"
                    value="specify"
                    ng-disabled="service.spec.type == 'ClusterIP'"/>
                  Specify a port:
                  <input ng-model="fields.portObj.nodePort"
                    type="number"
                    min="{{minPort}}"
                    max="{{maxPort}}"
                    class="co-inline-block co-indent co-no-bold form-control"
                    ng-required="service.spec.type == 'NodePort' && fields.nodePortAssignment == 'specify'"
                    ng-disabled="service.spec.type == 'ClusterIP' || fields.nodePortAssignment == 'auto'"/>
                </label>
                <small class="text-muted co-indent">
                  Ports must be within the range: <span ng-bind="minPort"></span>-<span ng-bind="maxPort"></span>.
                </small>
              </div>
            </div>

          </div>
        </div>

        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label class="control-label">Pod Label Selector:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <co-label-input ng-model="service.spec.selector" kind="pod" selector="true"></co-label-input>
            <small class="text-muted">Write a label query that will match labels on new or existing pods.</small>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label for="input-target-port" class="control-label">Target Port:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <input ng-model="fields.portObj.targetPort" type="number" required class="form-control" id="input-target-port"/>
            <small class="text-muted">
              Select the port of the pod that will respond to traffic for this service.
            </small>
          </div>
        </div>

        <div class="row co-m-form-row">
          <div class="co-m-form-col col-sm-10 col-sm-offset-2">
            <div co-btn-bar complete-promise="requestPromise">
              <co-error-message formatter="k8sApi" promise="requestPromise"></co-error-message>
              <button type="submit" class="btn btn-primary ng-scope">Create Service</button>
              <button type="button" ng-click="cancel()" class="btn btn-link ng-scope">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <co-debug obj="fields"></co-debug>
    <co-debug obj="service"></co-debug>

  </div>

</div>
