<div class="co-p-service-pods">

  <tec-nav-title title="{{serviceName}}" kind="'service'">
    <a co-namespaced-href="/services" class="co-m-primary-action">
      <co-svg class="co-img-icon co-img-icon-light" src="/coreos.svg/icon-back.svg"></co-svg>Back to Services
    </a>
  </tec-nav-title>

  <div class="co-m-pane co-m-vert-nav">
    <co-service-nav ns="ns" name="serviceName"></co-service-nav>
    <div class="co-m-vert-nav__body">
      <div class="co-m-pane__heading">
        <div class="row">
          <div class="col-xs-12">
            <input ng-model="podSearch.metadata.name" type="text" class="form-control input-sm text-filter pull-right" placeholder="Filter pods by name...">
          </div>
        </div>
      </div>
      <div class="co-m-pane__body">
        <co-pod-list ng-if="!!service" error="loadError" search="podSearch" namespace="ns" selector-required="true" selector="service.spec.selector"></co-pod-list>
      </div>
    </div>
  </div>

</div>
