<div class="co-p-services">

  <co-nav-title title="Services">
    <a href="#" class="co-m-primary-action" ng-click="openCreateServiceModal()">
      <co-svg class="co-img-icon co-img-icon-light" src="/coreos.svg/icon-add.svg"></co-svg>Create a New Service</a>
  </co-nav-title>

  <div class="co-m-pane">
    <div class="co-m-pane__body">

      <input type="text" class="form-control" placeholder="Filter services by label query..." />

      <div class="co-m-table-grid--bordered">
        <div class="row co-m-table-grid__head">
          <div class="col-lg-1"></div>
          <div class="col-lg-2">Service ID</div>
          <div class="col-lg-2">Service Labels</div>
          <div class="col-lg-2">Pod Selector</div>
          <div class="col-lg-2">Service Port</div>
        </div>
        <div class="row" ng-repeat-start="s in services" ng-click="open = !open; getPods(s.id)">
          <div class="col-lg-1">COG</div>
          <div class="col-lg-2"><a ng-href="/services/{{s.id}}" ng-bind="s.id"></a></div>
          <div class="col-lg-2">
            <co-label-list type="service" labels="s.labels"></co-label-list>
          </div>
          <div class="col-lg-2">
            <co-label-list type="selector" labels="s.selector"></co-label-list>
          </div>
          <div class="col-lg-2" ng-bind="s.port"></div>
        </div>
        <div ng-show="open" ng-repeat-end>
          <co-pod-list pods="s.pods"></co-pod-list>
        </div>
      </div>

    </div><!-- pane body -->
  </div><!-- pane -->

</div>
