<div class="co-p-users">
  <co-nav-title title="Manage Users">
    <a ng-click="newUserModal()" class="co-m-primary-action">
      <co-svg class="co-img-icon co-img-icon-light" src="/coreos.svg/icon-add.svg"></co-svg>Add New User</a>
  </co-nav-title>
  <div class="co-m-pane">
    <div class="co-m-pane__heading">
      <h1 class="co-m-pane__title">Users</h1>
    </div>

    <div class="co-m-pane__body">
      <div class="co-m-table-grid co-m-table-grid--bordered">
        <div class="row co-m-table-grid__head">
          <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6 co-m-table-grid__cell--left-padded">Name and Email</div>
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">Status</div>
          <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">Tectonic Role</div>
          <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">Date Added</div>
        </div>

        <div class="co-m-table-grid__body">
          <div ng-if="!(loaded || failed)">
            <co-loader></co-loader>
          </div>
          <div ng-if="failed">
            FAILED
          </div>
          <div class="row co-m-table-grid--clickable co-p-users__user" ng-repeat="user in users" ng-show="loaded && !failed">
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6 co-m-table-grid__cell--left-padded">
              <div class="co-m-table-grid__cell--left-padded__offset-cell">
                <co-user-cog user="user" onselect="showDisableModal"></co-user-cog>
              </div>
              <div class="co-p-users__name">
                <span ng-bind="user.displayName || '(No Name Given)'"></span>
                <span ng-if="isYou(user)">(You)</span>
              </div>
              <div class="co-p-users__email" ng-bind="user.email"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
              <span ng-if="user.disabled">Disabled</span>
              <span ng-if="!user.disabled">Active</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">Administrator</div>
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" ng-bind="user.createdAt | date : 'MMMM dd, yyyy'">Just Now!</div>
          </div>
        </div><!-- .co-m-table-grid__body -->
      </div>
    </div><!-- .co-m-pane-body -->
  </div><!-- .co-m-pane -->
</div>
