<div class="co-p-users">
  <tec-nav-title title="Manage Users">
  </tec-nav-title>

  <div class="co-m-pane" cos-tristate="users" cos-tristate-error="failed">
    <div class="cos-tristate-show-ready">

      <div class="co-m-pane__heading" >
        <div class="row">
          <div class="col-xs-12">
            <div class="row co-co-m-pane__sub_heading">
              <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                <button type="button" ng-click="newUserModal()" class="btn btn-primary">
                  Add New User
                </button>
              </div>
              <div class="col-lg-3 col-lg-offset-6 col-md-4 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6">
                <input ng-model="userSearch" type="text" class="form-control" placeholder="Filter users by name or email..." />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="co-m-pane__body">
        <bridge-user-list users="users" your-id="yourID" reload="reload" search="userSearch"></bridge-user-list>
      </div><!-- .co-m-pane-body -->
    </div><!-- .cos-tristate-show-ready -->

    <div class="co-m-pane-body">
      <co-loader class="cos-tristate-show-loading"></co-loader>
      <cos-status-box class="cos-tristate-show-error">
        <div class="cos-error-title cos-error-title__whole-page-error">Can't load users</div>
        <div class="cos-text-center"
             ng-bind="loadErrorMessage || 'An error occurred while retrieving users. Please try again.'"></div>
      </cos-status-box>
    </div>
  </div><!-- .co-m-pane -->
</div>
