<div class="bridge-user-list co-m-table-grid co-m-table-grid--bordered">
  <div ng-show="users && users.length">
    <div class="row co-m-table-grid__head cos-tristate-show-ready">
      <div class="col-lg-4 col-md-4 col-sm-5 col-xs-8 co-m-table-grid__cell--left-padded">Name and Email</div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">Status</div>
      <div class="col-lg-3 col-md-3 col-sm-2 hidden-xs">Tectonic Role</div>
      <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">Date Added</div>
    </div>
    <div class="co-m-table-grid__body cos-tristate-show-ready">
      <div class="row co-p-users__user" ng-repeat="user in users">
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-8 co-m-table-grid__cell--left-padded">
          <div class="co-m-table-grid__cell--left-padded__offset-cell">
            <co-user-cog ng-if="!(yourId === user.id)" user="user" onselect="showDisableModal"></co-user-cog>
          </div>
          <div class="co-p-users__name">
            <span ng-class="{'co-no-user-name': !user.displayName}" ng-bind="user.displayName || 'Tectonic User'"></span>
            <span ng-if="yourId === user.id" class="fa fa-asterisk co-current-user-icon"></span>
          </div>
          <div class="co-p-users__email" ng-bind="user.email"></div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
          <span ng-if="!user.emailVerified">Pending</span>
          <span ng-if="user.disabled">Disabled</span>
          <span ng-if="!user.disabled && user.emailVerified">Active</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-2 hidden-xs">Administrator</div>
        <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs"><co-timestamp timestamp="{{user.createdAt}}"></co-timestamp></div>
      </div>
    </div><!-- .co-m-table-grid__body -->
  </div>
  <cos-status-box ng-show="!users || !users.length">
    <div class="cos-text-center">No users were found.</div>
  </cos-status-box>
</div>
