.kubevirt-create-vm-modal___result-tab-row-container {
  display: flex;
  flex-direction: column;
}

.kubevirt-create-vm-modal___result-tab-row-container--error > button {
    color: var(--pf-global--danger-color--200) !important;
}

.kubevirt-create-vm-modal__result-tab-row {
  text-align: left;
  white-space: pre-wrap;
}
