.kubevirt-create-vm-modal___result-tab-row-container {
  display: flex;
  flex-direction: column;
}

.kubevirt-create-vm-modal___result-tab-row-container--error > button {
    color: var(--pf-global--danger-color--200) !important;
}

.kubevirt-create-vm-modal__result-tab-row {
  text-align: left;
}

.kubevirt-create-vm-modal__result-tab-row--error {
  background-color: #ffe6e6;
  border-color: var(--pf-global--danger-color--200);
}
