.co-p-welcome {

  hr {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .co-title {
    font-size: 185%;
    color: $blue;
    margin-bottom: 20px;
  }

  .co-description {
    font-size: 115%;
    margin-bottom: 20px;
    font-weight: 300;
  }

  .co-list {
    margin-bottom: 20px;

    ul {
      margin: 0;
      padding: 0 0 0 20px;
      list-style: square;
    }

    li {
      font-size: 85%;
    }

    li + li {
      margin-top: 10px;
    }
  }

  .co-list-title {
    font-size: 80%;
    font-weight: 700;
    margin-bottom: 10px;
  }

}

@-webkit-keyframes popUp {
  0% { }
  70% { -webkit-transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}

@keyframes popUp {
  0% { }
  70% { -webkit-transform: scale(1.1); transform: scale(1.1); opacity: .8; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; }
  100% { -webkit-transform: scale(1); transform: scale(1); opacity: 1; }
}