@import '../../../../../public/style/vars';

.ocs-form-footer {
  padding: var(--pf-global--spacer--md) $pf-global-gutter;
  @media (min-width: $pf-global--breakpoint--xl) {
    padding: var(--pf-global--spacer--md) $pf-global-gutter--md;
  }
  &__sticky {
    position: sticky;
    background: var(--pf-chart-global--Fill--Color--white);
    bottom: 0;
  }
  &__shadow {
    box-shadow: var(--pf-global--BoxShadow--sm-top);
  }
}
