.oc-nav-header {
  border-bottom: 1px solid $color-pf-black;
  padding: var(--pf-global--spacer--md) var(--pf-global--spacer--sm);

  @media screen and (min-width: $grid-float-breakpoint) {
    padding-left: var(--pf-global--spacer--md);
    padding-right: var(--pf-global--spacer--md);
  }

  &__icon {
    margin-right: var(--pf-global--spacer--sm);
  }

  .pf-c-dropdown {
    width: 100%;

    &.pf-m-expanded .pf-c-dropdown__toggle {
      background-color: var(--pf-global--BackgroundColor--dark-200);
    }
  }
  .pf-c-dropdown__menu-item  {
    padding-left: 7px;
  }

  .pf-c-dropdown__menu-item,
  // For Edge
  .pf-c-dropdown__toggle {
    h1 {
      font-size: $co-side-nav-font-size;
    }
  }

  .pf-c-dropdown__toggle {
    font-size: $co-side-nav-font-size;
    justify-content: space-between;
    width: 100%;

    .pf-c-dropdown__toggle-icon {
      color: var(--pf-global--Color--light-100);
      font-size: $co-side-nav-section-font-size;
    }

    .pf-c-title {
      color: var(--pf-global--Color--light-100);
      &.pf-m-md {
        font-size: $co-side-nav-section-font-size;
        font-family: var(--pf-global--FontFamily--sans-serif); // Use RedHatText to match side nav links because buttons by default use RedHatDisplay
      }
    }

    &:before {
      border: none;
    }
  }
}
