.oc-nav-header {
  padding: 3px 20px 20px 25px;

  .hc-dropdown__title {
    font-size: 10px;
    line-height: 18px;
    margin-top: 7px;
    margin-bottom: 3px;
  }

  @media screen and (min-width: $grid-float-breakpoint) {
    padding-left: var(--pf-global--spacer--md);
    padding-right: var(--pf-global--spacer--md);
  }

  &__icon {
    margin-right: var(--pf-global--spacer--sm);
  }

  .pf-c-dropdown {
    width: 100%;
    border: 1px solid #ffffff;
    border-radius: 5px;
  }
  .pf-c-dropdown__menu-item  {
    padding-left: 7px;
  }

  .pf-c-dropdown__menu-item,
  // For Edge
  .pf-c-dropdown__toggle {
    h1 {
      font-size: 13px;
    }
  }

  .pf-c-dropdown__menu-item:hover,
  .pf-c-dropdown__menu-item.pf-m-hover, {
    h1 {
      color: #0066CC;
    }
  }
  

  .pf-c-dropdown__toggle {
    font-size: $co-side-nav-font-size;
    justify-content: space-between;
    width: 100%;

    .pf-c-dropdown__toggle-icon {
      color: var(--pf-global--Color--light-100);
      font-size: var(--pf-global--FontSize--md);
      margin-right: 0;
    }

    .pf-c-title {
      color: var(--pf-global--Color--light-100);
      line-height: 28px;
    }

    &:before {
      border: none;
    }
  }

}
