.oc-perspective-nav {
  .pf-c-nav__section:first-child {
    .pf-c-nav__section-title {
      --pf-c-nav__section-title--PaddingTop: 0;

      border: none;
    }
  }
  .pf-c-nav__section.no-title {
    --pf-c-nav__section--MarginTop: 0;
    .pf-c-nav__section-title {
      --pf-c-nav__section-title--PaddingBottom: 0;
    }
  }
}

.oc-nav-pinned-item.pf-c-nav__item {
  --pf-c-nav__link--PaddingRight: 0;

  display: flex;

  .pf-c-nav__link {
    display: block;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover, &:focus {
      --pf-c-nav__section-title--PaddingRight: 30px;
      .oc-nav-pinned-item__unpin-button {
        .oc-nav-pinned-item__icon {
          opacity: 1;
        }
      }
    }
  }

  .oc-nav-pinned-item__unpin-button {
    background-color: var(--pf-c-nav--m-dark__item--BackgroundColor);
    color: var(--pf-c-nav__link--after--BorderColor);
    padding-bottom: 0;
    padding-top: 0;
    position: absolute;
    right: 0;

    .pf-m-current & {
      background-color: var(--pf-c-nav--m-dark__item--m-current--BackgroundColor);
    }

    .oc-nav-pinned-item__icon {
      opacity: 0;
    }

    &:hover, &:focus {
      .oc-nav-pinned-item__icon {
        opacity: 1;
      }
    }
  }
}
