.oc-perspective-nav {
  .pf-c-nav__section:first-child {
    .pf-c-nav__section-title {
      --pf-c-nav__section-title--PaddingTop: 0;

      border: none;
    }
  }
  .pf-c-nav__section.no-title {
    --pf-c-nav__section--MarginTop: 0;
    .pf-c-nav__section-title {
      --pf-c-nav__section-title--PaddingBottom: 0;
    }
  }
}
