.oc-perspective-nav {
  .pf-c-nav__section:first-child {
    .pf-c-nav__section-title {
      --pf-c-nav__section-title--PaddingTop: 0;

      border: none;
    }
  }
  .pf-c-nav__section.no-title {
    border-bottom: 1px solid var(--pf-global--BackgroundColor--dark-200);
    padding-bottom: var(--pf-global--spacer--sm);
    --pf-c-nav__section--MarginTop: 0;
    .pf-c-nav__section-title {
      --pf-c-nav__section-title--PaddingBottom: 0;
    }
    &:last-child {
      border: none;
    }
  }
  &--dragging {
    background-color: var(--pf-global--Color--200) !important;
    .pf-c-nav__link {
      background-color: var(--pf-global--Color--200) !important;
    }
    .oc-pinned-resource__unpin-button,
    .oc-pinned-resource__drag-button {
      opacity: 0;
    }
  }
}
