.co-clusterserviceversion-details__field {
  padding-bottom: var(--pf-t--global--spacer--lg);
}

.co-clusterserviceversion-details__field-description {
  margin-bottom: 0;
}

.co-clusterserviceversion-row__status {
  display: flex;
  flex-direction: column;
}
