.co-quick-start-tile {
  &-description {
    margin: 0 0 var(--pf-global--spacer--md) 0;
  }

  &-prerequisites {
    display: inline-flex;
    &__text {
      margin-right: var(--pf-global--spacer--sm);
    }

    &__icon {
      color: var(--pf-global--info-color--100) !important;

      &:hover {
        color: var(--pf-global--info-color--200) !important;
      }
    }
  }
}
