.co-quick-start-tile-header {
  &__status {
    margin: var(--pf-global--spacer--sm) 0;
  }
  &--rightmargin {
    margin-right: var(--pf-global--spacer--sm);
  }
  & .pf-c-badge:not(:last-of-type) {
    margin-right: var(--pf-global--spacer--sm);
  }
}
