.co-quick-start-tile {
  &-description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &-prerequisites {
    display: inline-flex;
    &__text {
      margin-right: var(--pf-global--spacer--sm);
    }

    &__icon {
      color: var(--pf-global--info-color--100) !important;

      &:hover {
        color: var(--pf-global--info-color--200) !important;
      }
    }
  }
}
