.co-quick-start-catalog-filter {
  &__flex {
    padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--lg);
    border-top: 1px solid var(--pf-global--BorderColor--100);
  }

  &__input {
    flex-grow: 1;
    max-width: 500px;
  }

  &__count {
    font-weight: var(--pf-global--FontWeight--bold);
  }
}
