.ocs-enable-taint {
    padding-bottom: var(--pf-global--spacer--md);
    padding-top: var(--pf-global--spacer--md);
}

.ocs-enable-arbiter-label {
    display: inline-block;
    &__title--padding {
      padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--sm) var(--pf-global--spacer--sm) 0;
    }
}
