.ceph__install-radio--inline {
  .pf-c-form__group-control {
    display: inline-flex;
  }
  .pf-c-radio {
    margin-right: var(--pf-global--spacer--lg);
  }
}

.ceph__multus-dropdown {
  min-width: 18em;
}

.ceph__multus-dropdown-button {
  min-width: 18em;
}

.ceph__multus-tech-preview-badge--margin {
  margin: calc(var(--pf-global--spacer--xs) * -1) 0 0 calc(var(--pf-global--spacer--sm) * -2);
}
