.ocs-install-info-alert {
  margin: var(--pf-global--spacer--md) var(--pf-global--spacer--xl);
}

.ocs-install-wizard {
  .pf-c-wizard {
    --pf-c-wizard__nav--Width: 16rem;
  }

  border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);

  &__card {
    max-width: 27rem;
    max-height: 12rem;
  }

  &__card-body {
    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-color: var(--pf-global--BackgroundColor--200) var(--pf-global--palette--white);
  }

  &__dd {
    margin-left: var(--pf-global--spacer--md);
  }

  &__h3 {
    --pf-c-content--h3--FontWeight: 200;
  }

  &__icon {
    margin-right: var(--pf-global--spacer--xs);
  }

  &__review-list-item-alert {
    max-width: 40rem;
    margin-top: var(--pf-global--spacer--xs);
  }

  &__review-alert {
    max-width: 60rem;
    margin-top: var(--pf-global--spacer--lg);
  }

  &__select-nodes {
    .co-m-pane__body {
      /* Removes padding from the list page to align the table with rest of the form fields*/
      padding: 0;
    }
  }

  &__storage-class-label {
    display: none;
  }

  &__text-content {
    margin-bottom: var(--pf-global--spacer--md);
  }

  &__review-encryption {
    margin-bottom: 0;
  }
}

.ocs-install-encryption {
  padding-left: var(--pf-global--spacer--lg);

  &__form-body {
    padding: var(--pf-global--spacer--md);
  }

  &__form-body--small-padding {
    padding: var(--pf-global--spacer--md) var(--pf-global--spacer--md) var(--pf-global--spacer--md) 0;
  }

  &__form-alert {
    margin: var(--pf-global--spacer--md);
  }

  &__form-checkbox {
    margin-top: var(--pf-global--spacer--md);
  }

  &__pv-title {
    display: inline-block;

    &--padding {
      padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--sm) var(--pf-global--spacer--sm) 0;
    }
  }
}
