.odc-task-status-tooltip {
  display: inline-grid;
  grid-gap: var(--pf-v5-global--spacer--sm);
  text-align: left;
  grid-template-columns: 1rem auto;

  &__legend {
    height: 1rem;
    width: 1rem;
  }
}
