.fix-ocp-pf {
    height: 100%;
}

.fix-ocp-pf .pf-c-page__main {
    top: 0px;
}

.fix-ocp-pf .pf-c-page__main-section {
    padding: 24px;
    height: unset;
}

.fix-ocp-pf .pf-l-stack {
    height: unset;
}

@media (max-width: 1200px) {
    .fix-ocp-pf .pf-c-page__main-section {
        padding: 16px;
    }
}