[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/reginapizza/che/src/HEAD/devfile.yaml",
        "body": "",
        "status": 200,
        "response": "apiVersion: 1.0.0\nmetadata:\n  name: che-server-in-che\ncomponents:\n  - type: dockerimage\n    image: quay.io/eclipse/che-java11-maven:nightly\n    alias: maven\n    mountSources: true\n    memoryLimit: 2Gi\n    volumes:\n      - name: maven\n        containerPath: /home/user/.m2\n  - type: chePlugin\n    id: redhat/java11/latest\ncommands:\n  - name: build without tests\n    actions:\n      - type: exec\n        component: maven\n        command: mvn clean install -DskipTests\n        workdir: ${CHE_PROJECTS_ROOT}/che\n",
        "rawHeaders": [
            "nginx",
            "Authorization, Origin",
            "max-age=900",
            "Content-Type",
            "text/plain",
            "b637b58f65091abd",
            "X-Usage-Output-Ops",
            "0",
            "X-Dc-Location",
            "Micros",
            "max-age=31536000; includeSubDomains; preload",
            "Wed, 06 Apr 2022 12:59:30 GMT",
            "X-Usage-User-Time",
            "0.029714",
            "X-Usage-System-Time",
            "0.008387",
            "d5ad6b01baff",
            "*",
            "X-View-Name",
            "bitbucket.apps.repo2.api.v20.src.SourceHandler",
            "bytes",
            "ETag",
            "\"26dddbd607ea76aa46633d58960221b1\"",
            "X-Static-Version",
            "48514960f20e",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.141237974167",
            "X-Usage-Input-Ops",
            "2344",
            "X-Request-Count",
            "1556",
            "SAMEORIGIN",
            "X-Version",
            "48514960f20e",
            "caching",
            "507"
        ]
    }
]