[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/reginapizza/che/src/master/devfile.yaml",
        "body": "",
        "status": 200,
        "response": "apiVersion: 1.0.0\nmetadata:\n  name: che-server-in-che\ncomponents:\n  - type: dockerimage\n    image: quay.io/eclipse/che-java11-maven:nightly\n    alias: maven\n    mountSources: true\n    memoryLimit: 2Gi\n    volumes:\n      - name: maven\n        containerPath: /home/user/.m2\n  - type: chePlugin\n    id: redhat/java11/latest\ncommands:\n  - name: build without tests\n    actions:\n      - type: exec\n        component: maven\n        command: mvn clean install -DskipTests\n        workdir: ${CHE_PROJECTS_ROOT}/che\n",
        "rawHeaders": [
            "Content-Type",
            "text/plain",
            "X-Dc-Location",
            "ash2",
            "ETag",
            "8396799273066886737",
            "X-Static-Version",
            "ad1eb073189c",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.172173976898",
            "X-Request-Count",
            "490",
            "X-Version",
            "ad1eb073189c",
            "DC-Location",
            "ash2"
        ]
    }
]