[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/reginapizza/che/src/HEAD//devfile.yaml",
        "body": "",
        "status": 200,
        "response": "apiVersion: 1.0.0\nmetadata:\n  name: che-server-in-che\ncomponents:\n  - type: dockerimage\n    image: quay.io/eclipse/che-java11-maven:nightly\n    alias: maven\n    mountSources: true\n    memoryLimit: 2Gi\n    volumes:\n      - name: maven\n        containerPath: /home/user/.m2\n  - type: chePlugin\n    id: redhat/java11/latest\ncommands:\n  - name: build without tests\n    actions:\n      - type: exec\n        component: maven\n        command: mvn clean install -DskipTests\n        workdir: ${CHE_PROJECTS_ROOT}/che\n",
        "rawHeaders": [
            "Content-Type",
            "text/plain",
            "X-Usage-Output-Ops",
            "0",
            "X-Dc-Location",
            "Micros",
            "bbr1repopath",
            "/data/c03/n07/p/vp1999/data/d-955/r-70113955",
            "X-Usage-User-Time",
            "0.122403",
            "X-Usage-System-Time",
            "0.018054",
            "X-View-Name",
            "bitbucket.apps.repo2.api.v20.src.SourceHandler",
            "ETag",
            "8396799273066886737",
            "X-Static-Version",
            "8acaaa31d195",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.537006139755",
            "X-Usage-Input-Ops",
            "2280",
            "X-Request-Count",
            "487",
            "X-Version",
            "8acaaa31d195"
        ]
    }
]