[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/jerolimov/nodeinfo/src/HEAD/Dockerfile",
        "body": "",
        "status": 200,
        "response": "FROM node:12-alpine AS build\nWORKDIR /opt/app\nCOPY package.json package-lock.json tsconfig.json /opt/app/\nCOPY src/ /opt/app/src/\nRUN npm install\nRUN npm run build\n\nFROM node:12-alpine\nENV DOCKER true\nENV PORT 8080\nEXPOSE 8080\nWORKDIR /opt/app\nCOPY package.json package-lock.json /opt/app/\nRUN npm install --production\nCOPY --from=build /opt/app/out/ /opt/app/out/\nCMD [ \"node\", \"out\" ]\n",
        "rawHeaders": [
            "nginx",
            "Authorization, Origin",
            "max-age=900",
            "Content-Type",
            "text/plain",
            "14d7b3253e34be08",
            "X-Usage-Output-Ops",
            "0",
            "X-Dc-Location",
            "Micros",
            "max-age=31536000; includeSubDomains; preload",
            "Wed, 06 Apr 2022 13:30:22 GMT",
            "X-Usage-User-Time",
            "0.036225",
            "X-Usage-System-Time",
            "0.003195",
            "3167926b4694",
            "*",
            "X-View-Name",
            "bitbucket.apps.repo2.api.v20.src.SourceHandler",
            "bytes",
            "ETag",
            "\"001b90987191604648e40b27cb266df7\"",
            "X-Static-Version",
            "48514960f20e",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.165988922119",
            "X-Usage-Input-Ops",
            "56",
            "X-Request-Count",
            "2743",
            "SAMEORIGIN",
            "X-Version",
            "48514960f20e",
            "caching",
            "387"
        ]
    }
]