[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/akashshinde123/tutorial-react-docker/src/master/Dockerfile",
    "body": "",
    "status": 200,
    "response": "FROM node:9.4\n\n# Create app directory\nWORKDIR /usr/src/app\n\n# Expose port for service\nEXPOSE 5000\n\n# Install and configure `serve`.\nRUN npm install -g serve\n\n# Copy source code to image\nCOPY . .\n\n# Install dependencies\nRUN npm install\n\n# Build app and start server from script\nCMD [\"/usr/src/app/run\"]\n",
    "rawHeaders": [
      "Content-Type",
      "text/plain",
      "ETag",
      "-5130702946141023871",
      "X-Static-Version",
      "f306cfbb5c90",
      "X-Accepted-OAuth-Scopes",
      "repository",
      "X-Render-Time",
      "0.111083030701",
      "X-Reads-Before-Write-From",
      "default",
      "X-Request-Count",
      "2225",
      "X-Version",
      "f306cfbb5c90"
    ]
  }
]
