[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/akashshinde123/tutorial-react-docker/src/HEAD//Dockerfile",
        "body": "",
        "status": 200,
        "response": "FROM node:9.4\n\n# Create app directory\nWORKDIR /usr/src/app\n\n# Expose port for service\nEXPOSE 5000\n\n# Install and configure `serve`.\nRUN npm install -g serve\n\n# Copy source code to image\nCOPY . .\n\n# Install dependencies\nRUN npm install\n\n# Build app and start server from script\nCMD [\"/usr/src/app/run\"]\n",
        "rawHeaders": [
            "Content-Type",
            "text/plain",
            "X-Usage-Output-Ops",
            "0",
            "X-Dc-Location",
            "Micros",
            "bbr1repopath",
            "/data/c03/n01/p/vp1738/data/d-130/r-52490130",
            "X-Usage-User-Time",
            "0.112065",
            "X-Usage-System-Time",
            "0.019986",
            "X-View-Name",
            "bitbucket.apps.repo2.api.v20.src.SourceHandler",
            "ETag",
            "-5130702946141023871",
            "X-Static-Version",
            "8acaaa31d195",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.365780115128",
            "X-Usage-Input-Ops",
            "48",
            "X-Request-Count",
            "3849",
            "X-Version",
            "8acaaa31d195"
        ]
    }
]