[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/akshinde/testgitsource/src/master/?pagelen=50",
        "body": "",
        "status": 200,
        "response": {
            "pagelen": 50,
            "values": [
                {
                    "mimetype": null,
                    "links": {
                        "self": {
                            "href": "https://api.bitbucket.org/2.0/repositories/akshinde/testgitsource/src/d9caa32fdae992d7a1fa042340eb1482455c2c74/README.md"
                        },
                        "meta": {
                            "href": "https://api.bitbucket.org/2.0/repositories/akshinde/testgitsource/src/d9caa32fdae992d7a1fa042340eb1482455c2c74/README.md?format=meta"
                        },
                        "history": {
                            "href": "https://api.bitbucket.org/2.0/repositories/akshinde/testgitsource/filehistory/d9caa32fdae992d7a1fa042340eb1482455c2c74/README.md"
                        }
                    },
                    "escaped_path": "README.md",
                    "path": "README.md",
                    "commit": {
                        "type": "commit",
                        "hash": "d9caa32fdae992d7a1fa042340eb1482455c2c74",
                        "links": {
                            "self": {
                                "href": "https://api.bitbucket.org/2.0/repositories/akshinde/testgitsource/commit/d9caa32fdae992d7a1fa042340eb1482455c2c74"
                            },
                            "html": {
                                "href": "https://bitbucket.org/akshinde/testgitsource/commits/d9caa32fdae992d7a1fa042340eb1482455c2c74"
                            }
                        }
                    },
                    "attributes": [],
                    "type": "commit_file",
                    "size": 2622
                }
            ],
            "page": 1
        },
        "rawHeaders": [
            "nginx",
            "Authorization",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "05d88f5955605b85",
            "X-Dc-Location",
            "ash2",
            "max-age=31536000; includeSubDomains; preload",
            "Wed, 23 Dec 2020 16:15:25 GMT",
            "app-3016",
            "*",
            "bytes",
            "ETag",
            "\"aee8553631eac9ebe132774d7375d52e\"",
            "X-Static-Version",
            "8c0b162f5f7b",
            "nosniff",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.0569710731506",
            "X-Request-Count",
            "2133",
            "SAMEORIGIN",
            "X-Version",
            "8c0b162f5f7b",
            "DC-Location",
            "ash2",
            "caching",
            "928"
        ]
    }
]