[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/avikkundu/oc-func/src/HEAD/func.yaml",
        "body": "",
        "status": 200,
        "response": "specVersion: 0.34.0\nname: hello-func-node\nruntime: node\nregistry: quay.io/viraj_1\nimage: quay.io/viraj_1/hello-func-node:latest\nimageDigest: sha256:cb91c6f8a8a897a14231288b90af35efa00fda24c399ed93afdde58bbcd9b4ca\ncreated: 2022-11-16T15:38:38.502275244+05:30\ninvocation:\n  format: http\nbuild:\n  buildpacks: []\n  builder: s2i\n  buildEnvs: \n  - name: MY_BUILD_KEY\n    value: '{{ env:MY_BUILD_KEY }}'\nrun:\n  volumes: []\n  envs:\n  - name: MY_API_KEY\n    value: '{{ env:API_KEY }}'\ndeploy:\n  namespace: viraj\n  annotations: {}\n  options: {}\n  labels: []\n  healthEndpoints:\n    liveness: /health/liveness\n    readiness: /health/readiness\n",
        "rawHeaders": [
            "nginx",
            "Authorization, Origin",
            "max-age=900",
            "Content-Type",
            "text/plain",
            "df20cf7821d8848d",
            "X-Usage-Output-Ops",
            "0",
            "X-Used-Mesh",
            "False",
            "X-Dc-Location",
            "Micros-3",
            "max-age=31536000; includeSubDomains; preload",
            "Wed, 28 Dec 2022 18:54:53 GMT",
            "df20cf7821d8848d",
            "X-Usage-User-Time",
            "0.036642",
            "X-Usage-System-Time",
            "0.007203",
            "058f9dc3b9c1",
            "1; mode=block",
            "X-View-Name",
            "bitbucket.apps.repo2.api.v20.src.SourceHandler",
            "*",
            "bytes",
            "X-Static-Version",
            "b3e968485931",
            "ETag",
            "\"d9ff6691a81f680013271cf5cc288702\"",
            "nosniff",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.15360355377197266",
            "X-Trace-Id",
            "df20cf7821d8848d",
            "X-Usage-Input-Ops",
            "136",
            "SAMEORIGIN",
            "X-Version",
            "b3e968485931",
            "X-Request-Count",
            "289",
            "caching",
            "631"
        ]
    }
]