[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/akshinde/testgitsource/src/master//devfile.yaml",
        "body": "",
        "status": 404,
        "response": {
            "type": "error",
            "error": {
                "message": "No such file or directory: /devfile.yaml"
            }
        },
        "rawHeaders": [
            "nginx",
            "Authorization",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "e8f7bfb2f497d99c",
            "X-Dc-Location",
            "ash2",
            "max-age=31536000; includeSubDomains; preload",
            "Thu, 24 Dec 2020 11:28:22 GMT",
            "app-3008",
            "*",
            "ETag",
            "\"d5f1967aeb9b53c2c85b649bb5c46a73\"",
            "X-Static-Version",
            "8c0b162f5f7b",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.225944042206",
            "X-Request-Count",
            "2436",
            "SAMEORIGIN",
            "X-Version",
            "8c0b162f5f7b",
            "caching",
            "79"
        ]
    }
]