[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/akshinde/testgitsource/src/HEAD//Dockerfile",
        "body": "",
        "status": 404,
        "response": {
            "type": "error",
            "error": {
                "message": "No such file or directory: /Dockerfile"
            }
        },
        "rawHeaders": [
            "nginx",
            "Authorization",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "a06dcada3d561ef0",
            "X-Usage-Output-Ops",
            "0",
            "X-Dc-Location",
            "Micros",
            "max-age=31536000; includeSubDomains; preload",
            "Mon, 10 May 2021 17:13:10 GMT",
            "bbr1repopath",
            "/data/c03/n02/p/vp1556/data/d-342/r-50531342",
            "X-Usage-User-Time",
            "0.030087",
            "X-Usage-System-Time",
            "0.008456",
            "51c2e6460523",
            "*",
            "X-View-Name",
            "bitbucket.apps.repo2.api.v20.src.SourceHandler",
            "ETag",
            "\"ad0d42444df7ee2571ca5395d29dee1c\"",
            "X-Static-Version",
            "8acaaa31d195",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.180597066879",
            "X-Usage-Input-Ops",
            "24",
            "X-Request-Count",
            "3828",
            "SAMEORIGIN",
            "X-Version",
            "8acaaa31d195",
            "caching",
            "77"
        ]
    }
]