[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/akshinde/testgitsource/src/HEAD//devfile.yaml",
        "body": "",
        "status": 404,
        "response": {
            "type": "error",
            "error": {
                "message": "No such file or directory: /devfile.yaml"
            }
        },
        "rawHeaders": [
            "nginx",
            "Authorization",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "244d285b5b4d45f7",
            "X-Usage-Output-Ops",
            "0",
            "X-Dc-Location",
            "Micros",
            "max-age=31536000; includeSubDomains; preload",
            "Mon, 10 May 2021 17:13:28 GMT",
            "bbr1repopath",
            "/data/c03/n02/p/vp1556/data/d-342/r-50531342",
            "X-Usage-User-Time",
            "0.031069",
            "X-Usage-System-Time",
            "0.002934",
            "e3421702f411",
            "*",
            "X-View-Name",
            "bitbucket.apps.repo2.api.v20.src.SourceHandler",
            "ETag",
            "\"d5f1967aeb9b53c2c85b649bb5c46a73\"",
            "X-Static-Version",
            "8acaaa31d195",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.0951459407806",
            "X-Usage-Input-Ops",
            "24",
            "X-Request-Count",
            "1361",
            "SAMEORIGIN",
            "X-Version",
            "8acaaa31d195",
            "caching",
            "79"
        ]
    }
]