[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/akshinde/testgitsource/src/master//Dockerfile",
        "body": "",
        "status": 404,
        "response": {
            "type": "error",
            "error": {
                "message": "No such file or directory: /Dockerfile"
            }
        },
        "rawHeaders": [
            "nginx",
            "Authorization",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "9eff75c578e382e5",
            "X-Dc-Location",
            "ash2",
            "max-age=31536000; includeSubDomains; preload",
            "Wed, 23 Dec 2020 16:15:25 GMT",
            "app-3018",
            "*",
            "ETag",
            "\"ad0d42444df7ee2571ca5395d29dee1c\"",
            "X-Static-Version",
            "8c0b162f5f7b",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.0450570583344",
            "X-Request-Count",
            "1103",
            "SAMEORIGIN",
            "X-Version",
            "8c0b162f5f7b",
            "caching",
            "77"
        ]
    }
]