[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/akshinde/testgitsource/src/master/Dockerfile",
    "body": "",
    "status": 404,
    "response": {
      "type": "error",
      "error": {
        "message": "No such file or directory: Dockerfile"
      }
    },
    "rawHeaders": [
      "nginx",
      "Authorization",
      "max-age=900",
      "Content-Type",
      "application/json; charset=utf-8",
      "max-age=31536000; includeSubDomains; preload",
      "Fri, 11 Oct 2019 17:58:03 GMT",
      "app-139",
      "ETag",
      "\"5fbc7f76f68a057c35563dc481de987b\"",
      "X-Static-Version",
      "f306cfbb5c90",
      "X-Accepted-OAuth-Scopes",
      "repository",
      "X-Render-Time",
      "0.173252105713",
      "close",
      "X-Reads-Before-Write-From",
      "default",
      "X-Request-Count",
      "2342",
      "X-Version",
      "f306cfbb5c90",
      "SAMEORIGIN",
      "caching",
      "76"
    ]
  }
]
