[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/akshinde/testgitsource/src/HEAD/Dockerfile",
        "body": "",
        "status": 404,
        "response": {
            "type": "error",
            "error": {
                "message": "No such file or directory: Dockerfile"
            }
        },
        "rawHeaders": [
            "nginx",
            "Authorization, Origin",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "0a328102c80c1546",
            "X-Usage-Output-Ops",
            "0",
            "X-Dc-Location",
            "Micros",
            "max-age=31536000; includeSubDomains; preload",
            "Wed, 06 Apr 2022 12:59:30 GMT",
            "X-Usage-User-Time",
            "0.028734",
            "X-Usage-System-Time",
            "0.001108",
            "3d3b4e6b15e9",
            "*",
            "X-View-Name",
            "bitbucket.apps.repo2.api.v20.src.SourceHandler",
            "ETag",
            "\"5fbc7f76f68a057c35563dc481de987b\"",
            "X-Static-Version",
            "48514960f20e",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.107594013214",
            "X-Usage-Input-Ops",
            "32",
            "X-Request-Count",
            "1634",
            "SAMEORIGIN",
            "X-Version",
            "48514960f20e",
            "caching",
            "76"
        ]
    }
]