[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/akshinde/testgitsource/src/master/Dockerfile",
        "body": "",
        "status": 404,
        "response": {
            "type": "error",
            "error": {
                "message": "No such file or directory: Dockerfile"
            }
        },
        "rawHeaders": [
            "nginx",
            "Authorization",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "max-age=31536000; includeSubDomains; preload",
            "Thu, 07 May 2020 20:36:33 GMT",
            "app-1107",
            "*",
            "ETag",
            "\"5fbc7f76f68a057c35563dc481de987b\"",
            "X-Static-Version",
            "4db2538192ba",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.0357370376587",
            "X-Request-Count",
            "1557",
            "X-Version",
            "4db2538192ba",
            "SAMEORIGIN",
            "caching",
            "76"
        ]
    }
]