[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/akshinde/testgitsource/src/HEAD/devfile.yaml",
        "body": "",
        "status": 404,
        "response": {
            "type": "error",
            "error": {
                "message": "No such file or directory: devfile.yaml"
            }
        },
        "rawHeaders": [
            "nginx",
            "Authorization, Origin",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "eb07f43334d149c5",
            "X-Usage-Output-Ops",
            "0",
            "X-Dc-Location",
            "Micros",
            "max-age=31536000; includeSubDomains; preload",
            "Wed, 06 Apr 2022 12:59:31 GMT",
            "X-Usage-User-Time",
            "0.032885",
            "X-Usage-System-Time",
            "0.000941",
            "f964d0d0cdd5",
            "*",
            "X-View-Name",
            "bitbucket.apps.repo2.api.v20.src.SourceHandler",
            "ETag",
            "\"8043b1b5523f389c1a24c964653c61c5\"",
            "X-Static-Version",
            "48514960f20e",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.122771978378",
            "X-Usage-Input-Ops",
            "24",
            "X-Request-Count",
            "572",
            "SAMEORIGIN",
            "X-Version",
            "48514960f20e",
            "caching",
            "78"
        ]
    }
]