[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/akshinde/testgitsource/src/master/devfile.yaml",
        "body": "",
        "status": 404,
        "response": {
            "type": "error",
            "error": {
                "message": "No such file or directory: devfile.yaml"
            }
        },
        "rawHeaders": [
            "nginx",
            "Authorization",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "4ce59aa142215672",
            "X-Dc-Location",
            "ash2",
            "max-age=31536000; includeSubDomains; preload",
            "Tue, 01 Dec 2020 02:59:15 GMT",
            "app-3002",
            "*",
            "ETag",
            "\"8043b1b5523f389c1a24c964653c61c5\"",
            "X-Static-Version",
            "ad1eb073189c",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.15286397934",
            "X-Request-Count",
            "863",
            "SAMEORIGIN",
            "X-Version",
            "ad1eb073189c",
            "caching",
            "78"
        ]
    }
]