[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/akshinde/testgitsource/src/HEAD/func.yaml",
    "body": "",
    "status": 404,
    "response": {
      "type": "error",
      "error": {
        "message": "No such file or directory: func.yaml"
      }
    },
    "rawHeaders": [
      "nginx",
      "Authorization, Origin",
      "max-age=900",
      "Content-Type",
      "application/json; charset=utf-8",
      "144601b7c9816108",
      "X-Usage-Output-Ops",
      "0",
      "X-Used-Mesh",
      "False",
      "X-Dc-Location",
      "Micros-3",
      "max-age=31536000; includeSubDomains; preload",
      "Mon, 09 Jan 2023 21:53:58 GMT",
      "144601b7c9816108",
      "X-Usage-User-Time",
      "0.030280",
      "X-Usage-System-Time",
      "0.000000",
      "a66f7ea55db2",
      "1; mode=block",
      "X-View-Name",
      "bitbucket.apps.repo2.api.v20.src.SourceHandler",
      "*",
      "X-Static-Version",
      "00202e97d14e",
      "ETag",
      "\"4b854ef3ee801ee95fa996fe5731a485\"",
      "nosniff",
      "X-Accepted-OAuth-Scopes",
      "repository",
      "X-Render-Time",
      "0.06301069259643555",
      "X-Trace-Id",
      "144601b7c9816108",
      "X-Usage-Input-Ops",
      "24",
      "SAMEORIGIN",
      "X-Version",
      "00202e97d14e",
      "X-Request-Count",
      "1598",
      "caching",
      "75"
    ]
  }
]
