[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/akshinde/testgitsource/src/HEAD/func.yaml",
        "body": "",
        "status": 404,
        "response": {
            "type": "error",
            "error": {
                "message": "No such file or directory: func.yaml"
            }
        },
        "rawHeaders": [
            "nginx",
            "Authorization, Origin",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "12ca3bc294eb84ca",
            "X-Usage-Output-Ops",
            "0",
            "X-Used-Mesh",
            "False",
            "X-Dc-Location",
            "Micros-3",
            "max-age=31536000; includeSubDomains; preload",
            "Wed, 28 Dec 2022 18:54:53 GMT",
            "12ca3bc294eb84ca",
            "X-Usage-User-Time",
            "0.029810",
            "X-Usage-System-Time",
            "0.003286",
            "5ed9e4927aad",
            "1; mode=block",
            "X-View-Name",
            "bitbucket.apps.repo2.api.v20.src.SourceHandler",
            "*",
            "X-Static-Version",
            "b3e968485931",
            "ETag",
            "\"4b854ef3ee801ee95fa996fe5731a485\"",
            "nosniff",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Render-Time",
            "0.09988760948181152",
            "X-Trace-Id",
            "12ca3bc294eb84ca",
            "X-Usage-Input-Ops",
            "40",
            "SAMEORIGIN",
            "X-Version",
            "b3e968485931",
            "X-Request-Count",
            "121",
            "caching",
            "75"
        ]
    }
]