[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/akshinde/testgitsource/src/HEAD/.tekton",
    "body": "",
    "status": 404,
    "response": {
      "type": "error",
      "error": {
        "message": "No such file or directory: .tekton"
      }
    },
    "rawHeaders": [
      "nginx",
      "Authorization, Origin",
      "max-age=900",
      "Content-Type",
      "application/json; charset=utf-8",
      "eef9d56cb95d5224",
      "X-Usage-Output-Ops",
      "0",
      "X-Used-Mesh",
      "False",
      "X-Dc-Location",
      "Micros-3",
      "max-age=31536000; includeSubDomains; preload",
      "Fri, 16 Dec 2022 13:49:48 GMT",
      "eef9d56cb95d5224",
      "X-Usage-User-Time",
      "0.022146",
      "X-Usage-System-Time",
      "0.003843",
      "aa68b7722ea5",
      "1; mode=block",
      "X-View-Name",
      "bitbucket.apps.repo2.api.v20.src.SourceHandler",
      "*",
      "X-Static-Version",
      "6c83aac9d12f",
      "ETag",
      "\"d01289d3d9e66d0090058d6b4972742f\"",
      "nosniff",
      "X-Accepted-OAuth-Scopes",
      "repository",
      "X-Render-Time",
      "0.04994463920593262",
      "X-Trace-Id",
      "eef9d56cb95d5224",
      "X-Usage-Input-Ops",
      "24",
      "SAMEORIGIN",
      "X-Version",
      "6c83aac9d12f",
      "X-Request-Count",
      "1985",
      "caching",
      "73"
    ]
  }
]
