[
  {
    "scope": "https://api.bitbucket.org:443",
    "method": "GET",
    "path": "/2.0/repositories/atlassian/confluencereact-components",
    "body": "",
    "status": 404,
    "response": {
      "type": "error",
      "error": {
        "message": "Repository atlassian/confluencereact-components not found"
      }
    },
    "rawHeaders": [
      "nginx",
      "Authorization",
      "max-age=900",
      "Content-Type",
      "application/json; charset=utf-8",
      "max-age=31536000; includeSubDomains; preload",
      "Fri, 03 Jan 2020 10:15:14 GMT",
      "app-1117",
      "X-Static-Version",
      "2f9ead9c461e",
      "ETag",
      "\"ee4b15c22652dd3941a33d9bfa474a89\"",
      "X-Render-Time",
      "0.0246829986572",
      "X-Accepted-OAuth-Scopes",
      "repository",
      "close",
      "X-Version",
      "2f9ead9c461e",
      "SAMEORIGIN",
      "X-Reads-Before-Write-From",
      "default",
      "X-Request-Count",
      "664",
      "caching",
      "100"
    ]
  }
]
