[
    {
        "scope": "https://api.bitbucket.org:443",
        "method": "GET",
        "path": "/2.0/repositories/atlassian/confluencereact-components",
        "body": "",
        "status": 404,
        "response": {
            "type": "error",
            "error": {
                "message": "Repository atlassian/confluencereact-components not found"
            }
        },
        "rawHeaders": [
            "nginx",
            "Authorization",
            "max-age=900",
            "Content-Type",
            "application/json; charset=utf-8",
            "max-age=31536000; includeSubDomains; preload",
            "Thu, 07 May 2020 20:36:30 GMT",
            "app-1118",
            "*",
            "X-Static-Version",
            "4db2538192ba",
            "ETag",
            "\"ee4b15c22652dd3941a33d9bfa474a89\"",
            "X-Render-Time",
            "0.0131540298462",
            "X-Accepted-OAuth-Scopes",
            "repository",
            "X-Version",
            "4db2538192ba",
            "X-Request-Count",
            "2559",
            "SAMEORIGIN",
            "caching",
            "100"
        ]
    }
]