.co-consumers-card__filters {
  border-bottom: 1px solid $pf-color-black-300;
  display: flex;
  margin-left: calc(-1 * var(--pf-c-card--child--PaddingLeft));
  margin-right: calc(-1 * var(--pf-c-card--child--PaddingRight));
  padding-bottom: var(--pf-c-card--child--PaddingBottom);
  padding-left: var(--pf-c-card--child--PaddingLeft);
  padding-right: var(--pf-c-card--child--PaddingRight);
}

.co-consumers-card__body {
  text-align: center;
}
