.kubevirt-form-row__loading-container {
  margin-left: 0.5em;
}

.kubevirt-form-row__icon-status-container {
  margin-left: 0.5em;
}

.kubevirt-form-row__help-icon--hidden {
  color: #72767B;
}

.kubevirt-fort-row__invalid-message-container {
  color: var(--pf-global--danger-color--100);
}
