@import '../../../../../public/style/vars';

.co-namespace-dropdown {
    margin-right: 20px;
    max-width: 60%;
}


.pf-c-menu.co-namespace-dropdown__menu {
  // Position is to ensure that the dropdown doesn't push content down when opened
  // Especially on the /topology/ns/[namespace]?view=graph page
  position: absolute;

  // This allows the menu to be longer than the menu toggle
  // Currently PatternFly does not support a min width on the menu component
  --pf-c-menu--MinWidth: 210px;
  @media (min-width: $pf-global--breakpoint--md) {
    --pf-c-menu--MinWidth: 325px;
  }
}

.pf-c-menu__content {
  --pf-c-menu__content--MaxHeight: 60vh !important;
}

// The .co-namespace-dropdown__menu-toggle styles are enabled to make the PatternFly
// more closely match the custom DropDown based drop down.
// These are displayed side by site in the Developer view > Topology view.active.
// Once the custom DropDown component changes to the PatternFly component, these styles can be removed.
.co-namespace-dropdown__menu-toggle {
  font-size: ($font-size-base + 1) !important;
  padding: 2px 0 !important;
  width: 100%;

  @media (min-width: $pf-global--breakpoint--md) {
    font-size: ($font-size-base + 2) !important;
    padding-bottom: 9px !important;
    padding-top: 9px !important;
  }

  &::before,
  &::after {
    border-width: 0 !important;
  }

  &:not(:disabled) {
    color: inherit;
  }

  &:disabled {
    background: none;
    color: var(--pf-global--disabled-color--200);
  }
}

// The PatternFly switch is displayed to the left of the label
// The design for the namespace/project drop down has the switch to
// the right of the label.  These styles allow for the variance to the
// normal PatternFly display.
// Tracked in https://github.com/patternfly/patternfly-react/issues/6059

.co-namespace-dropdown__switch {
  .pf-c-switch__label {
    padding-right: 60px; // Ensure switch doesn't land on top of text
  }

  .pf-c-switch__toggle {
    position: absolute;
    right: 0;
  }
}
