.kv-migration-tool--popover {
  .modal-body {
    background: var(--pf-v5-global--BackgroundColor--100);
  }
}

.kv-migration-tool--main {
  margin-right: var(--pf-v5-global--spacer--sm);
  align-self: start;
}
