@import '../../../../../../public/style/vars';
@import '../../../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables.scss';

.odc-topology-filter-bar {
  background-color: var(--pf-chart-global--Fill--Color--white);
  padding: 6px ($grid-gutter-width / 2);

  @media (min-width: $grid-float-breakpoint) {
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
  }

  &__kiali-link {
    margin-left: auto;
  }

  .odc-topology-filter-bar__label-filter {
    .co-suggestion-line {
      padding: var(--pf-global--spacer--xs) var(--pf-global--spacer--sm);
    }
    .pf-c-select__toggle.pf-m-typeahead {
      min-height: 33px;
    }
    .pf-c-select__menu {
      max-height: 300px;
      overflow-y: auto;
    }
  }
}
