.key-value--remove-button {
  display: flex;
  flex-flow: row-reverse;
  margin-bottom: 0 !important;
}
.key-value--wrapper + .key-value--wrapper {
  border-top: 1px solid var(--pf-t--global--border--color--50);
  padding-top: var(--pf-t--global--spacer--sm);
}
