.ocs-badge {
  &__inline {
    background-color: var(--pf-v6-global--BackgroundColor--200);
    border: 1px solid var(--pf-v6-global--BorderColor--light-100);
  }
}

.ocs-preview-badge {
  &.pf-v6-c-label {
    --pf-v6-c-label--BackgroundColor: #d93f00;
    --pf-v6-c-label--BorderRadius: var(--pf-v6-global--BorderRadius--sm);
    --pf-v6-c-label__content--before--BorderWidth: 0;
    --pf-v6-c-label__content--before--BorderColor: transparent;
    --pf-v6-c-label__content--Color: var(--pf-v6-global--Color--light-100);
    font-family: var(--pf-v6-global--FontFamily--text); // Use RedHatText even when inside an <h1>
  }
}
