.ocs-badge {
  &__inline {
    background-color: var(--pf-global--BackgroundColor--200);
    border: 1px solid var(--pf-global--BorderColor--light-100);
  }
}

.ocs-preview-badge {
  &.pf-c-label {
    background-color: #d93f00;
    border-radius: var(--pf-global--BorderRadius--sm);
  }
  .pf-c-label__content {
    color: var(--pf-global--Color--light-100);
  }
}
