.ocs-badge {
  &__inline {
    background-color: var(--pf-global--BackgroundColor--200);
    border: 1px solid var(--pf-global--BorderColor--light-100);
  }
}

.ocs-preview-badge {
  &.pf-c-label {
    --pf-c-label--BackgroundColor: #d93f00;
    --pf-c-label--BorderRadius: var(--pf-global--BorderRadius--sm);
    --pf-c-label__content--before--BorderWidth: 0;
    --pf-c-label__content--before--BorderColor: transparent;
    --pf-c-label__content--Color: var(--pf-global--Color--light-100);
  }
}
