.ocs-badge {
  &__inline {
    background-color: var(--pf-t--color--gray--10);
    border: 1px solid var(--pf-t--global--border--color--disabled);
  }
}

.ocs-preview-badge {
  &.pf-v6-c-label {
    --pf-v6-c-label--BackgroundColor: #d93f00;
    --pf-v6-c-label--Color: var(--pf-t--color--white);
  }
}
