.ocs-empty-state-resource-badge {
  margin-bottom: var(--pf-t--global--spacer--md);
  &--badge {
    &.pf-v6-c-badge {
      --pf-v6-c-badge--Color: var(--pf-t--color--white);
      --pf-v6-c-badge--FontSize: var(--pf-t--global--font--size--body--lg);
      --pf-v6-c-badge--BackgroundColor: var(--pf-t--color--gray--50);
    }
  }
}
