@import '../../../../../public/style/vars';

.odc-topology-list-view {
  --odc-topology-list-view-type-icon-size: 16px;
  --odc-topology-list-view-sidebar-width: 550px;
  --pf-v5-c-data-list__item--m-selectable--OutlineOffset: 0;
  background-color: var(--pf-v5-global--BackgroundColor--100);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: var(--pf-v5-global--spacer--sm);
  -webkit-overflow-scrolling: touch;
  .odc-m-filter-active & {
    .odc-topology-list-view__kind-row,
    .odc-topology-list-view__item-row,
    .odc-topology-list-view__application-row {
      opacity: 0.5;
      &.is-filtered {
        opacity: 1;
      }
    }
  }

  .pf-v5-c-data-list {
    --pf-v5-c-data-list__item-row--PaddingLeft: calc(
      var(--pf-v5-c-data-list__item-row--xl--PaddingLeft) - var(--pf-v5-global--spacer--sm)
    );
  }

  &__sidebar {
    background-color: var(--pf-v5-global--BackgroundColor--100);
    bottom: 0;
    box-shadow: var(--pf-v5-global--BoxShadow--md);
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 15px);
    z-index: 5;
    @media (min-width: $screen-sm-min) {
      max-width: var(--odc-topology-list-view-sidebar-width);
    }
  }

  &__sidebar-appear {
    opacity: 0;
    transform: translateX(10%);
  }

  &__sidebar-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 175ms ease-out, transform 225ms ease-out;
  }

  &__group-resource-count {
    margin-right: var(--pf-v5-global--spacer--md);
    .co-m-resource-icon {
      margin-left: var(--pf-v5-global--spacer--sm);
    }
  }
  &__application-label-cell {
    display: inline;
    vertical-align: middle;
    .odc-topology-list-view__resource-icon__container {
      margin-top: 8px;
    }
  }
  &__label-cell {
    display: inline-flex;
    align-items: start;
  }
  &__alert-button {
    padding: 2px var(--pf-v5-global--spacer--xs);
    margin-left: var(--pf-v5-global--spacer--xs);
  }
  &__resource-icon-cell.pf-v5-c-data-list__cell {
    margin-right: var(--pf-v5-global--spacer--sm);
  }
  &__resource-icon__container {
    display: flex;
    align-items: center;
    margin-right: var(--pf-v5-global--spacer--sm);
  }
  &__resource-icon {
    margin: 2px 0;
  }
  &__type-icon-bg {
    background-color: var(--pf-v5-global--palette--white);
    border: solid 1px var(--pf-v5-global--BorderColor--300);
    border-radius: 12px;
    box-shadow: 2px 2px 3px var(--pf-v5-global--BorderColor--100);
    margin-left: var(--pf-v5-global--spacer--xs);
    padding: 0 3px 1px;
  }
  &__type-icon {
    font-size: var(--odc-topology-list-view-type-icon-size);
    height: var(--odc-topology-list-view-type-icon-size);
    min-width: var(--odc-topology-list-view-type-icon-size);
  }
  &__application {
    margin-top: var(--pf-v5-global--spacer--sm);
  }
  &__application-row {
    .pf-v5-c-data-list__item-content {
      padding-bottom: var(--pf-v5-global--spacer--sm);
      .pf-v5-c-data-list__cell {
        padding-top: var(--pf-v5-global--spacer--sm);
      }
    }
    &.is-filtered {
      outline-offset: -5px;
      outline: $pf-v5-color-orange-200 auto 1px;
    }
  }
  &__application-label {
    font-size: var(--pf-v5-global--FontSize--2xl);
    margin-left: var(--pf-v5-global--spacer--sm);
  }
  &__unassigned-label {
    font-size: var(--pf-v5-global--FontSize--2xl);
  }
  &__kind-row,
  &__item-row {
    border-bottom: var(--pf-v5-c-data-list__item--BorderBottomWidth) solid
      var(--pf-v5-c-data-list__item--BorderBottomColor);
    min-height: 58px;
    &.is-filtered {
      outline-offset: -5px;
      outline: $pf-v5-color-orange-200 auto 1px;
    }
  }
  &__kind-label {
    font-size: var(--pf-v5-global--FontSize--lg);
  }
  .pf-v5-c-data-list__item.pf-m-clickable {
    .odc-topology-list-view__kind-row,
    .odc-topology-list-view__unassigned-group {
      &.pf-v5-c-data-list__item-row:hover {
        background-color: var(--pf-v5-global--BackgroundColor--100);
        cursor: default;
      }
    }
  }
  .odc-topology-list-view__group-children {
    .odc-topology-list-view__item-row {
      padding-left: var(--pf-v5-global--spacer--2xl);
    }
    .odc-topology-list-view__group-children {
      .odc-topology-list-view__item-row {
        padding-left: var(--pf-v5-global--spacer--3xl);
      }
      .odc-topology-list-view__group-children .odc-topology-list-view__item-row {
        padding-left: var(--pf-v5-global--spacer--4xl);
      }
    }
  }

  // PF Overrides
  .pf-v5-c-data-list {
    // Hide Box Shadows
    --pf-v5-c-data-list__item--m-selected--BoxShadow: none;
    --pf-v5-c-data-list__item--m-selectable--hover--BoxShadow: none;
    --pf-v5-c-data-list__item--m-selectable--focus--BoxShadow: none;
    --pf-v5-c-data-list__item--m-selectable--active--BoxShadow: none;
    --pf-v5-c-data-list__expandable-content--BorderTopWidth: 0;
    --pf-v5-c-data-list--BorderTopWidth: 0;
  }
  .pf-v5-c-data-list__expandable-content {
    overflow-y: hidden;
    .pf-v5-c-data-list__expandable-content-body {
      --pf-v5-c-data-list__expandable-content-body--PaddingTop: 0;
      --pf-v5-c-data-list__expandable-content-body--PaddingRight: 0;
      --pf-v5-c-data-list__expandable-content-body--PaddingBottom: 0;
      --pf-v5-c-data-list__expandable-content-body--PaddingLeft: 0;
    }
  }
  .pf-v5-c-data-list__item {
    border-bottom: 0;
    &.pf-m-expanded {
      --pf-v5-c-data-list__item--before--BackgroundColor: transparent;
      &.pf-m-clickable:not(.pf-m-selected) {
        --pf-v5-c-data-list__item--before--BackgroundColor: transparent;
      }
      &.pf-m-clickable.pf-m-selected {
        --pf-v5-c-data-list__item--before--BackgroundColor: var(
          --pf-v5-c-data-list__item--m-expanded--before--BackgroundColor
        );
      }
      &:focus {
        outline-color: transparent;
        > .odc-topology-list-view__item-row {
          outline-offset: -5px;
          outline: -webkit-focus-ring-color auto 1px;
          background-color: var(--pf-v5-global--BackgroundColor--200);
        }
      }
    }
    &.pf-m-selected,
    &.pf-m-clickable:hover,
    &.pf-m-clickable:focus {
      z-index: initial;
    }

    &.pf-m-clickable:hover,
    &.pf-m-clickable:focus {
      &:not(.pf-m-selected):not(:last-child) {
        --pf-v5-c-data-list__item--BorderBottomWidth: 1px;
        + .pf-v5-c-data-list__item {
          border-top: 0;
        }
      }
    }
    &.pf-m-clickable .pf-v5-c-data-list__item-row:hover {
      background-color: var(--pf-v5-global--BackgroundColor--200);
    }
  }
  .pf-v5-c-data-list__item-content {
    --pf-v5-c-data-list__item-content--md--PaddingBottom: var(--pf-v5-global--spacer--md);
  }
  .pf-v5-c-data-list__cell,
  .pf-v5-c-data-list__cell.pf-m-icon + .pf-v5-c-data-list__cell {
    padding-top: var(--pf-v5-global--spacer--md);
  }

  .pf-v5-c-data-list__expandable-content {
    .pf-v5-c-data-list__expandable-content-body {
      >.pf-v5-c-data-list {
        margin-left: 0;
        margin-inline-start: 0;
      }
      .pf-v5-c-data-list__item-row {
        --pf-v5-c-data-list__item-row--PaddingLeft: var(--pf-global--spacer--lg);
      }
    }
  }
}
