.nb-endpoints-form-entry {
    width:100%;
}

.nb-endpoints-form-entry input {
    max-width: unset;
}

.nb-endpoints-form-entry--short {
    width:20%;
}
.nb-endpoints-form-entry--full-width {
    width:100%;
}

.nb-endpoints-form-entry__dropdown, .nb-endpoints-form-entry__dropdown > div {
    width:100%;
}

.nb-endpoints-page {
    margin-left: var(--pf-global--spacer--lg);
    margin-right: var(--pf-global--spacer--lg);
    margin-top: var(--pf-global--spacer--lg);
}

.nb-endpoints-form {
    width:100%;
    margin-top: var(--pf-global--spacer--lg);
    margin-bottom: var(--pf-global--spacer--lg);
}

.nb-endpoints-form-entry {
    margin-top: var(--pf-global--spacer--sm);
    margin-bottom: var(--pf-global--spacer--sm);
}

.nb-endpoints-form-entry__file-upload {
    border:none;
}

.nb-endpoints-form-entry__data-dump {
    min-height:5em;
}

.nb-endpoints-form-entry-upload-btn__input {
    position: absolute;
    opacity: 0;
}

.nb-endpoints-form-entry-upload-btn {
    display: flex;
}

.nb-endpoints__modal {
    background-color: var(--pf-global--BackgroundColor--100);
}

.nb-endpoints-page-form__short {
    width: 80%;
}

.nb-endpoints-form-entry__dropdown--short {
    overflow-y: auto;
    max-height: 30vh;
}
