.kubevirt-resource-link-popover {
  cursor: pointer;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  width: max-content;
}

.kubevirt-resource-link-popover__disabled {
  color: var(--pf-global--disabled-color--100);
}
