.SSHWizard-authorized-key {
  cursor: pointer;
}

.SSHWizard-enable-ssh-title {
  display: flex;
  align-items: center;
}

.SSHWizard-authorized-key-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}