@import '../../../../../public/style/vars';

.co-dashboard-body {
  background-color: $pf-color-black-200;
  flex: 1 0 auto;
  padding: $pf-global-gutter;
  @media(min-width: $pf-global--breakpoint--xl) {
    padding: $pf-global-gutter--md;
  }
}

.co-dashboard-grid {
  grid-gap: 1rem;
}
