.cluster-picker {
  background-color: $color-tectonic-dark-blue-hover;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  margin: 12px 15px 0;
  position: relative;
  text-align: center;
}

.cluster-picker:hover {
  background-color: $color-highlight-blue-dark;
}

.cluster-picker__wrapper {
  outline: none;
}

.cluster-picker__selected-cluster {
  cursor: pointer;
  display: inline-block;
  padding: 3px 10px 3px;
}

.cluster-picker__caret {
  font-size: 11px;
  margin-left: 5px;
}

.cluster-picker__list {
  background-color: $color-tectonic-darkest-blue;
  box-shadow: 0 0 3px rgba(0,0,0,.8);
  left: 50%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: left;
  transform: translateX(-50%);
  top: 0;
  width: 100%;
  z-index: 1;
}

.cluster-picker__icon {
  color: $color-highlight-blue;
  margin-right: 7px;
}

.cluster-picker__list-item {
  background-color: $color-tectonic-darkest-blue;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  padding: 7px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  a {
    color: #fff
  }
}

.cluster-picker__list-item:last-child {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cluster-picker__list-item:hover {
  background-color: $color-tectonic-dark-blue-hover;
}
