.ocs-page-layout {
  &__content {
    padding: var(--pf-global--spacer--lg);
    flex: 1;
  }

  &__header {
    background-color: var(--pf-global--BackgroundColor--light-100);
  }

  &__hint {
    padding-left: var(--pf-global--spacer--lg);
    padding-right: var(--pf-global--spacer--lg);
    padding-bottom: var(--pf-global--spacer--md);
  }

  &__title {
    padding-left: var(--pf-global--spacer--lg);
    padding-right: var(--pf-global--spacer--lg);
  }
}
