.pad-line {
  padding: 5px 0;
}

.co-node-ip {
  margin: 0;
  padding: 0;
  line-height: 14px;
  p {
    @extend .pad-line;
    margin: 0;
  }
}

.co-ip-type {
  color: #999;
}

.co-ip-addr {
  color: black;
}
