<div class="co-create-policy">
  <form  ng-submit="submitForm($valid)" name="policyForm">

    <div class="row co-m-form-row">
      <label for="policyName" class="col-sm-2 control-label">Name</label>
      <div class="co-m-form-col col-sm-10">
        <input ng-model="policyForm.name" type="text" class="co-m-form-col col-sm-10 form-control" required autofocus id="policyName"/>
      </div>
    </div>

    <div class="row co-m-form-row">
      <label for="pcrs" class="col-sm-2 control-label">Policy (JSON/YAML)</label>
      <div class="co-m-form-col col-sm-10">
        <textarea class="form-control" rows="15" ng-model="policyForm.pcrs" id="pcrs" required yaml-policy></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <co-error-message formatter="k8sApi" promise="requestPromise"></co-error-message>
        <input type="submit" class="btn btn-primary" ng-click="update(policyForm)" value="Create Policy" ng-disabled="policyForm.$invalid">
      </div>
    </div>
  </form>
</div>
