<div class="co-namespace-sparklines">
  <h1 class="co-m-pane__title">Resource Usage</h1>

  <div class="cos-text-center" ng-if="!limitsLoaded">
    <co-inline-loader></co-inline-loader>
  </div>

  <div class="co-namespace-sparklines__wrapper" ng-if="limitsLoaded">
    <div class="row no-gutter">
      <div class="col-md-6 col-xs-12">
        <co-sparkline-widget heading="'CPU Shares'" query="'sum(container_spec_cpu_shares{namespace=\'__NAMESPACE__\'}) * 1000000' | queryNamespace:this" limit="cpuLimit" limit-text="'cluster'" units="'numeric'"></co-sparkline-widget>
      </div>
      <div class="col-md-6 col-xs-12" ng-if="!errors">
        <co-sparkline-widget heading="'RAM'" query="'sum(container_memory_usage_bytes{namespace=\'__NAMESPACE__\'})' | queryNamespace:this" limit="memoryLimit" limit-text="'cluster'" units="'binaryBytes'"></co-sparkline-widget>
      </div>
    </div>
  </div>
</div>
