<div class="co-m-node-list co-m-table-grid co-m-table-grid--bordered">

  <div class="row co-m-table-grid__head">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Node Name</div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Status</div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">Node Addresses</div>
  </div>

  <div cos-tristate="nodes" cos-tristate-error="loadError" class="co-m-table-grid__body">
    <div class="row" ng-repeat-start="n in filteredNodes track by n.metadata.uid" ng-click="open = !open">
      <div class="middler">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <co-node-cog node="n"></co-node-cog>
          <co-resource-icon kind="node"></co-resource-icon>
          <a ng-href="nodes/{{n.metadata.name}}" ng-bind="n.metadata.name"></a>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="pad-line" ng-if="$root.FEATURE_FLAGS.tpm">
            <span ng-if="isTrusted(n)" class="tpm-trusted"><i class="fa fa-shield"></i>  Trusted</span>
            <span ng-if="!isTrusted(n)" class="tpm-untrusted"><i class="fa fa-times"></i> Untrusted</span>
          </div>
          <div ng-if="compacted=='false' || !$root.FEATURE_FLAGS.tpm" class="pad-line">
            <span ng-if="isReady(n)" class="tpm-trusted"> <i class="fa fa-check"></i> Ready</span>
            <span ng-if="!isReady(n)" class="tpm-untrusted"><i class="fa fa-minus-circle"></i> Not Ready</span>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
  	       <co-node-ip-list compacted="compacted" addresses="n.status.addresses"></co-node-ip-list>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="compacted=='false'">
        <co-label-list kind="node" labels="n.metadata.labels" expand=true></co-label-list>
      </div>
    </div>
    <div ng-repeat-end>
    </div>

    <co-loader class="cos-tristate-show-loading"></co-loader>
    <cos-status-box class="cos-tristate-show-error">
      <div class="cos-error-title">Error loading nodes</div>
      <div class="cos-text-center">An error occurred during node retrieval. Please try again.</div>
    </cos-status-box>
    <cos-status-box ng-show="!filteredNodes.length && !nodes.length" class="cos-tristate-show-empty">
      <div>No nodes found</div>
      <div class="cos-text-center">No nodes found in the system.</div>
    </cos-status-box>
    <cos-status-box class="cos-status-box--border-bottom" ng-show="!filteredNodes.length && nodes.length">
      <div>No matching nodes</div>
      <div class="cos-text-center" ng-bind-template="{{nodes.length}} node(s) exist, but none match the current filter."></div>
    </cos-status-box>
  </div>
</div>
