<div>
  <div class="co-m-pane__heading">
    <div class="row co-m-pane__sub__heading">
      <div class="col-xs-12">
        <div class="btn-group btn-group-sm pull-left" data-toggle="buttons">
          <label ng-class="{'btn-unselected': passByRef.compacted=='false', 'btn-selected': passByRef.compacted=='true'}" class="btn compaction-btn">
            <input type="radio" ng-model="passByRef.compacted" value='true'> Compact
          </label>
          <label ng-class="{'btn-unselected': passByRef.compacted=='true', 'btn-selected': passByRef.compacted=='false'}" class="btn compaction-btn">
            <input type="radio" ng-model="passByRef.compacted" value='false'> Expand
          </label>
        </div>

        <input ng-model="passByRef.namefilter" type="text" class="form-control node-search pull-right" placeholder="Search for a node..." />

        <co-dropdown ng-show='$root.FEATURE_FLAGS.tpm' title="'Trusted Status'" selected="passByRef.trusted" items="[['Trusted: All', 'all'], ['Trusted', true], ['Untrusted', false]]" class="pull-right">
        </co-dropdown>

        <co-dropdown title="'Ready Status'" selected="passByRef.status" items="[['Status: All', 'all'], ['Status: Ready', true], ['Status: Not Ready', false]]" class="pull-right">
        </co-dropdown>
      </div>
    </div>
  </div>

  <div class="co-m-pane__body" >
    <div class="row">
      <div class="col-xs-12">
        <co-node-list filter="passByRef.status" namefilter="passByRef.namefilter" compacted="passByRef.compacted" trusted="passByRef.trusted" load-error="loadError"></co-node-list>
      </div>
    </div>
  </div><!-- pane body -->
</div>
