<div>
  <tec-nav-title title="{{name}}" kind="'policy'" obj='policy' detail="true"></tec-nav-title>
  <div class="co-m-pane">
    <div class="co-m-pane__body">
      <div class="row">
        <div class="co-m-node-list co-m-table-grid co-m-table-grid--bordered">
          <div class="col-xs-12">
            <div class="row co-m-table-grid__head">
              <div class="col-xs-3">Name</div>
              <div class="col-xs-2">PCR</div>
              <div class="col-xs-1">Type</div>
              <div class="col-xs-6">Value</div>
            </div>

            <div cos-tristate="values" cos-tristate-error="loadError" class="co-m-table-grid__body">
              <div class="row co-m-table-grid" ng-repeat="value in values" ng-click="open = !open">
                <div class="middler">
                  <div class="col-xs-3" ng-bind="value.description">
                  </div>

                  <div class="col-xs-2" ng-bind="pcrToHuman(value.pcrNum)">
                  </div>

                  <div class="col-xs-1" ng-bind="value.type">
                  </div>

                  <div class="col-xs-6 monospace" ng-bind="value.value">
                  </div>
                </div>
              </div>
              <co-loader class="cos-tristate-show-loading"></co-loader>

              <cos-status-box class="cos-tristate-show-error">
                <div class="cos-error-title">Error loading policy</div>
              </cos-status-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

