<div class="co-m-replica-set-list co-m-table-grid co-m-table-grid--bordered">
  <div class="row co-m-table-grid__head">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">Name</div>
    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6">Labels</div>
    <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs">Status</div>
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">Pod Selector</div>
  </div>

  <div cos-tristate="rss" cos-tristate-error="loadError" class="co-m-table-grid__body">
    <div class="row co-m-table-grid--clickable" ng-repeat-start="rs in rss | orderBy:'metadata.name' | filter:search:strict track by rs.metadata.uid" ng-click="open = !open">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <co-replicaset-cog rs="rs"></co-replicaset-cog>
        <co-resource-icon kind="replicaset"></co-resource-icon>
        <a ng-href="/ns/{{rs.metadata.namespace}}/replicasets/{{rs.metadata.name}}" ng-bind="rs.metadata.name"></a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-5 col-xs-6">
        <co-label-list kind="replicaset" labels="rs.metadata.labels"></co-label-list>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs" ng-bind-template="{{rs.status.replicas}} of {{rs.spec.replicas}} pods"></div>
      <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
        <co-selector selector="rs.spec.selector"></co-selector>
      </div>
    </div>
    <div ng-repeat-end>
      <co-pod-list ng-if="open" namespace="rs.metadata.namespace" selector-required="true" selector="rs.spec.selector"></co-pod-list>
    </div>

    <co-loader class="cos-tristate-show-loading"></co-loader>
    <cos-status-box class="cos-tristate-show-error">
      <div class="cos-error-title">Error Loading Replica Sets</div>
      <div class="cos-text-center">An error occurred during replica set retrieval. Please try again.</div>
    </cos-status-box>
    <cos-status-box class="cos-tristate-show-empty">
      <div>No Replica Sets Found</div>
      <div class="cos-text-center">No matching replica sets found in the system.</div>
    </cos-status-box>
  </div>
</div>
