<div class="co-m-resource-list">
  <co-service-list ng-if="kind == 'service'"
                   load="kind == 'service'"
                   namespace="namespace"
                   selector="selector"></co-service-list>
  <co-replication-controller-list ng-if="kind == 'replicationcontroller'"
                                  load="kind == 'replicationcontroller'"
                                  namespace="namespace"
                                  selector="selector"></co-replication-controller-list>
  <co-pod-list ng-if="kind == 'pod'"
               load="kind == 'pod'"
               namespace="namespace"
               selector="selector"></co-pod-list>
  <co-node-list-search ng-if="kind == 'node'"
                selector="selector" /></co-node-list-search>
  <co-namespace-list ng-if="kind == 'namespace'"
                     selector="selector"
                     ></co-namespace-list>
</div>
