<div class="co-m-resource-list">
  <co-generic-k8s-list ng-if="kind == 'replicationcontroller'" namespace="namespace" component="'ReplicationControllers'" selector="selector"></co-generic-k8s-list>
  <co-generic-k8s-list ng-if="kind == 'replicaset'" namespace="namespace" component="'ReplicaSets'" selector="selector"></co-generic-k8s-list>
  <co-generic-k8s-list ng-if="kind == 'deployment'" namespace="namespace" component="'Deployments'" selector="selector"></co-generic-k8s-list>
  <co-generic-k8s-list ng-if="kind == 'pod'" namespace="namespace" component="'Pods'" selector="selector"></co-generic-k8s-list>
  <co-generic-k8s-list ng-if="kind == 'service'" namespace="namespace" component="'Services'" selector="selector"></co-generic-k8s-list>

  <co-node-list-search ng-if="kind == 'node'"
                selector="selector" /></co-node-list-search>
  <co-namespace-list ng-if="kind == 'namespace'"
                     selector="selector"
                     ></co-namespace-list>
</div>
