$color-service-dark: #487F9F;
$color-service-medium: #72A4CA;
$color-service-light: #D3EAFF;

$color-controller-dark: #593DA9;
$color-controller-medium: #8369AD;
$color-controller-light: #D8ADFE;

$color-pod-dark: #53B464;
$color-pod-medium: #5DD973;
$color-pod-light: #D0FECE;

$color-selector-medium: #ccc;
$color-selector-light: #efefef;
