$color-service-dark: #487F9F;
$color-service-medium: #72A4CA;
$color-service-light: #D3EAFF;

$color-controller-dark: #593DA9;
$color-controller-medium: #8369AD;
$color-controller-light: #D8ADFE;

$color-pod-dark: #53B464;
$color-pod-medium: #5DD973;
$color-pod-light: #D0FECE;

$color-grey-lightest: #efefef;
$color-grey-medium: #666;
$color-grey-dark: #3D3D3D;
$color-grey-border: #eee;
$color-grey-highlight: #353535;
$color-grey-background: #f5f5f5;

$color-red-failure: #dd1326;

$color-container-dark: #f08e4e;

$color-node-dark: #f35d6b;

$color-highlight-blue: #52a3d9;

$color-tectonic-green: #68C28D;
$color-tectonic-button-green: #2fc98e;

$z-plane-1: 100;
$z-plane-2: 200;
$z-plane-3: 300;
$z-plane-4: 400;

$font-size-small: 13px;
