$color-service-dark: #487F9F;
$color-service-medium: #72A4CA;
$color-service-light: #D3EAFF;

$color-controller-dark: #593DA9;
$color-controller-medium: #8369AD;
$color-controller-light: #D8ADFE;

$color-pod-dark: #53B464;
$color-pod-medium: #5DD973;
$color-pod-light: #D0FECE;

$color-grey-lightest: #efefef;
$color-grey-medium: #666;
$color-grey-border: #eee;
$color-grey-background: #f5f5f5;

$color-container-dark: #f08e4e;

$color-node-dark: #f35d6b;
