// Config
@import 'style/vars';

// External dependency variables or mixins that are required/extended by our custom styles (tilde tells Webpack not to use relative path)
// IMPORTANT: Please put non-variable/mixin external dependency imports in vendor.scss!
// Patternfly variables must be imported before Bootstrap
@import '~patternfly/dist/sass/patternfly/variables';
@import '~@patternfly/react-catalog-view-extension/dist/sass/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '~@fortawesome/fontawesome-free/scss/variables';

@import 'style/base';

// Mixins
@import 'style/mixin/break-word';
@import 'style/mixin/font-awesome';
@import 'style/mixin/prefix';
@import 'style/mixin/scroll-shadows';
@import 'style/mixin/truncate';
@import 'style/mixin/line-clamp';

// Overrides
@import 'style/overrides';

/* CUSTOM STYLES */

// Base
@import 'style/common';
@import 'style/icons';
@import 'style/layout';
@import 'style/text';
@import 'style/forms';

// React Components
@import 'components/utils/alerts';
@import 'components/utils/copy-to-clipboard';
@import 'components/utils/disabled';
@import 'components/utils/file-input';
@import 'components/utils/kebab';
@import 'components/utils/label';
@import 'components/utils/number-spinner';
@import 'components/utils/status-box';
@import 'components/utils/selector';
@import 'components/utils/skeleton-screen';
@import 'components/utils/log-window';
@import 'components/utils/resource-log';
@import 'components/utils/list-input';
@import 'components/utils/hint-block';
@import 'components/utils/field-level-help';
@import 'components/image-stream';
@import 'components/about-modal';
@import 'components/build-pipeline';
@import 'components/configure-ports';
@import 'components/detail-table';
@import 'components/dropdown';
@import 'components/global-notification';
@import 'components/list';
@import 'components/monitoring/monitoring';
@import 'components/nav-title';
@import 'components/RBAC/rbac';
@import 'components/secrets/create-secret';
@import 'components/resource';
@import 'components/resource-dropdown';
@import 'components/reveal-value';
@import 'components/row-filter';
@import 'components/route';
@import 'components/service';
@import 'components/sysevent-icon';
@import 'components/sysevent-stream';
@import 'components/icon-and-text';
@import 'components/toggle-play';
@import 'components/horizontal-nav';
@import 'components/edit-yaml';
@import 'components/sidebars/resource-sidebar';
@import 'components/graphs/graphs';
@import 'components/masthead';
@import 'components/modals/modals';
@import 'components/environment';
@import 'components/utils/name-value-editor';
@import 'components/utils/value-from-pair';
@import 'components/terminal';
@import 'components/catalog/catalog';
@import 'components/cluster-service-instance';
@import 'components/overview/build-overview';
@import 'components/overview/overview';
@import 'components/overview/list-view/list-view';
@import 'components/overview/project-overview';
@import 'components/deploy-image';
@import 'components/instantiate-template';
@import 'components/routes/create-route';
@import 'components/storage-class-form';
@import 'components/quota';
@import 'components/cluster-settings/cluster-settings';
@import 'components/search';
@import 'components/notification-drawer';
@import 'components/radio';
@import 'components/filter-toolbar';
@import 'components/autocomplete';
@import 'components/conditions';
@import 'components/persistent-volume-claim';

@import 'components/dashboard/dashboards-page/cluster-dashboard/activity-card';
@import 'components/dashboard/dashboards-page/cluster-dashboard/status-card';

@import 'components/dashboard/project-dashboard/activity-card';

@import 'components/nav/nav-header';
