// Config
@import "style/color-pallette";
@import '~patternfly/dist/sass/patternfly/color-variables';
@import "style/vars";
@import "style/config";

// External dependencies that are required/extended by our custom styles (tilde tells Webpack not to use relative path)
// Patternfly variables must be imported before Bootstrap
@import '~patternfly/dist/sass/patternfly/variables';
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~font-awesome-sass/assets/stylesheets/font-awesome/variables";
@import "~xterm/dist/addons/fullscreen/fullscreen";

@import "style/base";

// TODO: refactor this away
@import "style/coreos";

// Overrides
@import "style/overrides";

// Mixins
@import "style/mixin/prefix";
@import "style/mixin/break-word";

/* CUSTOM STYLES */

// Base
@import "style/common";
@import "style/icons";
@import "style/layout";
@import "style/text";
@import "style/status";

// React Components
@import "components/utils/copy-to-clipboard";
@import "components/utils/disabled";
@import "components/utils/file-input";
@import "components/utils/label";
@import "components/utils/number-spinner";
@import "components/utils/status-box";
@import "components/utils/selector";
@import "components/utils/log-window";
@import "components/build-pipeline";
@import "components/chargeback";
@import "components/cluster-overview";
@import "components/cluster-settings/cluster-settings";
@import "components/cluster-settings/cluster-updates";
@import "components/configure-ports";
@import "components/detail-table";
@import "components/dropdown";
@import "components/global-notification";
@import "components/list";
@import "components/nav-title";
@import "components/node-ip-list";
@import "components/overflow";
@import "components/RBAC/rbac";
@import "components/resource";
@import "components/resource-dropdown";
@import "components/row-filter";
@import "components/route";
@import "components/secret";
@import "components/service";
@import "components/sysevent-icon";
@import "components/sysevent-stream";
@import "components/icon-and-text";
@import "components/toggle-play";
@import "components/users";
@import "components/volume-icon";
@import "components/vert-nav";
@import "components/edit-yaml";
@import "components/factory/modal-wrapper";
@import "components/cluster-picker";
@import "components/sidebars/resource-sidebar";
@import "components/cloud-services/cloud-services";
@import "components/graphs/graphs";
@import "components/modals/modals";
@import "components/masthead";
@import "components/nav";
@import "components/environment";
@import "components/utils/name-value-editor";
@import "components/utils/value-from-pair";
@import "components/documentation";
@import "components/terminal";
