// These must come before coreos-web b/c they were a part of it.
@import "style/reset";
@import "style/base";

// TODO: refactor this away
@import "style/coreos";

// External dependencies (tilde tells Webpack not to use relative path)
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

// Config
@import "style/color-pallette";
@import "style/config";
@import "style/vars";

// Overrides
@import "style/overrides";

// Mixins
@import "style/mixin/animation";
@import "style/mixin/keyframes";
@import "style/mixin/prefix";
@import "style/mixin/media-query";


/* CUSTOM STYLES */

// Base
@import "style/common";
@import "style/icons";
@import "style/layout";
@import "style/text";
@import "style/status";

// React Components
@import "components/utils/label";
@import "components/utils/number-spinner";
@import "components/utils/status-box";
@import "components/utils/selector";
@import "components/chargeback";
@import "components/cluster-overview";
@import "components/cluster-settings/cluster-settings";
@import "components/cluster-settings/cluster-updates";
@import "components/configure-ports";
@import "components/detail-table";
@import "components/dropdown";
@import "components/error";
@import "components/global-notification";
@import "components/list";
@import "components/nav-title";
@import "components/node-ip-list";
@import "components/overflow";
@import "components/pod-logs";
@import "components/log-window";
@import "components/RBAC/rbac";
@import "components/resource";
@import "components/row-filter";
@import "components/search";
@import "components/service";
@import "components/sysevent-icon";
@import "components/sysevent-stream";
@import "components/timestamp";
@import "components/toggle-play";
@import "components/users";
@import "components/volume-icon";
@import "components/vert-nav";
@import "components/edit-yaml";
@import "components/factory/modal-wrapper";
@import "components/cluster-picker";
@import "components/secscan/secscan";
@import "components/sidebars/resource-sidebar";
@import "components/cloud-services/cloud-services";
@import "components/graphs/graphs";
@import "components/modals/modals";
