// Config
@import '~patternfly/dist/sass/patternfly/color-variables';
@import "style/vars";

// External dependency variables or mixins that are required/extended by our custom styles (tilde tells Webpack not to use relative path)
// IMPORTANT: Please put non-variable/mixin external dependency imports in vendor.scss!
// Patternfly variables must be imported before Bootstrap
@import '~patternfly/dist/sass/patternfly/variables';
@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "~font-awesome-sass/assets/stylesheets/font-awesome/variables";

@import "style/base";

// Overrides
@import "style/overrides";

// Mixins
@import "style/mixin/prefix";
@import "style/mixin/break-word";

/* CUSTOM STYLES */

// Base
@import "style/common";
@import "style/icons";
@import "style/layout";
@import "style/text";
@import "style/forms";
@import "style/status";

// React Components
@import "components/utils/copy-to-clipboard";
@import "components/utils/disabled";
@import "components/utils/file-input";
@import "components/utils/label";
@import "components/utils/number-spinner";
@import "components/utils/status-box";
@import "components/utils/selector";
@import "components/utils/log-window";
@import "components/utils/resource-log";
@import "components/about-modal";
@import "components/build-pipeline";
@import "components/chargeback";
@import "components/cluster-overview";
@import "components/cluster-settings/cluster-settings";
@import "components/cluster-settings/cluster-updates";
@import "components/configure-ports";
@import "components/detail-table";
@import "components/dropdown";
@import "components/global-notification";
@import "components/list";
@import "components/monitoring";
@import "components/nav-title";
@import "components/node-ip-list";
@import "components/overflow";
@import "components/RBAC/rbac";
@import "components/secrets/create-secret";
@import "components/resource";
@import "components/resource-dropdown";
@import "components/row-filter";
@import "components/route";
@import "components/service";
@import "components/sysevent-icon";
@import "components/sysevent-stream";
@import "components/icon-and-text";
@import "components/toggle-play";
@import "components/users";
@import "components/volume-icon";
@import "components/horizontal-nav";
@import "components/edit-yaml";
@import "components/factory/modal-wrapper";
@import "components/cluster-picker";
@import "components/sidebars/resource-sidebar";
@import "components/operator-lifecycle-manager/operator-lifecycle-manager";
@import "components/graphs/graphs";
@import "components/modals/modals";
@import "components/masthead";
@import "components/nav";
@import "components/environment";
@import "components/utils/name-value-editor";
@import "components/utils/value-from-pair";
@import "components/documentation";
@import "components/terminal";
@import "components/catalog/catalog";
@import "components/cluster-service-instance";
@import "components/overview/overview";
@import "components/overview/project-overview";
@import "components/list-view";
@import "components/deploy-image";
@import "components/source-to-image";
@import "components/routes/create-route";
@import "components/storage-class-form";
@import "components/overview/build-configs-overview";
