/* COREOS-WEB IMPORTS */
@import "color-pallette";
@import "config";
@import "mixin/animation";
@import "mixin/keyframes";
@import "mixin/prefix";

/* Overrides for Coreos global styles */
@import "overrides";

/* CUSTOM STYLES */

// Config variables
@import "vars";

// Base
@import "style/common";
@import "style/icons";
@import "style/layout";
@import "style/text";

// Pages
@import "page/cluster/status";
@import "page/error/error";
@import "page/events/events";
@import "page/modals/modal";
@import "page/namespaces/namespaces";
@import "page/pods/new-pod";
@import "page/pods/pod-logs";
@import "page/search/search";
@import "page/welcome/welcome";
@import "page/nodes/node";
@import "page/settings/users";
@import "page/services/service";

// UI Modules
@import "module/ui/containers/container-input";
@import "module/ui/icons/resource-icon";
@import "module/ui/icons/status";
@import "module/ui/forms/number-spinner";
@import "module/ui/labels/label";
@import "module/ui/labels/label-input";
@import "module/ui/log-window/log-window";
@import "module/ui/resources/resource-list";
@import "module/ui/resources/node-ip-list";
@import "module/ui/resources/node-section";
@import "module/ui/status-box/status-box";
@import "module/ui/sysevents/sysevent-icon";
@import "module/ui/sysevents/sysevent-stream";
@import "module/ui/toggle-play/toggle-play";
@import "module/ui/tristate/tristate";
@import "module/ui/util/debug";
@import "module/ui/vert-nav/vert-nav";
@import "module/ui/account-nav/account-nav";
@import "module/ui/side-menu/side-menu";
@import "module/ui/nav-title/nav-title";
@import "module/ui/overrides/footer";
@import "module/ui/overrides/nav";
@import "module/ui/timestamps/co-timestamp";

