<!DOCTYPE html>
<html lang="en">
  <head>
    [[ if eq .Branding "okd" ]]
    <title>OKD</title>
    <meta name="application-name" content="OKD">
    [[ end ]]
    [[ if eq .Branding "openshift" ]]
    <title>OpenShift</title>
    <meta name="application-name" content="OpenShift">
    [[ end ]]
    [[ if eq .Branding "ocp" ]]
    <title>OpenShift Container Platform</title>
    <meta name="application-name" content="OpenShift Container Platform">
    [[ end ]]
    [[ if eq .Branding "online" ]]
    <title>OpenShift Online</title>
    <meta name="application-name" content="OpenShift Online">
    [[ end ]]
    [[ if eq .Branding "dedicated" ]]
    <title>OpenShift Dedicated</title>
    <meta name="application-name" content="OpenShift Dedicated">
    [[ end ]]
    [[ if eq .Branding "azure" ]]
    <title>Azure Red Hat OpenShift</title>
    <meta name="application-name" content="Azure Red Hat OpenShift">
    [[ end ]]

    [[ if eq .Branding "okd" ]]
    <link rel="shortcut icon" href="<%= require('./imgs/okd-favicon.png') %>">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= require('./imgs/okd-apple-touch-icon-precomposed.png') %>">
    <link rel="mask-icon" href="<%= require('./imgs/okd-mask-icon.svg') %>" color="#DB242F">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="<%= require('./imgs/okd-mstile-144x144.png') %>">
    [[ else ]]
    <link rel="shortcut icon" href="<%= require('./imgs/openshift-favicon.png') %>">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= require('./imgs/openshift-apple-touch-icon-precomposed.png') %>">
    <link rel="mask-icon" href="<%= require('./imgs/openshift-mask-icon.svg') %>" color="#DB242F">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="<%= require('./imgs/openshift-mstile-144x144.png') %>">
    [[ end ]]

    <script type="text/javascript">
      // eslint-disable-next-line no-var
      var json = [[.]];
      var error;
      try {
        ['exp', 'email', 'name', 'userID'].forEach(function (key) {
          localStorage.setItem(key, json[key]);
        });
      } catch (e) {
        error = e;
        console.error(e);
        document.body.append('localStorage must be enabled:');
        document.body.append(e.message || e.toString());
      }
      if (!error) {
        var next = localStorage.getItem('next') || '';
        if (next) {
          if (next[0] === '/' && json.loginSuccessURL.substr(-1) === '/') {
            while (next[0] === '/') {
              next = next.substr(1); //remove any slash in front of "next"
            }
          }
          localStorage.removeItem('next');
          window.location = json.loginSuccessURL + next;
        } else {
          window.location = json.loginSuccessURL;
        }
      }
    </script>
  </head>
  <body>
    <noscript>JavaScript must be enabled.</noscript>
  </body>
</html>
