<div class="co-p-new-user-modal">
  <form ng-submit="submit()" name="form" role="form">
    <div class="modal-header">
      <h1 class="modal-title">Update "{{ namespace.metadata.name }}" Namespace Quay.io Pull Secret</h1>
    </div>

    <div class="modal-body">
      <textarea class="form-control" rows="10" ng-model="model.value" ng-trim="true"></textarea>
    </div>

    <div class="modal-footer" co-btn-bar complete-promise="pullSecretUpdated">
      <co-error-message promise="pullSecretLoaded" formatter="k8sApi"></co-error-message>
      <co-error-message promise="pullSecretUpdated" formatter="k8sApi"></co-error-message>
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="button" class="btn btn-link" ng-click="$dismiss()">Cancel</button>
    </div>
  </form>
</div>
