@import '~@patternfly/patternfly/sass-utilities/all';

.odc-monitoring-alerts {
  padding: var(--pf-global--spacer--lg);
  &--state-column {
    padding-top: var(--pf-c-table--m-compact__expandable-row-content--PaddingTop);
    padding-bottom: var(--pf-c-table--m-compact__expandable-row-content--PaddingBottom);
  }
  &--kebab {
    text-align: right;
  }
  .odc-monitoring-alert-column {
    &--notification {
      width: 20%;
      @media screen and (max-width: $pf-global--breakpoint--2xl) {
        width: 30%;
      }
    }
  }
  .pf-c-table {
    table-layout: auto;
  }
}
