.co-alert {
  max-height: 75px;
  overflow-x: hidden;
  overflow-y: auto;
  @media (min-height: $screen-sm-min) {
    max-height: 150px;
  }
}

.co-expandable-alert {
  margin-bottom: var(--pf-global--spacer--xl);
}
