.co-alert {
  margin-bottom: var(--pf-global--spacer--lg);
  text-align: left;
  // overrides Bootstrap-related line-height issue that causes the title and icon to go out of alignment
  h4 {
    font-family: $font-family-base;
    line-height: var(--pf-global--LineHeight--md);
  }
}

.co-alert--margin-top {
  margin-bottom: 0;
  margin-top: $grid-gutter-width / 2;
}

.co-alert--scrollable .pf-c-alert__description {
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  @include co-break-word;
  @media (min-height: $screen-sm-min) {
    max-height: 200px;
  }
}
