.details-item {
  display: inline-block;
  margin-bottom: var(--pf-t--global--spacer--lg);
}

.details-item__label {
  font-weight: bold;
}

.details-item__popover-button {
  color: inherit !important;
  font-weight: inherit !important;
  margin-bottom: 3px;
  @include co-popover-button();
}

.details-item__value--group {
  border: 1px solid var(--pf-t--global--border--color--200);
  margin-top: var(--pf-t--global--spacer--xs);
  padding: var(--pf-t--global--spacer--md);

  dd:last-child {
    margin-bottom: 0 !important;
  }
}

.details-item__value--labels {
  padding: var(--pf-t--global--spacer--xs);
}
