.co-disabled {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.co-disabled::before {
  background-color: var(--pf-global--BackgroundColor--100);
  bottom: 0;
  content: '';
  cursor: not-allowed;
  left: 0;
  opacity: 0.4;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
  z-index: 10;
}
