.co-actions-icon {
  background: none;
  background-color: transparent !important;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: x-large;
}
