.co-hint-block {
  background-color: var(--pf-v6-global--palette--blue-50);
  border: var(--pf-t--global--border--width--100) solid var(--pf-v6-global--palette--blue-100);
  color: var(--pf-v6-global--Color--100);
  padding: var(--pf-t--global--spacer--lg);

  :where(.pf-v6-theme-dark) & {
    background-color: var(--pf-v6-global--BackgroundColor--400);
    border: var(--pf-t--global--border--width--100) solid var(--pf-t--global--border--color--200);
  }
}
