.co-hint-block {
  padding: var(--pf-t--global--spacer--lg);
  color: var(--pf-t--global--text--color--regular);
  background-color: var(--pf-t--global--background--color--primary--default);
  border: var(--pf-t--global--border--width--box--status--default) solid var(--pf-t--global--border--color--status--info--default);
  border-radius: var(--pf-t--global--border--radius--medium);
}
