$height: 18px;

.co-m-label {
  display: inline-flex;
  flex-wrap: nowrap;
  max-width: 100%;
  border-radius: 10px;
  padding: 0px 8px;
  height: $height;
  line-height: $height;
  margin: 1px;
  background-color: $color-grey-background;
  font-size: 12px;
  border: solid 1px $color-grey-border;

  &__key, &__value {
    max-width: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.co-m-label-list:hover .co-m-label, .co-m-label--expand {
  .co-m-label__key, .co-m-label__value {
    max-width: 100%;
  }
}
