.pairs-list__row {
  padding-bottom: 15px;
}

.pairs-list__row-dragging {
  padding-bottom: 15px;
  opacity: 0
}

.pairs-list__field {
  padding-right: 0;
}

.pairs-list__btn {
  cursor: pointer;
  padding-right: 8px;
}

.pairs-list__action-divider {
  color: $color-pf-black-500;
  padding-right: 10px;
}

.pairs-list__delete-icon {
  line-height: 32px;
}

.pairs-list__reorder-icon {
  line-height: 32px;
  padding-right: 10px;
  cursor: move;
}

.pairs-list__add-icon {
  margin-right: 6px;
}

.pairs-list__span-btns {
  white-space: pre;
}
