.resource-log {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: max-content auto;
}

.resource-log--fullscreen {
  .resource-log__log-viewer-wrapper {
    overflow: auto;
  }
  .resource-log__toolbar {
    background-color: var(--pf-t--global--background--color--primary--default);
    padding: var(--pf-t--global--spacer--xs) var(--pf-t--global--spacer--sm);
  }
}

.resource-log__alert-wrapper {
  display: grid;
  grid-template-rows: max-content;
}
