.co-resource-log {
  height: 100%;

  // instead of relying on PF's ResizeObserver, we use flexbox to fill available space
  .pf-v6-c-log-viewer__scroll-container {
    height: 100% !important;
  }
}

.co-resource-log__loading {
  // match the styles of _toggle-play.scss to reduce layout shift
  display: block;
  height: 37px;
  padding: 0;
  width: 37px;
}

.co-resource-log__alert-wrapper {
  display: grid;
  grid-template-rows: max-content;
}
