.value-from {
  padding-top: 5px;
  width: 100%;
  @media(min-width: $screen-md-min) {
    width: 50%;
  }

  .btn--dropdown {
    width: 100%;
  }

  .caret {
    position: absolute;
    right: 14px;
    top: 9px;
  }

  .dropdown-menu {
    width: 100%;
  }
}
