.odc-icon-dropdown {
  img.icon {
    background-color: var(--pf-v5-global--palette--white);
    border-radius: var(--pf-v5-global--BorderRadius--sm);
    height: var(--pf-v5-global--FontSize--3xl);
    margin-right: var(--pf-v5-global--spacer--sm);
    padding: var(--pf-v5-global--spacer--xs);
    width: var(--pf-v5-global--FontSize--3xl);
  }

  &__item {
    display: flex;
    align-items: center;
  }

  .pf-v6-c-dropdown__toggle-text {
    display: flex;
    align-items: center;
  }

  &__menu {
    max-height: 300px;

    li > a {
      display: flex;
      align-items: center;
    }
  }
}
