.odf-connection-details__form-group {
    padding-top: var(--pf-global--spacer--md);
}

.odf-connection-details__file-upload {
    padding-top: var(--pf-global--spacer--xs);
}

.odf-connection-details__helper-text {
    padding-top: 0.2rem;
}
