.odc-topology {
  display: grid;
  height: 100%;

  &__empty-state {
    padding-top: 0;
    position: absolute;
    top: 15%;
  }

  .pf-topology-container__with-sidebar .pf-topology-content {
    position: relative;
  }

  &__hint-container {
    justify-content: center;
    display: flex;
    pointer-events: none;
    position: absolute;
    top: var(--pf-t--global--spacer--sm);
    left: 0;
    right: 0;
  }
  &__hint-background {
    background-color: var(--pf-t--global--background--color--primary--default);
    border: 1px solid var(--pf-t--global--border--color--disabled);
    border-radius: 8px;
    padding: var(--pf-t--global--spacer--xs) var(--pf-t--global--spacer--sm);
    pointer-events: none;
  }

  &__layout-group {
    display: flex;
    align-items: center;
    margin: 0 var(--pf-t--global--spacer--sm);
  }

  &__shortcuts-button {
    margin-right: var(--pf-t--global--spacer--2xl);
  }

  &__dropzone {
    background-color: rgba(0, 102, 204, 0.1) !important;
    color: var(--pf-t--global--text--color--regular) !important;
    margin: 0 !important;
  }

  &__dropzone-text {
    top: 0%;
    padding-top: var(--pf-t--global--spacer--lg);
  }

  .pf-topology-container {
    display: flex;
  }
  .pf-topology-side-bar {
    display: flex;
    flex-direction: column;
  }
  .pf-topology-side-bar-resizable {
    flex: 1 1 0;
  }
  .pf-topology-side-bar__body {
    display: flex;
    flex-direction: column;
    flex: 1;
    .resource-overview {
      flex: 1;
    }
    .overview__sidebar-pane-body {
      min-height: initial;
    }
  }
}
