@import '~@patternfly/patternfly/sass-utilities/index';
@import '../../../../../public/style/vars';

:root {
  --popover-border-radius: 12px;
  --popover-button-size: var(--pf-v5-global--spacer--2xl);
  --popover-margin: var(--pf-v5-global--spacer--lg);
  --popover-bottom: calc(
    var(--popover-button-size) + var(--popover-margin) + var(--pf-v5-global--spacer--sm)
  );
}

.lightspeed__popover,
.lightspeed__popover-button {
  box-shadow: var(--pf-v5-global--BoxShadow--lg);
  position: absolute;
  right: var(--popover-margin);
  z-index: 199;
}

.lightspeed__popover {
  border-radius: 12px;
  border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
  bottom: var(--popover-bottom);
  overflow: hidden;
}

.lightspeed__popover--collapsed {
  top: calc(var(--popover-margin) * 5);
  width: 90%;

  @media (min-width: $pf-v6-global--breakpoint--sm) {
    height: 70vh;
    top: auto;
  }

  @media (min-width: $pf-v6-global--breakpoint--md) {
    width: 50%;
  }

  @media (min-width: $pf-v6-global--breakpoint--lg) and (min-height: $pf-v6-global--breakpoint--lg) {
    height: 60vh;
  }

  @media (min-width: $pf-v6-global--breakpoint--lg) and (min-height: $pf-v6-global--breakpoint--xl) {
    height: 55vh;
  }

  @media (min-width: $pf-v6-global--breakpoint--xl) {
    width: 40%;
  }

  @media (min-width: $pf-v6-global--breakpoint--2xl) {
    width: 35%;
  }
}

.lightspeed__popover--expanded {
  height: calc(100% - var(--popover-bottom) - var(--popover-margin));
  width: calc(100% - 2 * var(--popover-margin));
}

.lightspeed__popover-button {
  background-image: url('logo.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: calc(var(--popover-button-size) + 3px);
  border-radius: var(--popover-border-radius) !important;
  bottom: var(--popover-margin);
  box-shadow: var(--pf-v5-global--BoxShadow--lg);
  height: var(--popover-button-size);
  padding: 0;
  position: absolute !important;
  right: var(--popover-margin);
  width: var(--popover-button-size);

  &::after {
    border-width: 0 !important;
  }

  .pf-v5-theme-dark & {
    background-image: url('logo-dark.svg');
    background-color: var(--pf-v5-global--BackgroundColor--100) !important;
  }
}

.lightspeed__welcome-logo {
  --logo-size: var(--pf-v5-global--spacer--4xl);

  background-image: url('logo.svg');
  height: var(--logo-size);
  margin: 0 0 var(--pf-v5-global--spacer--xl);
  width: var(--logo-size);

  .pf-v5-theme-dark & {
    background-image: url('logo-dark.svg');
  }
}
