:root {
  --lightspeed__logo-size: 50px;
}

@mixin lightspeed__logo {
  background: var(--pf-v5-c-drawer__section--BackgroundColor) url('./Lightspeed.svg') no-repeat
    center center !important;
  border: 1px solid var(--pf-v5-global--BackgroundColor--200) !important;
  border-radius: 12px !important;
  height: var(--lightspeed__logo-size);
  width: var(--lightspeed__logo-size);
}

@mixin lightspeed__logo-dark {
  .pf-v5-theme-dark & {
    background-image: url('./Lightspeed-dark.svg') !important;
  }
}

.lightspeed__drawer-title {
  align-items: center;
  column-gap: var(--pf-global--spacer--md);
  display: flex;

  &::before {
    @include lightspeed__logo;
    content: '';
    display: block;
    flex-shrink: 0;

    @include lightspeed__logo-dark;
  }
}

.lightspeed__open-button {
  @include lightspeed__logo;
  bottom: var(--lightspeed__logo-size);
  box-shadow: var(--pf-v5-global--BoxShadow--lg);
  padding: 0;
  position: absolute !important;
  right: var(--lightspeed__logo-size);
  z-index: 9999;

  @include lightspeed__logo-dark;
}
