.odc-trigger-binding-section {
  &__variable-container {
    border: 1px solid var(--pf-v5-global--BorderColor--100);
    margin-left: var(--pf-v5-global--spacer--lg);
    padding: var(--pf-v5-global--spacer--sm);
  }

  &__variable-help-text {
    margin-left: var(--pf-v5-global--spacer--lg);
    margin-top: var(--pf-v5-global--spacer--xs);
  }

  &__variable-descriptor {
    margin-bottom: var(--pf-v5-global--spacer--sm);
  }
  &__variable-badge {
    margin-bottom: var(--pf-v5-global--spacer--xs);
    margin-right: var(--pf-v5-global--spacer--xs);
  }
}
