$no-wrap-breakpoint: 915px;
.odc-monitoring-dashboard {
  position: relative;
  &__dropdown-options {
    align-self: flex-end;
    display: flex;
    position: absolute;
    right: 30px;
    top: -65px;
    @media (max-width: $no-wrap-breakpoint) {
      display: block;
      margin-left: 15px;
      margin-top: 15px;
      position: initial;
      @media (min-width: 768px) {
        margin-left: 30px;
      }
    }

    .monitoring-dashboards__dropdown-wrap {
      @media (max-width: $no-wrap-breakpoint) {
        display: inline-block;
        .monitoring-dashboards__dropdown-title {
          margin-right: 10px;
        }
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  &__resource-link {
    padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--xl);
  }
}
