<div class="co-p-new-replicationcontroller">

  <tec-nav-title title="Create Replication Controller" kind="'replicationcontroller'">
    <a co-namespaced-href="replicationcontrollers" class="co-m-primary-action">
      <co-svg class="co-img-icon co-img-icon-light" src="coreos.svg/icon-back.svg"></co-svg>Back to Replication Controllers
    </a>
  </tec-nav-title>

  <form ng-controller="NewReplicationcontrollerFormCtrl" ng-submit="submit()" name="form" role="form">

    <div class="co-m-pane">

      <div class="co-m-pane__heading">
        <h1 class="co-m-pane__title">Replication Controller Details</h1>
      </div>
      <div class="co-m-pane__body">

        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label for="input-controller-name" class="control-label">Controller Name:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <input ng-model="rc.metadata.name" type="text" class="form-control" required id="input-controller-name"/>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label class="control-label">Controller Labels:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <co-label-input ng-model="rc.metadata.labels" kind="replicationcontroller"></co-label-input>
            <small class="text-muted">Labels for this controller.</small>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label class="control-label">Pod Label Selector:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <co-selector-input ng-model="rc.spec.selector" options="{basic: true}"></co-selector-input>
            <small class="text-muted">Write a label query that will match labels on new or existing pods.</small>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label for="input-controller-replicas" class="control-label">Replicas:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <input ng-model="rc.spec.replicas" type="number" class="form-control" required id="input-controller-replicas"/>
          </div>
        </div>

        <hr/>

        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label class="control-label">Pod Labels:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <co-label-input ng-model="podTemplate.metadata.labels" kind="pod"></co-label-input>
            <small class="text-muted">Each pod instance will have these labels. Services matching these labels will automatically send traffic to containers.</small>
          </div>
        </div>
      </div>

      <div class="co-m-pane__heading">
        <h1 class="co-m-pane__title">Containers</h1>
      </div>
      <div class="co-m-pane__body">
        <div class="row co-m-form-row">
          <div class="col-lg-10 col-md-12 col-sm-12">
            <co-multi-container-input pod="podTemplate"></co-multi-container-input>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="co-m-form-col col-sm-10 ">
            <div co-btn-bar complete-promise="requestPromise">
              <co-error-message formatter="k8sApi" promise="requestPromise"></co-error-message>
              <button type="submit" class="btn btn-primary ng-scope">Launch Replication Controller</button>
              <button type="button" ng-click="cancel()" class="btn btn-link ng-scope">Cancel</button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </form>

</div>
