.ceph-install__select-mode {
  margin-bottom: var(--pf-global--spacer--lg);
}

.ceph-install-select-mode__title {
  margin-bottom: var(--pf-global--spacer--md);
}

.ceph-install__select-node__title {
  margin-top: var(--pf-global--spacer--lg);
}

.ceph-install--no-margin > input {
  margin: auto;
}
