.ceph-install__select-mode {
  margin-bottom: var(--pf-global--spacer--lg);
}

.ceph-install-select-mode__title {
  margin-bottom: var(--pf-global--spacer--md);
}

.ceph-install__select-node__title {
  margin-top: var(--pf-global--spacer--lg);
}

.ceph-install--no-margin > input {
  margin: auto;
}

.ceph-install__mode-toggle {
  // no pf class for 0.3rem
  padding: var(--pf-global--spacer--sm) var(--pf-global--spacer--xl) 0.3rem var(--pf-global--spacer--xl);
  border-bottom: var(--pf-global--BorderWidth--sm) solid #ddd;
}
