.ceph-node-list__max-height {
  max-height: 400px;
  overflow: auto;
}

.ceph-ocs-install__alert {
  margin-top: 1em;
}

.ceph-ocs-install__ocs-service-capacity {
  margin-top: var(--pf-global--spacer--md);
  margin-bottom: var(--pf-global--spacer--3xl);
}

.ceph-storage-encryption__switch {
  --pf-c-switch__input--focus__toggle--OutlineWidth: 0 !important; // To disable the switch focus border
  margin-top: 0.5rem;
}

.ceph-ocs-install__ocs-service-capacity--dropdown {
  width: 15rem;
}

.ceph-ocs-install__ocs-service-capacity--help-text {
  font-size: var(--pf-global--FontSize--sm);
  margin-bottom: 0;
}

.ceph-ocs-install__ocs-service-capacity--title {
  font-weight: var(--pf-global--FontWeight--bold);
  font-size: var(--pf-global--FontSize--md);
}

.ceph-install-select-mode {
  padding: var(--pf-global--spacer--sm) 0;
}

.ceph-ocs-install__pane--margin {
  margin-bottom: 0;
}
