.ceph-node-list__max-height {
  max-height: 400px;
  overflow: auto;
}

.ceph-ocs-install__alert {
  margin-top: 1em;
}

.ceph-ocs-install__ocs-service-capacity {
  margin-top: var(--pf-global--spacer--md);
  margin-bottom: var(--pf-global--spacer--3xl);
}

.ceph-storage-encryption__switch {
  --pf-c-switch__input--focus__toggle--OutlineWidth: 0 !important; // To disable the switch focus border
  margin-top: 0.5rem;
}

.ceph-ocs-install__ocs-service-capacity--dropdown {
  width: 15rem;
}

.ceph-ocs-install__ocs-service-capacity--help-text {
  font-size: var(--pf-global--FontSize--sm);
  margin-bottom: 0;
}

.ceph-ocs-install__ocs-service-capacity--title {
  font-weight: var(--pf-global--FontWeight--bold);
  font-size: var(--pf-global--FontSize--md);
}

.ceph-install-select-mode {
  padding: var(--pf-global--spacer--sm) 0;
}

.ceph-ocs-install__pane--margin {
  margin-bottom: 0;
}

.ceph-ocs-install__minimal-msg {
  margin-bottom: var(--pf-global--spacer--sm);
}

.ceph-minimal-deployment-alert__header {
  display: flex;
  justify-content: space-between;
}

// Restrict node-list widths
.ceph-ocs-install__node-list {
  @media (min-width: 769px) {
    max-width: 100%;
  }

  @media (min-width: 992px) {
    min-width: 650px;
  }

  @media (min-width: 1200px) {
    max-width: 70%;
  }
}

.ceph-ocs-install__recommened-req-toottip {
  padding-left: 0;
  margin-top: var(--pf-global--spacer--md);
}

.ceph-ocs-install__select-nodes-table {
  margin-bottom: var(--pf-global--spacer--md);
  max-height: 300px;
  overflow-y: auto;
  scrollbar-color: var(--pf-global--BackgroundColor--light-300) var(--pf-global--palette--white);
}
