.co-deployment-pods {
  text-align: center;
  border-width: 1px;
  border-radius: 5px;
  max-width: 600px;
  white-space: nowrap;
}

.co-deployment-pods__row {
  margin-left: 0;
  margin-right: 0;
}

.co-deployment-pods, .co-deployment-pods__section {
  border-color: #eee;
  border-style: solid;
}

.co-deployment-pods__section {
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px 1px 0 0;
  padding: 20px 10px;
  margin-top: -1px;
  margin-right: -1px;
}

.co-deployment-pods__section-header {
  margin-top: 4px;
  margin-bottom: 4px;
}

.co-deployment-pods__section--last {
  border-right-width: 0;
}

$bracket-height: 48px;
.co-deployment-pods__bracket {
  width: 12px;
  height: $bracket-height;
  background: url(imgs/bracket.svg) center center no-repeat;
  background-size: 12px $bracket-height;
  padding: 0 20px;
}

.co-deployment-pods__breakdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $bracket-height - 1px;
  text-align: left;
}
