<div class="co-p-deployment">

  <tec-nav-title title="{{deploymentName}}" obj="deployment" kind="'deployment'" detail="true">
    <a co-namespaced-href="deployments" class="co-m-primary-action">
      <co-svg class="co-img-icon co-img-icon-light" src="coreos.svg/icon-back.svg"></co-svg>Back to Deployments
    </a>
  </tec-nav-title>

  <div class="co-m-pane co-m-vert-nav">
    <co-deployment-nav ns="ns" name="deploymentName"></co-deployment-nav>

    <div class="co-m-vert-nav__body">
      <div cos-tristate="deployment" cos-tristate-error="loadError">
        <div ng-if="deployment && !loadError">
          <div class="co-m-pane__body-group">
            <div class="co-m-pane__body-section--bordered">
              <div class="co-deployment-pods">
                <div class="co-deployment-pods__row row">
                  <div class="co-deployment-pods__section col-sm-3">
                    <dl class="co-deployment-pods__list">
                      <dt class="co-deployment-pods__list-term">Desired Count</dt>
                      <dd><a href="#" ng-click="openVolumesModal()" class="co-m-modal-link"><ng-pluralize count="deployment.spec.replicas" when="{'NaN': '0 pods', '1': '1 pod', 'other': '{} pods'}"></ng-pluralize></a></dd>
                    </dl>
                  </div>
                  <div class="co-deployment-pods__section col-sm-3">
                    <dl class="co-deployment-pods__list">
                      <dt class="co-deployment-pods__list-term">Up-to-date Count</dt>
                      <dd><ng-pluralize count="deployment.status.updatedReplicas" when="{'NaN': '0 pods', '1': '1 pod', 'other': '{} pods'}" uib-tooltip="Total number of non-terminated pods targeted by this deployment that have the desired template spec" tooltip-placement="bottom"></ng-pluralize></dd>
                    </dl>
                  </div>
                  <div class="co-deployment-pods__section co-deployment-pods__section--last col-sm-6">
                    <div class="co-deployment-pods__available-wrapper">
                      <div class="co-deployment-pods__available">
                        <dl class="co-deployment-pods__list">
                          <dt class="co-deployment-pods__list-term">Matching Pods</dt>
                          <dd><ng-pluralize count="deployment.status.replicas" when="{'NaN': '0 pods', '1': '1 pod', 'other': '{} pods'}" uib-tooltip="Total number of non-terminated pods targeted by this deployment (their labels match the selector)" tooltip-placement="bottom"></ng-pluralize></dd>
                        </dl>
                      </div>
                      <div class="co-deployment-pods__bracket"></div>
                      <div class="co-deployment-pods__breakdown">
                        <div class="co-deployment-pods__list">
                          <span class="co-deployment-pods__breakdown-item co-deployment-pods__breakdown-item--first"><ng-pluralize count="deployment.status.availableReplicas" when="{'NaN': '0 available', '1': '1 available', 'other': '{} available'}" uib-tooltip="Total number of available pods (ready for at least minReadySeconds) targeted by this deployment" tooltip-placement="bottom"></ng-pluralize></span>
                          <span class="co-deployment-pods__breakdown-item co-deployment-pods__breakdown-item--last"><ng-pluralize count="deployment.status.unavailableReplicas" when="{'NaN': '0 unavailable', '1': '1 unavailable', 'other': '{} unavailable'}" uib-tooltip="Total number of unavailable pods targeted by this deployment" tooltip-placement="bottom"></ng-pluralize></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutter">
            <div class="col-lg-6">
              <div class="row no-gutter">
                <div class="col-sm-6">
                  <div class="co-m-pane__body-group">
                    <div class="co-m-pane__body-section--bordered">
                      <dl>
                        <dt>Status</dt>
                        <dd>
                          <span ng-if="deployment.status.availableReplicas === deployment.status.updatedReplicas">Active</span>
                          <div ng-if="deployment.status.availableReplicas !== deployment.status.updatedReplicas">
                            <co-inline-loader></co-inline-loader>
                            Updating
                          </div>
                        </dd>
                        <dt>Name</dt>
                        <dd ng-bind="deploymentName | emptyPlaceholder"></dd>
                        <dt>Labels</dt>
                        <dd><co-label-list kind="deployment" expand="true" labels="deployment.metadata.labels"></co-label-list></dd>
                        <dt>Pod Selector</dt>
                        <dd>
                          <co-selector expand="true" selector="deployment.spec.selector"></co-selector>
                        </dd>
                        <dt>Created At</dt>
                        <dd><co-timestamp timestamp="{{deployment.metadata.creationTimestamp}}" /></dd>
                      </dl>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="co-m-pane__body-group">
                    <div class="co-m-pane__body-section--bordered">
                      <dl>
                        <dt>Update Strategy</dt>
                        <dd ng-bind="deployment.spec.strategy.type | emptyPlaceholder : 'RollingUpdate'"></dd>
                        <dt ng-if="deployment.spec.strategy.type !== 'Recreate'">Max Unavailable</dt>
                        <dd ng-if="deployment.spec.strategy.type !== 'Recreate'">
                          <span ng-bind="deployment.spec.strategy.rollingUpdate.maxUnavailable | emptyPlaceholder : 1"></span>
                          of
                          <ng-pluralize count="deployment.spec.replicas" when="{'NaN': '0 pods', '1': '1 pod', 'other': '{} pods'}"></ng-pluralize>
                        </dd>
                        <dt ng-if="deployment.spec.strategy.type !== 'Recreate'">Max Surge</dt>
                        <dd ng-if="deployment.spec.strategy.type !== 'Recreate'">
                          <span ng-bind="deployment.spec.strategy.rollingUpdate.maxSurge | emptyPlaceholder : 1"></span>
                          greater than
                          <ng-pluralize count="deployment.spec.replicas" when="{'NaN': '0 pods', '1': '1 pod', 'other': '{} pods'}"></ng-pluralize>
                        </dd>
                        <dt>Min Ready Seconds</dt>
                        <dd><ng-pluralize count="deployment.spec.minReadySeconds" when="{'NaN': 'Not Configured', '1': '1 second', 'other': '{} seconds'}"></ng-pluralize></dd>
                      </dl>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="co-loader-wrapper cos-tristate-show-loading">
            <co-loader></co-loader>
          </div>

          <cos-status-box class="cos-tristate-show-error">
            <div class="cos-error-title">Error Loading Deployment</div>
            <div class="cos-text-center">An error occurred during Deployment retrieval. Please try again.</div>
          </cos-status-box>
        </div>
      </div>
    </div>
  </div>
</div>
