<div class="co-p-edit-deployment">
  <tec-nav-title title="{{deployment.metadata.name}}" kind="'deployment'">
    <a co-namespaced-href="/deployments" class="co-m-primary-action">
      <co-svg class="co-img-icon co-img-icon-light" src="/coreos.svg/icon-back.svg"></co-svg>Back to Deployments
    </a>
  </tec-nav-title>

  <form ng-submit="submit()" name="form" role="form">
    <div class="co-m-pane co-m-vert-nav">
      <co-deployment-nav ns="ns" name="deploymentName"></co-deployment-nav>

      <div class="co-m-vert-nav__body">
        <div class="co-m-pane__heading">
          <h1 class="co-m-pane__title">Deployment Details</h1>
        </div>
        <div cos-tristate="loaded" cos-tristate-error="loadError" class="co-m-pane__body">
          <div ng-show="loaded && !loadError">
            <div class="row co-m-form-row">
              <div class="col-sm-2">
                <label for="input-controller-replicas" class="control-label">Replicas:</label>
              </div>
              <div class="co-m-form-col col-sm-10">
                <input ng-model="deployment.spec.replicas" co-number-spinner type="number" class="form-control" required id="input-controller-replicas"/>
              </div>
            </div>
            <div class="row co-m-form-row">
              <div class="col-sm-2">
                <label class="control-label">Labels:</label>
              </div>
              <div class="co-m-form-col col-sm-10">
                <co-label-input ng-model="deployment.metadata.labels" kind="deployment"></co-label-input>
              </div>
            </div>
            <div class="row co-m-form-row">
              <div class="col-sm-2">
                <label class="control-label">Pod Selector:</label>
              </div>
              <div class="co-m-form-col col-sm-10">
                <co-selector-input ng-model="deployment.spec.selector" options="{undefinedWhenEmpty: true}"></co-selector-input>
                <small class="text-muted">Write a label query that will match labels on new or existing pods.</small>
              </div>
            </div>
          </div>

          <div class="co-loader-wrapper cos-tristate-show-loading">
            <co-loader></co-loader>
          </div>
          <cos-status-box class="cos-tristate-show-error">
            <div class="cos-error-title">Error Loading Deployment</div>
            <div class="cos-text-center">An error occurred during Deployment retrieval. Please try again.</div>
          </cos-status-box>
        </div>

        <hr/>

        <div class="co-m-pane__heading">
          <h1 class="co-m-pane__title">Desired Pod State</h1>
        </div>

        <div ng-show="loaded && !loadError" class="co-m-pane__body">
          <div class="row co-m-form-row">
            <div class="col-sm-12">
              These containers make up a pod.
              All of these containers are deployed together onto nodes in the cluster.
            </div>
          </div>
          <div class="row co-m-form-row">
            <div class="col-sm-2">
              <label class="control-label">Pod Labels:</label>
            </div>
            <div class="co-m-form-col col-sm-10">
              <co-label-input ng-model="deployment.spec.template.metadata.labels" kind="pod"></co-label-input>
              <small class="text-muted">Each pod instance will have these labels. Services matching these labels will automatically send traffic to containers.</small>
            </div>
          </div>
          <div class="row co-m-form-row">
            <div class="col-sm-2">
              <label class="control-label">Pod Volumes:</label>
            </div>
            <div class="co-m-form-col col-sm-10">
              <div><a href="#" ng-click="openVolumesModal()" class="co-m-modal-link"><span ng-bind="deployment.spec.template.spec.volumes.length || 0"></span> Volumes</a></div>
              <small class="text-muted">Named volumes that may be accessed by any containers in the pod.</small>
            </div>
          </div>
        </div>

        <div class="co-m-pane__heading">
          <h1 class="co-m-pane__title">Containers</h1>
        </div>
        <div ng-show="loaded && !loadError" class="co-m-pane__body">
          <div class="row co-m-form-row">
            <div class="col-lg-10 col-md-12 col-sm-12">
              <co-multi-container-input pod="deployment.spec.template"></co-multi-container-input>
            </div>
          </div>
          <div class="row co-m-form-row">
            <div class="co-m-form-col col-sm-10 ">
              <div co-btn-bar complete-promise="requestPromise">
                <co-error-message formatter="k8sApi" promise="requestPromise"></co-error-message>
                <button type="submit" class="btn btn-primary ng-scope">Update Desired State</button>
                <button type="button" ng-click="cancel()" class="btn btn-link ng-scope">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
