<div class="co-p-new-deployment">
  <tec-nav-title title="Create Deployment" kind="'deployment'"></tec-nav-title>

  <form ng-submit="submit()" name="form">
    <div class="co-m-vert-nav__body">
      <div class="co-m-pane__heading">
        <h1 class="co-m-pane__title">Deployment Details</h1>
      </div>
      <div class="co-m-pane__body">
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label for="input-controller-name" class="control-label">Name:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <input ng-model="deployment.metadata.name" type="text" class="form-control" required id="input-controller-name"/>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label for="input-controller-replicas" class="control-label">Desired Pod Count:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <input ng-model="deployment.spec.replicas" co-number-spinner type="number" class="form-control" required id="input-controller-replicas"/>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label class="control-label">Labels:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <co-label-input ng-model="deployment.metadata.labels" kind="deployment"></co-label-input>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label class="control-label">Pod Selector:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <co-selector-input ng-model="deployment.spec.selector" options="{undefinedWhenEmpty: true}"></co-selector-input>
            <small class="text-muted">Write a label query that will match labels on new or existing pods.</small>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label for="input-controller-replicas" class="control-label">Replicas:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <div><a href="#" ng-click="openUpdateStrategyModal()" class="co-m-modal-link" ng-bind="deployment.spec.strategy.type || '-'"></a></div>
            <small class="text-muted" ng-if="deployment.spec.strategy.type === 'RollingUpdate'">
              Max Unavailable <span ng-bind="deployment.spec.strategy.rollingUpdate.maxUnavailable || 1"></span>, Max Surge <span ng-bind="deployment.spec.strategy.rollingUpdate.maxSurge || 1"></span> pods
            </small>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label for="input-min-ready-seconds" class="control-label">Min. Ready Seconds:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <div class="input-group">
              <input ng-model="deployment.spec.minReadySeconds" placeholder="0" type="number" class="form-control" id="input-min-ready-seconds"/>
              <div class="input-group-addon">seconds</div>
            </div>
            <small class="text-muted">All containers are Ready for at least this long before their pod is considered Healthy.</small>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label class="control-label">Revision History Limit:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <div><a href="#" ng-click="openRevisionHistoryLimitModal()" class="co-m-modal-link"><span ng-bind="deployment.spec.revisionHistoryLimit || 'Unlimited'"></span> revisions</a></div>
          </div>
        </div>
      </div>


      <div class="co-m-pane__heading">
        <h1 class="co-m-pane__title">Desired Pod State</h1>
      </div>

      <div class="co-m-pane__body">
        <div class="row co-m-form-row">
          <div class="col-sm-12">
            These containers make up a pod.
            All of these containers are deployed together onto nodes in the cluster.
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-2">
            <label class="control-label">Pod Labels:</label>
          </div>
          <div class="co-m-form-col col-sm-10">
            <co-label-input ng-model="podTemplate.metadata.labels" kind="pod"></co-label-input>
            <small class="text-muted">Each pod instance will have these labels. Services matching these labels will automatically send traffic to containers.</small>
          </div>
        </div>
      </div>

      <div class="co-m-pane__heading">
        <h1 class="co-m-pane__title">Containers</h1>
      </div>
      <div class="co-m-pane__body">
        <div class="row co-m-form-row">
          <div class="col-lg-10 col-md-12 col-sm-12">
            <co-multi-container-input pod="podTemplate"></co-multi-container-input>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="co-m-form-col col-sm-10 ">
            <div co-btn-bar complete-promise="requestPromise">
              <co-error-message formatter="k8sApi" promise="requestPromise"></co-error-message>
              <button type="submit" class="btn btn-primary ng-scope">Launch Deployment</button>
              <button type="button" ng-click="cancel()" class="btn btn-link ng-scope">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
