.odc-quick-search-content {
  height: calc(100% - 60px);
  &__list {
    width: 40%;
    height: 100%;
    overflow-y: auto;
  }
  &__details {
    background: var(--pf-global--palette--white);
    width: 60%;
    overflow-y: auto;
    height: 100%;
    padding-right: var(--pf-global--spacer--md);
  }
}
