.odc-topology {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &__layout-button {
    &.pf-m-active, &:hover {
      color: var(--pf-global--active-color--400);
    }

    &:first-of-type {
      margin-left: var(--pf-global--spacer--sm);
    }

    &__icon {
      margin-right: var(--pf-global--spacer--xs);
    }
  }

  &__shortcuts-button {
    margin-right: var(--pf-global--spacer--2xl);
  }

  // WORKAROUND: see https://github.com/patternfly/patternfly-react/issues/3312
  .pf-topology-container__with-sidebar {
    flex: 1;
  }
}
