.ceph-volume-snapshot-modal__input {
    margin-top: var(--pf-global--spacer--md) !important;
    display: grid;
    margin-right: var(--pf-global--spacer--md) !important;
  }

.ceph-volume-snapshot-modal__dropdown {
    width: fit-content;
}

.ceph-volume-snapshot-modal__input--inline {
    display: inline-flex;
}

.ceph-volume-snapshot-modal__input--grid {
    display: grid;
}

.ceph-volume-snapshot-modal__input--link {
    padding-left: var(--pf-global--spacer--2xl);
}

.ceph-volume-snapshot-modal__label {
    width: fit-content !important;
}

.ceph-volume-snapshot-modal__span {
    font-size: var(--pf-global--FontSize--md);
    padding: var(--pf-global--spacer--xs);
}

.ceph-volume-snapshot-modal__dropdown--overflow {
    overflow-y: scroll;
    height: calc(100vh / 3) !important;
}
