@import '~@patternfly/patternfly/sass-utilities/index';
@import '../../../../../public/style/vars';

.osc-yaml-editor {
  margin-right: -$pf-v6-global-gutter;
  margin-top: -$pf-v6-global-gutter--md;

  @media (max-width: $pf-v6-global--breakpoint--md) {
    margin-left: -$pf-v6-global-gutter;
  }
  @media (min-width: $pf-v6-global--breakpoint--xl) {
    margin-right: -$pf-v6-global-gutter--md;
  }

  .co-p-has-sidebar__body {
    flex-direction: column;
    display: flex;
  }

  &__editor {
    position: relative;
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding-top: $pf-v6-global-gutter;
    width: 100%;
    max-width: calc(100% - $pf-v6-global-gutter--md);

    @media (max-width: $pf-v6-global--breakpoint--md) {
      max-width: 100%;
    }
  }
  &__sidebar {
    margin-top: -$pf-v6-global-gutter--md;
  }
}
