@import '~@patternfly/patternfly/sass-utilities/index';
@import '../../../../../public/style/vars';

.osc-yaml-editor {
  margin-right: -$pf-v6-global-gutter;
  margin-top: -$pf-v6-global-gutter--md;

  @media (max-width: $pf-v6-global--breakpoint--md) {
    margin-left: -$pf-v6-global-gutter;
  }
  @media (min-width: $pf-v6-global--breakpoint--xl) {
    margin-right: -$pf-v6-global-gutter--md;
  }

  &__editor {
    @media (min-width: $pf-v6-global--breakpoint--md) {
      margin-right: $pf-v6-global-gutter;
    }
    @media (min-width: $pf-v6-global--breakpoint--xl) {
      margin-right: $pf-v6-global-gutter--md;
    }

    padding-left: 0 !important;
    margin-left: 0 !important;
  }
  &__sidebar {
    margin-top: -$pf-v6-global-gutter--md;
  }
}
