.ocs-radio-group-field {
  padding-left: var(--pf-global--spacer--sm);

  input[type='radio'] {
    margin-top: 0;
  }

  &__children {
    padding: var(--pf-global--spacer--md) 0;
  }

  &--inline {
    display: flex;
    align-items: flex-start;

    > .pf-c-form__label, .pf-c-radio {
      margin-right: var(--pf-global--spacer--md);
    }

  }
}
