.ocs-radio-group-field {
  padding-left: var(--pf-global--spacer--sm);

  input[type='radio'] {
    margin-top: 0;
  }

  &:not(.ocs-radio-group-field--inline) {
    .pf-c-radio {
      padding-bottom: var(--pf-global--spacer--md);
    }
    .pf-c-radio:last-of-type {
      padding-bottom: 0;
    }
    .ocs-radio-group-field__children {
      padding-top: var(--pf-global--spacer--sm);
    }
  }

  &--inline {
    display: flex;
    align-items: flex-start;

    > .pf-c-form__group-label {
      margin-right: var(--pf-global--spacer--md);
    }

  }
  .pf-c-radio {
    &__description {
      width: 100%;
    }
  }
}

