@import '../../../../../public/style/vars';

.ocs-synced-editor-field {
  &__editor-toggle {
    padding-top: var(--pf-global--spacer--sm);
    border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
    border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);

    &.margin {
      margin: var(--pf-global--spacer--md) 0;
    }
  }

  &__yaml-warning {
    margin: $pf-global-gutter--md $pf-global-gutter--md 0;
  }
}
