.welcome__wrapper {
  font-family: 'NotoSansCJKkr-Medium';
  margin-top: 190px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.welcome__title {
  line-height: 30px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: bold;
  color: #151515;
  text-align: center;
}

.welcome__description {
  :last-child {
    margin-top: 16px;
  }
  font-size: 14px;
  color: #6a6e73;
  text-align: center;
}

.welcome__button {
  margin: 0 auto;
  margin-top: 30px;
  width: 180px;
  height: 33px;
  line-height: 11px;
  font-size: 13px;
  display: block;
  background-color: #0166cc;
  color: white;
}
