@import '~@patternfly/patternfly/sass-utilities/colors';

.nb-resource-providers-card__not-available {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.nb-resource-providers-card__row-status {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  :last-child {
    margin-right: 0;
  }
}

.nb-resource-providers-card__row-status-item {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  margin-right: 0.5em;
}

.nb-resource-providers-card__row-status-item-text {
  color: $pf-color-blue-300;
  margin-left: 0.25em;
}

.nb-resource-providers-card__row-title {
  margin-right: 0.5em;
}

.nb-resource-providers-card__status-icon {
  color: $pf-color-black-700;
}
