.co-m-selector .co-m-requirement {
  margin-right: 10px;
}

.co-m-selector .co-m-requirement--last {
  margin-right: 0;
}

.co-m-selector .co-m-requirement span {
  max-width: 120px;
  text-overflow: ellipsis;
}

.co-m-selector:hover .co-m-requirement span,
.co-m-selector--expand .co-m-requirement span {
  max-width: 100%;
  text-overflow: initial;
}
