<div class="co-p-new-user-modal">
  <form ng-submit="submit()" name="form" role="form" class="form-horizontal">
    <div class="modal-header">
      <h1 class="modal-title">Default Pull Secret</h1>
    </div>

    <div class="modal-body">
      <p>Specify default credentials to be used to authenticate and download containers within this namespace. These credentials will be the default unless a pod references a specific pull secret.</p>

      <p ng-if="invalidData" class="co-m-message co-m-message--error">A default pull secret exists, but can't be parsed. Saving this will overwrite it.</p>

      <div class="row co-m-form-row">
        <div class="col-sm-3">
          <label>Namespace:</label>
        </div>
        <div class="col-sm-9">
          <co-resource-icon kind="namespace"></co-resource-icon>
          <span ng-bind="namespace.metadata.name"></span>
        </div>
      </div>

      <div class="row co-m-form-row">
        <div class="col-sm-3">
          <label for="namespace-pull-secret-name">Secret Name:</label>
        </div>
        <div class="col-sm-9" ng-if="model.isNew">
          <input type="text" class="form-control" id="namespace-pull-secret-name" ng-model="fields.name" required>
          <p class="help-block text-muted">Friendly name to help you manage this in the future</p>
        </div>
        <div class="col-sm-9" ng-if="!model.isNew">
          <co-resource-icon kind="secret"></co-resource-icon>
          <span ng-bind="fields.name"></span>
        </div>
      </div>
      <div class="row co-m-form-row">
        <div class="col-sm-3">
          <label>Method:</label>
        </div>
        <div class="col-sm-9">
          <div class="radio">
            <label>
              <input type="radio" id="namespace-pull-secret-method--form" value="form" ng-model="fields.method">
              Enter Username/Password
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" id="namespace-pull-secret-method--upload" value="upload" ng-model="fields.method">
              Upload Docker config.json
            </label>
          </div>
        </div>
      </div>
      <div ng-if="fields.method == 'form'">
        <div class="row co-m-form-row">
          <div class="col-sm-3">
            <label for="namespace-pull-secret-address">Registry Address:</label>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="namespace-pull-secret-address" placeholder="quay.io" ng-model="fields.address">
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-3">
            <label for="namespace-pull-secret-email">Email Address:</label>
          </div>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="namespace-pull-secret-email" ng-model="fields.email">
            <p class="help-block text-muted">Optional, depending on registry provider</p>
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-3">
            <label for="namespace-pull-secret-username">Username:</label>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="namespace-pull-secret-username" ng-model="fields.username">
          </div>
        </div>
        <div class="row co-m-form-row">
          <div class="col-sm-3">
            <label for="namespace-pull-secret-password">Password:</label>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="namespace-pull-secret-password" ng-model="fields.password">
          </div>
        </div>
      </div>
      <div ng-if="fields.method == 'upload'">
        <div class="row co-m-form-row">
          <div class="col-sm-3">
            <label for="namespace-pull-secret-file">File Upload:</label>
          </div>
          <div class="col-sm-9">
            <input type="file" id="namespace-pull-secret-file" on-file-change="fileNameChanged">
            <p class="help-block etext-muted">Properly configured Docker config file in JSON format. Will be base64 encoded after upload.</p>
          </div>
        </div>
        <div class="row co-m-form-row" ng-if="model.invalidJson">
          <div class="col-sm-9 col-sm-offset-3">
            <div class="co-m-message co-m-message--error">Invalid format. Uploaded file is not properly formatted json.</div>
          </div>
        </div>
        <div class="row co-m-form-row" ng-if="model.data">
          <div class="col-sm-9 col-sm-offset-3">
            <pre class="co-pre-wrap" ng-bind="model.data"></pre>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer" co-btn-bar complete-promise="pullSecretUpdated">
      <co-error-message promise="pullSecretUpdated" formatter="k8sApi"></co-error-message>
      <button type="submit" class="btn btn-primary">Save Secret</button>
      <button type="button" class="btn btn-link" ng-click="$dismiss()">Cancel</button>
    </div>
  </form>
</div>
