.co-quick-start-panel-content {
  &-head {
    position: sticky;
    top: 0px;
    background: inherit;
    z-index: var(--pf-global--ZIndex--xs);
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
  &__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__duration {
    display: inline-block;
  }
}
