.pfext-page-layout__content {
  &.pfext-is-dark {
    background-color: var(--pf-v5-global--BackgroundColor--200);
  }
}

.pfext-quick-start-footer {
  background-color: var(--pf-v5-global--BackgroundColor--100);
}

.pfext-quick-start-catalog-filter__count {
  align-self: center;
}
