.co-quick-start-panel-content {
  @media (min-width: 769px) and (max-width: 1600px) {
    &.pf-c-drawer__panel {
      flex-basis: 275px;
    }
  }
  &-head {
    position: sticky;
    top: 0px;
    background: inherit;
    z-index: var(--pf-global--ZIndex--xs);
  }
  &__title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__duration {
    display: inline-block;
  }
}
