.co-restore-pvc-modal__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.co-restore-pvc-modal__details-section {
  margin-top: var(--pf-v5-global--spacer--xl);
}

.co-restore-pvc-modal__pvc-details {
  margin-bottom: var(--pf-v5-global--spacer--md);
}

.co-restore-pvc-modal__input {
  margin: var(--pf-v5-global--spacer--md) 0;
}

.co-restore-pvc-modal__ocs-size .form-group {
  margin-bottom: var(--pf-v5-global--spacer--sm);
}
