.co-events-card__body {
  max-height: 30em;
  min-height: 10em;
  overflow-x: hidden;
  overflow-y: auto;
}

.co-events-card__body-empty {
  display: flex;
  justify-content: center;
}

.co-events-card__body-stream {
  margin-top: 1.5em;
}

.co-events-card__item {
  border-bottom: solid 1px $pf-color-black-200;
  padding: 0 1.5rem 15px 1.5rem;
}

.co-events-card__item-message {
  @include co-line-clamp(5);
}
