.cos-status-box {
  padding: 20px;
}

.cos-status-box--border-bottom {
  border-bottom: solid 1px $color-grey-lightest;
}

.cos-status-box__title {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

.cos-status-box__detail {
  color: $color-text-muted;
  font-size: 14px;
  max-width: 500px;
  margin: 0 auto;
}
