.odc-pl-approval-status-icon {
  position: fixed;
  margin-left: -10px;
}

.odc-pl-approval-status-info {
  padding-left: var(--pf-v5-global--BorderWidth--md);
}

.odc-table-overflow {
  overflow: hidden;
}
