.lso-node-selection-table__table--scroll {
  margin-bottom: var(--pf-t--global--spacer--md);
  max-height: 300px;
  overflow-y: auto;
  scrollbar-color: var(--pf-v6-global--BackgroundColor--light-300) var(--pf-t--color--white);

  .pf-v6-c-table {
    border: var(--pf-t--global--border--width--100) solid
      var(--pf-t--global--border--color--default);

    .pf-v6-c-table__check {
      /* This overrides the default overrides of checkboxes for ocs based tables */
      width: 4.6% !important;

      @media screen and (max-width: 1620px) {
        width: 7% !important;
      }
      @media screen and (max-width: 1200px) {
        width: 10% !important;
      }
    }
  }
}
