.kv-tech-preview-label {
  color: var(--pf-v5-c-button--m-danger--Color);
  background-color: var(--pf-v5-c-button--m-danger--BackgroundColor);
  margin-left: var(--pf-v5-global--spacer--md);
  padding: 0 var(--pf-v5-global--spacer--sm);
}
