.kubevirt-create-vm-modal__description {
  min-height: 3em;
  resize: vertical;
}

.kubevirt-create-vm-modal__memory-row {
  margin-right: 0.5em;
}

.kv-create-vm__input-checkbox {
  margin-top: calc(var(--pf-global--spacer--md) * -1);
}

.kv-create-vm__input-text-help-msg {
  margin-top: calc(var(--pf-global--spacer--md) * -1);
}
