.kubevirt-create-vm-modal__description {
  min-height: 3em;
  resize: vertical;
}

.kubevirt-create-vm-modal__memory-row {
  margin-right: 0.5em;
}

.kubevirt-create-vm-modal__sub-field-row {
  padding-top: var(--pf-global--spacer--sm);
  padding-bottom: var(--pf-global--spacer--xs);
}
