@import '../../../../../../topology/src/components/topology-utils';

$border-color: var(--pf-global--BorderColor--light-100);
.odc-pipeline-vis-task {
  fill: var(--pf-global--BackgroundColor--light-100);
  stroke: $border-color;
  stroke-width: 1;
  cursor: default;

  &.is-selected {
    stroke: $interactive-stroke-color;
    stroke-width: 2;
  }
  &.is-linked {
    cursor: pointer;
  }
  &--icon-stop {
    transform: rotate(0);
  }
  &--icon-spin {
    filter: blur(0);
    -webkit-filter: blur(0);
    transform-box: fill-box;
    transform-origin: center;
  }
}

.odc-pipeline-vis-task-text {
  cursor: default;
  dominant-baseline: middle;
  fill: var(--pf-global--Color--100);

  &.is-text-center {
    text-anchor: middle;
  }
  &.is-linked {
    cursor: pointer;
  }
}
