// TODO: Remove these css 
// Restrict node-list widths
.lso-form-body__node-list {
    @media (min-width: 769px) {
      max-width: 100%;
    }
  
    @media (min-width: 992px) {
      min-width: 650px;
    }
  
    @media (min-width: 1200px) {
      max-width: 70%;
    }
  }