.co-capacity-card__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.co-capacity-card__item {
  display: flex;
  flex: 0 1 120px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5em;
  text-align: center;
}

.co-capacity-card__item-chart {
  margin-bottom: 0;
}

.co-capacity-card__item-description {
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
}

.co-capacity-card__item-description-value {
  white-space: nowrap;
}

.co-capacity-card__item-title {
  margin-top: 0;
}
